
{% from "components/spinner.jinja2" import spinner %}
{% from "components/status_bar.jinja2" import seq_request_status_bar, experiment_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "dashboard-page" %}
{% block content %}
<div class="page-content dash-container">
    <div class="dash">
        <div class="dash-left">
            <div class="dash-top dash-component-container">
                <div class="dash-component-header">
                    <div class="dash-component-title-container">
                        <h4>Recent Sequencing Requests</h4>
                    </div>
                </div>
                <div class="dash-component-content">
                    <div class="banner-container" hx-get="{{ url_for('seq_requests_htmx.get_recent') }}" hx-trigger="load once">
                        {{ spinner() }}
                    </div>
                </div>
            </div>
            <div class="dash-bottom dash-component-container">
                <div class="dash-component-header">
                    <div class="dash-component-title-container">
                        <h4>Recent Experiments</h4>
                    </div>
                </div>
                <div class="dash-component-content">
                    <div class="banner-container" hx-get="{{ url_for('experiments_htmx.get_recent') }}" hx-trigger="load once">
                        {{ spinner() }}
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-right">
            <div class="dash-top dash-component-container">
                <div class="dash-component-header">
                    <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#tab-projects" type="button" role="tab"
                            aria-controls="tab-projects" aria-selected="false">
                            Projects</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#tab-pools" type="button" role="tab"
                            aria-controls="tab-pools" aria-selected="true">
                            Pools</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#tab-todo-libraries" type="button" role="tab"
                            aria-controls="tab-todo-libraries" aria-selected="false">
                            Preps</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content dash-component-content">
                    <div class="tab-pane fade show active" id="tab-projects" role="tabpanel" tabindex="0">
                        <div class="banner-container" hx-get="{{ url_for('projects_htmx.get_recent') }}" hx-trigger="load once">
                            {{ spinner() }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pools" role="tabpanel" tabindex="1">
                        <div class="banner-container" hx-get="{{ url_for('pools_htmx.get_recent') }}" hx-trigger="intersect once">
                            {{ spinner() }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-todo-libraries" role="tabpanel" tabindex="2">
                        <div class="banner-container" hx-get="{{ url_for('libraries_htmx.get_todo_libraries') }}" hx-trigger="intersect once">
                            {{ spinner() }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-bottom dash-component-container">
                <div class="dash-component-header">
                    <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#tab-calendar" type="button" role="tab"
                            aria-controls="tab-calendar" aria-selected="true">
                            Calendar</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#tab-workflows" type="button" role="tab"
                            aria-controls="tab-workflows" aria-selected="false">
                            Workflows</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content dash-component-content">
                    <div class="tab-pane fade show active" id="tab-calendar" role="tabpanel" tabindex="0">
                        <div hx-get="{{ url_for('events_htmx.render_calendar_week') }}" hx-trigger="intersect once" hx-swap="outerHTML">
                            {{ spinner() }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-workflows" role="tabpanel" tabindex="1">
                        {% include "components/workflow-container.html"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}