{% extends "base.html" %}
{% set active_page = "design-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>Design</h1>
        </div>
        <div class="page-controls">
        </div>
    </div>
    <ul class="nav nav-tabs page-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#design-flow-cells-tab" type="button" role="tab"
            aria-controls="design-flow-cells-tab" aria-selected="true">
            Flow Cells</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="design-flow-cells-tab" role="tabpanel" aria-labelledby="design-flow-cells-tab">
            <div hx-get="{{ url_for('design_htmx.flow_cells') }}" hx-trigger="load" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}