{% from "components/table_col.jinja2" import browser_col %}

{% extends "base.html" %}
{% set active_page = "browser-page" %}
{% block content %}
<div class="file-browser table-container" id="file-browser-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    browser_col(
                        "Name", "name", sort_url="browser_page.files",
                        url_context={"subpath": current_path.as_posix() if current_path else "", },
                        sort_by=sort_by, sort_order=sort_order, col_size=6
                    )
                }}
                {{
                    browser_col(
                        "Size", "size", sort_url="browser_page.files",
                        url_context={"subpath": current_path.as_posix() if current_path else "", },
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {{
                    browser_col(
                        "Last Modified", "mtime", sort_url="browser_page.files",
                        url_context={"subpath": current_path.as_posix() if current_path else "", },
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                <th class="col-2">Associations</th>
            </tr>
        </thead>
        <tbody>
            {% if current_path.parts %}
            <tr>
                <td class="col-6"><a href="{{ url_for('browser_page.files', subpath=parent_dir if parent_dir else '', sort_by=sort_by, sort_order=sort_order) }}">../</a></td>
                <td class="col-2">-</td>
                <td class="col-2">-</td>
                <td class="col-2">-</td>
            </tr>
            {% endif %}
            <tr hx-get="{{ url_for('files_htmx.files', subpath=current_path, sort_by=sort_by, sort_order=sort_order) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                <td colspan="4">{{ spinner() }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}