{% extends "base.html" %}
{% set active_page = "browser-page" %}
{% block content %}
<div class="file-browser" id="file-browser-container">
    <table>
        <thead>
            <tr>
                <th class="col-3">Name</th>
                <th class="col-2">Size</th>
                <th class="col-2">Last Modified</th>
                <th class="col-5">Associations</th>
            </tr>
        </thead>
        <tbody>
            {% if current_path.parts %}
            <tr>
                <td><a href="{{ url_for('browser_page.files', subpath=parent_dir if parent_dir else '') }}">../</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endif %}
            <tr hx-get="{{ url_for('files_htmx.files', subpath=current_path) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                <td colspan="4">{{ spinner() }}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    let selected_path = null;

    function share_path() {
        htmx.ajax(
            "GET", "{{ url_for('files_htmx.share_path') }}?path=" + selected_path,
            {
                target: "#xl-modal-content",
                swap: "innerHTML"
            }
        ).then(() => {
            $("#xl-modal").modal("show");
        });
    }

    $(document).ready(function() {
        init_tooltips();

        $(document).off("contextmenu", ".path-row").on("contextmenu", ".path-row", function(e) {
            e.preventDefault();
            const x = e.pageX;
            const y = e.pageY;
            selected_path = $(this).data("path");

            $("#copy-edit-menu").css({
                display: "block",
                left: x + 8, top: y + 8
            }).empty().append([
                `<li><a class='dropdown-item' onclick='share_path()'>Share</a></li>`
            ]);

            $("#right-click-bg").css({ display: "block" });
        });
    });
</script>
{% endblock content %}