{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/metadata_group.jinja2" import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from "components/form_group.jinja2" import form_group %}
{% from "components/status_bar.jinja2" import seq_request_status_bar with context %}
{% from "components/spinner.jinja2" import spinner %}

{% extends "base.html" %}
{% set active_page = "lab_preps-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>{{ lab_prep.display_name }} <span class="desc">{{ lab_prep.protocol.name }} - {{ lab_prep.assay_type.abbreviation }} - {{ lab_prep.status.name }} {{ lab_prep.status.icon }}</span></h1>
        </div>
        <div class="page-controls">
            <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal" hx-target="#xl-modal-content"
            hx-get="{{ url_for('lab_preps_htmx.get_form', form_type='edit', lab_prep_id=lab_prep.id) }}"
            hx-swap="innerHTML" hx-trigger="click">
                Edit Prep
            </button>
            {% if lab_prep.status == PrepStatus.PREPARING %}
            <span {% if can_be_completed == false %}{{ tooltip("You must add libraries and complete 'Index Libraries'-workflow first!", category="success") }}{% endif %}>
                <button class="btn btn-success"
                    hx-post="{{ url_for('lab_preps_htmx.complete', lab_prep_id=lab_prep.id) }}"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Complete Library Prep?',
                        showDenyButton: true,
                        text: 'Are you sure?',
                        icon: 'question',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if can_be_completed == false %}disabled{% endif %}>
                    Complete Prep
                </button>
            </span>
            {% endif %}
            {% if lab_prep.status >= PrepStatus.COMPLETED %}
            <button class="btn btn-warning"
                hx-post="{{ url_for('lab_preps_htmx.uncomplete', lab_prep_id=lab_prep.id) }}"
                _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Undo Library Prep?',
                    showDenyButton: true,
                    text: 'This will change the status of all \'Pooled\' libraries to \'Preparing\'. Are you sure?',
                    icon: 'question',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()"
                {% if can_be_completed == false %}disabled{% endif %}>
                Undo Prep
            </button>
            {% endif %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML"
            hx-get="{{ url_for('lab_preps_htmx.file_form', lab_prep_id=lab_prep.id) }}">
                Attach File
            </button>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Template
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('lab_preps_htmx.download_template', lab_prep_id=lab_prep.id, direction='rows') }}"
                        {% if lab_prep.libraries | length == 0 %}onclick="confirmation(event)"{% endif %}>Rows</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('lab_preps_htmx.download_template', lab_prep_id=lab_prep.id, direction='columns') }}"
                        {% if lab_prep.libraries | length == 0 %}onclick="confirmation(event)"{% endif %}>Columns</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="auth-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#lab_prep-libraries-tab" type="button" role="tab"
            aria-controls="lab_prep-libraries-tab" aria-selected="true">Libraries</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#lab_prep-workflows-tab" type="button" role="tab"
            aria-controls="lab_prep-workflows-tab" aria-selected="true">Workflows</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#lab_prep-pools-tab" type="button" role="tab"
            aria-controls="lab_prep-pools-tab" aria-selected="true">Pools</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#prep_table-tab" type="button" role="tab"
            aria-controls="prep_table-tab" aria-selected="false"
            {% if not lab_prep.prep_file %}disabled{% endif %}>
            Prep Table</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#plate-tab" type="button" role="tab"
            aria-controls="plate-tab" aria-selected="false"
            {% if lab_prep.plates | length == 0 %}disabled{% endif %}>
            Plates</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#mux-tab" type="button" role="tab"
            aria-controls="mux-tab" aria-selected="false"
            {% if not contains_mux_libraries %}disabled{% endif %}>
            Multiplexing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#files-tab" type="button" role="tab"
            aria-controls="files-tab" aria-selected="true"
            id="files-tab-btn">Files</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#comments-tab" type="button" role="tab"
            aria-controls="comments-tab" aria-selected="true"
            id="comments-tab-btn">Comments</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="lab_prep-libraries-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Libraries <img {{ tooltip('Right click on a library name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('lab_preps_htmx.get_libraries', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>

        <div class="tab-pane fade" id="lab_prep-workflows-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Workflows</h3>
                </div>
            </div>
            <div class="workflow-container">
                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#xl-modal"
                    hx-get="{{ url_for('library_prep_workflow.begin', lab_prep_id=lab_prep.id) }}"
                    hx-target="#xl-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container {% if lab_prep.status != PrepStatus.PREPARING %}disabled{% endif %}">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/select.svg') }}" width="120px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Add Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Select libraries to prepare</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_OLIGO.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container {% if lab_prep.status != PrepStatus.PREPARING %}disabled{% endif %}">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/barcode.svg') }}" width="120px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Oligo Multiplexing Prep</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Pool samples in to libraries using oligos. Specify multiplexing barcodes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_FLEX_PROBE.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container {% if lab_prep.status != PrepStatus.PREPARING %}disabled{% endif %}">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/barcode.svg') }}" width="120px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Flex Multiplexing Prep</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Pool samples in to libraries using probe barcodes (10X Flex). Specify multiplexing barcodes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_ON_CHIP.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container {% if lab_prep.status != PrepStatus.PREPARING %}disabled{% endif %}">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/barcode.svg') }}" width="120px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">On-Chip Multiplexing Prep</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Pool samples in libraries using on-chip multiplexing (OCM). Specify multiplexing barcodes.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('lab_preps_htmx.prep_table_upload_form', lab_prep_id=lab_prep.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/prepare.svg') }}" width="120px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Upload Prep Table <span class="desc">{{ lab_prep.protocol.abbreviation }}</span></h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Upload prep table</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#xl-modal"
                    hx-get="{{ url_for('ba_report_workflow.begin', lab_prep_id=lab_prep.id) }}"
                    hx-target="#xl-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click"{% endif %}>
                    <div class="flip-card-container {% if lab_prep.status != PrepStatus.PREPARING %}disabled{% endif %}">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/analyzer.svg') }}" width="80px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Bio Analyzer Report</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Upload results form Bio Analyzer.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('library_pooling_workflow.begin', lab_prep_id=lab_prep.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click" {% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/pool.svg') }}" width="110px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pool Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Pool libraries in the prep.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-card card{% if lab_prep.status != PrepStatus.PREPARING %} disabled text-muted{% endif %}"
                    {% if lab_prep.status != PrepStatus.PREPARING %}
                    {{ tooltip("You cannot edit completed prep.", category="warning") }}
                    {% else %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('reindex_workflow.begin', lab_prep_id=lab_prep.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click" {% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/barcode.svg') }}" width="110px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Re-Index Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Make changes to library indices.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="lab_prep-pools-tab" role="tabpanel" tabindex="2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Pools</h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('lab_preps_htmx.get_pools', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>

        <div class="tab-pane fade" id="prep_table-tab" role="tabpanel" tabindex="3">
            {% if lab_prep.prep_file %}
            <div hx-get="{{ url_for('files_htmx.render_xlsx', file_id=lab_prep.prep_file.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="plate-tab" role="tabpanel" tabindex="4">
            {% if lab_prep.plates | length > 0 %}
            <div hx-get="{{ url_for('lab_preps_htmx.plates_tab', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="mux-tab" role="tabpanel" tabindex="5">
            <div hx-get="{{ url_for('lab_preps_htmx.get_sample_pooling_table', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>

        <div class="tab-pane fade" id="files-tab" role="tabpanel" tabindex="6">
            <div hx-get="{{ url_for('lab_preps_htmx.get_files', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>

        <div class="tab-pane fade" id="comments-tab" role="tabpanel" tabindex="7">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Comments</h2>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML"
                hx-get="{{ url_for('lab_preps_htmx.comment_form', lab_prep_id=lab_prep.id) }}">
                    Comment
                </button>
            </div>
            
            <div hx-get="{{ url_for('lab_preps_htmx.get_comments', lab_prep_id=lab_prep.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>
<script>
    init_tooltips();

    function open_file_tab(file_id) {
        $('.nav-tabs button[data-bs-target="#files-tab"]').tab('show');
        $('.nav-tabs button[data-bs-target="#file-' + file_id + '-tab"]').tab('show');
    }

    function confirmation(ev) {
        ev.preventDefault();
        var url = ev.target.href;
        Swal.fire({
            title: 'Prep \'{{ lab_prep.name }}\' is empty.',
            showDenyButton: true,
            text: 'Do you want to download empty template?',
            confirmButtonText: 'Yes',
            denyButtonText: 'No',
            icon: 'question'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

{% endblock %}