{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}
{% from "components/status_bar.jinja2" import project_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "projects-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>{{ project.identifier or project.title }}</h1>
        </div>
        <div class="page-controls">
            {% if current_user.is_insider() and project.status == ProjectStatus.PROCESSING %}
            <span {{ tooltip('Mark project and all samples in it completed.', category='success') }}>
                <button hx-post="{{ url_for('projects_htmx.complete', project_id=project.id) }}" class="btn btn-success"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Complete project \'{{ project.title }}\'',
                        showDenyButton: true,
                        text: 'Do you want to proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()">
                    Complete Project
                </button>
            </span>
            {% endif %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal" 
                hx-get="{{ url_for('projects_htmx.edit', project_id=project.id) }}"
                hx-target="#xl-modal-content" data-bs-toggle="modal"
                hx-swap="innerHTML" hx-trigger="click">
                Edit Project
            </button>
            <a type="button" class="btn btn-primary" href="{{ url_for('projects_htmx.export', project_id=project.id) }}">
                Export Project
            </a>
            <span
            {% if project.num_samples > 0 %}
            {{ tooltip('Project containing samples cannot be deleted.', category='danger') }}
            {% endif %}>
                <button hx-delete="{{ url_for('projects_htmx.delete', project_id=project.id) }}" class="btn btn-danger"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Delete project \'{{ project.title }}\'',
                        showDenyButton: true,
                        text: 'Proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if project.num_samples > 0 %}disabled{% endif %}>
                    Delete Project
                </button>
            </span>
        </div>
    </div>

    <div style="margin: 0; padding: 0;" class="text-secondary">
        <p style="margin: 0; padding: 0;"><i>{{ project.title }}</i></p>
    </div>

    <div class="status_bar">
        {{ project_status_bar(project) }}
    </div>

    <ul class="nav nav-tabs page-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#project-samples-tab" type="button" role="tab"
            aria-controls="project-samples-tab" aria-selected="true">
            Samples ({{ project.num_samples }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-attributes-tab" type="button" role="tab"
            aria-controls="project-attributes-tab" aria-selected="false">
            Attributes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#project-overview-tab" type="button" role="tab"
                aria-controls="project-overview-tab" aria-selected="true">
            Overview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-data-tab" type="button" role="tab"
            aria-controls="project-data-tab" aria-selected="false">
            Metadata</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-seq_requests-tab" type="button" role="tab"
            aria-controls="project-seq_requests-tab" aria-selected="false">
            Requests ({{ project.num_seq_requests }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-experiments-tab" type="button" role="tab"
            aria-controls="project-experiments-tab" aria-selected="false">
            Experiments ({{ project.num_experiments }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-assignees-tab" type="button" role="tab"
            aria-controls="project-assignees-tab" aria-selected="true"
            id="project-assignees-tab-btn">Assignees ({{ project.num_assignees }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-software-tab" type="button" role="tab"
            aria-controls="project-software-tab" aria-selected="false">
            Software ({{ project.software | length }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#project-data_paths-tab" type="button" role="tab"
            aria-controls="project-data_paths-tab" aria-selected="false">
            Data ({{ project.num_data_paths }})</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="project-samples-tab" role="tabpanel" tabindex="0">
            <div hx-get="{{ url_for('projects_htmx.get_samples', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-attributes-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Attributes</h2>
                </div>
                <div>
                    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal"
                        hx-get="{{ url_for('projects_htmx.edit_sample_attributes', project_id=project.id) }}"
                        hx-swap="innerHTML" hx-target="#xl-modal-content">
                        Edit
                    </a>
                </div>
            </div>
            <div hx-get="{{ url_for('projects_htmx.get_sample_attributes', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-overview-tab" role="tabpanel" tabindex="2">
            <div hx-get="{{ url_for('projects_htmx.overview', project_id=project.id) }}" hx-trigger="intersect once">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-data-tab" role="tabpanel" tabindex="3">
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        project.owner.name,
                        url_for("users_page.user", user_id=project.owner.id, from="project@" + project.id | string),
                        class="col-4"
                    )
                }}
                {% if project.group_id %}
                {{ 
                    metadata_group_link(
                        "Group",
                        project.group.name + " " + project.group.type.icon,
                        url_for("groups_page.group", group_id=project.group_id, from="project@" + project.id | string),
                        class="col-4"
                    )
                }}
                {% else %}
                {{ metadata_group("Group", "", class="col-4") }}
                {% endif %}
                {{
                    metadata_group_email_link(
                        "Owner Email", project.owner.email, class="col-4",
                        subject=organization_name + " Project: " + (project.identifier or project.title)
                    )
                }}
            </div>
            {{ metadata_group("Title", project.title) }}
            {{ metadata_group_textarea("Description", project.description) }}
        </div>
        <div class="tab-pane fade" id="project-seq_requests-tab" role="tabpanel" tabindex="4">
            <div hx-get="{{ url_for('seq_requests_htmx.get', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-experiments-tab" role="tabpanel" tabindex="4">
            <div hx-get="{{ url_for('projects_htmx.get_experiments', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-assignees-tab" role="tabpanel" tabindex="5">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Assignees <img {{ tooltip('Right click on a name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
                <div>
                    <button hx-get="{{ url_for('projects_htmx.add_assignee_form', project_id=project.id) }}" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-target="#xl-modal-content" hx-swap="innerHTML" hx-trigger="click"
                        {% if not current_user.is_insider() %}disabled{% endif %}>
                        Add Assignee
                    </button>
                </div>
            </div>
            <div hx-get="{{ url_for('projects_htmx.get_assignees', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-software-tab" role="tabpanel" tabindex="6">
            <div hx-get="{{ url_for('projects_htmx.get_software', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="project-data_paths-tab" role="tabpanel" tabindex="7">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <h2>Paths {% if current_user.is_insider() %}<img {{ tooltip('Right click on a path to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;">{% endif %}</h2>
                </div>
                <div style="display: flex; gap: 10px; align-items: center; justify-content: flex-end;">
                    <div class="input-group" style="width: 100%; cursor: default;">
                        <span class="input-group-text">Token Expiration</span>
                        <input class="form-control noselect" type="text" readonly
                        {% if project.share_token_uuid %}
                        style="text-align: end; cursor: default;"
                        value="{{ project.share_token.expiration | format_datetime }} {% if project.share_token.is_expired %}🔴{% else %}🟢{% endif %}"
                        {% else %}
                        style="text-align: end; cursor: default; color: #5e5e5e;"
                        value="No Token Generated" style="text-align: end;"
                        {% endif %}>
                    </div>
                    {% if current_user.is_insider() %}
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal" style="width: 120px;"
                            hx-get="{{ url_for('share_project_data_workflow.share_project_data', project_id=project.id) }}"
                            hx-swap="innerHTML" hx-target="#xl-modal-content"
                            {% if project.share_token_uuid and not project.share_token.is_expired %}
                            _="on htmx:confirm(issueRequest)
                            halt the event
                            call Swal.fire({
                                title: 'This project already has a valid share token.',
                                icon: 'warning',
                                showDenyButton: true,
                                text: 'Existing token will be invalidated and a new one will be created. Do you want to proceed?',
                                confirmButtonText: 'Yes',
                                denyButtonText: 'No'
                            })
                            if result.isConfirmed issueRequest()"
                            {% endif %}>
                            Share Data
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div hx-get="{{ url_for('projects_htmx.get_data_paths', project_id=project.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}