{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/metadata_group.jinja2" import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from "components/form_group.jinja2" import form_group %}
{% from "components/status_bar.jinja2" import seq_request_status_bar with context %}
{% from "components/spinner.jinja2" import spinner %}

{% extends "base.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>{{ seq_request.name }} <span class="desc">{{ seq_request.submission_type.name }}</span></h1>
        </div>
        <div class="page-controls">
            {% if current_user.is_insider() and seq_request.status == SeqRequestStatus.ACCEPTED %}
            <button hx-get="{{ url_for('seq_requests_htmx.store_samples', seq_request_id=seq_request.id) }}" class="btn btn-success"
                data-bs-toggle="modal" data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML" hx-trigger="click">
                Store Samples
            </button>
            {% endif %}
            {% if current_user.is_insider() and seq_request.status == SeqRequestStatus.SUBMITTED %}
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#xl-modal"
            hx-get="{{ url_for('seq_requests_htmx.process_request', seq_request_id=seq_request.id) }}"
            hx-target="#xl-modal-content" hx-swap="innerHTML">
                Process Request
            </button>
            {% endif %}
            <span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML"
                hx-get="{{ url_for('seq_requests_htmx.file_form', seq_request_id=seq_request.id) }}">
                    Attach File
                </button>
            </span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export_libraries', seq_request_id=seq_request.id) }}">
                        Libraries (.tsv)
                    </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export', seq_request_id=seq_request.id) }}">Everything (.xlsx)</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <span {% if seq_request.status != SeqRequestStatus.DRAFT and not current_user.is_insider() %} {{ tooltip("You cannot edit request that is already submitted.", "left", "warning") }} {% endif %}>
                            <button class="dropdown-item"
                            {% if seq_request.is_editable() or current_user.is_insider() %}
                            data-bs-toggle="modal" data-bs-target="#xl-modal" 
                            hx-get="{{ url_for('seq_requests_htmx.get_form', form_type='edit', seq_request_id=seq_request.id) }}"
                            hx-target="#xl-modal-content" data-bs-toggle="modal"
                            hx-swap="innerHTML" hx-trigger="click"
                            {% else %}disabled{% endif %}>Edit</button>
                        </span>
                    </li>
                    <li>
                        <span {% if seq_request.status != SeqRequestStatus.DRAFT %} {{ tooltip("You cannot edit request that is already submitted.", "left", "warning") }} {% endif %}>
                            <button class="dropdown-item"
                            hx-delete="{{ url_for('seq_requests_htmx.delete', seq_request_id=seq_request.id) }}"
                            _="on htmx:confirm(issueRequest)
                            halt the event
                            call Swal.fire({
                                title: 'Delete request \'{{ seq_request.name }}\'',
                                icon: 'warning',
                                showDenyButton: true,
                                text: 'Proceed?',
                                confirmButtonText: 'Yes',
                                denyButtonText: 'No'
                            })
                            if result.isConfirmed issueRequest()"
                            {% if seq_request.status != SeqRequestStatus.DRAFT %}disabled{% endif %}>Delete</button>
                        </span>
                    </li>
                    <li>
                        <button class="dropdown-item"
                        hx-post="{{ url_for('seq_requests_htmx.archive', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Archive request \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'You will not be able to use this request anymore. Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                    })
                        if result.isConfirmed issueRequest()"
                        {% if seq_request.status == SeqRequestStatus.DRAFT or seq_request.status == SeqRequestStatus.ARCHIVED %}disabled{% endif %}>Archive</button>
                    </li>
                    {% if current_user.is_insider() and seq_request.status == SeqRequestStatus.ARCHIVED %}
                    <li>
                        <button class="dropdown-item"
                        hx-post="{{ url_for('seq_requests_htmx.unarchive', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Unarchive request \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Unarchive</button>
                    </li>
                    {% endif %}
                    {% if current_user.is_insider() %}
                    <li>
                        <button class="dropdown-item" hx-post="{{ url_for('seq_requests_htmx.clone', seq_request_id=seq_request.id, method='pooled') }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Clone request \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'This will make copy of the request with all libraries and pools in it. Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Clone (Pooled)</button>
                    </li>
                    <li>
                        <button class="dropdown-item" hx-post="{{ url_for('seq_requests_htmx.clone', seq_request_id=seq_request.id, method='indexed') }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Clone request \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'This will make copy of the request with all libraries in it. Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Clone (Indexed)</button>
                    </li>
                    <li>
                        <button class="dropdown-item" hx-post="{{ url_for('seq_requests_htmx.clone', seq_request_id=seq_request.id, method='raw') }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Clone request \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'This will make copy of the request with unindexed libraries in it. Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Clone (Raw)</button>
                    </li>
                    {% endif %}
                    {% if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_insider() %}
                    <li>
                        <button class="dropdown-item"
                        hx-delete="{{ url_for('seq_requests_htmx.remove_all_libraries', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Remove All Libraries from \'{{ seq_request.name }}\'',
                            icon: 'question',
                            showDenyButton: true,
                            text: 'Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Remove All Libraries</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="status_bar">
        {{ seq_request_status_bar(seq_request) }}
    </div>

    <ul class="nav nav-tabs page-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#request-checklist-tab" type="button" role="tab"
            aria-controls="request-checklist-tab" aria-selected="true">Checklist ({{ checklist_steps_completed }}/{{ checklist_total_steps }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-samples-tab" type="button" role="tab"
            aria-controls="request-samples-tab" aria-selected="true">Samples ({{ seq_request.num_samples }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#workflows-tab"
                type="button" role="tab" aria-controls="workflows-tab" aria-selected="false">
                Workflows
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-libraries-tab" type="button" role="tab"
            aria-controls="request-libraries-tab" aria-selected="true">Libraries ({{ seq_request.num_libraries }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-pools-tab" type="button" role="tab"
            aria-controls="request-pools-tab" aria-selected="true">Pools ({{ seq_request.num_pools }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-metadata-tab" type="button" role="tab"
            aria-controls="request-metadata-tab" aria-selected="false">Metadata</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-overview-tab" type="button" role="tab"
                aria-controls="request-overview-tab" aria-selected="false">
                Overview
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#seq_request-files-tab" type="button" role="tab"
            aria-controls="seq_request-files-tab" aria-selected="true"
            id="seq_request-files-tab-btn">Files ({{ seq_request.num_files }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-comments-tab" type="button" role="tab"
            aria-controls="request-comments-tab" aria-selected="true"
            id="request-comments-tab-btn">Comments ({{ seq_request.num_comments }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-share-tab" type="button" role="tab"
            aria-controls="request-share-tab" aria-selected="true"
            id="request-share-tab-btn">Share</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-projects-tab" type="button" role="tab"
            aria-controls="request-projects-tab" aria-selected="true"
            id="request-projects-tab-btn">Projects</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-assignees-tab" type="button" role="tab"
            aria-controls="request-assignees-tab" aria-selected="true"
            id="request-assignees-tab-btn">Assignees ({{ seq_request.num_assignees }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#request-data_paths-tab" type="button" role="tab"
            aria-controls="request-data_paths-tab" aria-selected="true">
            Data ({{ seq_request.num_data_paths }})</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="request-checklist-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Checklist</h3>
                </div>
                <div style="height: 100%; display: flex; align-items: center;">
                    <p>✅: Completed ⚠️: Incomplete ❗: Missing prerequisites 🔘: Optional 🚫: Not Relevant</p>
                </div>
            </div>
            <div hx-get="{{ url_for('seq_requests_htmx.checklist', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-samples-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Samples <img {{ tooltip('Right click on a sample name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
            </div>
            <div hx-get="{{ url_for('seq_requests_htmx.get_samples', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="workflows-tab" role="tabpanel" tabindex="2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Workflows <img {{ tooltip('If you want to change the submission type (raw samples/pooled libraries), you can change it in Manage -> Edit', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h3>
                </div>
            </div>
            <div class="workflow-container">
                {% if seq_request.submission_type == SubmissionType.RAW_SAMPLES %}
                <div class="flip-card card{% if seq_request.status != SeqRequestStatus.DRAFT and not current_user.is_insider() %} disabled text-muted{% endif %} {% if seq_request.submission_type != SubmissionType.RAW_SAMPLES and current_user.is_insider() %}muted{% endif %}"
                    style="width: 250px;"
                    {% if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_insider() %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('library_annotation_workflow.begin', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" hx-swap="innerHTML"
                    {% else %}{{ tooltip("You can no longer add samples after the request has been submitted.", category="warning") }}{% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/select-tech.svg') }}" width="90px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Select Assay <br><span class="desc">Raw Samples</span></h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Select technology from predefined list of supported technologies. Annotate samples for library preparation, pooling, and sequencing. You can submit this workflow multiple times before submitting the request. The result of this workflow is same as workflow 'B', except the annotation is guided by the technology selected.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if seq_request.submission_type == SubmissionType.POOLED_LIBRARIES %}
                <div class="flip-card card{% if seq_request.status != SeqRequestStatus.DRAFT and not current_user.is_insider() %} disabled text-muted{% endif %}"
                    style="width: 250px;"
                    {% if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_insider() %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('library_annotation_workflow.begin', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" hx-swap="innerHTML"
                    {% else %}{{ tooltip("You can no longer add pooled libraries after the request has been submitted.", category="warning") }}{% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/pool.svg') }}" width="90px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Define ready-to-sequence Pool <br><span class="desc">Pooled Libraries</span></h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">
                                    Submit ready to sequence libraries (pool) for sequencing. You can submit this workflow multiple times before submitting the request.
                                    However, you must submit all libraries of a pool in one go. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if seq_request.submission_type == SubmissionType.POOLED_LIBRARIES or seq_request.submission_type == SubmissionType.UNPOOLED_LIBRARIES %}
                <div class="flip-card card{% if seq_request.status != SeqRequestStatus.DRAFT and not current_user.is_insider() %} disabled text-muted{% endif %}"
                    {% if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_insider() %}
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('reindex_workflow.begin', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" hx-swap="innerHTML"
                    {% else %}{{ tooltip("You can no longer edit libraries after the request has been submitted.", category="warning") }}{% endif %}>
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/barcode.svg') }}" width="90px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Re-Index Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Make changes to library indices.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="flip-card card"
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('check_barcode_clashes_workflow.check_seq_request_barcode_clashes', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" hx-swap="innerHTML">
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/licensed/clash.svg') }}" width="90px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Check Barcode Clashes</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Checks barcode conflicts, in preparation for pooling libraries.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if current_user.is_insider() %}
                <div class="flip-card card"
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('reseq_workflow.begin', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" hx-swap="innerHTML">
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <img src="{{ url_for('static', filename='images/redo.svg') }}" width="70px">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Re-Sequence Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Clone libraries for re-sequencing. Libraries will be added to the original sequencing request.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card card"
                    data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                    hx-get="{{ url_for('relib_workflow.begin', seq_request_id=seq_request.id) }}"
                    hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                    hx-swap="innerHTML" hx-trigger="click">
                    <div class="flip-card-container">
                        <div class="card-front">
                            <div class="card-icon">
                                <i class="bi bi-pencil-square" style="font-size: 45px;"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Edit Libraries</h5>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="text-container">
                                <p class="card-text">Make changes to libraries.</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="request-libraries-tab" role="tabpanel" tabindex="2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Libraries <img {{ tooltip('Right click on a library name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('seq_requests_htmx.get_libraries', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-pools-tab" role="tabpanel" tabindex="3">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Pools</h2>
                </div>
            </div>
            <div hx-get="{{ url_for('seq_requests_htmx.get_pools', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-metadata-tab" role="tabpanel" tabindex="4">
            <div class="display-form">
                <h4>Metadata</h4>
                <div class="row">
                    {{ metadata_group("Request Name", seq_request.name, class="col-6") }}
                    {% if seq_request.group %}
                    {{ metadata_group_link("Group", seq_request.group.name, url_for("groups_page.group", group_id=seq_request.group.id, from="seq_request@" + seq_request.id | string), class="col-6") }}
                    {% else %}
                    {{ metadata_group("Group", "", class="col-6") }}
                    {% endif %}
                </div>
                {{ metadata_group_textarea("Description", seq_request.description if seq_request.description else "") }}

                <br>
                <h4>Technical Requirements</h4>
                <div class="row">
                    {{ metadata_group("Submitted Time", seq_request.timestamp_submitted_str(), class="col-3") }}
                    {{ metadata_group("Sequencing Type (SE/PE)", seq_request.read_type.name, class="col-3") }}
                    {{ metadata_group("Read Length", seq_request.read_length, class="col-3") }}
                    {{ metadata_group("# Lanes", seq_request.num_lanes, class="col-3") }}
                </div>

                {{ metadata_group_textarea("Special Requirements", seq_request.special_requirements) }}

                <br>
                <h4>Requestor</h4>
                <div class="row">
                    {{ metadata_group_link("Name", seq_request.requestor.first_name + " " + seq_request.requestor.last_name, url_for("users_page.user", user_id=seq_request.requestor.id), class="col") }}
                    {{ 
                        metadata_group_email_link(
                            "Email", seq_request.requestor.email, class="col",
                            subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                        ) 
                    }}
                </div>

                <br>
                <h4>Contact Person</h4>
                <div class="row">
                    {{ 
                        metadata_group(
                            "Contact Person",
                            seq_request.contact_person.name,
                            class="col-6 col-xl-4"
                        ) 
                    }}
                    {{ 
                        metadata_group_email_link(
                            "Contact Person Email", seq_request.contact_person.email, class="col-6 col-xl-4",
                            subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                        )
                    }}
                    {{ 
                        metadata_group(
                            "Contact Person Phone",
                            seq_request.contact_person.phone,
                            class="col-6 col-xl-4",
                        ) 
                    }}
                </div>
                <div class="row">
                    {{ metadata_group("Organization", seq_request.organization_contact.name, class="col-6") }}
                    {{ metadata_group("Organization Address", seq_request.organization_contact.address, class="col-6") }}
                </div>
                
                {% if seq_request.bioinformatician_contact_id %}
                <br>
                <h4>Bioinformatician Contact</h4>
                <div class="row">
                    {{ metadata_group("Name", seq_request.bioinformatician_contact.name, class="col-6 col-xl-4") }}
                    {{ 
                        metadata_group_email_link(
                            "Email", seq_request.bioinformatician_contact.email, class="col-6 col-xl-4",
                            subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                        )
                    }}
                    {{ metadata_group("Phone", seq_request.bioinformatician_contact.phone, class="col-6 col-xl-4") }}
                </div>
                {% endif %}
            
                <br>
                <h4>Billing Info</h4>
                <div class="row">
                    {{ metadata_group("Name", seq_request.billing_contact.name, class="col-6") }}
                    {{ metadata_group("Address", seq_request.billing_contact.address, class="col-6") }}
                </div>
                <div class="row">
                    {{ 
                        metadata_group_email_link(
                            "Email", seq_request.billing_contact.email, class="col-6",
                            subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                        )
                    }}
                    {{ metadata_group("Phone", seq_request.billing_contact.phone, class="col-6") }}
                </div>
                <div class="row">
                    {{ metadata_group("Billing Code", seq_request.billing_code, class="col-6") }}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="request-overview-tab" role="tabpanel" tabindex="5">
            <div hx-get="{{ url_for('seq_requests_htmx.overview', seq_request_id=seq_request.id) }}" hx-trigger="intersect once">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="seq_request-files-tab" role="tabpanel" tabindex="6">
            <div hx-get="{{ url_for('seq_requests_htmx.get_files', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-comments-tab" role="tabpanel" tabindex="7">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Comments</h2>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#xl-modal" hx-target="#xl-modal-content" hx-swap="innerHTML"
                hx-get="{{ url_for('seq_requests_htmx.comment_form', seq_request_id=seq_request.id) }}">
                    Comment
                </button>
            </div>

            <div hx-get="{{ url_for('seq_requests_htmx.get_comments', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>  
        <div class="tab-pane fade" id="request-share-tab" role="tabpanel" tabindex="8">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>The data will be shared with following emails:</h2>
                </div>
                <div>
                    <button class="btn btn-success"  data-bs-toggle="modal"
                    data-bs-target="#seq_request_share_email-form-popup" type="button" role="tab"
                    aria-controls="seq_request_share_email-form-popup" aria-selected="true"
                    id="seq_request_share_email-form-popup-btn">Add Email</button>
                </div>
            </div>     
            {% set only_one = seq_request.delivery_email_links | length == 1 %}
            <div class="share-email-list">
                {% for link in seq_request.delivery_email_links %}
                <div class="row">
                    <div class="col-7">
                        {{ metadata_group_email_link("Recipient", link.email, class="col") }}
                    </div>
                    <div class="col-4">
                        {{ metadata_group("Status", link.status.name + " " + link.status.icon, class="col") }}
                    </div>
                    <div class="col-1 remove-btn-container">
                        <span
                        {% if only_one %}
                            {{ tooltip('Atleast one email is required. Add another email to remove this.', category='danger') }}
                        {% endif %}>
                            <button class="btn btn-danger" {% if only_one %}disabled{% endif %}
                            hx-delete="{{ url_for('seq_requests_htmx.remove_share_email', seq_request_id=seq_request.id, email=link.email) }}">
                                Remove
                            </button>
                        </span>
                    </div>        
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fadee" id="request-projects-tab" role="tabpanel" tabindex="10">
            <div hx-get="{{ url_for('seq_requests_htmx.get_projects', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-assignees-tab" role="tabpanel" tabindex="11">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Assignees <img {{ tooltip('Right click on a name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
                <div>
                    <button hx-get="{{ url_for('seq_requests_htmx.add_assignee_form', seq_request_id=seq_request.id) }}" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-target="#xl-modal-content" hx-swap="innerHTML" hx-trigger="click"
                        {% if not current_user.is_insider() %}disabled{% endif %}>
                        Add Assignee
                    </button>
                </div>
            </div>
            <div hx-get="{{ url_for('seq_requests_htmx.get_assignees', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="request-data_paths-tab" role="tabpanel" tabindex="12">
            <div hx-get="{{ url_for('seq_requests_htmx.get_data_paths', seq_request_id=seq_request.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="seq_request_share_email-form-popup" aria-hidden="true" aria-labelledby="">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-centered">
            {% include seq_request_share_email_form._template_path %}
        </div>
    </div>
</div>

{% endblock %}