{% from "components/spinner.jinja2" import spinner %}

{% extends "base.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>Sequencing Requests</h1>
        </div>
        <div class="page-controls">
            <button type="button" class="btn btn-primary" 
                data-bs-toggle="modal" data-bs-target="#xl-modal" 
                hx-get="{{ url_for('seq_requests_htmx.create') }}"
                hx-target="#xl-modal-content" data-bs-toggle="modal"
                hx-swap="innerHTML" hx-trigger="click">
                New Request
            </button>
        </div>
    </div>
</div>

<div class="page-content">
    <div hx-get="{{ url_for('seq_requests_htmx.get') }}" hx-trigger="load" hx-swap="outerHTML">
        {{ spinner() }}
    </div>
</div>
{% endblock content %}
