<h2 class="pt-3"><i class="bi bi-info-circle"></i> Standard Operating Procedures (SOPs)</h2>

<div class="accordion p-1" id="sops-accordion">
    {% if current_user.is_authenticated and current_user.is_insider() %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-1" aria-expanded="false" aria-controls="sops-accordiod-collapse-1">
                <b><i class="bi bi-question-circle"></i> I need to Re-Sequence whole pool</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-1" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>Open the pool page of the pool you want to re-sequence.</li>
                    <li>Click the "Clone Pool"-button on top right.</li>
                    <li>Give the new pool a name, e.g. add suffix '_re' and fill other fields as required. -> complete</li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>The libraries associated with the original pool will be cloned to the new pool.</li>
                    <li>Each cloned library will retain its original sequencing request.</li>
                    <li>Re-Sequenced Pools and Libraries will be marked with '(re: X)' where X indicates the number of times the pool/library has been cloned.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-2" aria-expanded="false" aria-controls="sops-accordiod-collapse-2">
                <b><i class="bi bi-question-circle"></i> I need to Re-Sequence a single/several Library from sequencing request</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-2" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <b>Manual</b>
                        <ol>
                            <li>Open the sequencing request page containing the library you want to re-sequence.</li>
                            <li>Go to 'Libraries'-tab.</li>
                            <li>Find the library you want to re-sequence and click the "Re-Sequence Library"-button in the context menu (right-click on library name).</li>
                        </ol>
                    </li>
                    <li>
                        <b>Workflow</b>
                        <ol>
                            <li>Open the sequencing request page containing the library you want to re-sequence.</li>
                            <li>Go to 'Workflows'-tab.</li>
                            <li>Start the 'Re-Sequence Libraries' -workflow.</li>
                            <li>Select the library/libraries you want to re-sequence from the list.</li>
                            <li>Complete the workflow.</li>
                        </ol>
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>The re-sequenced library will be cloned to the same sequencing request.</li>
                    <li>The cloned library will not be associated with any pool. You need to add it to a pool manually.</li>
                    <li>Re-Sequenced Libraries will be marked with '(re: X)' where X indicates the number of times the library has been cloned.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-3" aria-expanded="false" aria-controls="sops-accordiod-collapse-3">
                <b><i class="bi bi-question-circle"></i> I have a library that is prepared but not pooled</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-3" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>Open 'Pools'-page.</li>
                    <li>Click "New Pool"-button on top right.</li>
                    <li>Fill in the pool details -> complete</li>
                    <li>Go to the newly created pool's page -> 'Workflows'-tab.</li>
                    <li>Click "Add Libraries"-button and select the prepared library from the list.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-4" aria-expanded="false" aria-controls="sops-accordiod-collapse-4">
                <b><i class="bi bi-question-circle"></i> I need to remove index from a library</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-4" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>Start the 'Re-Index Libraries' -workflow</li>
                    <li>Select the library you want to remove the index from</li>
                    <li>Write <span class="code-highlight">del</span> in the 'Index Well' -column</li>
                    <li>Complete the workflow</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-5" aria-expanded="false" aria-controls="sops-accordiod-collapse-5">
                <b><i class="bi bi-question-circle"></i> During library prep, there are more samples than wells in a plate</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-5" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>In prep_table (Excel sheet), add column <b>plate</b>.</li>
                    <li>Assign each sample to a plate, e.g.  <span class="code-highlight">plate_1</span>,  <span class="code-highlight">plate_2</span>, etc.</li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Each <b>plate_well</b> must be unique for the same <b>plate</b>.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-6" aria-expanded="false" aria-controls="sops-accordiod-collapse-6">
                <b><i class="bi bi-question-circle"></i> I need to change library type (or other properties of a library)</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-6" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>On dashboard, select workflow 'Edit Libraries'</li>
                    <li>Select libraries you want to modify</li>
                    <li>Modify as required.</li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>⚠️ If the library is already sequenced and demultiplexed, do not change the name of the library.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-7" aria-expanded="false" aria-controls="sops-accordiod-collapse-7">
                <b><i class="bi bi-question-circle"></i> I want to multiplex (e.g. 10X Flex) samples from different projects into single library</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-7" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>⚠️ Applies to raw sample submissions only!</li>
                    <li>For each project, complete 'Add Samples to the Request' -step separately.</li>
                    <li>If projects are billed separately, create separate sequencing requests for each project.</li>
                    <li>During library-prep, begin the 'Specify how Samples are Multiplexed'-step.</li>
                    <li>Put samples from different projects into the same library by specifying same name in 'Pool'-column.</li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>⚠️ Consider potential issues with data privacy; reads from different projects will be combined in the same library. To separate raw reads per project, custom demultiplexing needs to be performed.</li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-101" aria-expanded="false" aria-controls="sops-accordiod-collapse-101">
                <b><i class="bi bi-question-circle"></i> I want to sequence samples for two (or more) different projects</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-101" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>Create a single sequencing request.</li>
                    <li>For each project, complete 'Add Samples to the Request' -step separately.</li>
                    <li>Submit the request.</li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>The request will be billed in a single bill. If you want separate billing, create separate sequencing requests for each project.</li>
                    <li>The data for each project will be delivered separately.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


