{% extends "base.html" %}
{% block content %}

<div class="page-content">
    <div class="spreadsheet-container">
        <div id="spreadsheet" class="spreadsheet-grid"></div>
    </div>
</div>

<script>
var spread_sheet = jspreadsheet(document.getElementById('spreadsheet'), {
    worksheets: [
        {
            data: [
                ['Jazz', 'Honda', '2019-02-12', '', true, '$ 2.000,00', '#777700'],
                ['Civic', 'Honda', '2018-07-11', '', true, '$ 4.000,01', '#007777'],
            ],
            columns: [
                { type: 'text', title: 'Car', width: 120 },
                {
                    type: 'dropdown',
                    title: 'Make',
                    width: 200,
                source: ['Alfa Romeo', 'Audi', 'Bmw', 'Honda'],
                },
                { type: 'calendar', title: 'Available', width: 200 },
                { type: 'image', title: 'Photo', width: 120 },
                { type: 'checkbox', title: 'Stock', width: 80 },
                {
                    type: 'numeric',
                    title: 'Price',
                    width: 100,
                    mask: '$ #.##,00',
                    decimal: ',',
                },
                { type: 'color', width: 100, render: 'square' },
            ],
            minSpareRows: 10,
            allowInsertRows: true,
        },
    ],
})[0];

console.log(spread_sheet.getHeaders());
</script>
{% endblock content %}