{% extends "base.html" %}
{% block content %}

<div id="univer" style="padding: 0; margin 0; height: 100%;"></div>

<script>
    const data = {{ univer_snapshot | tojson | safe }};
    const col_style = {{ col_style | tojson | safe }};

    $(async function() {
        await load_univer();
        // Core
        const { createUniver } = UniverPresets;
        const { LocaleType, mergeLocales } = UniverCore;
        const { UniverSheetsCorePreset } = UniverPresetSheetsCore;

        // Presets
        const { UniverSheetsDataValidationPreset } = UniverPresetSheetsDataValidation;

        const { univerAPI } = createUniver({
            locale: LocaleType.EN_US,
            locales: {
                [LocaleType.EN_US]: mergeLocales(
                    UniverPresetSheetsCoreEnUS,
                    UniverPresetSheetsDataValidationEnUS,
                ),
            },
            darkMode: false,
            presets: [
                UniverSheetsCorePreset({
                    container: 'univer',
                    toolbar: true,
                    ribbonType: "simple",
                    header: true,
                    footer: {
                        sheetBar: true,
                        menus: true,
                        zoomSlider: true,
                    },
                    contextMenu: true,
                    disableAutoFocus: true,
                }),
                UniverSheetsDataValidationPreset({
                }),
            ],

        });

        const workbook = univerAPI.createUniverSheet(data);

        for (const sheet of workbook.getSheets()) {
            sheet.setColumnCustom(col_style[sheet.getSheetName()] || {});
        }
    });
</script>
{% endblock content %}