{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_email_link %}
{% from "components/button.jinja2" import confirm_action_button %}

{% extends "base.html" %}
{% set active_page = "users-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h2>{{ user.role.icon }} {{ user.email }} <span class="desc">{{ user.role.name }}</span></h2>
        </div>
        <div class="page-controls">
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item"
                        hx-get="{{ url_for('users_htmx.edit', user_id=user.id) }}"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" hx-target="#xl-modal-content"
                        {% if current_user.id != user.id and not current_user.is_admin() %}disabled{% endif %}>
                            Edit User
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item"
                        hx-get="{{ url_for('auth_htmx.change_password', user_id=user.id) }}"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" hx-target="#xl-modal-content"
                        {% if current_user.id != user.id %}disabled{% endif %}>
                            Change Password
                        </button>
                    </li>
                    <li>
                        {{
                            confirm_action_button(
                                text="Reset Password",
                                title="Send Reset Password Email to '{{ user.email }}'?",
                                body="This will send an email to the user with instructions to reset their password. Do you want to continue?",
                                method="hx-post",
                                url=url_for('auth_htmx.reset_password_email', user_id=user.id),
                                class="dropdown-item",
                                disabled=not (current_user.is_admin() or current_user.id == user.id)
                            )
                        }}
                    </li>
                    <li>
                        {{
                            confirm_action_button(
                                text="Delete Sessions",
                                title="Delete All User Sessions?",
                                body="This action will log-out user from all active sessions. Do you want to continue?",
                                method="hx-post",
                                url=url_for('auth_htmx.delete_user_sessions', user_id=user.id),
                                class="dropdown-item",
                                disabled=not (current_user.is_admin() or current_user.id == user.id)
                            )
                        }}
                    </li>
                    <li>
                        {{
                            confirm_action_button(
                                text="Activate Account",
                                title="Activate Account?",
                                body="User will receive email to activate their account. Do you want to continue?",
                                method="hx-post",
                                url=url_for('auth_htmx.activate_account', user_id=user.id),
                                class="dropdown-item",
                                disabled=(user.role != UserRole.DEACTIVATED) or not current_user.is_insider(),
                            )
                        }}
                    </li>
                </ul>
            </div>
            {% if current_user.id == user.id %}
            <button id="logout-btn" class="btn btn-danger"
            hx-get="{{ url_for('auth_htmx.logout') }}"
            _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Sign Out',
                    showDenyButton: true,
                    icon: 'question',
                    text: 'Proceed?',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()">
                Sign Out
            </button>
            {% endif %}
        </div>
    </div>
    
    <ul class="nav nav-tabs page-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#user-data-tab" type="button" role="tab"
            aria-controls="user-data-tab" aria-selected="true">
            User Data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#user-projects-tab" type="button" role="tab"
            aria-controls="user-projects-tab" aria-selected="false">
            Projects ({{ user.num_projects }})</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#user-requests-tab" type="button" role="tab"
            aria-controls="user-requests-tab" aria-selected="false">
            Requests ({{ user.num_seq_requests }})</button>
        </li>
        <li class="nav-item" role="presentation"></li>
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#user-groups-tab" type="button" role="tab"
            aria-controls="user-groups-tab" aria-selected="false">
            Groups ({{ user.num_affiliations }})</button>
        </li>
        <li>
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#user-api_tokens-tab" type="button" role="tab"
            aria-controls="user-api_tokens-tab" aria-selected="false">
            API ({{ user.num_api_tokens }})</button>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="user-data-tab" role="tabpanel" tabindex="0">
            <div class="row">
                {{ metadata_group("First Name", user.first_name, class="col") }}
                {{ metadata_group("Last Name", user.last_name, class="col") }}
            </div>
            {{ metadata_group_email_link("Email", user.email) }}
        </div>
        <div class="tab-pane fade" id="user-projects-tab" role="tabpanel" tabindex="1">
            <div hx-get="{{ url_for('projects_htmx.get', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="user-requests-tab" role="tabpanel" tabindex="2">
            <div hx-get="{{ url_for('seq_requests_htmx.get', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="user-groups-tab" role="tabpanel" tabindex="3">
            <div hx-get="{{ url_for('users_htmx.get_affiliations', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="user-api_tokens-tab" role="tabpanel" tabindex="4">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>API Tokens</h2>
                </div>
                <div>
                    {% if current_user.is_admin() or current_user.id == user.id %}
                    <button class="btn btn-primary"
                    hx-get="{{ url_for('api_tokens_htmx.create', user_id=user.id) }}"
                    data-bs-toggle="modal" data-bs-target="#sm-modal" hx-target="#sm-modal-content">
                        New Token
                    </button>
                    {% endif %}
                </div>
            </div>
            <div hx-get="{{ url_for('users_htmx.get_api_tokens', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
