{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="adapter-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{ table_col('adapter-table', 'Name', 'name', 'adapters_htmx.get', current_sort, current_sort_order, sort_url_args={"index_kit_id":index_kit_id}) }}
                <th scope="col">barcodes</th>
            </tr>
        </thead>
        <tbody>
            {% for adapter in adapters %}
            <tr>
                <th scope="row">{{ adapter.name }}</th>
                <td class="adapter-col">
                    {% for index in adapter.barcodes %}
                        <span class="comma">
                            <p>{{ index.sequence }}</p>
                            <p>{{ index.type }}</p>
                            <p>{{ ("(" + index.workflow + ")") if index.workflow else "" }}</p>
                        </span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("adapter-table", "adapters_htmx.get", n_pages, active_page, url_args={"index_kit_id":index_kit_id}) }}
</div>
