{% from "components/pagination.jinja2" import pagination %}
<div id="adapter-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Indices</th>
            </tr>
        </thead>
        <tbody>
            {% for adapter in adapters %}
            <tr>
                <th scope="row">{{ adapter.name }}</th>
                <td class="adapter-col">
                    {% for index in adapter.indices %}
                        <span class="comma"><p>{{ index.sequence }}</p><p>{{ index.type }}</p></span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("adapter-table", "adapters_htmx.get", n_pages, active_page, url_args={"index_kit_id":index_kit_id}) }}
</div>
