{% from "components/pagination.jinja2" import pagination %}
<div id="index_kit-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Library Types</th>
                <th scope="col"># Adapters</th>
            </tr>
        </thead>
        <tbody>
            {% for index_kit in index_kits %}
            <tr onclick="window.location.href='{{ url_for('index_kits_page.index_kit_page', index_kit_id=index_kit.id) }}';">
                <th scope="row">{{ index_kit.name }}</th>
                <td class="library_type-col">
                    {% for library_type in index_kit.library_types %}
                        <span class="comma">{{ library_type.value.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ index_kit.num_adapters }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("index_kit-table", "barcodes_htmx.get", n_pages, active_page) }}
</div>
