{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="library-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{ table_col('library-table', 'ID', 'id', 'libraries_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('library-table', 'Name', 'name', 'libraries_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('library-table', 'Type', 'library_type_id', 'libraries_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('library-table', 'Owner', 'owner_id', 'libraries_htmx.get', current_sort, current_sort_order) }}
                <th scope="col">Index Kit</th>
                <th scope="col"># Samples</th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr onclick="window.location.href='{{ url_for('libraries_page.library_page', library_id=library.id) }}';">
                <th scope="row">{{ library.id }}</th>
                <td>{{ library.name }}</td>
                <td>{{ library.library_type.value.name }}</td>
                <td><span class="owner-col"><p>{{ library.owner.first_name }} {{ library.owner.last_name }}</p> <p>{{ "(me)" if current_user.id == library.owner_id }}</p></span></td>
                <td>{{ library.index_kit.name if library.index_kit }}</td>
                <td>{{ library._num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("library-table", "libraries_htmx.get", n_pages, active_page) }}
</div>
