{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="library-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='library-table', column_name='ID', column_var='id',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('libraries_htmx.table_query'), current_query=current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='library-table', column_name='Name', column_var='name',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('libraries_htmx.table_query'), current_query=current_query,
                        field_name=field_name, query_type="text", col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='library-table', column_name='Type', column_var='library_type_id',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=2,
                    )
                }}
                <th scope="col" class="col-1">Preparer</th>
                {{
                    table_col(
                        target_id='library-table', column_name='Owner', column_var='owner_id',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=2,
                    )
                }}
                <th scope="col" class="col-2">Index Kit</th>
                {{
                    table_col(
                        target_id='library-table', column_name='# Samples', column_var='num_samples',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=1,
                    )
                }}
                {{
                    table_col(
                        target_id='library-table', column_name='# Requests', column_var='num_seq_requests',
                        sort_url='libraries_htmx.get', sort_url_args={},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=1,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr onclick="window.location.href='{{ url_for('libraries_page.library_page', library_id=library.id) }}';">
                <th scope="row">{{ library.id }}</th>
                <td>{{ library.name }}</td>
                <td>{{ library.library_type.value.name }}</td>
                <td>{{ library.contact.name }}</td>
                <td><span class="user-name-col"><p>{{ library.owner.name }}</p> <p>{{ "(me)" if current_user.id == library.owner_id }}</p></span></td>
                <td>{{ library.index_kit.name if library.index_kit }}</td>
                <td>{{ library.num_samples }}</td>
                <td>{{ library.num_seq_requests }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("library-table", "libraries_htmx.get", n_pages, active_page, url_args={"sort_by": current_sort, "order": current_sort_order}) }}
</div>
