{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="sample-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='sample-table', column_name='ID', column_var='id',
                        sort_url='samples_htmx.get', sort_url_args={'library_id': library.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('samples_htmx.table_query', library_id=library.id), current_query=current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='sample-table', column_name='Name', column_var='name',
                        sort_url='samples_htmx.get', sort_url_args={'library_id': library.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('samples_htmx.table_query', library_id=library.id), current_query=current_query,
                        field_name=field_name, col_size=4
                    )
                }}
                {% if not library.is_raw_library() %}
                <th scope="col">Adapter</th>
                <th scope="col">Indices</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="window.location.href=`{{ url_for('samples_page.sample_page', sample_id=sample.id, from='library@' + library.id | string) }}`;">
                <th scope="row">{{ sample.id }}</th>

                <td class="sample-name-cell" id="sample-name-cell-{{sample.id}}">{{ sample.name }}</td>
                
                {% if not library.is_raw_library() %}
                {% set adapter = (sample.indices | first).adapter %}
                <td class="sample-adapter-cell" id="sample-adapter-cell-{{sample.id}}"
                    hx-get="{{ url_for('libraries_htmx.get_edit_library_sample_adapter_form', library_id=library.id, sample_id=sample.id) }}"
                    hx-trigger="sample-adapter-edit-{{ sample.id }} from:body"
                    hx-target="#edit-index-form" hx-swap="outerHTML">
                    {{ adapter.name }}
                </td>
                <td class="adapter-col">
                    {% for index in sample.indices %}
                        <span class="comma">
                            <p class="sample-index-cell" id="sample-index-cell-{{uuid4()}}">{{ index.sequence }}</p>
                            <p>{{ index.type }}</p>
                            <p>{{ "(" + index.workflow + ")" if index.workflow else "" }}</p>
                        </span>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("sample-table", "samples_htmx.get", n_pages, active_page, url_args={"library_id":library.id}) }}
</div>

{# index edit popup form #}
{% if not library.is_raw_library() %}
<div class="modal fade" id="library-sample-edit-adapter-form" aria-hidden="true" aria-labelledby="" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="">Add Sample</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include "forms/edit-index.html" %}
        </div>
        <div class="modal-footer" id="popup-footer">
            <button class="btn btn-primary"
            hx-include="#edit-index-form"
            hx-target="#edit-index-form"
            hx-swap="outerHTML"
            hx-post="{{ url_for('libraries_htmx.edit_adapter', library_id=library.id) }}">Submit</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    var selected_sample_id = null;
    var selected_index_element_id = null;

    function copy_index_to_clipboard() {
        const content = $("#" + selected_index_element_id).text().trim();
        navigator.clipboard.writeText(content);
    }

    $(document).off("contextmenu", ".sample-index-cell").on("contextmenu", ".sample-index-cell", function(e) {
        e.preventDefault();
        const x = e.pageX;
        const y = e.pageY;
        selected_index_element_id = e.target.id;
        $("#copy-edit-menu").css({
            display: "block",
            left: x + 8, top: y + 8
        }).empty().append([
            `<li><a class='dropdown-item' onclick='copy_index_to_clipboard()'>Copy</a></li>`,
        ]);

        $("#right-click-bg").css({
            display: "block"
        });
    });
    
    function copy_sample_name_to_clipboard() {
        const content = $("#sample-name-cell-" + selected_sample_id).text().trim();
        navigator.clipboard.writeText(content);
    }

    function remove_sample() {
        Swal.fire({
            title: `Remove sample (id='${selected_sample_id}') from '{{library.name}}'-library ?`,
            showDenyButton: true,
            text: 'Are you sure?',
            confirmButtonText: 'Yes',
            denyButtonText: 'No'
        }).then(function(e) {
            if (e.isConfirmed) {
                htmx.ajax(
                "DELETE", "{{ url_for('libraries_htmx.remove_sample', library_id=library.id) }}?sample_id=" + selected_sample_id,
                null, {
                    target: "#sample-table",
                    swapStyle: "outerHTML"
                });
            }
        });
    }

    $(document).off("contextmenu", ".sample-name-cell").on("contextmenu", ".sample-name-cell", function(e) {
        e.preventDefault();
        const x = e.pageX;
        const y = e.pageY;
        selected_sample_id = e.target.id.split("-")[3];
        $("#copy-edit-menu").css({
            display: "block",
            left: x + 8, top: y + 8
        }).empty().append([
            `<li><a class='dropdown-item' onclick='copy_sample_name_to_clipboard()'>Copy</a></li>`,
            `<li><a class='dropdown-item' onclick='remove_sample()'>Remove</a></li>`
        ]);

        $("#right-click-bg").css({
            display: "block"
        });
    });
    
    function edit_sample_adapter() {
        $("#library-sample-edit-adapter-form").modal("show");
        htmx.trigger("#sample-adapter-cell-" + selected_sample_id, "sample-adapter-edit-" + selected_sample_id);
    }

    function copy_adapter_to_clipboard() {
        const content = $("#sample-adapter-cell-" + selected_sample_id).text().trim();
        navigator.clipboard.writeText(content);
    }

    $(document).off("contextmenu", ".sample-adapter-cell").on("contextmenu", ".sample-adapter-cell", function(e) {
        e.preventDefault();
        const x = e.pageX;
        const y = e.pageY;
        selected_sample_id = e.target.id.split("-")[3];
        $("#copy-edit-menu").css({
            display: "block",
            left: x + 8, top: y + 8
        }).empty().append([
            "<li><a class='dropdown-item' onclick='copy_adapter_to_clipboard()'>Copy</a></li>",
            "<li><a class='dropdown-item' onclick='edit_sample_adapter()'>Edit</a></li>"
        ]);

        $("#right-click-bg").css({
            display: "block"
        });
    });
</script>
