{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% if not active_page %}
{% set active_page = 0 %}
{% endif %}
<div id="sample-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='sample-table', column_name='ID', column_var='id',
                        sort_url='samples_htmx.get', sort_url_args={'project_id': project.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('samples_htmx.table_query'), current_query=current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='sample-table', column_name='Name', column_var='name',
                        sort_url='samples_htmx.get', sort_url_args={'project_id': project.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('samples_htmx.table_query'), current_query=current_query,
                        field_name=field_name, col_size=4
                    )
                }}
                {{
                    table_col(
                        target_id='sample-table', column_name='Organism', column_var='organism_id',
                        sort_url='samples_htmx.get', sort_url_args={'project_id': project.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=5
                    )
                }}
                {{
                    table_col(
                        target_id='sample-table', column_name='Owner', column_var='owner_id',
                        sort_url='samples_htmx.get', sort_url_args={'project_id': project.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        col_size=2
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="window.location.href=`{{ url_for('samples_page.sample_page', sample_id=sample.id, from='project@' + project.id | string) }}`;">
                <th scope="row">{{ sample.id }}</th>
                <td class="sample-name-cell" id="sample-name-cell-{{sample.id}}">{{ sample.name }}</td>
                <td>
                    <span class="organism-col">
                        <p>{{ sample.organism.scientific_name }}</p>
                        <p>{{ "[" + sample.organism.tax_id | string + "]" }}</p>
                        <p>{{ ("(" + sample.organism.common_name + ")" if sample.organism.common_name else "") }}</p>
                    </span>
                </td>
                <td>{{ sample.owner.name }} <span class="desc">{{ "(me)" if current_user.id == sample.owner_id }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("sample-table", "samples_htmx.get", n_pages, active_page, url_args={"project_id":project.id, "sort_by": current_sort, "order": current_sort_order}) }}
</div>

<script>
    var selected_sample_id = null;

    function copy_sample_name_to_clipboard() {
        const content = $("#sample-name-cell-" + selected_sample_id).text().trim();
        navigator.clipboard.writeText(content);
    }

    $(document).off("contextmenu", ".sample-name-cell").on("contextmenu", ".sample-name-cell", function(e) {
        e.preventDefault();
        const x = e.pageX;
        const y = e.pageY;
        selected_sample_id = e.target.id.split("-")[3];
        $("#copy-edit-menu").css({
            display: "block",
            left: x + 8, top: y + 8
        }).empty().append([
            `<li><a class='dropdown-item' onclick='copy_sample_name_to_clipboard()'>Copy</a></li>`,
        ]);

        $("#right-click-bg").css({
            display: "block"
        });
    });
</script>
