{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="sample-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{ table_col('sample-table', 'ID', 'id', 'samples_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('sample-table', 'Name', 'name', 'samples_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('sample-table', 'Organism', 'organism_id', 'samples_htmx.get', current_sort, current_sort_order) }}
                {{ table_col('sample-table', 'Owner', 'owner_id', 'samples_htmx.get', current_sort, current_sort_order) }}
                {% if show_indices %}
                <th scope="col">Adapter</th>
                <th scope="col">Indices</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="window.location.href='{{ url_for('samples_page.sample_page', sample_id=sample.id) }}';">
                <th scope="row">{{ sample.id }}</th>
                <td>{{ sample.name }}</td>
                <td>
                    <span class="organism-col">
                        <p>{{ sample.organism.scientific_name }}</p>
                        <p>{{ "[" + sample.organism.tax_id | string + "]" }}</p>
                        <p>{{ ("(" + sample.organism.common_name + ")" if sample.organism.common_name else "") }}</p>
                    </span>
                </td>
                <td><span class="owner-col"><p>{{ sample.owner.first_name }} {{ sample.owner.last_name }}</p> <p>{{ "(me)" if current_user.id == sample.owner_id }}</p></span></td>
                {% if show_indices %}
                {% set adapter = (sample.indices | first).adapter %}
                <td>
                    {{ adapter.name }}
                </td>
                <td class="adapter-col">
                    {% for index in sample.indices %}
                        <span class="comma"><p>{{ index.sequence }}</p><p>{{ index.type }}</p></span>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("sample-table", "samples_htmx.get", n_pages, active_page) }}
</div>
