{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col %}

<div id="seq_request-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='seq_request-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order,
                        query_url=url_for('seq_requests_htmx.table_query'), current_query=seq_requests_current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order,
                        query_url=url_for('seq_requests_htmx.table_query'), current_query=seq_requests_current_query,
                        field_name=field_name, col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-table', column_name='Status', column_var='status',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-table', column_name='Requestor', column_var='requestor_id',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-table', column_name='Submitted', column_var='submitted_time',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order, col_size=1,
                    )
                }}
                <th class="col-2" scope="col">Contact Name</th>
                <th class="col-1" scope="col">Billing</th>
                {{
                    table_col(
                        target_id='seq_request-table', column_name='# Libraries', column_var='num_libraries',
                        sort_url='seq_requests_htmx.get', sort_url_args={},
                        current_sort=seq_requests_current_sort, current_sort_order=seq_requests_current_sort_order, col_size=1,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr onclick="window.location.href='{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}';">
                <th scope="row">{{ seq_request.id }}</th>
                <td>{{ seq_request.name }}</td>
                <td>{{ seq_request.status.value.name }} {{ seq_request.status.value.description | safe }}</td>
                <td {{ tooltip("email: " + seq_request.requestor.email) }}>{{ seq_request.requestor.name }} {{ seq_request.requestor.owner_id }}<span class="desc">{{ "me" if current_user.id == seq_request.requestor.owner_id }}</span></td>
                <td>{{ seq_request.submitted_time_to_str() }}</td>
                <td {{ tooltip("email: " + seq_request.contact_person.email + (" phone: " + seq_request.contact_person.phone if seq_request.contact_person.phone else "")) }}>{{ seq_request.contact_person.name }}</td>
                <td {{ tooltip("email: " + seq_request.billing_contact.email + (" phone: " + seq_request.billing_contact.phone if seq_request.billing_contact.phone else "")) }}>{{ seq_request.billing_contact.name }}</td>
                <td>{{ seq_request.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("seq_request-table", "seq_requests_htmx.get", seq_requests_n_pages, seq_requests_active_page, url_args={"sort_by": seq_requests_current_sort, "order": seq_requests_current_sort_order}) }}
</div>
<script>init_tooltips();</script>