{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
<div id="user-project-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='user-project-table', column_name='ID', column_var='id',
                        sort_url='projects_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('projects_htmx.table_query', user_id=user.id), current_query=current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='user-project-table', column_name='Name', column_var='name',
                        sort_url='projects_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('projects_htmx.table_query', user_id=user.id), current_query=current_query,
                        field_name=field_name, query_type="text", col_size=3
                    )
                }}
                {{
                    table_col(
                        target_id='user-project-table', column_name='Owner', column_var='owner',
                        sort_url='projects_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order, col_size=2
                    )
                }}
                <th scope="col col-1"># Samples</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr onclick="window.location.href='{{ url_for('projects_page.project_page', project_id=project.id) }}';">
                <th scope="row">{{ project.id }}</th>
                <td>{{ project.name }}</td>
                <td><span class="user-name-col"><p>{{ project.owner.name }}</p> <p>{{ "(me)" if current_user.id == project.owner_id }}</p></span></td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("user-project-table", "projects_htmx.get", n_pages, active_page, url_args={"user_id": user.id, "sort_by": current_sort, "order": current_sort_order}) }}
</div>