{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col with context %}
<div id="user-seq_request-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='user-seq_request-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('seq_requests_htmx.table_query', user_id=user.id), current_query=current_query,
                        field_name=field_name, query_type="number",
                    )
                }}
                {{
                    table_col(
                        target_id='user-seq_request-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order,
                        query_url=url_for('seq_requests_htmx.table_query', user_id=user.id), current_query=current_query,
                        field_name=field_name, col_size=3,
                    )
                }}
                {{
                    table_col(
                        target_id='user-seq_request-table', column_name='Status', column_var='status',
                        sort_url='seq_requests_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='user-seq_request-table', column_name='Requestor', column_var='requestor_id',
                        sort_url='seq_requests_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='user-seq_request-table', column_name='Submitted', column_var='submitted_time',
                        sort_url='seq_requests_htmx.get', sort_url_args={'user_id': user.id},
                        current_sort=current_sort, current_sort_order=current_sort_order, col_size=1,
                    )
                }}
                <th scope="col-2">Contact Name</th>
                <th scope="col-2">Billing</th>
                {# <th scope="col"><span class="d-flex justify-content-between align-items-center" style="width: 100%;">Billing <input type="text" class="form-control" style="height: 25px;"></span></th> #}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr onclick="window.location.href='{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}';">
                <th scope="row">{{ seq_request.id }}</th>
                <td>{{ seq_request.name }}</td>
                <td>{{ seq_request.status_type.value.name }} {{ seq_request.status_type.value.description | safe }}</td>
                <td {{ tooltip("email: " + seq_request.requestor.email) }}>{{ seq_request.requestor.first_name }} {{ seq_request.requestor.last_name }}</td>
                <td>{{ seq_request.submitted_time.strftime('%Y-%m-%d %H:%M') if seq_request.submitted_time }}</td>
                <td {{ tooltip("email: " + seq_request.contact_person.email + (" phone: " + seq_request.contact_person.phone if seq_request.contact_person.phone else "")) }}>{{ seq_request.contact_person.name }}</td>
                <td {{ tooltip("email: " + seq_request.billing_contact.email + (" phone: " + seq_request.billing_contact.phone if seq_request.billing_contact.phone else "")) }}>{{ seq_request.billing_contact.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("user-seq_request-table", "seq_requests_htmx.get", n_pages, active_page) }}
</div>