{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="reindex-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Map Index Kits</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div id="reindex-form">
            {% for sub_form in form.input_fields %}
            {{    
                categorical_mapping(
                    raw_label=sub_form.raw_label,
                    category=sub_form.index_kit,
                    query_url=sub_form.query_url,
                    token=sub_form.csrf_token,
                )
            }}
            {% endfor %}
            {{ form.csrf_token() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#reindex-form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('reindex_workflow.previous', uuid=form.uuid, **form.url_context) }}">
                Back
            </button>
            <button type="button" class="btn btn-success"
                hx-target="#reindex-form-container" hx-swap="outerHTML"
                hx-include="#reindex-form"
                hx-post="{{ form.post_url | safe }}">
                Complete
            </button>
        </div>
    </div>
</div>