{% from 'components/form_group.jinja2' import form_group, form_cell %}
{% from 'components/metadata_group.jinja2' import metadata_group %}

<div id="qubit_measure-form-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Measure Qubit Concentration</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#xl-modal")></button>
    </div>
    <div class="modal-body">
        <div id="qubit_measure-form">
            {{ form.csrf_token() }}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-4">Sample Name</th>
                    <th scope="col" class="col-4">Sample Type <span class="desc">Sample/Library/Pool/Lane</span></th>
                    <th scope="col" class="col-3">Qubit Conc.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, (_, row) in enumerate(sample_table.iterrows()) %}
                    {% set sub_form = form.sample_fields[i] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th scope="row">{{ row["id"] | int }}{{ sub_form.obj_id(class="form-control", readonly=true, hidden=true) }}</th>
                        <td>{{ row["name"] }}</td>
                        <td>Sample</td>
                        <td>{{ form_cell(sub_form.qubit_concentration, unit="ng/μL") }}</td>
                    </tr>
                    {% endfor %}

                    {% for i, (_, row) in enumerate(library_table.iterrows()) %}
                    {% set sub_form = form.library_fields[i] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th scope="row">{{ row["id"] | int }}{{ sub_form.obj_id(class="form-control", readonly=true, hidden=true) }}</th>
                        <td>{{ row["name"] }}</td>
                        <td>Library</td>
                        <td>{{ form_cell(sub_form.qubit_concentration, unit="ng/μL") }}</td>
                    </tr>
                    {% endfor %}

                    {% for i, (_, row) in enumerate(pool_table.iterrows()) %}
                    {% set sub_form = form.pool_fields[i] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th scope="row">{{ row["id"] | int }}{{ sub_form.obj_id(class="form-control", readonly=true, hidden=true) }}</th>
                        <td>{{ row["name"] }}</td>
                        <td>Pool</td>
                        <td>{{ form_cell(sub_form.qubit_concentration, unit="ng/μL") }}</td>
                    </tr>
                    {% endfor %}

                    {% for _, row in lane_table.iterrows() %}
                    {% set sub_form = form.lane_fields[loop.index0] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th scope="row">{{ row["id"] | int }}{{ sub_form.obj_id(class="form-control", readonly=true, hidden=true) }}</th>
                        <td>{{ row["name"] }}</td>
                        <td>Lane</td>
                        <td>{{ form_cell(sub_form.qubit_concentration, unit="ng/μL") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
            hx-post="{{ url_for('qubit_measure_workflow.complete', uuid=form.uuid) }}" id="submit-qubit_measure-form-btn"
            hx-target="#qubit_measure-form-container" hx-swap="outerHTML" hx-include="#qubit_measure-form">
                Submit
            </button>
        </div>
    </div>
    <script>
        window.onbeforeunload = function() {
            return "Data will be lost if you leave the page, are you sure?";
        };
        $("#submit-qubit_measure-form-btn").on("click", function() {
            window.onbeforeunload = null;
        });
    </script>
</div>
