{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}
{% extends "base.html" %}
{% set active_page = "pools-page" %}
{% block content %}

<div class="container">
    <div class="page-header">
        <div>
            <h1>Pool: {{ pool.name }}</h1>
        </div>
        <div>
            <span {% if not is_editable %}
            {{ tooltip("You can no longer edit pool after it is submitted.") }}
            {% endif %}>
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#index-pool-form-popup"
                {% if not is_editable %}disabled{% endif %}>
                    Add Indexes
                </button>
            </span>
            <span {% if not is_editable %}
            {{ tooltip("You can no longer edit pool after it is submitted.") }}
            {% endif %}>
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pool-form-popup"
                {% if not is_editable %}disabled{% endif %}>
                    Edit Pool
                </button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-tab" type="button" role="tab"
            aria-controls="library-tab" aria-selected="true">
            Libraries</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#metadata-tab" type="button" role="tab"
            aria-controls="metadata-tab" aria-selected="false">
            Metadata</button>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Libraries</h2>
                </div>
                <div>
                </div>
            </div>
            {% include "components/tables/pool-library.html" %}
        </div>
        <div class="tab-pane fade show" id="metadata-tab" role="tabpanel" tabindex="1">
            <div class="row">
                {{ metadata_group("Pool Name", pool.name, class="col") }}
                {{
                    metadata_group_link(
                        "Owner Name",
                        pool.owner.name,
                        url_for("users_page.user_page", user_id=pool.owner.id, from='pool@' + pool.id | string),
                        class="col"
                    )
                }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="index-pool-form-popup" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            {% include "forms/index/file.html"%}
        </div>
    </div>
</div>
{% if open_index_form %}
<script type="text/javascript">
    function replaceQueryParam(param, newval, search) {
        var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
        var query = search.replace(regex, "$1").replace(/&$/, '');

        return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
    }
    $(document).ready(function() {
        $("#index-pool-form-popup").modal("show");
        var url = window.location.href;
        url = replaceQueryParam("index_form", "", url);
        console.log(url);
        window.history.pushState({path: url}, '', url);
    });
</script>
{% endif %}
{% endblock content %}