{% from 'components/tooltip.jinja2' import tooltip %}
{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/form_group.jinja2' import form_group %}
{% from "components/status_bar.jinja2" import seq_request_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>{{ seq_request.name }}</h1>
        </div>
        <div>
            {% if seq_request.status.value.name == "Draft" %}
            <span
            {% if not seq_request.is_submittable() %}
                {% if not seq_request.is_authorized() %}
                    {{ tooltip('You must add a sequencing authorization form to submit the request.', category='success') }}
                {% else %}
                    {{ tooltip('You must add at least one library to submit the request.', category='success') }}
                {% endif %}
            {% endif %}>
                <button hx-get="{{ url_for('seq_requests_htmx.submit', seq_request_id=seq_request.id) }}" class="btn btn-success"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Submit request \'{{ seq_request.name }}\'',
                        showDenyButton: true,
                        text: 'You can no longer edit the sequencing request after it is submitted. Do you want to proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if not seq_request.is_submittable() %}disabled{% endif %}>
                    Submit Request
                </button>
            </span>
            {% endif %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export_libraries', seq_request_id=seq_request.id) }}">
                        Libraries (.tsv)
                    </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export', seq_request_id=seq_request.id) }}">Everything (.xlsx)</a></li>
                </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <span {% if seq_request.status.value.name != "Draft" and not current_user.is_insider() %} {{ tooltip("You cannot edit request that is already submitted.", "left", "warning") }} {% endif %}>
                            <button class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#seq_request-form-popup"
                            {% if seq_request.status.value.name != "Draft" and not current_user.is_insider() %}disabled{% endif %}>Edit</button>
                        </span>
                    </li>
                    <li>
                        <span {% if seq_request.status.value.name != "Draft" %} {{ tooltip("You cannot edit request that is already submitted.", "left", "warning") }} {% endif %}>
                            <button class="dropdown-item"
                            hx-delete="{{ url_for('seq_requests_htmx.delete', seq_request_id=seq_request.id) }}"
                            _="on htmx:confirm(issueRequest)
                            halt the event
                            call Swal.fire({
                                title: 'Delete request \'{{ seq_request.name }}\'',
                                showDenyButton: true,
                                text: 'Proceed?',
                                confirmButtonText: 'Yes',
                                denyButtonText: 'No'
                            })
                            if result.isConfirmed issueRequest()"
                            {% if seq_request.status.value.name != "Draft" %}disabled{% endif %}>Delete</button>
                        </span>
                    </li>
                    <li>
                        <button class="dropdown-item"
                        hx-post="{{ url_for('seq_requests_htmx.archive', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Archive request \'{{ seq_request.name }}\'',
                            showDenyButton: true,
                            text: 'You will not be able to use this request anymore. Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()"
                        {% if seq_request.status.value.name == "Draft" or seq_request.status.value.name == "Archived" %}disabled{% endif %}>Archive</button>
                    </li>
                    {% if current_user.is_insider() and seq_request.status.value.name == "Archived" %}
                    <li>
                        <button class="dropdown-item"
                        hx-post="{{ url_for('seq_requests_htmx.unarchive', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Unarchive request \'{{ seq_request.name }}\'',
                            showDenyButton: true,
                            text: 'Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">Unarchive</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="status_bar">
        {{ seq_request_status_bar(seq_request) }}
    </div>

    <div>
        <ul class="nav nav-tabs" id="auth-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#request-libraries-tab" type="button" role="tab"
                aria-controls="request-libraries-tab" aria-selected="true">Libraries</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-samples-tab" type="button" role="tab"
                aria-controls="request-samples-tab" aria-selected="true">Samples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-metadata-tab" type="button" role="tab"
                aria-controls="request-metadata-tab" aria-selected="true">Metadata</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-seq_auth-tab" type="button" role="tab"
                aria-controls="request-seq_auth-tab" aria-selected="true">Sequencing Authorization</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-overview-tab" type="button" role="tab"
                aria-controls="request-overview-tab" aria-selected="true"
                id="request-overview-tab-btn">Overview</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="request-libraries-tab" role="tabpanel" tabindex="0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Libraries <img {{ tooltip('Right click on a library name to remove.') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                    </div>
                    <div>
                        {% if seq_request.status.value.name == "Draft" %}
                        <button type="button"  class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#sample-table-form-popup">
                            Add Libraries
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% include "components/tables/seq_request-library.html" %}
            </div>
            <div class="tab-pane fade show" id="request-samples-tab" role="tabpanel" tabindex="1">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Samples</h2>
                    </div>
                </div>
                {% include "components/tables/seq_request-sample.html" %}
            </div>
            <div class="tab-pane fade show" id="request-metadata-tab" role="tabpanel" tabindex="2">
                <div class="display-form">
                    <h4>Request Info</h4>
                    {{ metadata_group("Request Name", seq_request.name, class="col") }}
                    {{ metadata_group_textarea("Description", seq_request.description, class="col") }}

                    <br>
                    <h4>Technical Requirements</h4>
                    <div class="row">
                        {{ metadata_group("Sequencing Technology", seq_request.technology, class="col-5")}}
                        {{ metadata_group("Sequencing Type (Single-end/Paired-end)", seq_request.sequencing_type.value, class="col-5") }}
                        {{ metadata_group("Read Length", seq_request.read_length, class="col-2") }}
                    </div>
                    <div class="row">
                        {{ metadata_group("Sequencer", seq_request.sequencer, class="col-5") }}
                        {{ metadata_group("Flowcell Type", seq_request.flowcell_type.value.name if seq_request.flowcell_type else None, class="col-5") }}
                        {{ metadata_group("# Lanes", seq_request.num_lanes, class="col-2") }}
                    </div>

                    <div class="row">
                        {{ metadata_group("R1 Cycles", seq_request.num_cycles_read_1, class="col") }}
                        {{ metadata_group("I1 Cycles", seq_request.num_cycles_index_1, class="col") }}
                        {{ metadata_group("I2 Cycles", seq_request.num_cycles_index_2, class="col") }}
                        {{ metadata_group("R2 Cycles", seq_request.num_cycles_read_2, class="col") }}
                    </div>
                    {{ metadata_group("Special Requirements", seq_request.special_requirements, class="col") }}

                    <br>
                    <h4>Requestor</h4>
                    <div class="row">
                        {{ metadata_group_link("Name", seq_request.requestor.first_name + " " + seq_request.requestor.last_name, url_for("users_page.user_page", user_id=seq_request.requestor.id), class="col") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.requestor.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            ) 
                        }}
                    </div>

                    <br>
                    <h4>Contact Person</h4>
                    <div class="row">
                        {{ 
                            metadata_group(
                                "Contact Person",
                                seq_request.contact_person.name,
                                class="col-6 col-xl-3"
                            ) 
                        }}
                        {{ 
                            metadata_group_email_link(
                                "Contact Person Email", seq_request.contact_person.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ 
                            metadata_group(
                                "Contact Person Phone",
                                seq_request.contact_person.phone,
                                class="col-6 col-xl-4",
                            ) 
                        }}
                    </div>
                    <div class="row">
                        {{ metadata_group("Organization", seq_request.organization_name, class="col-6") }}
                        {{ metadata_group("Organization Address", seq_request.organization_address, class="col-6") }}
                    </div>
                    
                    {% if seq_request.bioinformatician_contact_id %}
                    <br>
                    <h4>Bioinformatician Contact</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.bioinformatician_contact.name, class="col-6 col-xl-3") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.bioinformatician_contact.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.bioinformatician_contact.phone, class="col-6 col-xl-4") }}
                    </div>
                    {% endif %}
                
                    <br>
                    <h4>Billing Info</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.billing_contact.name, class="col-6 col-xl-3") }}
                        {{ metadata_group("Address", seq_request.billing_contact.address, class="col-6 col-xl-5") }}
                        {{ metadata_group("Billing Code", seq_request.billing_contact.billing_code, class="col-6 col-xl-4") }}
                    </div>
                    <div class="row">
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.billing_contact.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.billing_contact.phone, class="col") }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="request-seq_auth-tab" role="tabpanel" tabindex="3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Sequencing Authorization</h2>
                    </div>
                    <div>
                        {% if seq_request.is_authorized() %}
                        {% if seq_request.status.value.name == "Draft" or current_user.is_insider() %}
                        <a type="button" class="btn btn-danger" hx-delete="{{ url_for('seq_requests_htmx.remove_auth_form', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Remove authorization form from \'{{ seq_request.name }}\'',
                            showDenyButton: true,
                            text: 'Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">
                            Remove Authorization Form
                        </a>
                        {% endif %}
                        {% endif %}
                        <a type="button" class="btn btn-primary" href="{{ url_for('seq_request_form_htmx.download_seq_auth_form') }}">
                            Download Template
                        </a>
                    </div>
                </div>
                {% if not seq_request.is_authorized() and seq_request.status.value.name == "Draft" %}
                {% include "forms/seq_request/seq_auth.html" %}
                {% else %}
                <embed src="{{ url_for('auth_forms', uuid=seq_request.seq_auth_form_uuid) }}" width="100%" height="1000px">
                {% endif %}
            </div>
            <div class="tab-pane fade show" id="request-overview-tab" role="tabpanel" tabindex="4">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Overview</h2>
                    </div>
                </div>      
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>
                <div class="flow-graph-container pt-3" id="graph" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="seq_request-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" >Edit Sequencing Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/seq_request/seq_request.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#seq_request-form" hx-target="#seq_request-form" hx-swap="outerHTML"
                        hx-post="{{ url_for('seq_requests_htmx.edit', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sample-table-form-popup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            {% include "components/popups/seq_request/seq_request-1.html" %}
        </div>
    </div>
</div>
<style>
    .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
    }
    .link:hover {
        stroke-opacity: .5;
    }

    .node:hover {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function() {
        $("#request-overview-tab-btn").on("click", function() {
            d3.json("{{ url_for('seq_requests_htmx.get_graph', seq_request_id=seq_request.id) }}", function(error, graph) {
                const _h = graph.nodes.length * 30;
                const _w = $("#graph").width();
                
                const contains_pooled_samples = graph["pooled"] === 1;
                const n_levels = contains_pooled_samples ? 5 : 4;

                var margin = {top: 50, right: 10, bottom: 10, left: 10},
                    width =  _w - margin.left - margin.right,
                    height = _h - margin.top - margin.bottom;

                var svg = d3.select("#graph").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                const dx = width / (n_levels - 1);

                svg.append("text")
                    .attr("x", 30)
                    .attr("y", -margin.top * 0.5)
                    .attr("text-anchor", "middle")
                    .style("font-size", "22px")
                    .text("Project");

                svg.append("text")
                    .attr("x", dx)
                    .attr("y", -margin.top * 0.5)
                    .attr("text-anchor", "middle")
                    .style("font-size", "22px")
                    .text("Biosample");

                svg.append("text")
                    .attr("x", dx * 2)
                    .attr("y", -margin.top * 0.5)
                    .attr("text-anchor", "middle")
                    .style("font-size", "22px")
                    .text("Library");

                if (contains_pooled_samples) {
                    svg.append("text")
                        .attr("x", dx * 3)
                        .attr("y", -margin.top * 0.5)
                        .attr("text-anchor", "middle")
                        .style("font-size", "22px")
                        .text("Pool");
                }

                svg.append("text")
                    .attr("x", dx * (n_levels - 1) - 50)
                    .attr("y", -margin.top * 0.5)
                    .attr("text-anchor", "middle")
                    .style("font-size", "22px")
                    .text("Request");

                // Color scale used
                var color = d3.scaleOrdinal(d3.schemeCategory20);

                // Set the sankey diagram properties
                var sankey = d3.sankey()
                    .nodeWidth(25)
                    .nodePadding(15)
                    .size([width, height]);
                
                // Constructs a new Sankey generator with the default settings.
                sankey.nodes(graph.nodes).links(graph.links).layout(20);

                for (let i = 0; i < graph.nodes.length; i++) {
                    console.log(graph.nodes[i]);
                    if (Number.isNaN(graph.nodes[i].dy)) {
                        console.log("NaN");
                    }
                }

                for (let i = 0; i < graph.links.length; i++) {
                    console.log(graph.links[i]);
                    if (Number.isNaN(graph.links[i].dy)) {
                        console.log("NaN");
                    }
                }

                // add in the links
                var link = svg.append("g")
                    .selectAll(".link")
                    .data(graph.links)
                    .enter()
                    .append("path")
                    .attr("class", "link")
                    .attr("d", sankey.link() )
                    .style("stroke-width", function(d) { return Math.max(1, d.dy); })
                    .sort(function(a, b) { return b.dy - a.dy; });

                // add in the nodes
                var node = svg.append("g")
                    .selectAll(".node")
                    .data(graph.nodes)
                    .enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                    .call(d3.drag()
                        .subject(function(d) { return d; })
                        .on("start", function() { this.parentNode.appendChild(this); })
                        .on("drag", dragmove)
                    );

                // add in the title for the nodes
                node
                    .append("text")
                    .attr("x", -6)
                    .attr("y", function(d) { return d.dy / 2; })
                    .attr("dy", ".35em")
                    .attr("text-anchor", "end")
                    .attr("transform", null)
                    .text(function(d) { return d.name; })
                    .filter(function(d) { return d.x < width / 2; })
                    .attr("x", 6 + sankey.nodeWidth())
                    .attr("text-anchor", "start");

                // add the rectangles for the nodes
                var rect = node.append("rect");

                rect.attr("class", "graph-node")
                    .attr("id", function(d) { return d.id; })
                    .attr("height", function(d) { return d.dy; })
                    .attr("width", sankey.nodeWidth())
                    .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
                    .style("stroke", function(d) { return d3.rgb(d.color).darker(2); });

                // the function for moving the nodes
                function dragmove(d) {
                    d3.select(this)
                    .attr("transform",
                            "translate("
                            + d.x + ","
                            + (d.y = Math.max(
                                0, Math.min(height - d.dy, d3.event.y))
                                ) + ")");
                    sankey.relayout();
                    link.attr("d", sankey.link() );
                }
            });

            $("#request-overview-tab-btn").off("click");
        });
    });
</script>
{% endblock %}