{% from 'components/metadata_group.jinja2' import metadata_group %}

<div id="associate-path-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Associate Path</h1>
        <button type="button" class="btn-close" aria-label="Close" onclick=confirm_close_modal("#xl-modal")></button>
    </div>
    <div class="modal-body">
        <div id="associate-path-form">
            {{ form.csrf_token.render() }}
            {{ metadata_group("Path", form.path.as_posix()) }}
            {{ form.project.render() }}
            {{ form.experiment.render() }}
            {{ form.seq_request.render() }}
            {{ form.library.render() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-id">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
                hx-target="#associate-path-form-container" hx-swap="outerHTML" hx-include="#associate-path-form"
                hx-post="{{ form.post_url | safe }}">
                Submit
            </button>
        </div>
    </div>
</div>
