<div class="example-table" id="flex-1-example">
    <div class="input-help">
        <ul>
            <li>Sample (Pool) Name <span class="desc">the sample pool name.</span></li>
            <li>Barcode ID <span class="desc">e.g. 'BC001'</span></li>
            <li>Demultiplexed Sample Name <span class="desc">name of the demultiplexed sample</span></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('flex-1-example'), {
            data: [
                ["FLEX_SAMPLE_POOL_A", "sample_A_lung", "BC001"],
                ["FLEX_SAMPLE_POOL_A", "sample_A_heart", "BC002"],
                ["FLEX_SAMPLE_POOL_A", "sample_A_brain", "BC003"],
                ["FLEX_SAMPLE_POOL_B", "sample_B_lung", "BC001"],
                ["FLEX_SAMPLE_POOL_B", "sample_B_heart", "BC002"],
                ["FLEX_SAMPLE_POOL_B", "sample_B_brain", "BC003"],
            ],
            columns: [
                {% for col in form.columns %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                {%- endif -%}
                {% endfor %}
            ],
        });
    });
</script>