{% extends "base.html" %}
{% block content %}
<p>Please use the following link to finalize your account:</p>

<a href="{{ link }}">{{ link }}</a>

<p>Please note, the link is valid only limited amount of time.</p>
{% endblock %}