<div class="example-table" id="feature-3-example">
    <div class="input-help">
        <ul>
            <li>If using <b>specific feature</b> from a predefined <a href="{{ url_for('feature_kits_page.feature_kits_page') }}" target="_blank">feature-kit</a>: specify columns <b>Library Name, Kit, Feature</b></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('feature-3-example'), {
            data: [
                ["ABC_LIBRARY_1", "TotalSeqA Antibody", "230", "", "", ""],
                ["ABC_LIBRARY_1", "TotalSeqA Antibody", "226", "", "", ""],
                ["ABC_LIBRARY_1", "TotalSeqA Antibody", "225", "", "", ""],
                ["ABC_LIBRARY_1", "TotalSeqA Antibody", "224", "", "", ""],
                ["ABC_LIBRARY_2", "TotalSeqB Antibody", "230", "", "", ""],
                ["ABC_LIBRARY_2", "TotalSeqB Antibody", "210", "", "", ""],
                ["ABC_LIBRARY_2", "TotalSeqB Antibody", "209", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "209", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "210", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "211", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "212", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "213", "", "", ""],
            ],
            columns: [
                {% for col in columns %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                {%- endif -%}
                {% endfor %}
            ],
        });
    });
</script>