<div class="example-table" id="feature-4-example">
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('feature-4-example'), {
            data: [
                ["ABC_LIBRARY_1", "custom_feature_1", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_1", "custom_feature_2", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_1", "custom_feature_3", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_1", "custom_feature_4", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_2", "custom_feature_10", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_2", "custom_feature_11", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_2", "custom_feature_12", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_3", "custom_feature_1", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_3", "custom_feature_2", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_3", "custom_feature_3", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_3", "custom_feature_4", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
                ["ABC_LIBRARY_3", "custom_feature_5", "ACCAACA", "^NNNNNNNNNNNNNNNNNNNNNN(BC)", "R2"],
            ],
            columns: [
                { type: "text", title: "Library Name", width: 300 },
                { type: "text", title: "Feature", width: 200 },
                { type: "text", title: "Sequence", width: 200 },
                { type: "text", title: "Pattern", width: 200 },
                { type: "text", title: "Read", width: 200 },
            ],
            minSpareRows: 10,
        });
    });
</script>