<div class="example-table" id="example-spreadsheet">
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('example-spreadsheet'), {
            data: [
                ["multiome_human_A", "{{ GenomeRef.HUMAN.name }}", "{{ LibraryType.TENX_SC_GEX_3PRIME.name }}", "ACTTATCA", "ATCATAT"],
                ["multiome_human_A", "{{ GenomeRef.HUMAN.name }}", "{{ LibraryType.TENX_SC_ATAC.name }}", "ACTTATCA", "ATCATAT"],
                ["multiome_human_B", "{{ GenomeRef.HUMAN.name }}", "{{ LibraryType.TENX_SC_GEX_3PRIME.name }}", "ACTTATCA", "ATCATAT"],
                ["multiome_human_B", "{{ GenomeRef.HUMAN.name }}", "{{ LibraryType.TENX_SC_ATAC.name }}", "ACTTATCA", "ATCATAT"],
                ["multiome_mouse", "{{ GenomeRef.MOUSE.name }}", "{{ LibraryType.TENX_SC_GEX_3PRIME.name }}", "ACTTATCA", "ATCATAT"],
                ["multiome_mouse", "{{ GenomeRef.MOUSE.name }}", "{{ LibraryType.TENX_SC_ATAC.name }}", "ACTTATCA", "ATCATAT"],
            ],
            columns: [
                {% for col in form.spreadsheet.columns.values() %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                {%- endif -%}
                {% endfor %}
            ],
        });
    });
</script>