{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="api-token-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("api-token-table", table, "id") }}
                {{ table_col("api-token-table", table, "uuid") }}
                {{ table_col("api-token-table", table, "owner_id") }}
                {{ table_col("api-token-table", table, "time_valid_min") }}
                {{ table_col("api-token-table", table, "created_utc") }}
                {{ table_col("api-token-table", table, "expiration") }}
            </tr>
        </thead>
        <tbody>
            {% for token in tokens %}
            <tr>
                <th scope="row">{{ token.id }}</th>
                <td><code>{{ token.uuid }}</code></td>
                <td><a href="{{ url_for('user_page', user_id=token.owner_id) }}">{{ token.owner.name }}{% if current_user.id == token.owner_id %} <span class="desc">me</span>{% endif %}</a></td>
                <td>{{ token.time_valid_min }}</td>
                <td>{{ token.created_utc | format_datetime }}</td>
                <td>
                    {% if token.is_expired %}🔴{% else %}🟢{% endif %}
                    {{ token.expiration | format_datetime }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("api-token-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#api-token-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>
