<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-4">Name</th>
            <th scope="col" class="col-3">Status</th>
            {% if browse_context == "qubit-measure" %}
            <th class="col-2" scope="col">Qubit Conc.</th>
            {% elif browse_context == "ba-report" %}
            <th class="col-2" scope="col">Avg. Fragment Size</th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="{{ field.id }}-selected-table-body">
        {% for sample in selected_samples %}
        <tr id="selected-sample-row-{{ sample.id }}" class="sample-row selected">
            <th scope="row">{{ sample.id }}</th>
            <td>{{ sample.name }}</td>
            <td>{% if sample.status %}{{ sample.status.label }} {{ sample.status.icon }}{% endif %}</td>
            {% if browse_context == "qubit-measure" %}
            <td>
                <div class="quantity-container">
                    <div class="value">{{ sample.qubit_concentration or "" }}</div>
                    <div class="unit">ng/μL</div>
                </div>
            </td>
            {% elif browse_context == "ba-report" %}
            <td>
                <div class="quantity-container">
                    <div class="value">{{ sample.avg_fragment_size or "" }}</div>
                    <div class="unit">bp</div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>