<table class="table">
    <thead>
        <tr>
            <th scope="col" class="col-4">Experiment</th>
            <th class="col-2">Lane</th>
            {% if browse_context == "qubit-measure" %}
            <th class="col-2" scope="col">Qubit Conc.</th>
            {% elif browse_context == "ba-report" %}
            <th class="col-2" scope="col">Avg. Fragment Size</th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="{{ field.id }}-selected-table-body">
        {% for lane in selected_lanes %}
        <tr id="selected-lane-row-{{ lane.id }}" class="lane-row selected">
            <th scope="row">{{ lane.experiment.name }}</th>
            <td>{{ lane.number }}</td>
            {% if browse_context == "qubit-measure" %}
            <td>
                <div class="quantity-container">
                    <div class="value">{{ lane.original_qubit_concentration or '' }}</div>
                    <div class="unit">ng/μL</div>
                </div>
            </td>
            {% elif browse_context == "ba-report" %}
            <td>
                <div class="quantity-container">
                    <div class="value">{{ lane.avg_fragment_size or '' }}</div>
                    <div class="unit">bp</div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>