{% from 'components/form_group.jinja2' import form_group %}

<div class="modal-content" id="seq_request_share_email_form-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Add Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="seq_request_share_email_form-form">
            {{ seq_request_share_email_form.csrf_token() }}
            {{ form_group(seq_request_share_email_form.email) }}
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <button class="btn btn-success" hx-include="#seq_request_share_email_form-form" hx-target="#seq_request_share_email_form-form-container" hx-swap="outerHTML"
        hx-post="{{ url_for('seq_requests_htmx.add_share_email', seq_request_id=seq_request.id) }}">
            Submit
        </button>
    </div>
</div>