{% from "components/spinner.jinja2" import spinner %}

<div class="calendar-container" id="calendar-month-container">
    <div class="header" style="z-index: 2;">
        <a hx-get="{{ url_for('events_htmx.render_calendar_month', year=prev_year, month=prev_month) }}" hx-target="#calendar-month-container" hx-swap="outerHTML" hx-indicator="#calendar-month-spinner" onclick="hide_calendar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </a>
        <h5>{{ year }} {{ month_name }}</h5>
        <a hx-get="{{ url_for('events_htmx.render_calendar_month', year=next_year, month=next_month) }}" hx-target="#calendar-month-container" hx-swap="outerHTML" hx-indicator="#calendar-month-spinner" onclick="hide_calendar();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
    </div>
    <div class="calendar">
        {% for day, events in calendar.items() %}
        {% if day.weekday() == 0 %}
        <div class="week">
        {% endif %}
            <div class="day {% if day.month == prev_month or day.month == next_month %}monthnot{% endif %} {% if day.weekday() > 4 %}weekend{% endif %} {% if day.year == today.year and day.month == today.month and day.day == today.day %} today {% endif %}{% if events | length %} eventful{% endif %}"
            {% if events | length %}hx-get="{{ url_for('events_htmx.render_calendar_day', year=day.year, month=day.month, day=day.day) }}"
            hx-target="#calendar-day-modal-content" hx-swap="innerHTML" data-bs-target="#calendar-day-modal" data-bs-toggle="modal"{% endif %}>
                <p class="day-number">{{ day.day }}</p>
                <ul>
                    {% for event in events %}
                    <li>
                        <a style="color: {{ event.type.color }};">{{ event.timestamp_str("%H:%M") }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% if day.weekday() == 6 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div style="position: relative;">
        <div style="position: absolute; width: 100%;">
            {{ spinner(id="calendar-month-spinner") }}
        </div>
    </div>
</div>
<div class="modal fade" id="calendar-day-modal" aria-hidden="true" tabindex="-1" data-bs-keyboard="true">
    <div class="modal-dialog modal-calendar-day modal-dialog-centered" id="calendar-day-modal-content">
        {{ spinner() }}
    </div>
</div>

<script type="text/javascript">
    function hide_calendar() {
        $(".calendar").remove();
    }
</script>