<!DOCTYPE html>
<html>
    <head>
        <title>Index of {{ current_path.as_posix() if current_path else '/' }}</title>
    </head>
    <body>
        <pre>
        {%- if current_path -%}
        <a href="{{ url_for('file_share.rclone', token=token, subpath=parent_dir.as_posix() if parent_dir else '') }}">../</a>
        {% endif %}
        {%- for path in paths -%}
        <a href="{{ url_for('file_share.rclone', token=token, subpath=(current_path / path.name).as_posix() if current_path else path.name) }}{% if path.path.is_dir() %}/{% endif %}">{{ path.name }}{% if path.path.is_dir() %}/{% endif %}</a>
        {% endfor %}
        </pre>
    </body>
</html>