$rainbow-1: #e81416;
$rainbow-2: #ffa500;
$rainbow-3: #faeb36;
$rainbow-4: #79c314;
$rainbow-5: #00ff00;
$rainbow-6: #487de7;
$rainbow-7: #70369d;

$tab-10-1: #1f77b4;
$tab-10-2: #ff7f0e;
$tab-10-3: #2ca02c;
$tab-10-4: #d62728;
$tab-10-5: #9467bd;
$tab-10-6: #8c564b;
$tab-10-7: #e377c2;
$tab-10-8: #7f7f7f;
$tab-10-9: #bcbd22;
$tab-10-10: #17becf;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$cemm-blue:     #00aecc;
$cemm-blue-darker: #0090aa;
$cemm-blue-dark: #0f5568;
$cemm-secondary:   #1b88a7;
$cemm-secondary-darker:   #16748e;
$cemm-secondary-dark:   #136379;
$cemm-yellow:   #c6b600;
$cemm-yellow-darker:   #f1dd00;
$cemm-yellow-dark:   #ac9e00;
$cemm-red:   #e95e30;
$cemm-red-darker:   #d1562d;
$cemm-red-dark:   #bb4c27;
$cemm-green: #96c03a;
$cemm-green-darker: #89af36;
$cemm-green-dark: #75952f;

.bg-rainbow-1 { background-color: $rainbow-1; }
.bg-rainbow-2 { background-color: $rainbow-2; }
.bg-rainbow-3 { background-color: $rainbow-3; }
.bg-rainbow-4 { background-color: $rainbow-4; }
.bg-rainbow-5 { background-color: $rainbow-5; }
.bg-rainbow-6 { background-color: $rainbow-6; }
.bg-rainbow-7 { background-color: $rainbow-7; }
.bg-tab-10-1 { background-color: $tab-10-1; }
.bg-tab-10-2 { background-color: $tab-10-2; }
.bg-tab-10-3 { background-color: $tab-10-3; }
.bg-tab-10-4 { background-color: $tab-10-4; }
.bg-tab-10-5 { background-color: $tab-10-5; }
.bg-tab-10-6 { background-color: $tab-10-6; }
.bg-tab-10-7 { background-color: $tab-10-7; }
.bg-tab-10-8 { background-color: $tab-10-8; }
.bg-tab-10-9 { background-color: $tab-10-9; }
.bg-tab-10-10 { background-color: $tab-10-10; }

.bg-cemm-blue { background-color: $cemm-blue; }
.cemm-blue { color: $cemm-blue; }
.bg-cemm-secondary { background-color: $cemm-secondary; }
.cemm-secondary { color: $cemm-secondary; }
.bg-cemm-yellow { background-color: $cemm-yellow; }
.cemm-yellow { color: $cemm-yellow; }
.bg-cemm-red { background-color: $cemm-red; }
.cemm-red { color: $cemm-red; }
.bg-cemm-green { background-color: $cemm-green; }
.cemm-green { color: $cemm-green; }
