@import "colors.scss";

.dash {
    display: flex;
    height: calc(100vh - 60px);
    padding: 10px 0;
    gap: 10px;

    .dash-left,
    .dash-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .dash-component-container {
            flex: 1; // Makes each cell take equal height
            display: flex;
            flex-direction: column;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            overflow: hidden;

            .dash-component-header {
                height: 50px !important;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: $gray-200;
                border-bottom: solid var(--bs-border-color);
                justify-content: space-between;

                h4 {
                    color: $gray-600;
                    margin: 0;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: default;
                    }
                }
            }

            .dash-component-content {
                flex: 1; // Take remaining space
                overflow: auto;
                padding: 10px;
                margin: 0;

                .tab-pane {
                    height: 100%;
                    overflow: hidden;

                    .workflow-container {
                        height: 100%;
                        margin-right: 5px;
                        padding: 0 5px 10px 15px;
                        justify-content: space-evenly;
                        align-content: flex-start;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .dash {
        flex-direction: column;
        .dash-left {
            width: 100%;
        }
        .dash-right {
            width: 100%;
        }
    }
    
}