@import "colors.scss";

.dash {
    display: flex;
    height: calc(100vh - 60px);
    padding: 10px 0 10px 0;
    gap: 10px;

    .dash-component-header {
        display: flex;
        align-items: center;
        padding-left: 15px;
        height: 50px !important;
        h4 {
            margin: 0;
            color: $gray-600;
            height: 50px !important;
            display: flex;
            align-items: center;
        }
        h4:hover {
            cursor: default;
        }
        margin-bottom: 10px;
        background-color: $gray-200;
        border-bottom: solid var(--bs-border-color);
    }

    .dash-left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .dash-top {
            height: 100%;
            overflow-y: hidden;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
        }
        .dash-bottom {
            height: 100%;
            overflow-y: hidden;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
        }
        .banner-container {
            margin-right: 5px;
            padding: 0 5px 5px 15px;
            overflow-y: auto;
            height: calc(100% - 60px);
        }
    }

    .dash-right {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 10px;

        .dash-top {
            height: 100%;
            overflow-y: hidden;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            height: 100%;
        }
        .dash-bottom {
            height: 100%;
            overflow-y: hidden;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            .workflow-container {
                margin-right: 5px;
                padding: 0 5px 0 15px;
                justify-content: space-evenly;
                align-content: flex-start;
                height: 100%;
                overflow-y: auto;
                padding-bottom: 70px;
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
    .dash {
        flex-direction: column;
        .dash-left {
            width: 100%;
        }
        .dash-right {
            width: 100%;
        }
    }
    
}