@media screen and (max-width: 992px) {
    #left-margin, #right-margin {
        display: none;
    }

    #middle-container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .clipboard-btn {
        display: none;
    }
}