@import "colors.scss";

table {
    a.sort-btn,
    a.search-btn {
        color: #000;
        padding: 2px 6px 2px 6px;
        margin: 0;
    }
}

table .multi-select {
    position: static;

    button {
        height: 27px;
        width: 100%;
    }
}

table input.table-query-input{
    height: 28px;
}

.table-container {
    width: 100%;

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    table {
        width: 100%;

        thead, tbody {
            width: 100%;
            tr {
                width: 100%;
            }
        }

        .table-select-buttons {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        .table-btn {
            height: 25px;
            padding: 0px 8px 0px 8px;
        }
        .table-btn.disabled {
            cursor: not-allowed;
        }
        * {
            margin: 0 !important;
        }

        tr {
            th {
                .search-btn {
                    background-color: transparent;
                    border-radius: 5px;
                    border: none;
                }
                .search-btn:hover {
                    background-color: $gray-300;
                }
                .sort-btn {
                    background-color: transparent;
                    border-radius: 5px;
                    border: none;
                }
                .sort-btn:hover {
                    background-color: $gray-300;
                }
            }
            td, th {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                white-space: nowrap;
                overflow: hidden;
                height: 42px;
                border: 1px solid $gray-200;
                max-width: 200px;
                min-width: 100px;
            }
            td a {
                color: $cemm-blue-darker;
                text-decoration: none;
            }
            td .h-list {
                padding-left: 10px;
            }
        }
        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:empty + .comma:not(:empty):before {
            content : "";
        }

        .comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
            content : ",";
        }
        .adapter-col {
            display: flex;
            span {
                gap: 7px;
                display: flex;
                :nth-child(1) {
                    font-weight:500;
                }
                :nth-child(2) {
                    color: $gray-500;
                }
                :nth-child(3) {
                    color: $gray-500;
                }
            }
        }
        .library_type-col {
            display: flex;
        }

        .organism-col {
            display: flex;
            gap: 7px;

            :nth-child(1) {
                font-style: italic;
            }

            :nth-child(2) {
                font-weight:600;
            }
            :nth-child(3) {
                color: $gray-500;
            }
        }
    }
}

.table-cursor {
    thead {
        tr {
            th.sortable-col {
                .asc { cursor: n-resize; }
                .desc { cursor: s-resize; }
            }

            th {
                cursor: default;
            }
        }
    }
    tbody {
        tr { cursor: pointer; }
        tr.disabled { cursor: not-allowed; }
        tr .table-cell-tooltip { cursor: pointer; }
    }
}

.table tbody {
    td, th {
        vertical-align: middle;
    }

    td .badge {
        background-color: $cemm-blue;
    }

    td .quantity-container {
        display: flex;
        gap: 5px;
        .value:empty + .unit {
            display: none;
        }
        .unit {
            color: $gray-500;
        }
    }
    
    .unselectable-row td, .unselectable-row th {
        background-color: $gray-100;
    }

    .unselectable-row:hover {
        cursor: not-allowed !important;
    }
    
    tr.select-pool.selected {
        th, td {
            background-color: #EAFAF1;
        }
    }

    tr.selected {
        th, td {
            background-color: #EAFAF1;
        }
    }

    tr.removed {
        th, td {
            background-color: #f8d7da;
        }
    }

    .disabled td, .disabled th {
        background-color: $gray-200;
        opacity: 0.7;
        border: 0;
    }
}
