{% if pools is defined and pools %}
{% for pool in pools %}
<li class="option" data-value="{{ pool.id }}">
    <span class="search-select-header"></span>
    <span class="search-select-name">{{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}</span>
    <span class="search-select-desc">{{ pool.status.label }} {{ pool.status.icon }}</span>
</li>
{% endfor %}
{% else %}
<li>
    <span class="disabled">No results...</span>
</li>
{% endif %}