{% if seq_requests is defined and seq_requests %}
{% for seq_request in seq_requests %}
<li class="option" data-value="{{ seq_request.id }}">
    <span class="search-select-header">{{ seq_request.status.icon }} {{ seq_request.status.label }}</span>
    <span class="search-select-name">{{ seq_request.name }}</span>
    <span class="search-select-desc">{{ seq_request.submission_type.abbreviation }}</span>
</li>
{% endfor %}
{% else %}
<li>
    <span class="disabled">No results...</span>
</li>
{% endif %}