{% from 'components/form_group.jinja2' import form_group %}

<div class="modal-content" id="comment-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Add Comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="comment-form">
            {{ form.csrf_token.render() }}
            {{ form_group(form.comment) }}
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success" hx-include="#comment-form" hx-target="#comment-form-container" hx-swap="outerHTML"
            hx-post="{{ url_for('submit_comment_form', seq_request_id=form.seq_request_id, experiment_id=form.experiment_id, lab_prep_id=form.lab_prep_id) }}">
                Submit
            </button>
        </div>
    </div>
</div>