{% from 'components/form_group.jinja2' import form_group, form_cell %}
{% from 'components/metadata_group.jinja2' import metadata_group %}

<div id="pooling-ratio-form-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Calculate Pooling Ratios</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#lane_pools-workflow-popup")></button>
    </div>
    <div class="modal-body" style="height: 100%; margin: 0; overflow-y: hidden;">
        <div id="pooling-ratio-form">
            {{ pooling_ratio_form.csrf_token() }}
            {{ pooling_ratio_form.file_uuid(hidden=true) }}
            {{ pooling_ratio_form.target_concentration() }}
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-2" scope="col">Pool Name</th>
                        <th class="col-1" scope="col">Lane</th>
                        <th class="col-1" scope="col">Reads [M]</th>
                        <th class="col-1" scope="col">Fragment Size [bp]</th>
                        <th class="col-1" scope="col">QBit</th>
                        <th class="col-1 bg-light" scope="col">nM Total</th>
                        <th class="col-1" scope="col">Volume</th>
                        <th class="col-1" scope="col">QBit After Dilution</th>
                        <th class="col-1 bg-light" scope="col">nM After Dilution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, (_, row) in enumerate(df.iterrows()) %}
                    {% set sub_form = pooling_ratio_form.input_fields[i] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th>{{ row["pool_name"] }}</th>
                        <th>{{ row["lane"] }}</th>
                        <td>{{ form_cell(sub_form.m_reads) }}</td>
                        <td>{{ form_cell(sub_form.fragment_size, input_class="fragment_size-col") }}</td>
                        <td>{{ form_cell(sub_form.qbit, input_class="qbit-col") }}</td>
                        <td class="nm_total-col bg-light"></td>
                        <td>{{ form_cell(sub_form.volume, input_class="volume-col") }}</td>
                        <td>{{ form_cell(sub_form.qbit_after_dilution, input_class="qbit_after-col") }}</td>
                        <td class="nm_total-after-col bg-light"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ pooling_ratio_form.file_uuid.data }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
            hx-post="{{ url_for('lane_pools_workflow.calculate_ratios', experiment_id=experiment.id) }}"
            hx-target="#pooling-ratio-form-container" hx-swap="outerHTML" hx-include="#pooling-ratio-form">
                Calculate
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();

            function update_nm_total(row) {
                const fragment_size = row.find(".fragment_size-col").first().closest("input").val();
                const qbit = row.find(".qbit-col").first().closest("input").val();
                const qbit_after = row.find(".qbit_after-col").first().closest("input").val();

                if (fragment_size && qbit) {
                    const nm_total = qbit / (fragment_size * 660) * 1000000;
                    row.find(".nm_total-col").text(nm_total.toFixed(2));
                } else {
                    row.find(".nm_total-col").text("");
                }

                if (fragment_size && qbit_after) {
                    const nm_total = qbit_after / (fragment_size * 660) * 1000000;
                    row.find(".nm_total-after-col").text(nm_total.toFixed(2));
                } else {
                    row.find(".nm_total-after-col").text("");
                }
            }

            $(".fragment_size-col").on("input", function() {
                update_nm_total($(this).closest("tr"));
            });

            $(".qbit-col").on("input", function() {
                update_nm_total($(this).closest("tr"));
            });

            $(".qbit_after-col").on("input", function() {
                update_nm_total($(this).closest("tr"));
            });
        });
    </script>
</div>
