{% from 'components/form_group.jinja2' import form_group %}

<div id="lane-pooling-form-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">3. Confirm Pooling Ratios</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#lane_pools-workflow-popup")></button>
    </div>
    <div class="modal-body" style="height: 100%; margin: 0; overflow-y: hidden;">
        <div id="confirm-ratios-form">
            {{ confirm_ratios_form.csrf_token() }}

            <table class="table table-hover table-cursor">
                <thead>
                    <tr>
                        <th class="col-2 bg-light" scope="col">Pool Name</th>
                        <th class="col-1 bg-light" scope="col">Lane</th>
                        <th class="col-1 bg-light" scope="col">Pipet for 3nM</th>
                        <th class="col-1" scope="col">Lane Share [%]</th>
                        <th class="col-1" scope="col">Reads [M]</th>
                        <th class="col-1" scope="col">Fragment Size</th>
                        <th class="col-1" scope="col">QBit</th>
                        <th class="col-1" scope="col">EB + Tween 0.1%</th>
                        <th class="col-1" scope="col">QBit After Dilution</th>
                        <th class="col-1" scope="col">Total Con. [nM]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, (_, row) in enumerate(df.iterrows()) %}
                    {% set sub_form = lane_pooling_form.input_fields[i] %}
                    {{ sub_form.csrf_token() }}
                    <tr>
                        <th class="bg-light">{{ row["pool_name"] }}</th>
                        <th class="bg-light">{{ row["lane"] }}</th>
                        <td>{{ form_cell(sub_form.m_reads, unit="M") }}</td>
                        <td>{{ "%0.1f" % (row["share"] * 100.0)  }}</td>
                        <td class="bg-light">{{ "%0.2f" % row["pipet"] }}</td>
                        <td>{{ "%0.1f" % row["pool_reads_requested"] }}</td>
                        <td>{{ row["fragment_size"] }}</td>
                        <td>{{ "%0.1f" % row["qbit"] }}</td>
                        <td>{{ "%0.1f" % row["eb_tween"] if row["eb_tween"] else "" }}</td>
                        <td>{{ "%0.1f" % row["qbit_after_dilution"] if row["qbit_after_dilution"] else "" }}</td>
                        <td>{{ "%0.1f" % row["conc"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ confirm_ratios_form.file_uuid.data }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success">
                Confirm
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
           init_tooltips();
        });
    </script>
</div>
