{% from 'components/tooltip.jinja2' import tooltip %}

<div class="input-help">
<h5>How to?</h5>
<ul>
    <li>Fill in the required columns and submit as a file or live spreadsheet.</li>
</ul>

<h5>Required Columns</h5>
<ul>
    <li><b>Sample Name</b> <span class="desc">Biological Sample, e.g. sample_KO, sample_WT, etc...</span></li>
    <li><b>Library Name</b> <span class="desc">Name of the library, e.g. sample_KO_GEX, sample_KO_CMO, etc...</span></li>
    <li>
        <b>Library type:</b>
        <ul class="h-list" style="width: 60%; padding-left: 15px;">
        {% for _, library_type in LibraryType.as_tuples() %}
            <li><span {{ tooltip(library_type.name) }} style="cursor: help;">{{ library_type.description }}</span></li>
        {% endfor %}
        </ul>
    </li>
</ul>

<h5>Optional Columns (can be left blank)</h5>
<ul>
    <li><b>Organism</b> <span class="desc">Must be specified if samples from two or more organisms are present.</span>
        <ul class="h-list" style="width: 60%; padding-left: 15px;">
        {% for _, organism in Organism.as_tuples() %}
            <li><span {{ tooltip(organism.description) }} style="cursor: help;">{{ organism.name }}</span></li>
        {% endfor %}
        </ul>
    </li>
    <li><b>Project</b> <span class="desc">Must be specified if request contains samples from two or more projects.</span></li>
</ul>

<h5>Important</h5>
<ul>
    <li><b>'Sample Name'</b>-column denotes a biological sample or specimen that will be prepared into one or more libraries.</li>
    <li>Multiple rows can have same value in <b>'Sample Name'</b>-column if multiple libraries are created from a single biological sample.</li>
    <li>White-spaces in <b>'Sample Name'</b>-column will be replaced with '_' automatically. Also non-alphanumeric characters (except '_', '-', '.') will be filtered.</li>
    <li>In edge cases, please contact us at <a href="mailto:bsf@cemm.at">bsf@cemm.at</a></li>
</ul>
</div>
<script>
    init_tooltips();
</script>