{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="index_kit-mapping-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">5. Map Index Kits</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>If library barcode indices are specified manually, you can leave this field empty.</li>
                <li>For each unique 'Raw Label', select a index kit type from the list.</li>
                <li>You can find available kits and their adapters <a href="{{ url_for('index_kits_page.index_kits_page') }}">Index Kits</a> -page</li>
            </ul>
            <h5>Important</h5>
            <ul>
                <li>All adapters associated to a library with a specified index kit must be found from the index kit.</li>
            </ul>
        </div>
        <div id="index_kit-mapping-form">
            {% for sub_form in form.input_fields %}
            {{    
                categorical_mapping(
                    raw_label=sub_form.raw_label,
                    category=sub_form.index_kit,
                    query_url=url_for('barcodes_htmx.query_index_kits'),
                    token=sub_form.csrf_token,
                )
            }}
            {% endfor %}
            {{ form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ form.csrf_token() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.file_uuid.data }}
        </div>
        <button type="button" class="btn btn-primary"
            hx-target="#index_kit-mapping-form-container" hx-swap="outerHTML"
            hx-include="#index_kit-mapping-form"
            hx-post="{{ url_for('seq_request_form_htmx.map_index_kits', seq_request_id=seq_request.id) }}">
            Map Index Kits
        </button>
    </div>
</div>