{% from "components/tooltip.jinja2" import tooltip %}

<div id="library-select-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">10. Confirm Libraries</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
        </div>
        <table class="table table-hover table-cursor">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-1">Selected</th>
                    <th scope="col" class="col-3">Sample Name</th>
                    <th scope="col" class="col-2">Library Type</th>
                    <th scope="col" class="col-1">Pool</th>
                    <th scope="col" class="col-3">Project</th>
                </tr>
            </thead>
            <tbody>
                {% for library_data in libraries %}
                {% set library_id = library_data["id"] %}
                {% if library_data["error"] %}
                <tr {{ tooltip(library_data["error"], category="error") }}
                {% elif library_data["warning"] %}
                <tr {{ tooltip(library_data["warning"], category="warning") }}
                {% elif library_data["info"] %}
                <tr {{ tooltip(library_data["info"]) }}
                {% else %}
                <tr
                {% endif %}
                class="{{ 'disabled' if library_data['error'] }} library-check" onclick="select_row('{{ library_id }}');">
                    <th scope="row">{{ library_id }}</th>
                    <td>
                        {% if library_data["error"] %}
                        ❌
                        <input  type="checkbox" class="form-check-input library-checkbox" style="display: none;">
                        {% else %}
                        <input type="checkbox" class="form-check-input library-checkbox" checked
                        id="library-select-{{ library_id }}">
                        {% endif %}
                    </td>
                    <td>{{ library_data["name"] }} <span class="desc">{{ library_data["library_id"] if library_data["library_id"] }}</span></td>
                    <td>{{ library_data["library_type"] }}</td>
                    <td>{{ library_data["pool"] }}</td>
                    <td>{{ library_data["project_name"] }} <span class="desc">{{ library_data["project_id"] if library_data["project_id"] }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="table-select-buttons">
            <button type="button" class="btn btn-primary col" onclick="select_all()">Select All</button>
            <button type="button" class="btn btn-primary col" onclick="deselect_all()">Remove All</button>
        </div>
        <form id="project-library-select-form">
            {{ library_select_form.csrf_token() }}
            {{ library_select_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ library_select_form.selected_libraries(hidden=False, readonly=True) }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" hx-target="#library-select-container" hx-swap="outerHTML"
            hx-include="#project-library-select-form" id="project-library-select-form-btn"
            hx-post="{{ url_for('seq_request_form_htmx.confirm_libraries', seq_request_id=seq_request.id) }}">
            Confirm
        </button>

        <button type="button" class="btn btn-danger" hx-target="#library-select-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}"
            _="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({
                title: 'Cancel Request Form',
                showDenyButton: true,
                text: 'Do you want to proceed?',
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            })
            if result.isConfirmed issueRequest()">
            Cancel
        </button>
    </div>
</div>

<script>
    init_tooltips();
    $(".library-checkbox:checkbox").click(function() { return false; });

    function select_row(library_id) {
        var checkbox = $("#library-select-" + library_id);
        if (checkbox.hasClass("disabled")) {
            return;
        }
        const checked = checkbox.prop("checked");
        
        var selected_str = $("#selected_libraries").val();
        var selected = selected_str.split(",");
        const index = selected.indexOf(library_id);
        if (checked) {
            // checkbox was checked, uncheck it
            checkbox.prop("checked", false);
            if (index > -1) {
                selected.splice(index, 1);
            }
        } else {
            // checkbox was unchecked, check it
            checkbox.prop("checked", true);
            if (index === -1) {
                selected.push(library_id);
            }
        }
        $("#selected_libraries").val(selected.join(","));

        if (selected.length === 0 || (selected[0] === "" && selected.length === 1)) {
            $("#project-library-select-form-btn").prop("disabled", true);
        } else {
            $("#project-library-select-form-btn").prop("disabled", false);
        }
    }
    

    function deselect_all() {
        $(".library-checkbox").each(function () {
            $(this).prop("checked", false);
        });
        $("#selected_libraries").val("");
        $("#project-library-select-form-btn").prop("disabled", true);

    }

    function select_all() {
        var selected = [];
        $(".library-checkbox").each(function () {
            if (!$(this).hasClass("disabled")) {
                $(this).prop("checked", true);
                selected.push($(this).attr("id").split("-")[2]);
            }
        });
        console.log(selected);
        $("#selected_libraries").val(selected.join(","));
        if (selected.length > 0) {
            $("#project-library-select-form-btn").prop("disabled", false);
        }
    }
</script>