{% from "components/categorical_mapping.jinja2" import static_categorical_mapping %}

<div id="library-type-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">5. Map Library Types</h1>
        <button type="button" class="btn-close" data-bs-ldismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>For each unique 'Raw Label', select a library type from the list.</li>
            </ul>
        </div>
        <form id="library-type-category-mapping-form">
            {{ 
                static_categorical_mapping(
                    form=library_mapping_form,
                    categories=categories
                )
            }}
            {{ library_mapping_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ library_mapping_form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            hx-target="#library-type-mapping-container" hx-swap="outerHTML"
            hx-include="#library-type-category-mapping-form"
            hx-post="{{ url_for('seq_request_form_htmx.map_libraries', seq_request_id=seq_request.id) }}">
            Map Library Types
        </button>
        
        <button type="button"class="btn btn-danger"
            hx-target="#library-type-mapping-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}"
            _="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({
                title: 'Cancel Request Form',
                showDenyButton: true,
                text: 'Do you want to proceed?',
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            })
            if result.isConfirmed issueRequest()">
            Cancel
        </button>
    </div>
</div>