{% from "components/search_select.jinja2" import search_select_field %}
{% from "components/form_group.jinja2" import form_group %}
{% from "components/categorical_mapping.jinja2" import categorical_mapping_with_new_field %}

<div id="project-select-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Select Project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="project-select-form">
            {{    
                categorical_mapping_with_new_field(
                    form=project_mapping_form,
                    categories=categories,
                    url=url_for('projects_htmx.query'),
                    selected=selected,
                )
            }}
            {{ project_mapping_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ project_mapping_form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="map-sample-table-col-btn" class="btn btn-primary"
            hx-target="#project-select-form-container" hx-swap="outerHTML"
            hx-include="#project-select-form"
            hx-post="{{ url_for('seq_request_form_htmx.select_project', seq_request_id=seq_request.id) }}">
            Select Project
        </button>
        
        <button type="button"class="btn btn-danger"
            hx-target="#project-select-form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}">
            Cancel
        </button>
    </div>
</div>