{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="sample-table-organism-map-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">4. Map Organisms</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>For each unique 'Raw Label', select an organism from list.</li>
            </ul>
        </div>
        <form id="sample-organism-category-mapping-form">
            {{    
                categorical_mapping(
                    form=organism_mapping_form,
                    categories=categories,
                    url=url_for('organisms_htmx.query'),
                    selected=selected,
                )
            }}
            {{ organism_mapping_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ organism_mapping_form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="map-sample-table-col-btn" class="btn btn-primary"
            hx-target="#sample-table-organism-map-container" hx-swap="outerHTML"
            hx-include="#sample-organism-category-mapping-form"
            hx-post="{{ url_for('seq_request_form_htmx.map_organisms', seq_request_id=seq_request.id) }}">
            Map Organisms
        </button>
        
        <button type="button"class="btn btn-danger"
            hx-target="#sample-table-organism-map-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}"
            _="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({
                title: 'Cancel Request Form',
                showDenyButton: true,
                text: 'Do you want to proceed?',
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            })
            if result.isConfirmed issueRequest()">
            Cancel
        </button>
    </div>
</div>