{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
{% from "components/table_input.jinja2" import table_input %}

<div id="feature-input-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Feature Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help pb-3">
            <h5>How to?</h5>
            <ol>
                <li><a href="{{ url_for('seq_request_form_htmx.download_template', type='features') }}">
                Download template</a></li>
                <li>Fill in the template</li>
                <li>Submit the file below</li>
            </ol>

            <h5>Modify Columns</h5>
            <ul>
            </ul>

            <h5>Important</h5>
            <ul>
            </ul>
        </div>
        <form id="feature-input-form" enctype="multipart/form-data">
            {{ feature_input_form.csrf_token() }}
            <div class="row">
                {{ form_group(feature_input_form.separator, class="col-2") }}
                {{ form_group(feature_input_form.file, class="col-10") }}
            </div>
            {{ feature_input_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
        </form>
    </div>
    <div class="modal-footer" id="popup-footer">
        <button class="btn btn-success" type="button"
            hx-include="#feature-input-form" hx-target="#feature-input-form-container" hx-swap="outerHTML"
            hx-encoding="multipart/form-data"
            hx-post="{{ url_for('seq_request_form_htmx.parse_feature_form', seq_request_id=seq_request.id) }}{% if experiment %}"?experiment_id={{experiment.id}}"{% endif %}">
            Parse
        </button>
        <a class="btn btn-danger" type="button"
            {% if experiment %}
                href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}"
            {% else %}
                href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}"
            {% endif %}
            _="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({
                title: 'Cancel Request Form',
                showDenyButton: true,
                text: 'Do you want to proceed?',
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            })
            if result.isConfirmed issueRequest()">
            Cancel
        </a>
    </div>
</div>
<script>
    init_tooltips();
</script>