{% from "components/search_select.jinja2" import search_select_field %}
{% from "components/form_group.jinja2" import form_group %}
{% from "components/categorical_mapping.jinja2" import categorical_mapping_with_new_field %}

<div id="project-select-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Select Project(s)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>For each unique 'Raw Label', select an existing project or create a new project.</li>
                <li>Samples associated to a same project are processed and published together.</li>
            </ul>
        </div>
        <form id="project-select-form">
            {{    
                categorical_mapping_with_new_field(
                    form=form,
                    categories=categories,
                    url=url_for('projects_htmx.query'),
                    selected=selected,
                )
            }}
            {{ form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="map-sample-table-col-btn" class="btn btn-primary"
            hx-target="#project-select-form-container" hx-swap="outerHTML"
            hx-include="#project-select-form"
            hx-post="{{ url_for('seq_request_form_htmx.select_project', seq_request_id=seq_request.id) }}">
            Select Project
        </button>
        
        <button type="button"class="btn btn-danger"
            hx-target="#project-select-form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}"
            _="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({
                title: 'Cancel Request Form',
                showDenyButton: true,
                text: 'Do you want to proceed?',
                confirmButtonText: 'Yes',
                denyButtonText: 'No'
            })
            if result.isConfirmed issueRequest()">
            Cancel
        </button>
    </div>
</div>