{% from "components/form_group.jinja2" import form_group %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/categorical_mapping.jinja2" import raw_label_mapping %}

<div id="library_indexing-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">5. Check Barcode Clashes</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body" id="library_indexing-form">
        {{ form.csrf_token() }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Library</th>
                    <th scope="col" class="col-2">Pool</th>
                    <th scope="col" class="col-1"><span {{ tooltip("Smallest pair-wise Hamming distance between concatenated barcode sequences (I1 + I2) in the pool") }}>Hamming Dist.</span></th>
                    <th scope="col" class="col-1">Kit i7</th>
                    <th scope="col" class="col-1">Name i7</th>
                    <th scope="col" class="col-1">Sequence i7</th>
                    <th scope="col" class="col-1">Name i5</th>
                    <th scope="col" class="col-1">Name i5</th>
                    <th scope="col" class="col-1">Sequence i5</th>
                </tr>
            </thead>
            <tbody>
                {% for idx, row in barcode_table.iterrows() %}
                {% if row["error"] %}
                <tr {{ tooltip(row["error"], category="error") }}>
                {% elif row["warning"] %}
                <tr {{ tooltip(row["warning"], category="warning") }}>
                {% else %}
                <tr>
                {% endif %}
                    <td>{% if row["error"] %}❌{% elif row["warning"] %}⚠️{% else %}✅{% endif %} {{ row["library_name"] }}</td>
                    <td>{{ row["pool"] }}</td>
                    <td {% if row["min_hamming_bases"] < 1 %}
                    class="cemm-red"
                    {% elif row["min_hamming_bases"] < 2 %}
                    class="cemm-yellow"
                    {% else %}
                    class="cemm-green"
                    {% endif %}>{{ row["min_hamming_bases"] }} bp <span class="desc">{{ "%0.2f" % row["min_hamming_dist"] }}</span></td>
                    <td>{{ row["kit_i7"] if row["kit_i7"] }}</td>
                    <td>{{ row["name_i7"] if row["name_i5"] }}</td>
                    <td class="index-cell-1">{{ row["sequence_i7"] if row["sequence_i7"] }}</td>
                    <td>{{ row["kit_i5"] if row["kit_i5"] }}</td>
                    <td>{{ row["name_i5"] if row["name_i5"] }}</td>
                    <td class="index-cell-2">{{ row["sequence_i5"] if row["sequence_i5"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
                hx-target="#library_indexing-form-container" hx-swap="outerHTML"
                hx-include="#library_indexing-form"
                hx-post="{{ url_for('library_indexing_workflow.complete_pooling', uuid=form.uuid) }}" id="submit-library_indexing-form-btn">
                Complete
            </button>
        </div>
    </div>
    <script>
        init_tooltips();
        $("#submit-library_indexing-form-btn").click(function() {
            window.onbeforeunload = null;
        });
    </script>
</div>