{% from 'components/form_group.jinja2' import form_group, select_input, switch_input %}
{% from "components/table_input.jinja2" import table_input %}
{% from "components/legends.jinja2" import color_legend %}
{% from "components/search_select.jinja2" import search_select_field %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Specify Barcodes</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div class="tab-body">
            <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link help-tab-btn{% if active_tab == 'help' %} active{% endif %}" data-bs-toggle="tab"
                    data-bs-target="#help-tab" type="button" role="tab"
                    aria-controls="help-tab" aria-selected="false">
                    Help</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if active_tab == 'spreadsheet' %} active{% endif %}" data-bs-toggle="tab"
                    id="spreadsheet-tab-btn"
                    data-bs-target="#spreadsheet-tab" type="button" role="tab"
                    aria-controls="spreadsheet-tab" aria-selected="true">
                    Spreadsheet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                    data-bs-target="#index-1-example-tab" type="button" role="tab"
                    aria-controls="index-1-example-tab" aria-selected="true">
                    Example 1.</button>
                </li>
            </ul>
            <div class="tab-content" id="library_pooling-form" enctype="multipart/form-data">
                {{ library_indexing_form.csrf_token() }}
                <div class="tab-pane fade{% if active_tab == 'help' %} show active{% endif %}" id="help-tab" role="tabpanel" tabindex="0">
                    <div class="input-help">
                        <h5>How to?</h5>
                        <ul>
                            <li></li>
                        </ul>

                        <h5>Columns</h5>
                        <ul>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade{% if active_tab == 'spreadsheet' %} show active{% endif %}" id="spreadsheet-tab" role="tabpanel" tabindex="2">
                    <div id="spreadsheet-grid" class="spreadsheet-grid">
                        <div class="invalid-feedback-container">
                            {% if not disabled %}
                            {% for error in library_indexing_form.spreadsheet_dummy.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="index-1-example-tab" role="tabpanel" tabindex="4">
                    {% include "components/examples/pool-indexing-1.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
            {{ color_legend(colors) }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Submit
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();

            $(".example-tab-btn, .help-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
            });
            $("#file-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-file-form-btn").show();
            });
            $("#spreadsheet-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-spreadsheet-btn").show();
            });
            $("#plate-form-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-plate-form-btn").show();
            });

            var data = {{ spreadsheet_data | tojson if spreadsheet_data is defined else "[[null]]" }};
            const csrf_token = "{{ library_indexing_form.csrf_token._value() }}";

            var spread_sheet = jspreadsheet(document.getElementById("spreadsheet-grid"), {
                data: data,
                columns: [
                    {% for col in columns %}
                    {%- if col.type == "text" or col.type == "numeric" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                    {%- elif col["type"] == "dropdown" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                    {%- endif -%}
                    {% endfor %}
                ],
                allowInsertColumn: false,
                allowManualInsertRow: false,
                allowDeleteRow: false,
                allowDeleteColumn: false,
                allowInsertColumn: false,
                style: {{ spreadsheet_style | tojson if spreadsheet_style is defined else "{}" }},
            });

            $("#submit-spreadsheet-btn").on("click", function() {
                var data = spread_sheet.getData();

                htmx.ajax("POST", "{{ url_for('library_indexing_workflow.parse_barcodes', lab_prep_id=lab_prep.id, input_type='spreadsheet') }}", {
                    "target": "#library_pooling-form-container",
                    "swap": "outerHTML",
                    "values": {
                        "spreadsheet": JSON.stringify(data),
                        "csrf_token": csrf_token,
                        "plate_form-csrf_token": csrf_token,
                        "plate_form-index_kit-csrf_token": csrf_token,
                    },
                });
            });
        });
    </script>
</div>