{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">4. Map Index Kits</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div id="library_pooling-form">
            {% for sub_form in form.input_fields %}
            {{    
                categorical_mapping(
                    raw_label=sub_form.raw_label,
                    category=sub_form.index_kit,
                    query_url=url_for('barcodes_htmx.query_index_kits'),
                    token=sub_form.csrf_token,
                )
            }}
            {% endfor %}
            {{ form.csrf_token() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                hx-include="#library_pooling-form"
                hx-post="{{ url_for('library_indexing_workflow.map_index_kits', uuid=form.uuid) }}">
                Map Kits
            </button>
        </div>
    </div>
</div>