<div id="confirm-sample-table-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Confirm Samples</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <p>
                Click on row to include/exclude sample.
            </p>
        </div>
        <table class="table table-hover table-cursor">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Selected</th>
                    <th scope="col">Name</th>
                    <th scope="col">Organism</th>
                    <th scope="col">Organism ID</th>
                </tr>
            </thead>
            <tbody>
                {% for sample in new_samples %}
                <tr class="{{ 'disabled' if errors[loop.index-1] }} sample-check" onclick="select_row('{{ sample.id }}')">
                    <th scope="row">{{sample.id}}</th>
                    <td>
                        <input  type="checkbox"
                        class="form-check-input sample-checkbox {{'disabled' if errors[loop.index-1] else '' }}"
                        {{ "checked" if not errors[loop.index-1] }}
                        {{ "disabled" if errors[loop.index-1] }}
                        id="sample-select-{{ sample.id }}" readonly>
                    </td>
                    <td>{{sample.name}}</td>
                    <td>{{sample.organism}}</td>
                    <td>{{sample.organism_id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form id="confirm-sample-table-form">
            {{ sample_table_confirm_form.csrf_token() }}
            {{ sample_table_confirm_form.data(hidden=True, readonly=True) }}
            {{ sample_table_confirm_form.selected_samples(hidden=False, readonly=True) }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="select_all()">Select All</button>
        <button type="button" class="btn btn-primary" onclick="deselect_all()">Remove All</button>
        <button type="button" class="btn btn-primary" hx-target="#confirm-sample-table-container" hx-swap="outerHTML"
            hx-include="#confirm-sample-table-form" id="confirm-sample-table-form-btn"
            hx-post="{{ url_for('samples_htmx.add_samples_from_table', project_id=project_id) }}">Add Selected
            Samples</button>

        <button type="button" class="btn btn-danger" hx-target="#confirm-sample-table-container" hx-swap="outerHTML"
            hx-get="{{ url_for('samples_htmx.restart_form', project_id=project_id) }}">Cancel</button>
    </div>
</div>

<script>
    $(".sample-checkbox:checkbox").click(function() { return false; });

    function select_row(sample_id) {
        var checkbox = $("#sample-select-" + sample_id);
        if (checkbox.hasClass("disabled")) {
            return;
        }
        const checked = checkbox.prop("checked");
        
        var selected_str = $("#selected_samples").val();
        var selected = selected_str.split(",");
        const index = selected.indexOf(sample_id);
        if (checked) {
            // checkbox was checked, uncheck it
            checkbox.prop("checked", false);
            if (index > -1) {
                selected.splice(index, 1);
            }
        } else {
            // checkbox was unchecked, check it
            checkbox.prop("checked", true);
            if (index === -1) {
                selected.push(sample_id);
            }
        }
        $("#selected_samples").val(selected.join(","));

        if (selected.length === 0 || (selected[0] === "" && selected.length === 1)) {
            $("#confirm-sample-table-form-btn").prop("disabled", true);
        } else {
            $("#confirm-sample-table-form-btn").prop("disabled", false);
        }
    }
    

    function deselect_all() {
        $(".sample-checkbox").each(function () {
            $(this).prop("checked", false);
        });
        $("#selected_samples").val("");
        $("#confirm-sample-table-form-btn").prop("disabled", true);

    }

    function select_all() {
        var selected = [];
        $(".sample-checkbox").each(function () {
            if (!$(this).hasClass("disabled")) {
                $(this).prop("checked", true);
                selected.push($(this).attr("id").split("-")[2]);
            }
        });
        console.log(selected);
        $("#selected_samples").val(selected.join(","));
        if (selected.length > 0) {
            $("#confirm-sample-table-form-btn").prop("disabled", false);
        }
    }
</script>