<div class="modal-content" id="sample-pooling-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Sample Pooling</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="spreadsheet-tab-btn"
                data-bs-target="#spreadsheet-tab" type="button" role="tab"
                aria-controls="spreadsheet-tab" aria-selected="true">
                Spreadsheet</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link help-tab-btn" data-bs-toggle="tab"
                data-bs-target="#help-tab" type="button" role="tab"
                aria-controls="help-tab" aria-selected="false">
                Help</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0">
                {{ form.csrf_token.render() }}
                {{ form.spreadsheet.render(submit_btn_id="submit-sample-pooling-btn", target_element_id="sample-pooling-container") }}
            </div>
            <div class="tab-pane fade" id="help-tab" role="tabpanel" tabindex="1">
                <div class="help-tab">
                    <ul>
                        <li>Specify a <b>Pool</b> name for each sample to group samples into libraries.</li>
                        <li>Samples with the same Pool name will be combined into a single library.</li>
                        <li>If you want to remove a sample from a library (e.g. sample failed), specify <b>x</b> as the Pool.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button id="submit-sample-pooling-btn" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>