{% from "components/legends.jinja2" import spreadsheet_error_legend with context %}
{% from "components/spreadsheet.jinja2" import spreadsheet_input %}

<div id="flex_annotation-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Sample Multiplexing</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="spreadsheet-tab-btn"
                data-bs-target="#spreadsheet-tab" type="button" role="tab"
                aria-controls="spreadsheet-tab" aria-selected="true">
                Spreadsheet</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link help-tab-btn" data-bs-toggle="tab"
                data-bs-target="#help-tab" type="button" role="tab"
                aria-controls="help-tab" aria-selected="false">
                Help</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0">
                {{ 
                    spreadsheet_input(
                        element=form.spreadsheet,
                        target_element_id="flex_annotation-form-container",
                        submit_btn_id="parse-spreadsheet-btn",
                    )
                }}
            </div>
            <div class="tab-pane fade" id="help-tab" role="tabpanel" tabindex="1">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
            {{ spreadsheet_error_legend() }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary submit-form-btn" type="button" id="parse-spreadsheet-btn">
                Next
            </button>
        </div>
    </div>
</div>