{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
<form id="sample-category-mapping-form">
    <h2>Check Categories: </h2>
    {% for category in categories %}
    <td>
        <div class="row">
            <div class="form-group col-3">
                {{ category_mapping_form.fields.entries[loop.index-1].raw_category.label }}
                {{ category_mapping_form.fields.entries[loop.index-1].raw_category(class="form-control select-field", readonly=True) }}
            </div>
            <div class="form-group col-9">
                {{ 
                    search_select_field(
                        category_mapping_form.fields.entries[loop.index-1].category_search,
                        url_for('organisms_htmx.query'),
                        results=results[loop.index-1]
                    )
                }}
            </div>
        </div>
        {{ category_mapping_form.fields.entries[loop.index-1].category(readonly=True) }}
        {{ category_mapping_form.fields.entries[loop.index-1].csrf_token() }}
    </td>
    {% endfor %}
    {{ category_mapping_form.data(class="form-control", hidden=True) }}
    {{ category_mapping_form.csrf_token(hidden=True) }}
</form>
