{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
<form id="index-form">
    {{ index_form.csrf_token }}
    {{
        search_select_field(
            index_form.sample,
            results=available_samples,
            url=url_for('samples_htmx.query', exclude_library_id=library.id),
            selected=selected_sample.name if selected_sample is defined,
        )
    }}
    {% if library.index_kit_id %}
    {{
        search_select_field(
            index_form.adapter,
            url_for('indices_htmx.query_seq_adapters', index_kit_id=library.index_kit_id),
            selected=selected_adapter,
            results=available_adapters,
            include_data_element=False,
        )
    }}
    <input id="adapter" name="adapter" hx-target="#index-form" hx-swap="outerHTML" hx-include="#index-form"
        hx-trigger="change" hx-post="{{ url_for('indices_htmx.select_indices', library_id=library.id) }}"
        value="{{ selected_adapter }}">
    {% endif %}


    <div class="indices-container">
        {% for index_seq_form in index_form.indices %}
            <div class="form-group">
                {{ index_seq_form.sequence.label }}
                {{ 
                    index_seq_form.index_seq_id(
                        value=index_seq_form.index_seq_id.data if index_seq_form.index_seq_id.data else '',
                        readonly=True, hidden=False
                    ) 
                }}
                {{ index_seq_form.sequence(class="form-control", readonly=True) }}
                {{ index_seq_form.csrf_token() }}
            </div>
        {% endfor %}
    </div>
</form>