{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}

<form id="index-form" enctype="multipart/form-data">
    {{ index_form.csrf_token() }}
    {{
        search_select_field(
            index_form.index_kit_id,
            results=available_index_kits,
            url=url_for('barcodes_htmx.query_index_kits'),
            selected=selected_index_kit,
        )
    }}
    <div class="row">
        {{ form_group(index_form.separator, class="col-2") }}
        {{ form_group(index_form.file, class="col-10") }}
    </div>
</form>