{% from 'components/form_group.jinja2' import form_group %}
<form id="run-form">
    {{ run_form.csrf_token }}
    <div class="row">
        {{ form_group(run_form.lane, class="col") }}
    </div>
    <div class="row">
        {{ form_group(run_form.r1_cycles, class="col") }}
        {{ form_group(run_form.r2_cycles, class="col") }}
    </div>
    <div class="row">
        {{ form_group(run_form.i1_cycles, class="col") }}
        {{ form_group(run_form.i2_cycles, class="col") }}
    </div>
</form>