{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
<form id="sample-form">
    {{ sample_form.csrf_token }}
    {{ form_group(sample_form.name) }}
    {% if sample is defined %}
        {% set selected = sample.organism %}
    {% else %}
        {% set selected = None %}
    {% endif %}
    {{ search_select_field(sample_form.organism, url_for('organisms_bp.queryorganisms'), results=common_organisms, selected=selected) }}
    <div style="display: none;">
        {{ form_group(sample_form.organism) }}
    </div>
</form>