<ul class="list-group search-component">
    {% if groups %}
    {% for group in groups %}
    <li {% if loop.last %} class="last" {% endif %}>
        <a id="option-{{ field_name }}-{{ loop.index }}"
        class="list-group-item search-component search-select-option"
        data-field="{{ field_name }}"
        data-value="{{ group.id }}"
        aria-controls="{{ field_name }}">
            <span class="search-select-name">{{ group.name }}</span>
            <span class="search-select-desc">{{ group.type.name }} {{ group.type.icon }}</span>
        </a>
    </li>
    {% endfor %}
    {% else %}
    <li class="last">
        <a class="list-group-item disabled">No results...</a>
    </li>
    {% endif %}
</ul>