{% if libraries %}
{% for library in libraries %}
<li class="option" data-value="{{ library.id }}">
    <span class="search-select-name">{{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}</span>
    <span class="search-select-desc">{{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}</span>
</li>
{% endfor %}
{% else %}
<li>
    <span class="disabled">No results...</span>
</li>
{% endif %}