<ul class="list-group search-component">
    {% if sequencers is defined and sequencers %}
    {% for sequencer in sequencers %}
    <li {% if loop.last %}last{% endif %} {% if selected_id is defined and sequencer.id == selected_id %}selected{% endif %}>
        <a id="option-{{ field_name }}-{{ loop.index }}"
        class="list-group-item search-component search-select-option"
        data-field="{{ field_name }}"
        data-value="{{ sequencer.id }}"
        aria-controls="{{ field_name }}">
            <span class="search-select-name">{{ sequencer.name }}</span>
            <span class="search-select-desc">{{ sequencer.model.manufacturer }} {{ sequencer.model.name }}</span>
        </a>
    </li>
    {% endfor %}
    {% else %}
    <li class="last">
        <a class="list-group-item disabled">No results...</a>
    </li>
    {% endif %}
</ul>