{% from "components/contextmenu.jinja2" import context_menu %}
{% from 'components/spinner.jinja2' import spinner %}
{% from 'components/tooltip.jinja2' import tooltip %}

{% macro comment_list(comments) %}
<ul style="list-style-type: none; padding-left: 0;">
    {% for comment in comments %}
    {% if comment.task_status_id %}
    <li>
        <div><span class="cm-callback" style="cursor: pointer;" {{
            context_menu([
                {"type": "hxpost", "label": TaskStatus.IN_PROGRESS.icon + " In Progress", "disabled": false, "config": {
                    "url": url_for('design_htmx.edit_comment_status', todo_comment_id=comment.id, new_status_id=TaskStatus.IN_PROGRESS.id),
                    "target": "#flow-cell-design-list",
                    "confirm": false,
                },},
                {"type": "hxpost", "label": TaskStatus.COMPLETED.icon + " Completed", "disabled": false, "config": {
                    "url": url_for('design_htmx.edit_comment_status', todo_comment_id=comment.id, new_status_id=TaskStatus.COMPLETED.id),
                    "target": "#flow-cell-design-list",
                    "confirm": false,
                },},
                {"type": "hxpost", "label": TaskStatus.CANCELLED.icon + " Cancelled", "disabled": false, "config": {
                    "url": url_for('design_htmx.edit_comment_status', todo_comment_id=comment.id, new_status_id=TaskStatus.CANCELLED.id),
                    "target": "#flow-cell-design-list",
                    "confirm": false,
                },},
                {"type": "hxpost", "label": TaskStatus.ARCHIVED.icon + " Archived", "disabled": false, "config": {
                    "url": url_for('design_htmx.edit_comment_status', todo_comment_id=comment.id, new_status_id=TaskStatus.ARCHIVED.id),
                    "target": "#flow-cell-design-list",
                    "confirm": false,
                },},
                {"type": "hxdelete", "label": "🗑️ Delete", "disabled": false, "config": {
                    "url": url_for('design_htmx.delete_comment', todo_comment_id=comment.id),
                    "target": "#flow-cell-design-list",
                    "title": "This will delete the comment permanently.",
                    "confirm": true,
                },},
            ])
        }}>{{ comment.task_status.icon }}</span> <span style="{% if comment.task_status >= TaskStatus.COMPLETED %}color: gray;{% if comment.task_status > TaskStatus.COMPLETED %}text-decoration: line-through;{% endif %}{% endif %}"><em>{{ comment.text }}</em></span></div>
    </li>
    {% else %}
    <li><span class="cm-callback" style="cursor: pointer;" {{
        context_menu([
            {"type": "hxdelete", "label": "🗑️ Delete", "disabled": false, "config": {
                "url": url_for('design_htmx.delete_comment', todo_comment_id=comment.id),
                "target": "#flow-cell-design-list",
                "title": "This will delete the comment permanently.",
                "confirm": true,
            },},
        ])
        }}>💬</span> <em>{{ comment.text }}</em></li>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro %}