{% from "components/contextmenu.jinja2" import context_menu %}
{% from 'components/spinner.jinja2' import spinner %}

<div class="flow-cell-design-container">
    <div hx-get="{{ url_for('design_htmx.create_flow_cell_design') }}" hx-trigger="load" hx-swap="outerHTML">
        {{ spinner() }}
    </div>
    {% for design in designs %}
    <div class="accordion" id="flow-cell-design-{{ design.id }}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button cm-callback" type="button" data-bs-toggle="collapse" data-bs-target="#design-{{ design.id }}" aria-expanded="true" aria-controls="design-{{ design.id }}" 
                {{
                    context_menu([
                        {"type": "hxdelete", "label": "Delete Flow Cell Design", "disabled": false, "config": {
                            "url": url_for('design_htmx.delete_flow_cell_design', flow_cell_design_id=design.id),
                            "title": "Delete Flow Cell Design {design.name}?".format(design=design)
                        },},
                    ])
                }}>
                    <div class="d-flex justify-content-between align-items-center w-100 px-1">
                        <div style="width: 30%;"><b>{{ design.name }}</b></div>
                        <div style="width: 40%;">
                            <div class="progress-bar-container">
                                {% set m_reads_planned = design.num_m_reads_planned %}
                                {% set reads_used_pct = (m_reads_planned / (design.workflow.flow_cell_type.max_m_reads_per_lane * design.num_lanes)) * 100 if m_reads_planned else 0 %}
                                <div type="button" class="progress relative-progress flowcell-capacity-bar" role="progressbar" aria-valuenow="{{ reads_used_pct }}" aria-valuemin="0" aria-valuemax="100" style="height: 20px;">
                                    <div class="progress-title">
                                        {{ m_reads_planned | int }}/{{ design.workflow.flow_cell_type.max_m_reads_per_lane }} M. Reads ({{ "%0.1f" % reads_used_pct }}%)
                                    </div>
                                    <div class="progress-bar progress-bar-striped text-dark {% if reads_used_pct <= 100 %}bg-cemm-blue{% else %}bg-cemm-red{% endif %}" style="width: {{ reads_used_pct }}%;">
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div style="width: 30%; display: flex; justify-content: flex-end; align-items: center;"><b>{{ design.workflow.display_name }} [{{ design.cycles_r1 }}-{{ design.cycles_r2 }}]</b></div>
                    </div>
                </button>
            </h2>
            <div id="design-{{ design.id }}" class="accordion-collapse collapse show" data-bs-parent="#flow-cell-design-{{ design.id }}">
                <div class="accordion-body pool-design-container">
                    {% for pool_design in design.pool_designs %}
                    <div class="pool-design cm-callback" {{
                        context_menu([
                            {"type": "hxdelete", "label": "Delete Pool Design", "disabled": false, "config": {
                                "url": url_for('design_htmx.delete_pool_design', pool_design_id=pool_design.id),
                                "title": "Delete Pool Design {pool_design.name}?".format(pool_design=pool_design)
                            },},
                        ])
                    }}>
                        <div style="width: 40%;"><b>{{ pool_design.name }}</b></div>
                        <div style="width: 20%; display: flex; justify-content: center; align-items: center;">{{ pool_design.num_m_planned_reads }}{% if pool_design.num_m_requested_reads %}M / {{ pool_design.num_m_requested_reads }}M{% endif %}</div>
                        <div style="width: 40%;">
                            <div class="btn-group">
                                {% for lane_num in range(1, design.num_lanes + 1) %}
                                <button type="button" class="btn {% if lane_num in pool_design.lanes %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    {{ lane_num }}
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div hx-get="{{ url_for('design_htmx.create_pool_design', flow_cell_design_id=design.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                        {{ spinner() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>