{% from 'components/form_group.jinja2' import form_group, select_input %}
{% from 'components/metadata_group.jinja2' import metadata_group %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="store_samples-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Confirm Samples</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div class="plating-container">
            <div class="header">
                {{ store_samples_form.plate_name() }}
                {{ store_samples_form.plate_size() }}
                <button id="plate-sort-abc" type="button" class="btn btn-primary">ABC</button>
                <button id="plate-sort-id" type="button" class="btn btn-primary">ID</button>
                <button id="plate-sort-remove" type="button" class="btn btn-danger">No Plate</button>
            </div>
            <div class="body">
                <div class="standy-list">
                    {% for _, row in sample_table.iterrows() %}
                    <div class="selectable-element" name="{{ row['name'] }}" id="s-{{ '%07d' % row['id'] }}">{{ row['name'] }}</div>
                    {% endfor %}
                    {% for _, row in library_table.iterrows() %}
                    <div class="selectable-element" name="{{ row['name'] }}" id="l-{{ '%07d' % row['id'] }}">{{ row['name'] }}</div>
                    {% endfor %}
                    {% for _, row in pool_table.iterrows() %}
                    <div class="selectable-element" name="{{ row['name'] }}" id="p-{{ '%07d' % row['id'] }}">{{ row['name'] }}</div>
                    {% endfor %}
                </div>
                <div id="plate-container" class="plate-container">
                    <div class="plate">
                        {% for row in range(0, 8) %}
                        <div class="plate-row" id="plate-row-{{row}}">
                        {% for col in range(0, 12) %}
                            <div class="plate-cell" id="plate-cell-{{row}}-{{col}}" col="{{col}}" row="{{row}}"></div>
                        {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ context }} {{ store_samples_form.file_uuid.data }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success" id="submit-store_samples-form-btn">
                Complete
            </button>
        </div>
    </div>
    <script>
        var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");
        var selected_id = null;

        function update_empty_cells() {
            $(".plate-cell:not(.filled)").each(function(){
                const col = parseInt($(this).attr("col"));
                const row = parseInt($(this).attr("row"));
                $(this).html(`<div class="empty-cell">${alphabet[row]}${col + 1}</div>`);
            });
        }

        function update_well_size() {
            const w = $("#plate-container").width();
            const h = $("#plate-container").height();

            const cell_w = w / 8;
            const cell_h = h / 12;

            $(".plate-cell").css("width", cell_w);
            $(".plate-cell").css("height", cell_h);
        }

        function select_sample(e) {
            if (e.hasClass("selected")) {
                e.removeClass("selected");
                selected_id = null;
            } else {
                selected_id = "#" + e.attr("id");
                $(".selectable-element").removeClass("selected");
                e.addClass("selected");
            }
        }

        function sort_standy_list(){
            $(".standy-list").html($(".standy-list .selectable-element").sort(function(a, b){
                return $(a).attr("name") > $(b).attr("name") ? 1 : -1;
            }));
            $(".standy-list .selectable-element").on("click", function(){
                select_sample($(this));
            });
        }

        function plate_sample(e) {
            if (e.hasClass("filled")) {
                e.children(".selectable-element").appendTo(".standy-list").off("click").on("click", function(){
                    select_sample(e);
                });
            } else {
                e.html("");
            }

            e.addClass("filled");
            $(selected_id).appendTo(e).off("click").on("contextmenu", function(ev){
                ev.preventDefault();
                deplate_sample($(this));
            });

            $(selected_id).removeClass("selected");
            selected_id = null;
            sort_standy_list();
        }

        function deplate_sample(e) {
            e.parent().removeClass("filled");
            e.appendTo(".standy-list").off("click").on("click", function(){
                select_sample(e);
            });
            sort_standy_list();
            update_empty_cells();
        }

        function deplate_all_samples() {
            $(".plate-cell").each(function(){
                deplate_sample($(this).children(".selectable-element"));
            });
        }

        $(document).ready(function(){
            window.onbeforeunload = function() {
                return "Data will be lost if you leave the page, are you sure?";
            };
            update_empty_cells();
            $(".selectable-element").on("click", function(){
                select_sample($(this));
            });

            $(".plate-cell").on("click", function(){
                if (selected_id) {
                    plate_sample($(this));
                }
            });
        });

        $("#plate-sort-remove").on("click", function(){
            deplate_all_samples();
        });

        $("#plate-sort-abc").on("click", function(){
            $(".plate-cell .selectable-element").each(function() {
                deplate_sample($(this));
            });
            $(".standy-list").html($(".standy-list .selectable-element").sort(function(a, b){
                return $(a).attr("name") > $(b).attr("name") ? 1 : -1;
            }));
            var counter = 0;
            $(".standy-list .selectable-element").each(function(){
                const plate_cell = $(`.plate-cell:eq(${counter})`);
                selected_id = "#" + $(this).attr("id");
                plate_sample(plate_cell);
                counter++;
            });
        });

        $("#plate-sort-id").on("click", function(){
            $(".plate-cell .selectable-element").each(function() {
                deplate_sample($(this));
            });
            $(".standy-list").html($(".standy-list .selectable-element").sort(function(a, b){
                return $(a).attr("id") > $(b).attr("id") ? 1 : -1;
            }));
            var counter = 0;
            $(".standy-list .selectable-element").each(function(){
                const plate_cell = $(`.plate-cell:eq(${counter})`);
                selected_id = "#" + $(this).attr("id");
                plate_sample(plate_cell);
                counter++;
            });
        });

        $("#submit-store_samples-form-btn").on("click", function() {
            window.onbeforeunload = null;
            var plate_order = [];
            $(".plate-cell").each(function(){
                if ($(this).hasClass("filled")) {
                    plate_order.push($(this).children(".selectable-element").attr("id"));
                } else {
                    plate_order.push(null);
                }
            });
            htmx.ajax("POST", "{{ url_for('store_samples_workflow.submit') }}", {
                "target": "#store_samples-form-container",
                "swap": "outerHTML",
                "values": {
                    "file_uuid": "{{ store_samples_form.file_uuid.data }}",
                    "plate_order": JSON.stringify(plate_order),
                    "csrf_token": "{{ store_samples_form.csrf_token._value() }}",
                    "plate_name": $("#plate_name").val(),
                    {% if seq_request %}
                    seq_request_id: "{{ seq_request.id }}",
                    {% endif %}
                },
            });
        });
        init_tooltips();
    </script>
</div>
