{% from "components/search_select.jinja2" import search_select_field2 %}

<div class="modal-content" id="add-seq_request-assignee-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Add Assignee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="add-seq_request-assignee-form">
        {{ search_select_field2(form.user, url_for('users_htmx.search', insiders=True), "name") }}
        {{ form.csrf_token() }}
    </div>
    <div class="modal-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success" hx-include="#add-seq_request-assignee-form" hx-target="#add-seq_request-assignee-form-container" hx-swap="outerHTML"
                hx-post="{{ url_for('seq_requests_htmx.add_assignee_form', seq_request_id=seq_request.id) }}">Process</button>
        </div>
    </div>
</div>