{% from 'components/spreadsheet.jinja2' import spreadsheet_input %}
{% from 'components/form_group.jinja2' import switch_input %}
{% from 'components/legends.jinja2' import color_legend %}
{% from "components/legends.jinja2" import spreadsheet_error_legend with context %}

<div class="modal-content" id="kit_barcodes-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Edit Barcodes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body" id="kit_barcodes-form">
        {% if index_kit.type in [IndexType.DUAL_INDEX, IndexType.COMBINATORIAL_DUAL_INDEX] %}
        {{ switch_input(form.rc_sequence_i7) }}
        {{ switch_input(form.rc_sequence_i5) }}
        {% elif index_kit.type == IndexType.SINGLE_INDEX_I7 %}
        {{ switch_input(form.rc_sequence) }}
        {% elif index_kit.type == IndexType.TENX_ATAC_INDEX %}
        {{ switch_input(form.rc_sequence) }}
        {% endif %}
        {{ spreadsheet_input(element=form.spreadsheet) }}
    </div>
    
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ index_kit.identifier }}
        </div>
        <div class="footer-info">
            {{ spreadsheet_error_legend() }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-success submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Save
            </button>
        </div>
    </div>
</div>

<script>
    $("#submit-spreadsheet-btn").on("click", function() {
        var data = spread_sheet.getData();

        htmx.ajax("POST", "{{ url_for('index_kits_htmx.edit_barcodes', index_kit_id=index_kit.id) }}", {
            "target": "#kit_barcodes-form-container",
            "swap": "outerHTML",
            "values": {
                "spreadsheet": JSON.stringify(data),
                "columns": JSON.stringify(spread_sheet.getHeaders()),
                {% if index_kit.type in [IndexType.DUAL_INDEX, IndexType.COMBINATORIAL_DUAL_INDEX] %}
                "rc_sequence_i7": $("#rc_sequence_i7").prop("checked"),
                "rc_sequence_i5": $("#rc_sequence_i5").prop("checked"),
                {% elif index_kit.type == IndexType.SINGLE_INDEX_I7 %}
                "rc_sequence": $("#rc_sequence").prop("checked"),
                {% elif index_kit.type == IndexType.TENX_ATAC_INDEX %}
                "rc_sequence": $("#rc_sequence").prop("checked"),
                {% endif %}
                "csrf_token": "{{ form.csrf_token._value() }}",
            },
        });
    });
</script>