{% from 'components/form_group.jinja2' import form_group, select_input %}

<div class="card p-3" id="flow-cell-design-form">
    {{ form.csrf_token() }}
    <h5 data-bs-toggle="collapse" href="#flow-cell-design-form-collapse" role="button" aria-expanded="{% if form.errors %}true{% else %}false{% endif %}" aria-controls="flow-cell-design-form-collapse">
        Create Flow Cell Design
    </h5>
    <div class="collapse{% if form.errors %} show{% endif %}" id="flow-cell-design-form-collapse">
        <div class="row">
            <div class="col-6">{{ form_group(form.name) }}</div>
        </div>
        <button type="button" class="btn btn-success"
        hx-post="{{ url_for('design_htmx.create_flow_cell_design') }}"
        hx-include="#flow-cell-design-form"
        hx-target="#flow-cell-design-form"
        hx-swap="outerHTML">Add</button>
    </div>
</div>
