<div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Group</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ form.csrf_token.render() }}
        {{ form.name.render() }}
        {{ form.group_type.render() }}
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button id="submit-group-btn" class="btn btn-success"
            hx-include="#group-form" hx-target="#group-form" hx-swap="outerHTML"
            hx-post="{{ form.post_url }}">Submit</button>
        </div>
    </div>
    </div>
</div>