{% from 'components/form_group.jinja2' import form_group, select_input, form_cell %}

<div class="modal-content" id="pool-design-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Create Pool Design</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="pool-design-form">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="col-6">{{ form_group(form.pool_design_name) }}</div>
                <div class="col-6">{{ form_group(form.num_requested_reads_millions, unit="M") }}</div>
            </div>
            <div class="row">
                <div class="col-3">{{ form_group(form.r1_cycles) }}</div>
                <div class="col-3">{{ form_group(form.i1_cycles) }}</div>
                <div class="col-3">{{ form_group(form.i2_cycles) }}</div>
                <div class="col-3">{{ form_group(form.r2_cycles) }}</div>
            </div>

        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
            hx-post="{{ url_for('design_htmx.create_pool_design') }}"
            hx-include="#pool-design-form"
            hx-target="#pool-design-form-container"
            hx-swap="outerHTML">Add</button>
        </div>
    </div>
</div>