{% from "components/form_group.jinja2" import form_group, switch_input %}

<div class="modal-content" id="process_request-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Process Sequencing Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="process_request-form">
        {{ switch_input(process_request_form.assign_seq_request_to_me, class="pb-3") }}
        <div class="row">
            {{ form_group(process_request_form.response_type, class="col-4") }}
            {{ form_group(process_request_form.notification_receiver, class="col-8") }}
        </div>
        {{ form_group(process_request_form.notification_comment) }}
        {{ process_request_form.csrf_token() }}
    </div>
    <div class="modal-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success" hx-include="#process_request-form" hx-target="#process_request-form-container" hx-swap="outerHTML"
                hx-post="{{ url_for('seq_requests_htmx.process_request', seq_request_id=seq_request.id) }}">Process</button>
        </div>
    </div>
</div>