{% from 'components/form_group.jinja2' import form_group, select_input, checkbox_input %}
{% from 'components/search_select.jinja2' import search_select_field %}
{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div class="modal-content" id="select_kits-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Add Kits</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body tab-body" id="select_kits-form">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#available-kits-tab"
                    type="button" role="tab" aria-controls="available-kits-tab" aria-selected="true">
                    kits
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="selected-kits-tab-btn" data-bs-toggle="tab" data-bs-target="#selected-kits-tab"
                    type="button" role="tab" aria-controls="selected-kits-tab" aria-selected="false">
                    Selected kits ({{ selected_kits | length }})
                </button>
            </li>
        </ul>
        <div class="tab-pane fade show active" id="available-kits-tab" role="tabpanel" tabindex="0">
            <div hx-get="{{ url_for('kits_htmx.browse', workflow=workflow, protocol_id=protocol.id) }}" hx-trigger="load" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success" id="submit-select_kits-form-btn">Submit</button>
        </div>
    </div>
    <script>
        var selected_kits = {{ selected_kit_ids | tojson if selected_kit_ids else [] }};
        var num_selected_kits = {{ selected_kit_ids | length if selected_kit_ids else 0 }};

        $(document).ready(function() {
            $("#submit-select_kits-form-btn").off("click").on("click", function() {
                console.log("Submitting selected kits:", selected_kits);
                htmx.ajax("POST", "{{ post_url | safe }}", {
                    target: "#select_kits-form-container",
                    swap: "outerHTML",
                    values: {
                        csrf_token: "{{ form.csrf_token._value() }}",
                        selected_kit_ids: JSON.stringify(selected_kits),
                        {% if protocol is defined and protocol %}protocol_id: "{{ protocol.id }}",{% endif %}
                    },
                });
            });
        });
    </script>
</div>