{% from 'components/form_group.jinja2' import form_group, select_input %}
{% from 'components/search_select.jinja2' import search_select_field %}


<div class="modal-content" id="sequencer-loading-checklist-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Create Sequencer Loading Checklist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="sequencer-loading-checklist-form">
            {{ form.csrf_token() }}

            {% for subform in form.parameters %}
            <div class="row">
                {{ subform.csrf_token() }}
                {{ form_group(subform.param_label, class="col-6", readonly=True) }}
                {{ form_group(subform.param_value, class="col-6") }}
                {{ subform.var_name }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success"
            hx-include="#sequencer-loading-checklist-form" hx-target="#sequencer-loading-checklist-form-container" hx-swap="outerHTML"
            hx-post="{{ url_for('experiments_htmx.sequencer_loading_checklist', experiment_id=form.experiment.id) }}">Submit</button>
        </div>
    </div>
</div>
