{% from "components/tooltip.jinja2" import tooltip %}
<div id="index-check-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">10. Confirm Libraries</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div> 
    <div class="modal-body">
        <form id="index-check-form">
            {{ form.csrf_token() }}
            {{ form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            <table class="table table-hover table-cursor">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Status</th>
                        <th scope="col" class="col-2">Name</th>
                        <th scope="col" class="col-2">Library Type</th>
                        <th scope="col" class="col-2">Genome</th>
                        <th scope="col" class="col-1">Adapter</th>
                        {% if show_index_1 %}
                        <th scope="col" class="col-1">Index 1</th>
                        {% endif %}
                        {% if show_index_2 %}
                        <th scope="col" class="col-1">Index 2</th>
                        {% endif %}
                        {% if show_index_3 %}
                        <th scope="col" class="col-1">Index 3</th>
                        {% endif %}
                        {% if show_index_4 %}
                        <th scope="col" class="col-1">Index 4</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sample_data in samples_data %}
                    {% set sample_id = sample_data["id"] %}
                    {% if sample_data["error"] %}
                    <tr {{ tooltip(sample_data["error"], category="error") }}>
                    {% elif sample_data["warning"] %}
                    <tr {{ tooltip(sample_data["warning"], category="warning") }}>
                    {% elif sample_data["info"] %}
                    <tr {{ tooltip(sample_data["info"]) }}>
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            {% if sample_data["warning"] %}
                            ⚠️
                            {% else %}
                            ✅
                            {% endif %}
                        </td>
                        <td>{{ sample_data["name"] }}</td>
                        <td>{{ sample_data["library_type"] }}</td>
                        <td>{{ sample_data["genome"] }}</td>
                        <td>{{ sample_data["adapter"] if sample_data["adapter"] == sample_data["adapter"] }}</td>
                        {% if show_index_1 %}
                        <td class="index-cell-1">{{ sample_data["index_1"] if sample_data["index_1"] == sample_data["index_1"] }}</td>
                        {% endif %}
                        {% if show_index_2 %}
                        <td class="index-cell-2">{{ sample_data["index_2"] if sample_data["index_2"] == sample_data["index_2"] }}</td>
                        {% endif %}
                        {% if show_index_3 %}
                        <td class="index-cell-3">{{ sample_data["index_3"] if sample_data["index_3"] == sample_data["index_3"] }}</td>
                        {% endif %}
                        {% if show_index_4 %}
                        <td class="index-cell-4">{{ sample_data["index_4"] if sample_data["index_4"] == sample_data["index_4"] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.file_uuid.data }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success" hx-target="#index-check-container" hx-swap="outerHTML"
                hx-include="#index-check-form" id="index-check-form-btn"
                hx-post="{{ url_for('library_annotation_workflow.check_barcodes', seq_request_id=seq_request.id) }}">
                Submit
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#index-check-form-btn").on("click", function() {
            window.onbeforeunload = null;
        });
        init_tooltips();
    });
</script>