{% from "components/form_group.jinja2" import form_group %}
{% from "components/categorical_mapping.jinja2" import raw_label_mapping %}

<div id="pool-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">9. Describe Library-Pools</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div>
    <div class="modal-body" style="height: 100%; overflow-y: hidden;">
        <form id="pool-mapping-form">
            <ul class="nav nav-tabs" role="tablist">
                {% for sub_form in form.input_fields %}
                <li class="nav-item" role="presentation"> 
                    <button class="nav-link {{ 'active' if loop.first else '' }} {% if sub_form.errors %}text-danger{% endif %}" data-bs-toggle="tab"
                    data-bs-target="#pool-form-tab-{{ sub_form.pool_name.data.replace(' ', '_') }}" type="button" role="tab"
                    aria-controls="pool-form-tab" aria-selected="true">
                    {{ sub_form.raw_label.data }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content pt-3">
                {% for sub_form in form.input_fields %}
                <div class="tab-pane fade show {{ 'active' if loop.first else '' }}" id="pool-form-tab-{{ sub_form.pool_name.data.replace(' ', '_') }}" role="tabpanel" tabindex="{{loop.index0}}">
                    <div>
                        <div>
                            {{ sub_form.csrf_token() }}
                            {{    
                                raw_label_mapping(
                                    raw_label=sub_form.raw_label,
                                    new_label=sub_form.pool_name,
                                    token=sub_form.csrf_token
                                )
                            }}
                            {{ form_group(sub_form.num_m_reads) }}
                            <h5>Who did the pooling and library prep?</h5>
                            <div class="row">
                                {{ form_group(sub_form.contact_person_name, class="col-4") }}
                                {{ form_group(sub_form.contact_person_email, class="col-4") }}
                                {{ form_group(sub_form.contact_person_phone, class="col-4") }}
                            </div>
                        </div>
                        <div id="pool-library-list-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-2">Sample</th>
                                        <th scope="col" class="col-10">Library Types</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sample, sample_data in pool_libraries[loop.index0].items() %}
                                    <tr>
                                        <th scope="row">{{ sample }}</th>
                                        <td>
                                            <ul class="h-list">
                                            {% for library in sample_data %}
                                                <li>
                                                    {{ library["library_type"] }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {{ form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.file_uuid.data }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#pool-mapping-container" hx-swap="outerHTML"
                hx-include="#pool-mapping-form"
                hx-post="{{ url_for('library_annotation_workflow.map_pools', seq_request_id=seq_request.id) }}">
                Confirm
            </button>
        </div>
    </div>
</div>
<script>
    init_tooltips();
</script>