{% from "components/categorical_mapping.jinja2" import static_categorical_mapping %}

<div id="library-type-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">4. Map Library Types</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>For each unique 'Raw Label', select a library type from the list.</li>
            </ul>
        </div>
        <form id="library-type-category-mapping-form">
            {% for sub_form in form.input_fields %}
            {{ 
                static_categorical_mapping(
                    raw_label=sub_form.raw_label,
                    select_field=sub_form.library_type,
                    token=sub_form.csrf_token,
                )
            }}
            {% endfor %}
            {{ form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#library-type-mapping-container" hx-swap="outerHTML"
                hx-include="#library-type-category-mapping-form" id="sumit-library-type-mapping-form-btn"
                hx-post="{{ url_for('library_annotation_workflow.map_libraries', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        init_tooltips();
    </script>
</div>