{% from "components/spreadsheet.jinja2" import spreadsheet_input %}
{% from "components/legends.jinja2" import color_legend %}

<div id="feature_reference-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >7. Feature Reference Input Form</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="spreadsheet-tab-btn"
                data-bs-target="#spreadsheet-tab" type="button" role="tab"
                aria-controls="spreadsheet-tab" aria-selected="true">
                Form</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link help-tab-btn" data-bs-toggle="tab"
                data-bs-target="#help-tab" type="button" role="tab"
                aria-controls="help-tab" aria-selected="false">
                Help</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                data-bs-target="#feature-2-example-tab" type="button" role="tab"
                aria-controls="feature-2-example-tab" aria-selected="true">
                Example 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                data-bs-target="#feature-3-example-tab" type="button" role="tab"
                aria-controls="feature-3-example-tab" aria-selected="true">
                Example 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                data-bs-target="#feature-4-example-tab" type="button" role="tab"
                aria-controls="feature-4-example-tab" aria-selected="true">
                Example 3</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0">
                {{ 
                    spreadsheet_input(
                        element=form.spreadsheet,
                        target_element_id="feature_reference-form-container",
                        submit_btn_id="submit-spreadsheet-btn",
                    )
                }}
            </div>
            <div class="tab-pane fade" id="help-tab" role="tabpanel" tabindex="1">
                <div class="input-help">
                    <h5>How to?</h5>
                    <ol>
                        <li>If using a predefined <a href="{{ url_for('kits_page.feature_kits_page') }}" target="_blank">feature-kit</a> <b>for all Antibody Capture Libraries</b>: specify column <b>Kit</b></li>
                        <li>If using <b>all features</b> from a predefined <a href="{{ url_for('kits_page.feature_kits_page') }}" target="_blank">feature-kit</a>: specify columns <b>Library Name, Kit</b></li>
                        <li>If using <b>specific feature</b> from a predefined <a href="{{ url_for('kits_page.feature_kits_page') }}" target="_blank">feature-kit</a>: specify columns <b>Library Name, Kit, Feature</b></li>
                        <li>If using custom kit: specify columns <b>Library Name, Feature, Sequence, Pattern, Read</b></li>
                    </ol>
                    <h5>Modify Columns</h5>
                    <ul>
                        <li><b>Library Name</b> <span class="desc">Optional: if not specified, feature/kit is part of all antibody feature libraries, else must mach one and only one value from 'Library Name'-column from sample annotation sheet</span></li>
                        <li><b>Kit</b> <span class="desc">name of a predefined feature kit, one found in <a href="{{ url_for('kits_page.feature_kits_page') }}" target="_blank">Feature Kits</a> page</span></li>
                        <li><b>Feature</b> <span class="desc">Name of the feature</span></li>
                        <li><b>Sequence</b> <span class="desc">e.g. 'TGAGTACAGGCTCCCAAG', do not specify if using predefined kit</span></li>
                        <li><b>Pattern</b> <span class="desc">e.g. '^NNNNNNNNNNNNNNNNNNNNNN(BC)', do not specify if using predefined kit</span></li>
                        <li><b>Read</b> <span class="desc">e.g. 'R2', do not specify if using predefined kit</span></li>
                    </ul>
                    <h5>Important</h5>
                    <ul>
                        <li>If 'Library Name' column is not specified, feature or kit is assumed to be part of all antibody feature libraries from annotation form.</li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="feature-2-example-tab" role="tabpanel" tabindex="2">
                {% include "components/examples/feature-2.html" %}
            </div>
            <div class="tab-pane fade" id="feature-3-example-tab" role="tabpanel" tabindex="2">
                {% include "components/examples/feature-3.html" %}
            </div>
            <div class="tab-pane fade" id="feature-4-example-tab" role="tabpanel" tabindex="2">
                {% include "components/examples/feature-4.html" %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
            {{ color_legend(form.spreadsheet.colors) }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Submit
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();
        }); 
    </script>
</div>