{% from "components/spreadsheet.jinja2" import spreadsheet_input %}
{% from 'components/form_group.jinja2' import form_group %}
{% from "components/legends.jinja2" import color_legend %}

<div id="visium-reference-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >9. Spatial Transcriptomics Annotation</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="spreadsheet-tab-btn"
                data-bs-target="#spreadsheet-tab" type="button" role="tab"
                aria-controls="spreadsheet-tab" aria-selected="true">
                Spreadsheet</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link help-tab-btn" data-bs-toggle="tab"
                data-bs-target="#help-tab" type="button" role="tab"
                aria-controls="help-tab" aria-selected="false">
                Help</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                data-bs-target="#visium-1-example-tab" type="button" role="tab"
                aria-controls="visium-1-example-tab" aria-selected="true">
                Example 1.</button>
            </li>
        </ul>
        <div class="tab-content" id="visium-reference-form">
            {{ form_group(form.instructions) }}

            <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0">
                {{ spreadsheet_input(element=form.spreadsheet) }}
            </div>

            <div class="tab-pane fade" id="help-tab" role="tabpanel" tabindex="1">
                {% include "instructions/visium_annotation.html" %}
            </div>
            <div class="tab-pane fade" id="visium-1-example-tab" role="tabpanel" tabindex="2">
                {% include "components/examples/visium.html" %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
            {{ color_legend(form.spreadsheet.colors) }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#visium-reference-form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Next
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();

            $("#submit-spreadsheet-btn").on("click", function() {
                var data = spread_sheet.getData();

                htmx.ajax("POST", "{{ form.spreadsheet.post_url }}", {
                    "target": "#visium-reference-form-container",
                    "swap": "outerHTML",
                    "values": {
                        "spreadsheet": JSON.stringify(data),
                        "csrf_token": "{{ form.csrf_token}}",
                        "feature_kit-csrf_token": "{{ form.csrf_token}}",
                        "instructions": $("#instructions").val(),
                    },
                });
            });
        });
    </script>
</div>