{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
{% from "components/table_input.jinja2" import table_input %}

<div id="cmo-reference-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >9. Spatial Transcriptomics Annotation</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>How to?</h5>
            <ol>
                <li><a href="{{ url_for('library_annotation_workflow.download_visium_template', uuid=visium_annotation_form.file_uuid.data) }}">Download template</a></li>
                <li>Fill in the template</li>
                <li>Submit the file below</li>
            </ol>

            <h5>Modify Columns</h5>
            <ul>
                <li>Library Name <span class="desc">the library name from annotation sheet that this image belongs to</span></li>
                <li>Image <span class="desc">the filename of the image, e.g. 'sample_a.tif'</span></li>
                <li>Slide <span class="desc">the visium slide of the image, e.g. 'V01A02-123'</span></li>
                <li>Region <span class="desc">the region of the image, e.g. 'A1'</span></li>
            </ul>
        </div>
        <form id="cmo-reference-form" enctype="multipart/form-data">
            {{ visium_annotation_form.csrf_token() }}
            {{ form_group(visium_annotation_form.instructions) }}
            <div class="row">
                {{ form_group(visium_annotation_form.separator, class="col-2") }}
                {{ form_group(visium_annotation_form.file, class="col-10") }}
            </div>
            {{ visium_annotation_form.file_uuid(hidden=True, readonly=True) }}
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.file_uuid.data }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary" type="button"
                hx-include="#cmo-reference-form" hx-target="#cmo-reference-form-container" hx-swap="outerHTML"
                hx-encoding="multipart/form-data" id="submit-cmo-reference-form-btn"
                hx-post="{{ url_for('library_annotation_workflow.annotate_visium', seq_request_id=seq_request.id) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        init_tooltips();
    </script>
</div>