{% from "components/legends.jinja2" import color_legend %}
{% from 'components/form_group.jinja2' import form_group %}

<div id="sample-table-submission-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">1. Specify Libraries</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div>
    <div class="modal-body" style="height: 100%; margin: 0; overflow-y: hidden;">
        <div style="height: 100%; position: static;">
            <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab"
                    id="spreadsheet-tab-btn"
                    data-bs-target="#spreadsheet-tab" type="button" role="tab"
                    aria-controls="spreadsheet-tab" aria-selected="true">
                    Sheet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                    id="file-tab-btn"
                    data-bs-target="#file-tab" type="button" role="tab"
                    aria-controls="file-tab" aria-selected="true">
                    File</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                    data-bs-target="#help-tab" type="button" role="tab"
                    aria-controls="help-tab" aria-selected="false">
                    Help</button>
                </li>
            </ul>
            <div class="tab-content pt-1" style="height: calc(100% - 45px);">
                <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0" style="height: 100%;">
                    <div id="grid" class="spreadsheet-grid">
                        <div class="invalid-feedback-container">
                            {% if not disabled %}
                            {% for error in sas_input_form.spreadsheet_dummy.errors %}
                                <p class="">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="file-tab" role="tabpanel" tabindex="1">
                    <form id="sample-table-input-form" enctype="multipart/form-data">
                        {{ sas_input_form.csrf_token() }}
                        <div class="row">
                            {{ form_group(sas_input_form.separator, class="col-2") }}
                            {{ form_group(sas_input_form.file, class="col-8") }}
                        </div>
                    {% if type == "raw" %}
                    <a href="{{ url_for('library_annotation_workflow.download_template', type='raw') }}">
                        Download Template
                    </a>
                    {% elif type == "pooled" %}
                    <a href="{{ url_for('library_annotation_workflow.download_template', type='premade') }}">
                        Download Template
                    </a>
                    {% endif %}
                    </form>
                </div>
                <div class="tab-pane fade show" id="help-tab" role="tabpanel" tabindex="2">
                    {% if type == "raw" %}
                    {% include "workflows/library_annotation/raw_instructions.html" %}
                    {% elif type == "pooled" %}
                    {% include "workflows/library_annotation/pooled_instructions.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-id"></div>
        <div class="footer-info">
            {{ color_legend(colors) }}
        </div>
        <div class="footer-controls">
            <button type="button" id="parse-spreadsheet-btn" class="btn btn-primary">
                Parse Spreadsheet
            </button>
            <button type="button" id="parse-file-btn" class="btn btn-primary" hx-target="#sample-table-submission-container"
                hx-swap="outerHTML" hx-include="#sample-table-input-form" hx-encoding="multipart/form-data"
                hx-post="{{ url_for('library_annotation_workflow.parse_table', seq_request_id=seq_request.id, type=type) }}" style="display: none;">
                Parse File
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            window.onbeforeunload = function() {
                return "Data will be lost if you leave the page, are you sure?";
            };
            
            $("#spreadsheet-tab-btn").on("click", function() {
                $("#parse-spreadsheet-btn").show();
                $("#parse-file-btn").hide();
            });

            $("#file-tab-btn").on("click", function() {
                $("#parse-spreadsheet-btn").hide();
                $("#parse-file-btn").show();
            });
            
            var data = {{ spreadsheet_data | tojson if spreadsheet_data is defined else "[[null]]"}};
            const csrf_token = "{{ sas_input_form.csrf_token._value() }}";

            var spread_sheet = jspreadsheet(document.getElementById('grid'), {
                data: data,
                columns: [
                    {% for col in columns %}
                    {%- if col.type == "text" or col.type == "numeric" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                    {%- elif col["type"] == "dropdown" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                    {%- endif -%}
                    {% endfor %}
                ],
                minSpareRows: 10,
                style: {{ spreadsheet_style | tojson if spreadsheet_style is defined else "{}" }},
            });

            $("#parse-spreadsheet-btn").on("click", function() {
                var data = spread_sheet.getData();
                var formData = new FormData();
                formData.append("spreadsheet", JSON.stringify(data));
                formData.append("seq_request_id", {{ seq_request.id }});
                formData.append("csrf_token", csrf_token);

                htmx.ajax("POST", "{{ url_for('library_annotation_workflow.parse_table', seq_request_id=seq_request.id, type=type) }}", {
                    "target": "#sample-table-submission-container",
                    "swap": "outerHTML",
                    "values": {
                        "spreadsheet": JSON.stringify(data),
                        "seq_request_id": {{ seq_request.id }},
                        "csrf_token": csrf_token
                    },
                });
            });
        });
    </script>
</div>
