{% from 'components/form_group.jinja2' import form_group, checkbox_input %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/legends.jinja2" import color_legend %}

<div id="assay-form-submission-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Specify Assay</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if active_tab == 'help' %} active{% endif %}" data-bs-toggle="tab"
                id="form-tab-form-help-btn"
                data-bs-target="#form-tab-form-help" type="button" role="tab"
                aria-controls="form-tab-form-help" aria-selected="false">
                Help</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-form-assay-btn"
                data-bs-target="#form-tab-form-assay" type="button" role="tab"
                aria-controls="form-tab-form-assay" aria-selected="true">
                Assay Types</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if active_tab == 'form' %} active{% endif %}" data-bs-toggle="tab"
                id="form-tab-form-btn"
                data-bs-target="#form-tab-form" type="button" role="tab"
                aria-controls="form-tab-form" aria-selected="true">
                Form</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show {% if active_tab == 'help' %} show active{% endif %}" id="form-tab-form-help" role="tabpanel" tabindex="0">
                <ol>
                    <li>Select assay you want to request.</li>
                    <li>Select additional options related to the assay, if needed.</li>
                    <li>Specify additional requirements or relevant information.</li>
                    <li>10X Products: <a href="https://www.10xgenomics.com/products" target="_blank">10xgenomics.com/products</a></li>
                </ol>
            </div>
            <div class="tab-pane fade" id="form-tab-form-assay" role="tabpanel" tabindex="1">
                <ul>
                    {% for assay_type in AssayType.as_list() %}
                    <li><b>{{ assay_type.name }}</b> {% if assay_type.platform %}<span class="desc">{{ assay_type.platform }}</span>{% endif %}</li>
                    Library Types:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in assay_type.library_types %}
                        <li><span {{ tooltip(library_type.name) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% if assay_type.optional_library_types | length %}
                    Optional Assays:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in assay_type.optional_library_types %}
                        <li><span {{ tooltip(library_type.name) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade {% if active_tab == 'form' %} show active{% endif %}" id="form-tab-form" role="tabpanel" tabindex="2">
                {{ form_group(select_assay_form.assay_type) }}
                <h5>Additional Assays for 10X</h5>
                <div class="d-flex justify-contents-evenly" style="width: 100%; gap: 20px;">
                    {{ checkbox_input(select_assay_form.optional_assays.antibody_capture, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_ANTIBODY_CAPTURE.id | string) }}
                    {{ checkbox_input(select_assay_form.optional_assays.vdj_b, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_B.id | string) }}
                    {{ checkbox_input(select_assay_form.optional_assays.vdj_t, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T.id | string) }}
                    {{ checkbox_input(select_assay_form.optional_assays.vdj_t_gd, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T_GD.id | string) }}
                    {{ checkbox_input(select_assay_form.optional_assays.crispr_screening, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_CRISPR_SCREENING.id | string) }}
                </div>
                <h5>Additional Services</h5>
                <div class="d-flex justify-contents-evenly" style="width: 100%; gap: 20px;">
                    {{ checkbox_input(select_assay_form.additional_services.multiplexing, class="service-checkbox service-checkbox-multiplexing") }}
                    {{ checkbox_input(select_assay_form.additional_services.nuclei_isolation, class="service-checkbox service-checkbox-nuclei_isolation") }}
                </div>
                {{ form_group(select_assay_form.additional_info) }}
                <h5>Sample Annotation</h5>
                <div id="grid" class="spreadsheet-grid">
                    <div class="invalid-feedback-container">
                        {% for error in select_assay_form.spreadsheet_dummy.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ select_assay_form.file_uuid.data }}
        </div>
        <div class="footer-info">
            {{ color_legend(colors) }}
        </div>
        <div class="footer-controls">
            <button type="button" id="parse-spreadsheet-btn" class="btn btn-primary submit-form-btn">
                Next
            </button>
        </div>
    </div>
    <script>
        var assays = {
            {% for assay_type in AssayType.as_list() %}
            {{ assay_type.id }}: {
                optional_library_types: [
                    {% for library_type in assay_type.optional_library_types %}
                    {{ library_type.id }},
                    {% endfor %}
                ],
                multiplexing: {% if assay_type.can_be_multiplexed %}true{% else %}false{% endif %},
            },
            {% endfor %}
        };

        function update_optional_assays(assay_id) {
            const optional_library_types = assays[assay_id].optional_library_types;
            const multiplexing = assays[assay_id].multiplexing;
            
            $(".opt-checkbox input").each(function() {
                $(this).addClass("disabled");
                $(this).prop("disabled", true);
                $(this).prop("checked", false);
            });
            $(".opt-checkbox label").each(function() {
                $(this).addClass("text-muted");
            });

            if (multiplexing) {
                $(".service-checkbox-multiplexing input").each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });

                $(".service-checkbox-multiplexing label").each(function() {
                    $(this).removeClass("text-muted");
                });
            } else {
                $(".service-checkbox-multiplexing input").each(function() {
                    $(this).addClass("disabled");
                    $(this).prop("disabled", true);
                    $(this).prop("checked", false);
                });

                $(".service-checkbox-multiplexing label").each(function() {
                    $(this).addClass("text-muted");
                });
            }

            optional_library_types.forEach(function(library_type_id) {
                $(`.opt-checkbox-${library_type_id} input`).each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });

                $(`.opt-checkbox-${library_type_id} label`).each(function() {
                    $(this).removeClass("text-muted");
                });
            });
        }

        $(document).ready(function() {
            init_tooltips();
            update_optional_assays($("#assay_type").val());

            var data = {{ spreadsheet_data | tojson if spreadsheet_data is defined else "[[null]]"}};
            const csrf_token = "{{ select_assay_form.csrf_token._value() }}";

            var spread_sheet = jspreadsheet(document.getElementById('grid'), {
                data: data,
                columns: [
                    {% for col in columns %}
                    {%- if col.type == "text" or col.type == "numeric" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                    {%- elif col["type"] == "dropdown" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                    {%- endif -%}
                    {% endfor %}
                ],
                minSpareRows: 10,
                allowInsertColumn: false,
                style: {{ spreadsheet_style | tojson if spreadsheet_style is defined else "{}" }},
            });

            $("#assay_type").on("change", function() {
                update_optional_assays($(this).val());
            });

            $("#parse-spreadsheet-btn").on("click", function() {
                var data = spread_sheet.getData();

                htmx.ajax("POST", "{{ url_for('library_annotation_workflow.parse_assay_form', seq_request_id=seq_request.id) }}", {
                    "target": "#assay-form-submission-container",
                    "swap": "outerHTML",
                    "values": {
                        "file_uuid": "{{ select_assay_form.file_uuid.data }}",
                        "spreadsheet": JSON.stringify(data),
                        "csrf_token": csrf_token,
                        "additional_info": $("#additional_info").val(),
                        "assay_type": $("#assay_type").val(),
                        "optional_assays-antibody_capture": $("#optional_assays-antibody_capture").is(":checked"),
                        "optional_assays-vdj_b": $("#optional_assays-vdj_b").is(":checked"),
                        "optional_assays-vdj_t": $("#optional_assays-vdj_t").is(":checked"),
                        "optional_assays-vdj_t_gd": $("#optional_assays-vdj_t_gd").is(":checked"),
                        "optional_assays-crispr_screening": $("#optional_assays-crispr_screening").is(":checked"),
                        "optional_assays-csrf_token": "{{ select_assay_form.optional_assays.csrf_token._value() }}",
                        "additional_services-multiplexing": $("#additional_services-multiplexing").is(":checked"),
                        "additional_services-nuclei_isolation": $("#additional_services-nuclei_isolation").is(":checked"),
                        "additional_services-csrf_token": "{{ select_assay_form.additional_services.csrf_token._value() }}"
                    },
                });
            });
        });
    </script>
</div>
