{% from "components/form_group.jinja2" import form_group %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/categorical_mapping.jinja2" import raw_label_mapping %}

<div id="pool-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">10. Describe Library-Pools</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#data-submission-modal-container")></button>
    </div>
    <div class="modal-body" style="height: 100%; overflow-y: hidden;">
        <form id="pool-mapping-form">
            <ul class="nav nav-tabs" role="tablist">
                {% for sub_form in form.input_fields %}
                <li class="nav-item" role="presentation"> 
                    <button class="nav-link {{ 'active' if loop.first else '' }} {% if sub_form.errors %}text-danger{% endif %}" data-bs-toggle="tab"
                    data-bs-target="#pool-form-tab-{{ sub_form.pool_name.data.replace(' ', '_') }}" type="button" role="tab"
                    aria-controls="pool-form-tab" aria-selected="true">
                    {{ sub_form.raw_label.data }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content pt-3">
                {% for sub_form in form.input_fields %}
                <div class="tab-pane fade show {{ 'active' if loop.first else '' }}" id="pool-form-tab-{{ sub_form.pool_name.data.replace(' ', '_') }}" role="tabpanel" tabindex="{{loop.index0}}">
                    <div>
                        <div>
                            {{ sub_form.csrf_token() }}
                            {{    
                                raw_label_mapping(
                                    raw_label=sub_form.raw_label,
                                    new_label=sub_form.pool_name,
                                    token=sub_form.csrf_token
                                )
                            }}
                            {{ form_group(sub_form.num_m_reads) }}
                            <h5>Who did the pooling and library prep?</h5>
                            <div class="row">
                                {{ form_group(sub_form.contact_person_name, class="col-4") }}
                                {{ form_group(sub_form.contact_person_email, class="col-4") }}
                                {{ form_group(sub_form.contact_person_phone, class="col-4") }}
                            </div>
                        </div>
                        <div id="pool-library-list-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-2">Library</th>
                                        <th scope="col" class="col-1">Library Type</th>
                                        <th scope="col" class="col-1">Genome</th>
                                        <th scope="col" class="col-1"><span {{ tooltip("Smallest pair-wise Hamming distance between concatenated barcode sequences (I1 + I2) in the pool") }}>Hamming Dist.</span></th>
                                        {% if show_adapter %}
                                        <th scope="col" class="col-1">Adapter</th>
                                        {% endif %}
                                        {% if show_index_1 %}
                                        <th scope="col" class="col-1">Index 1</th>
                                        {% endif %}
                                        {% if show_index_2 %}
                                        <th scope="col" class="col-1">Index 2</th>
                                        {% endif %}
                                        {% if show_index_3 %}
                                        <th scope="col" class="col-1">Index 3</th>
                                        {% endif %}
                                        {% if show_index_4 %}
                                        <th scope="col" class="col-1">Index 4</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for idx, row in library_table[library_table["pool"] == pools[loop.index0]].iterrows() %}
                                    {% if row["error"] %}
                                    <tr {{ tooltip(row["error"], category="error") }}>
                                    {% elif row["warning"] %}
                                    <tr {{ tooltip(row["warning"], category="warning") }}>
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                        <td>{% if row["error"] %}❌{% elif row["warning"] %}⚠️{% else %}✅{% endif %} {{ row["library_name"] }}</td>
                                        <td>{{ row["library_type"] }}</td>
                                        <td>{{ row["genome_ref"] }}</td>
                                        <td {% if row["min_hamming_bases"] < 1 %}
                                        class="cemm-red"
                                        {% elif row["min_hamming_bases"] < 2 %}
                                        class="cemm-yellow"
                                        {% else %}
                                        class="cemm-green"
                                        {% endif %}>{{ row["min_hamming_bases"] }} bp <span class="desc">{{ "%0.2f" % row["min_hamming_dist"] }}</span></td>
                                        {% if show_adapter %}
                                        <td>{{ row["adapter"] if row["adapter"] }}</td>
                                        {% endif %}
                                        {% if show_index_1 %}
                                        <td class="index-cell-1">{{ row["index_1"] if row["index_1"] }}</td>
                                        {% endif %}
                                        {% if show_index_2 %}
                                        <td class="index-cell-2">{{ row["index_2"] if row["index_2"] }}</td>
                                        {% endif %}
                                        {% if show_index_3 %}
                                        <td class="index-cell-3">{{ row["index_3"] if row["index_3"] }}</td>
                                        {% endif %}
                                        {% if show_index_4 %}
                                        <td class="index-cell-4">{{ row["index_4"] if row["index_4"] }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {{ form.file_uuid(hidden=True, readonly=True) }}
            {{ form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.file_uuid.data }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#pool-mapping-container" hx-swap="outerHTML"
                hx-include="#pool-mapping-form" id="submit-pool-mapping-form-btn"
                hx-post="{{ url_for('library_annotation_workflow.map_pools', seq_request_id=seq_request.id) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        init_tooltips();
    </script>
</div>