{% from 'components/form_group.jinja2' import form_group, checkbox_input %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/legends.jinja2" import spreadsheet_error_legend with context %}

<div id="assay-form-submission-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">2. Specify Assay</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="form-tab-form-btn"
                data-bs-target="#form-tab-form" type="button" role="tab"
                aria-controls="form-tab-form" aria-selected="true">
                Form</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-form-help-btn"
                data-bs-target="#form-tab-form-help" type="button" role="tab"
                aria-controls="form-tab-form-help" aria-selected="false">
                Help</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-form-assay-btn"
                data-bs-target="#form-tab-form-assay" type="button" role="tab"
                aria-controls="form-tab-form-assay" aria-selected="true">
                Assay Types</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="form-tab-form" role="tabpanel" tabindex="0">
                {{ form_group(form.assay_type) }}
                {{ form.csrf_token() }}
                {{ form.optional_assays.csrf_token() }}
                {{ form.additional_services.csrf_token() }}
                <h5>Additional Assays for 10X</h5>
                <div class="d-flex justify-contents-evenly" style="width: 100%; gap: 20px;">
                    {{ checkbox_input(form.optional_assays.antibody_capture, class="opt-checkbox opt-checkbox-{} opt-checkbox-{}".format(LibraryType.TENX_ANTIBODY_CAPTURE.id, LibraryType.TENX_SC_ABC_FLEX.id)) }}
                    {{ checkbox_input(form.optional_assays.vdj_b, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_B.id | string) }}
                    {{ checkbox_input(form.optional_assays.vdj_t, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T.id | string) }}
                    {{ checkbox_input(form.optional_assays.vdj_t_gd, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T_GD.id | string) }}
                    {{ checkbox_input(form.optional_assays.crispr_screening, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_CRISPR_SCREENING.id | string) }}
                </div>
                <h5>Additional Services</h5>
                <div class="d-flex justify-contents-evenly" style="width: 100%; gap: 20px;">
                    {{ checkbox_input(form.additional_services.multiplexing, class="service-checkbox service-checkbox-multiplexing") }}
                    {{ checkbox_input(form.additional_services.nuclei_isolation, class="service-checkbox service-checkbox-nuclei_isolation") }}
                </div>
                {{ form_group(form.additional_info) }}
            </div>
            <div class="tab-pane fade show" id="form-tab-form-help" role="tabpanel" tabindex="1">
                <ol>
                    <li>Select assay you want to request.</li>
                    <li>Select additional options related to the assay, if needed.</li>
                    <li>Specify additional requirements or relevant information.</li>
                    <li>10X Products: <a href="https://www.10xgenomics.com/products" target="_blank">10xgenomics.com/products</a></li>
                </ol>
            </div>
            <div class="tab-pane fade" id="form-tab-form-assay" role="tabpanel" tabindex="2">
                <ul>
                    {% for assay_type in AssayType.as_list() %}
                    <li><b>{{ assay_type.name }}</b> {% if assay_type.platform %}<span class="desc">{{ assay_type.platform }}</span>{% endif %}</li>
                    Library Types:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in assay_type.library_types %}
                        <li><span {{ tooltip(library_type.name) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% if assay_type.optional_library_types | length %}
                    Optional Assays:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in assay_type.optional_library_types %}
                        <li><span {{ tooltip(library_type.name) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#assay-form-submission-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button type="button" class="btn btn-primary submit-form-btn"
            hx-target="#assay-form-submission-container" hx-swap="outerHTML" hx-include="#form-tab-form"
            hx-post="{{ url_for('library_annotation_workflow.parse_assay_form', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        var assays = {
            {% for assay_type in AssayType.as_list() %}
            {{ assay_type.id }}: {
                optional_library_types: [
                    {% for library_type in assay_type.optional_library_types %}
                    {{ library_type.id }},
                    {% endfor %}
                ],
                multiplexing: {% if assay_type.can_be_multiplexed %}true{% else %}false{% endif %},
            },
            {% endfor %}
        };

        function update_optional_assays(assay_id) {
            const optional_library_types = assays[assay_id].optional_library_types;
            const multiplexing = assays[assay_id].multiplexing;
            
            $(".opt-checkbox input").each(function() {
                $(this).addClass("disabled");
                $(this).prop("disabled", true);
                $(this).prop("checked", false);
            });
            $(".opt-checkbox label").each(function() {
                $(this).addClass("text-muted");
            });

            if (multiplexing) {
                $(".service-checkbox-multiplexing input").each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });

                $(".service-checkbox-multiplexing label").each(function() {
                    $(this).removeClass("text-muted");
                });
            } else {
                $(".service-checkbox-multiplexing input").each(function() {
                    $(this).addClass("disabled");
                    $(this).prop("disabled", true);
                    $(this).prop("checked", false);
                });

                $(".service-checkbox-multiplexing label").each(function() {
                    $(this).addClass("text-muted");
                });
            }

            optional_library_types.forEach(function(library_type_id) {
                $(`.opt-checkbox-${library_type_id} input`).each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });

                $(`.opt-checkbox-${library_type_id} label`).each(function() {
                    $(this).removeClass("text-muted");
                });
            });
        }

        $(document).ready(function() {
            init_tooltips();
            update_optional_assays($("#assay_type").val());

            $("#assay_type").on("change", function() {
                update_optional_assays($(this).val());
            });
        });
    </script>
</div>
