{% from 'components/tooltip.jinja2' import tooltip %}
<div class="form-group {{ container_class }} {% if field.hidden %}d-none{% endif %}">
    {% if not hide_label %}
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    {% endif %}
    <input
    type="file"
    class="form-control{% if field.errors %} is-invalid{% endif %}"
    aria-label="{{ field.label }}" aria-describedby="{{ field.id }}"
    id="{{ field.id }}" name="{{ field.name }}"
    accept="{{ field.accept }}"
    {% if field.required %}required{% endif %}
    {% if field.read_only %}disabled{% endif %}>
    <div class="invalid-feedback-container d-block" role="alert" style="min-height: 20px; width: 100%;">
        {% if field.errors %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% else %}
        {% if field.max_size_mb %}
        <div class="form-text">Maximum file size: {{ field.max_size_mb }} MB</div>
        {% endif %}
        {% endif %}
    </div>
</div>