{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/metadata_group.jinja2' import metadata_group %}
<form id="complete-register-form">
    {{ complete_registration_form.csrf_token() }}
    <div class="row">
        {{ metadata_group("Email", email, class="col") }}
        {{ metadata_group("Role", user_role.name, class="col") }}
    </div>
    <div class="row">
        {{ form_group(complete_registration_form.first_name, class="col") }}
        {{ form_group(complete_registration_form.last_name, class="col") }}
    </div>
    <div class="row">
        {{ form_group(complete_registration_form.password, class="col") }}
        {{ form_group(complete_registration_form.confirm, class="col") }}
    </div>
    <button type="button" class="btn btn-primary"
    hx-target="#complete-register-form" hx-swap="outerHTML"
    hx-post="{{ url_for('auth_htmx.complete_registration', token=token) }}">Register</button>
</form>