{% from 'components/spreadsheet.jinja2' import complete_spreadsheet %}
{% from 'components/form_group.jinja2' import switch_input %}

<div class="modal-content" id="kit_barcodes-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Edit Barcodes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body" id="kit_barcodes-form">
        {{ switch_input(form.rc_sequence_i7) }}
        {% if index_kit.type == IndexType.DUAL_INDEX %}
        {{ switch_input(form.rc_sequence_i5) }}
        {% endif %}
        {{
            complete_spreadsheet(
                element=form.spreadsheet,
                columns=columns,
                style=spreadsheet_style,
            ) 
        }}
    </div>
    
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ index_kit.identifier }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Save
            </button>
        </div>
    </div>
</div>

<script>
    $("#submit-spreadsheet-btn").on("click", function() {
        var data = spread_sheet.getData();

        htmx.ajax("POST", "{{ url_for('index_kits_htmx.edit_barcodes', index_kit_id=index_kit.id) }}", {
            "target": "#kit_barcodes-form-container",
            "swap": "outerHTML",
            "values": {
                "spreadsheet": JSON.stringify(data),
                "rc_sequence_i7": $("#rc_sequence_i7").prop("checked"),
                "rc_sequence_i5": $("#rc_sequence_i5").prop("checked"),
                "csrf_token": "{{ form.csrf_token._value() }}",
            },
        });
    });
</script>