{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}
{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}

<form id="edit-index-form">
    {{ index_form.csrf_token }}
    {{ metadata_group("Sample", sample.name if sample) }}
    {{ index_form.sample(readonly=True, id="library-sample-edit") }}


    <div class="barcodes-container">
        {% for index_seq_form in index_form.barcodes %}
            <div class="form-group">
                {{ index_seq_form.sequence.label }}
                {{ 
                    index_seq_form.index_seq_id(
                        value=index_seq_form.index_seq_id.data if index_seq_form.index_seq_id.data else '',
                        readonly=True, hidden=False
                    ) 
                }}
                {{ index_seq_form.sequence(class="form-control", readonly=True) }}
                {{ index_seq_form.csrf_token() }}
            </div>
        {% endfor %}
    </div>
</form>