{% from 'components/spreadsheet.jinja2' import spreadsheet_input %}
{% from "components/legends.jinja2" import color_legend %}

<div id="sample_attribute_table_form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Sample Attributes</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#xl-modal")></button>
    </div>
    <div class="modal-body">
        {{ sample_attribute_table_form.csrf_token() }}
        {{ 
            spreadsheet_input(
                element=sample_attribute_table_form.spreadsheet,
                submit_btn_id="submit-spreadsheet-btn",
                target_element_id="sample_attribute_table_form-container",
            )
        }}
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ project.name }}
        </div>
        <div class="footer-info">
            {{ color_legend(sample_attribute_table_form.spreadsheet.colors) }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-success submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Save
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();
        });
    </script>
</div>