{% from "components/tooltip.jinja2" import tooltip %}

<div id="index-check-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Confirm Samples</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> 
    <div class="modal-body">
        <div class="input-help">
            <p>Hover row to see additional info</p>
        </div>
        <form id="index-check-form">
            {{ barcode_check_form.csrf_token() }}
            {{ barcode_check_form.file_uuid(hidden=True, readonly=True) }}
            <table class="table table-hover table-cursor">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Status</th>
                        <th scope="col" class="col-2">Name</th>
                        <th scope="col" class="col-2">Library Type</th>
                        <th scope="col" class="col-1">Adapter</th>
                        {% if show_index_1 %}
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_1(class="form-check-input reverse-complement",) }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 1
                        </th>
                        {% endif %}
                        {% if show_index_2 %}
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_2(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 2
                        </th>
                        {% endif %}
                        {% if show_index_3 %}
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_3(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 3
                        </th>
                        {% endif %}
                        {% if show_index_4 %}
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_4(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 4
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for library_data in libraries_data %}
                    {% set library = library_data["library"] %}
                    {% if library_data["error"] %}
                    <tr {{ tooltip(library_data["error"], category="error") }}>
                    {% elif library_data["warning"] %}
                    <tr {{ tooltip(library_data["warning"], category="warning") }}>
                    {% elif library_data["info"] %}
                    <tr {{ tooltip(library_data["info"]) }}>
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            {% if library_data["warning"] %}
                            ⚠️
                            {% else %}
                            ✅
                            {% endif %}
                        </td>
                        <td>{{ library.name }}</td>
                        <td>{{ library.type.abbreviation }}</td>
                        <td>{{ library_data["adapter"] if library_data["adapter"] }}</td>
                        {% if show_index_1 %}
                        <td class="index-cell-1">{{ library_data["index_1"] if library_data["index_1"] == library_data["index_1"] }}</td>
                        {% endif %}
                        {% if show_index_2 %}
                        <td class="index-cell-2">{{ library_data["index_2"] if library_data["index_2"] == library_data["index_2"] }}</td>
                        {% endif %}
                        {% if show_index_3 %}
                        <td class="index-cell-3">{{ library_data["index_3"] if library_data["index_3"] == library_data["index_3"] }}</td>
                        {% endif %}
                        {% if show_index_4 %}
                        <td class="index-cell-4">{{ library_data["index_4"] if library_data["index_4"] == library_data["index_4"] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <div class="footer-controls">
            <button type="button" class="btn btn-success" hx-target="#index-check-container" hx-swap="outerHTML"
                hx-include="#index-check-form" id="index-check-form-btn"
                hx-post="{{ url_for('library_pooling_workflow.add_indices', experiment_id=experiment.id) }}">
                Submit
            </button>
            <a class="btn btn-danger" type="button"
                href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}">
                Cancel
            </a>
        </div>
    </div>
</div>
<script>
    init_tooltips();
    $(".reverse-complement").on("change", function(e) {
        const splitted = e.target.id.split("_");
        var index = splitted[splitted.length - 1];
        $(`.index-cell-${index}`).each(function() {
            $(this).text(reverse_complement($(this).text()));
        });
    });
</script>