{% from "components/form_group.jinja2" import form_group %}
{% from "components/tooltip.jinja2" import tooltip %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Select Libraries</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#xl-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" id="auth-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="available-tab-btn" data-bs-toggle="tab" data-bs-target="#available-tab"
                    type="button" role="tab" aria-controls="available-tab" aria-selected="true">
                    Available
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="selected-tab-btn" data-bs-toggle="tab" data-bs-target="#selected-tab"
                    type="button" role="tab" aria-controls="selected-tab" aria-selected="false">
                    Selected ({{ selected_libraries | length }})
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pooled-tab-btn" data-bs-toggle="tab" data-bs-target="#pooled-tab"
                    type="button" role="tab" aria-controls="pooled-tab" aria-selected="false">
                    Pooled ({{ libraries | length }})
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="invalid-feedback-container">
                {% for error in library_pooling_form.selected_library_ids.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="tab-pane fade show active" id="available-tab" role="tabpanel" tabindex="0">
                <div class="library_pooling-form"
                {% if seq_request_id %}
                hx-get="{{ url_for('library_pooling_workflow.get_libraries', seq_request_id=seq_request_id) }}"
                {% else %}
                hx-get="{{ url_for('library_pooling_workflow.get_libraries') }}"
                {% endif %} hx-trigger="intersect once">
                </div>
            </div>
            <div class="tab-pane fade" id="selected-tab" role="tabpanel" tabindex="1">
                <table class="table table-hover table-cursor">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Owner</th>
                        </tr>
                    </thead>
                    <tbody id="selected-table-container">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pooled-tab" role="tabpanel" tabindex="1">
                <table class="table table-hover table-cursor">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Owner</th>
                        </tr>
                    </thead>
                    <tbody id="pooled-table-container">
                        {% for library in libraries %}
                        <tr onclick="toggle_library({{ library.id }});" id="current-library-row-{{ library.id }}" class="library-row current">
                            <th scope="row">{{ library.id }}</th>
                            <td>{{ library.name }}</td>
                            <td>
                                <span {{ tooltip(library.type.name) }}>
                                    {{ library.type.abbreviation }}
                                </span>
                            </td>
                            <td>{{ library.status.name }} {{ library.status.icon }}</td>
                            <td>{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-success" id="submit-library_pooling-form-btn">Save</button>
        </div>
    </div>
    <script>
        init_tooltips();
        var selected_libraries = [];
        var removed_libraries = [];
        var current_libraries = {{ current_libraries | tojson }};
        var num_selected = 0;
        var num_pooled = {{ libraries | length }};
        console.log(current_libraries);
        
        window.onbeforeunload = function() {
            return "Data will be lost if you leave the page, are you sure?";
        };

        $("#submit-library_pooling-form-btn").click(function() {
            window.onbeforeunload = null;
        });

    
        function toggle_library(library_id) {
            if (selected_libraries.includes(library_id)) {
                selected_libraries = selected_libraries.filter(function(value, index, arr) {
                    return value != library_id;
                });

                $(`#library-row-${library_id}`).removeClass("selected");
                $(`#selected-library-row-${library_id}`).remove();
                num_selected -= 1;
            } else if (current_libraries.includes(library_id)) {
                removed_libraries.push(library_id);
                current_libraries = current_libraries.filter(function(value, index, arr) {
                    return value != library_id;
                });
                $(`#current-library-row-${library_id}`).removeClass("current").addClass("removed");
                num_pooled -= 1;
            } else if (removed_libraries.includes(library_id)) {
                removed_libraries = removed_libraries.filter(function(value, index, arr) {
                    return value != library_id;
                });
                current_libraries.push(library_id);
                $(`#current-library-row-${library_id}`).removeClass("removed").addClass("current");
                num_pooled += 1;
            } else {
                selected_libraries.push(library_id);
                $(`#library-row-${library_id}`).addClass("selected");

                const cloned = $(`#library-row-${library_id}`).clone();
                cloned.attr("id", `selected-library-row-${library_id}`);
                $("#selected-table-container").append(cloned);
                num_selected += 1;
            }

            $("#selected-tab-btn").text(`Selected (${num_selected})`);
            $("#pooled-tab-btn").text(`Pooled (${num_pooled})`);
        }

        function update_libraries() {
            $(".library-row").each(function() {
                const library_id = parseInt($(this).attr("id").split("-").pop());
                if (selected_libraries.includes(library_id)) {
                    $(this).removeClass("removed current selected").addClass("selected");
                }
                if (current_libraries.includes(library_id)) {
                    $(this).removeClass("removed current selected").addClass("current");
                }
                if (removed_libraries.includes(library_id)) {
                    $(this).removeClass("removed current selected").addClass("removed");
                }
                if ($(this).hasClass("pooled")) {
                    $(this).prop("onclick", null).off("click").addClass("disabled");
                }
            });
        }

        $("#submit-library_pooling-form-btn").click(function() {
            htmx.ajax("POST", "{{ url_for('library_pooling_workflow.select_libraries', pool_id=pool.id) }}", {
                target: "#library_pooling-form-container",
                swap: "outerHTML",
                values: {
                    csrf_token: "{{ library_pooling_form.csrf_token._value() }}",
                    selected_library_ids: JSON.stringify(selected_libraries),
                    removed_library_ids: JSON.stringify(removed_libraries),
                    {% if seq_request_id %}
                    seq_request_id: "{{ seq_request_id }}"
                    {% endif %}
                },
            });
        });

        $(document).ready(function() {
            update_libraries();
        });
    </script>
</div>