{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="index_kit-mapping-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Map Index Kits</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="index_kit-mapping-form">
            {% for sub_form in index_kit_mapping_form.input_fields %}
            {{    
                categorical_mapping(
                    raw_label=sub_form.raw_label,
                    category=sub_form.index_kit,
                    query_url=url_for('barcodes_htmx.query_index_kits'),
                    token=sub_form.csrf_token,
                )
            }}
            {% endfor %}
            {{ index_kit_mapping_form.file_uuid(hidden=True, readonly=True) }}
            {{ index_kit_mapping_form.csrf_token() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#index_kit-mapping-form-container" hx-swap="outerHTML"
                hx-include="#index_kit-mapping-form"
                hx-post="{{ url_for('library_pooling_workflow.map_index_kits', experiment_id=experiment.id) }}">
                Map Index Kits
            </button>
            
            <a class="btn btn-danger" type="button"
                href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}">
                Cancel
            </a>
        </div>
    </div>
</div>