{% from "components/form_group.jinja2" import form_group %}
{% from 'components/search_select.jinja2' import search_select_field %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >1. Define Pool</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div id="library_pooling-form">
            {{ library_pooling_form.csrf_token() }}
            {{ library_pooling_form.seq_request_id() }}
            <div class="row">
                {{ form_group(library_pooling_form.pool_name, class="col-6") }}
                {{
                    search_select_field(
                        library_pooling_form.contact_person,
                        query_url=url_for('users_htmx.query', only_insiders=True),
                        class="col-6"
                    )
                }}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary" hx-include="#library_pooling-form" hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                hx-post="{{ url_for('library_pooling_workflow.define_pool') }}">Next</button>
        </div>
    </div>
    <script>
        init_tooltips();
    </script>
</div>