{% from "components/form_group.jinja2" import form_group %}
{% from "components/categorical_mapping.jinja2" import raw_label_mapping %}

<div id="pool-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Describe Libraries/Pools</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style="height: 100%; overflow-y: hidden;">
        <form id="pool-mapping-form">
            <ul class="nav nav-tabs" role="tablist">
                {% for sub_form in pool_mapping_form.input_fields %}
                <li class="nav-item" role="presentation"> 
                    <button class="nav-link {{ 'active' if loop.first else '' }} {% if sub_form.errors %}text-danger{% endif %}" data-bs-toggle="tab"
                    data-bs-target="#pool-form-tab-{{ sub_form.pool_name.data }}" type="button" role="tab"
                    aria-controls="pool-form-tab" aria-selected="true">
                    {{ sub_form.raw_label.data }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content pt-3">
                {% for sub_form in pool_mapping_form.input_fields %}
                <div class="tab-pane fade show {{ 'active' if loop.first else '' }}" id="pool-form-tab-{{ sub_form.pool_name.data }}" role="tabpanel" tabindex="{{loop.index0}}">
                    <div>
                        <div>
                        {{ sub_form.csrf_token() }}
                        {{    
                            raw_label_mapping(
                                raw_label=sub_form.raw_label,
                                new_label=sub_form.pool_name,
                                token=sub_form.csrf_token
                            )
                        }}
                        <h5>Who did the pooling?</h5>
                        <div class="row">
                            {{ form_group(sub_form.contact_person_name, class="col-4") }}
                            {{ form_group(sub_form.contact_person_email, class="col-4") }}
                            {{ form_group(sub_form.contact_person_phone, class="col-4") }}
                        </div>
                        </div>
                        <div id="pool-library-list-container">
                            <table class="table table-hover table-cursor">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-1">ID</th>
                                        <th scope="col" class="col-2">Name</th>
                                        <th scope="col" class="col-2">Library Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for library in pool_libraries[loop.index0] %}
                                    <tr>
                                        <th scope="row">{{ library.id }}</th>
                                        <td>{{ library.name }}</td>
                                        <td>{{ library.type.abbreviation }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {{ pool_mapping_form.file_uuid(hidden=True, readonly=True) }}
            {{ pool_mapping_form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
                hx-target="#pool-mapping-container" hx-swap="outerHTML"
                hx-include="#pool-mapping-form"
                hx-post="{{ url_for('library_pooling_workflow.map_pools', experiment_id=experiment.id) }}">
                Confirm
            </button>
            <a class="btn btn-danger" type="button"
                href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}">
                Cancel
            </a>
        </div>
    </div>
</div>
<script>
    init_tooltips();
</script>