<div class="modal-content assay-type-todo-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5">{{ assay_type.abbreviation }}</h1>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="banner-container">
            {% for seq_request, _df in df.groupby("seq_request", sort=False) %}
            <a class="element-banner" href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}">
                <div class="banner-title">
                    <div class="row title-row">
                        <div class="title col-4">{{ seq_request.name }}</div>
                        <div class="col-4">{{ seq_request.requestor.name }}</div>
                        <div class="col-4">{{ seq_request.status.name }} {{ seq_request.status.icon }}</div>
                    </div>
                    <div class="row title-row">
                        <div class="col-6">
                            {% for library_type, __df in _df.groupby("library_type", sort=False) %}
                            <span class="badge">{{ library_type.abbreviation }}: {{ __df.shape[0] }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <span class="badge">Waiting: {{ (_df["status"] == LibraryStatus.ACCEPTED).sum() }} {{ LibraryStatus.ACCEPTED.icon }}</span>
                            <span class="badge">Preparing: {{ (_df["status"] == LibraryStatus.PREPARING).sum() }} {{ LibraryStatus.PREPARING.icon }}</span>
                            <span class="badge">Stored: {{ (_df["status"] == LibraryStatus.STORED).sum() }} {{ LibraryStatus.STORED.icon }}</span>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>