{% macro color_legend(colors) -%}
<div class="color-legend pt-2 pb-2">
    {% for label, color in colors.items() %}
    <span class="legend-unit">
        <div class="color-square" style="background-color: {{ color }};"></div>
        <div class="color-label">{{ label.replace("_", " ").title() }}</div>
    </span>
    {% endfor %}
</div>
{%- endmacro %}