{% macro comments_tab(context, comments) -%}
<div class="page-header">
    <div>
        <h2>Comments</h2>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-bs-target="#{{context}}-comment-form-popup"
            data-bs-toggle="modal">
            New Comment
        </button>
    </div>
</div>
<div class="comment-container p-3">
    {% for comment in comments %}
    <div class="row">
        {% if comment.author_id == current_user.id %}
        <div class="col-4"></div>
        {% endif %}
        <div class="card col-8">
            <div class="comment-header">
                <p class="text title">
                {{ comment.author.role.value.description | safe }} {{ comment.author.name }}
                <span class="desc">{{ comment.author.role.value.name }}</span>
            </p>
                <p class="text text-muted">{{ comment.timestamp_to_str() }}</p>
            </div>
            <div class="comment-body">
                <p class="text">{{ comment.text }}</p>
            </div>
            <div class="comment-footer">
                {% if comment.file_id %}
                <p class="text text-muted">Attachment: 📎 <button class="btn info" onclick="open_tab({{comment.file_id}})">File</button></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
function open_tab(file_id) {
    $('.nav-tabs button[data-bs-target="#{{context}}-files-tab"]').tab('show');
    $('.nav-tabs button[data-bs-target="#{{context}}-file-' + file_id + '-tab"]').tab('show');
}
</script>
{%- endmacro %}
