{% macro pagination(target_id, url, n_pages, active_page, url_args={}) -%}
{% if (n_pages and n_pages > 1)  %}
<ul class="pagination">
    <li class="page-item">
        <a class="page-link" hx-include="#{{target_id}}"
        hx-target="#{{target_id}}" hx-swap="outerHTML"
        hx-get="{{ url_for(url, page=0, **url_args) }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {% set active_page = active_page | int %}
    {% set min_page = [0, active_page -3] | max %}
    {% set max_page = [n_pages, active_page + 7 + min_page-active_page] | min %}
    {% set min_page = [0, active_page -7 + max_page-active_page ] | max %}
    {% for i in range(min_page, max_page)  %}
        <li class="page-item {{ 'active' if i == active_page else '' }}">
            <a class="page-link" hx-include="#{{target_id}}"
            hx-target="#{{target_id}}" hx-swap="outerHTML"
            hx-get="{{ url_for(url, page=i, **url_args) }}">{{i+1}}</a>
        </li>
    {% endfor %}
    <li class="page-item">
        <a class="page-link" hx-include="#{{target_id}}"
        hx-target="#{{target_id}}" hx-swap="outerHTML"
        hx-get="{{ url_for(url, page=n_pages-1, **url_args) }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>

{% endif %}
{%- endmacro %}
