<div id="plate-container" class="plate-container">
    {% if plate %}
    <div class="plate">
        {% for row in range(-1, plate.num_rows) %}
        <div class="plate-row" id="plate-row-{{row}}">
        {% for col in range(-1, plate.num_cols) %}
            {% if row == -1 or col == -1 %}
            <div class="plate-header">
                {% if row == col %}
                {% elif col == -1 %}
                {{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[row] }}
                {% else %}
                {{ col + 1 }}
                {% endif %}
            </div>
            {% else %}
            {% set well_sample = plate.get_sample_xy(row, col) %}
            {% if well_sample %}
            {% if well_sample.__tablename__ == "sample" %}
            <a href="{{ url_for('samples_page.sample_page', sample_id=sample.id) }}">
            {% elif well_sample.__tablename__ == "library" %}
            <a href="{{ url_for('libraries_page.library_page', library_id=well_sample.id) }}">
            {% elif well_sample.__tablename__ == "pool" %}
            <a href="{{ url_for('pools_page.pool_page', pool_id=well_sample.id) }}">
            {% endif %}
            {% endif %}
                <div class="plate-cell {% if well_sample %}filled{% else %}empty{% endif %} {% if well_sample == sample %}selected{% endif %}" id="plate-cell-{{row}}-{{col}}" col="{{col}}" row="{{row}}">
                    {% if well_sample %}{{ well_sample.name }} [{{ well_sample.id }}]{% endif %}</span>
                </div>
            {% if well_sample %}
            </a>
            {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>Plate does not exist. You can create one in 'workflows'-tab.</h3>
    {% endif %}
</div>