{% from "components/spinner.jinja2" import spinner %}

<div class="banner-container">
{% for assay_type, _df in df.groupby("assay_type") %}
    <div type="button" class="element-banner"
     hx-get="{{ url_for('libraries_htmx.get_assay_type_todo_libraries', assay_type_id=assay_type.id) }}"
        hx-target="#assay-type-todo-modal-content" hx-swap="innerHTML" data-bs-target="#assay-type-todo-modal" data-bs-toggle="modal">
        <div class="row">
            <div class="title col-6">{{ assay_type.abbreviation }}</div>
            <div class="col-6">
                <span class="badge">Waiting: {{ (_df["status"] == LibraryStatus.ACCEPTED).sum() }}</span>
                <span class="badge">Preparing: {{ (_df["status"] == LibraryStatus.PREPARING).sum() }}</span>
                <span class="badge">Ready:{{ (_df["status"] == LibraryStatus.STORED).sum() }}</span>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="modal fade" id="assay-type-todo-modal" aria-hidden="true" tabindex="-1" data-bs-keyboard="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered" id="assay-type-todo-modal-content">
        {{ spinner() }}
    </div>
</div>