{% macro spinner(id=none) -%}
<div class="htmx-indicator" style="width: 100%; overflow: hidden;" {% if id %}id="{{ id }}"{% endif %}>
    <div class="spinner-border cemm-blue" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endmacro %}