{% from "components/multi_select.jinja2" import multi_select %}

{% macro table_col(table_container_id, column_name, column_var, sort_url=none, sort_by=none, sort_order=none, query_url=none, current_query=none, active_query_field=none, multiselect_choices=none, multiselect_selected=none, query_type="text", col_size=1, context={}, active_page=0) -%}
<th scope="col" class="col-{{ col_size}} sortable-col {{ sort_order }} {{ 'query-col' if query_url else '' }}"
id="{{ table_container_id }}:{{ column_var }}"
{% if current_query and column_var == active_query_field %}style="display: none;"{% endif %}
{% if multiselect_selected %}style="display: none;"{% endif %}
field="{{ column_var }}"
is-current-sort={% if column_var == sort_by %}true{% else %}false{% endif %}
sort-order="{{ sort_order }}">
{{ column_name }}
{% if sort_url %}
    <a class="sort-btn" type="button" role="button" id="{{ table_container_id }}:{{ column_var }}-sort-btn"
    onclick="table_sort('{{ url_for(sort_url, page=active_page | float | int, **context) }}', '{{ table_container_id }}', '{{ column_var }}')">
        {% if column_var == sort_by %}
            {% if sort_order == 'desc' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
            </svg>
            {% endif %}
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
        </svg>
        {% endif %}
    </a>
    {% endif %}

    {% if query_url %}
    <a type="button" role="button" class="search-btn" onclick="show_query_col('{{ table_container_id }}:{{ column_var }}')">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </a>
    {% endif %}
    {% if multiselect_choices %}
    <a type="button" role="button" class="search-btn" onclick="show_filter_col('{{ table_container_id }}:{{ column_var }}')">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
        </svg>
    </a>
    {% endif %}
</th>

{% if query_url %}
<th scopy='col' class='col-{{ col_size}} temp-query-input' id='{{ table_container_id }}:{{ column_var }}-query'
    {% if not (current_query and column_var == active_query_field) %}
    style="display: none;"{% endif %}>
    <input type='{{ query_type }}' class='form-control table-query-input' placeholder='{{ column_name }}'
    id='{{ table_container_id }}-{{ column_var }}-query-input' role='presentation' autocomplete='off' type='search'
    {% if current_query and column_var == active_query_field %}value="{{ current_query }}"{% endif %}>
</th>
<script>
    $("#{{ table_container_id }}-{{ column_var }}-query-input").on("keyup", function(e) {
        if (e.which == 13) {
            table_query('{{ url_for(query_url, **context) }}', '{{ table_container_id }}', '{{ column_var }}', e.target.value);
        }
    });
</script>
{% endif %}

{% if multiselect_choices %}
<th scopy='col' class='col-{{ col_size}} temp-query-input' id='{{ table_container_id }}:{{ column_var }}-filter'
    {% if not multiselect_selected %}style="display: none;"{% endif %}>
    {{
        multi_select(
            choices=multiselect_choices,
            field_name=column_var,
            url=url_for(sort_url, page=active_page | float | int, **context),
            table_container_id=table_container_id,
            selected=multiselect_selected
        )
    }}
</th>
{% endif %}
{%- endmacro %}