::-webkit-scrollbar {
    width: 10px;
    position: static;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}