{% extends "base.html" %}
{% set active_page = "barcodes-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Index Kits</h1>
        </div>
        <div>
            <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#index_kit-form-popup">
                New Index Kit
            </button>
        </div>
    </div>
    {% include "components/tables/index_kit.html" %}

    <div class="modal fade" id="index_kit-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="">New Project</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" id="popup-footer">
                <button id="submit-project-btn" class="btn btn-primary"
                hx-include="#project-form" hx-target="#project-form" hx-swap="outerHTML"
                hx-post="{{ url_for('projects_htmx.create') }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}