{% extends "template.html" %}
{% set active_page = "jobs-page" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Job Name
        </div>
        <div class="col">
            Job Id
        </div>
        <div class="col">
            Slurm Id
        </div>
        <div class="col">
            Job Status
        </div>
    </div>
    <form method="POST" action="{{ url_for('jobs_page.jobs_page') }}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                {{ form.name(class="form-control", placeholder="Job Name") }}
            </div>
            <div class="col">
                Job Id
            </div>
            <div class="col">
                Slurm Id
            </div>
            <div class="col">
                Job Status
            </div>
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% for job in jobs %}
    <div class="row">
        <div class="col">
            {{ job.name }}
        </div>
        <div class="col">
            {{ job.id }}
        </div>
        <div class="col">
            {{ job.slurm_id }}
        </div>
        <div class="col">
            {{ job.status }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}