{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% extends "base.html" %}
{% set active_page = "libraries-page" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>Library: {{ library.name }}</h1>
        </div>
        <div>
            <span
                {% if not library.is_editable() %}
                data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Library cannot be edited after samples have been added."
                {% endif %}>
                <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#library-form-popup" {{ "disabled" if not library.is_editable() }}>
                    Edit Library
                </button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-samples-tab" type="button" role="tab"
            aria-controls="library-samples-tab" aria-selected="true">
            Samples</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-metadata-tab" type="button" role="tab"
            aria-controls="library-metadata-tab" aria-selected="false">
            Metadata</button>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-samples-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Samples</h2>
                </div>
                <div>
                    <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sample-form-popup">
                        Add Sample
                    </button>
                    <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sample-table-form-popup">
                        Add Table
                    </button>
                </div>
            </div>
            {% include "components/tables/library-sample.html" %}
        </div>
        <div class="tab-pane fade show" id="library-metadata-tab" role="tabpanel" tabindex="1">
            <div class="row">
                {{ metadata_group("Name", library.name, class="col") }}
                {{ metadata_group("Type", library.library_type.value.name, class="col") }}
            </div>
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        library.owner.first_name + " " + library.owner.last_name,
                        url_for("user_page.user_page", user_id=library.owner.id),
                        class="col"
                    )
                }}
                {{
                    metadata_group_email_link(
                        "Owner Email", library.owner.email, class="col",
                        subject="BSF Library: " + library.name + " (" + library.id | string + ")"
                    )
                }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="">Edit Library</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "forms/library.html" %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary"
                hx-include="#library-form" hx-target="#library-form" hx-swap="outerHTML"
                hx-post="{{ url_for('libraries_htmx.edit', library_id=library.id) }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="sample-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="">Add Sample</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "forms/index.html" %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary"
                hx-include="#index-form"
                hx-target="#index-form"
                hx-swap="outerHTML"
                hx-post="{{ url_for('libraries_htmx.add_sample', library_id=library.id) }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="sample-table-form-popup" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
        {% include "components/popups/library/table.html" %}
        </div>
    </div>

</div>
<script type="text/javascript">
</script>
{% endblock content %}