{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}
{% extends "base.html" %}
{% set active_page = "libraries-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Library: {{ library.sample.name }} <span class="desc">{{ library.type.value.description }}</span></h1>
        </div>
        <div>
            <span
                <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#library-form-popup">
                    Edit Library
                </button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-barcodes-tab" type="button" role="tab"
            aria-controls="library-barcodes-tab" aria-selected="true">
            Barcodes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-metadata-tab" type="button" role="tab"
            aria-controls="library-metadata-tab" aria-selected="true">
            Metadata</button>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-barcodes-tab" role="tabpanel" tabindex="0">
            {% for barcode in library.barcodes %}
                {% if loop.index0 % 2 == 0 %}
                    <div class="row">
                {% endif %}
                {{
                    metadata_group(
                        barcode.type.value.name,
                        barcode.sequence,
                        class="col"
                    )
                }}
                {% if loop.index % 2 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade show" id="library-metadata-tab" role="tabpanel" tabindex="1">
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Sample",
                        library.sample.name,
                        url_for("samples_page.sample_page", sample_id=library.sample.id),
                        class="col"
                    )
                }}
                {{ metadata_group("Type", library.type.value, class="col") }}
            </div>
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        library.sample.owner.first_name + " " + library.sample.owner.last_name,
                        url_for("users_page.user_page", user_id=library.sample.owner.id),
                        class="col"
                    )
                }}
                {{
                    metadata_group_email_link(
                        "Owner Email", library.sample.owner.email, class="col",
                        subject="BSF Library: " + library.sample.name + " " + library.type.value.description + " " + " (" + library.id | string + ")"
                    )
                }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="">Edit Library</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary"
                hx-include="#library-form" hx-target="#library-form" hx-swap="outerHTML"
                hx-post="{{ url_for('libraries_htmx.edit', library_id=library.id) }}">Submit</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="sample-table-form-popup" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
        {% include "components/popups/library/table.html" %}
        </div>
    </div>

</div>
<script type="text/javascript">
</script>
{% endblock content %}