{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% extends "base.html" %}
{% set active_page = "projects-page" %}
{% block content %}
<div class="container">
    <h2>
        Project: {{ project.name }}
    </h2>

    <div class="modal fade" id="sample-form-popup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            {% include "components/popups/sample.html" %}
        </div>
    </div>

    <div class="modal fade" id="sample-table-form-popup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            {% set project_id = project.id %}
            {% include "components/popups/sample_table.html" %}
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#project-samples-tab" type="button" role="tab"
                aria-controls="project-samples-tab" aria-selected="true">
                User Data</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#project-data-tab" type="button" role="tab"
                aria-controls="project-data-tab" aria-selected="false">
                Metadata</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="project-samples-tab" role="tabpanel" tabindex="0">
                <div class="d-flex justify-content-between">
                    <div>
                        <h2>Samples:</h2>
                    </div>
                    <div>
                        <button type="button" id="open-sample-form-popup" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#sample-form-popup">
                            Add Sample
                        </button>
                        <button type="button" id="open-sample-table-form-popup" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#sample-table-form-popup">
                            Add Sample Table
                        </button>
                    </div>
                </div>
                {% include "components/tables/sample.html" %}
            </div>
            <div class="tab-pane fade show" id="project-data-tab" role="tabpanel" tabindex="1">
                <div class="row">
                    {{ metadata_group_link("Owner Name", project.owner.first_name + " " + project.owner.last_name, url_for("user_page.user_page", user_id=project.owner.id), class="col") }}
                    {{
                        metadata_group_email_link(
                            "Owner Email", project.owner.email, class="col",
                            subject="BSF Project: " + project.name + " (" + project.id | string + ")"
                        )
                    }}
                </div>
                {{ metadata_group_textarea("Description", project.description) }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}