{% from 'components/form_group.jinja2' import form_group %}
{% extends "template.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Sequencing Request: {{ seq_request.name }}</h2>
            <h3>Status: {{ seq_request.status_type.name }}</h3>
        </div>
        <div>
            <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#seq_request-form-popup">
                Edit Request
            </button>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if seq_request.status_type.name == "Created" %}
            <button hx-get="{{ url_for('seq_requests_htmx.delete', seq_request_id=seq_request.id) }}" class="btn btn-danger"
             hx-confirm="Are you sure?">
                Delete Request
            </button>
            {% endif %}
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs" id="auth-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="request-samples-tab-btn" data-bs-toggle="tab"
                data-bs-target="#request-samples-tab" type="button" role="tab"
                aria-controls="request-samples-tab" aria-selected="true">Samples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="request-metadata-tab-btn" data-bs-toggle="tab"
                data-bs-target="#request-metadata-tab" type="button" role="tab"
                aria-controls="request-metadata-tab" aria-selected="true">Metadata</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="request-samples-tab" role="tabpanel" tabindex="0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Libraries</h2>
                    </div>
                    <div>
                        {% if seq_request.status_type.name == "Created" %}
                        <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#add_library-form-popup">
                            Add Library
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% include "components/tables/library.html" %}
            </div>
            <div class="tab-pane fade show" id="request-metadata-tab" role="tabpanel" tabindex="1">
                <h2>Metadata</h2>
                <div class="display-form">
                    <h4>Request Info</h4>
                    {{ form_group(seq_request_form.name, class="col", disabled=True) }}
                    {{ form_group(seq_request_form.description, class="col", disabled=True) }}
                
                    <br>
                    <h4>Contact Person</h4>
                    <div class="row">
                        {{ 
                            form_group(
                                seq_request_form.contact_person_name,
                                disabled=seq_request_form.current_user_is_contact.data,
                                class="col-6 col-xl-3", disabled=True
                            ) 
                        }}
                        {{ 
                            form_group(
                                seq_request_form.contact_person_email,
                                disabled=seq_request_form.current_user_is_contact.data,
                                class="col-6 col-xl-5", disabled=True
                            )
                        }}
                        {{ 
                            form_group(
                                seq_request_form.contact_person_phone,
                                class="col-6 col-xl-4", disabled=True
                            ) 
                        }}
                    </div>
                    <div class="row">
                        {{ form_group(seq_request_form.organization_name, class="col-6 col-xl-3", disabled=True) }}
                        {{ form_group(seq_request_form.organization_department, class="col-6 col-xl-5", disabled=True) }}
                        {{ form_group(seq_request_form.organization_address, class="col-6 col-xl-4", disabled=True) }}
                    </div>
                    
                    {% if seq_request_form.bioinformatician_name.data %}
                    <br>
                    <h4>Bioinformatician Contact</h4>
                    <div class="row">
                        {{ form_group(seq_request_form.bioinformatician_name, class="col-6 col-xl-3", disabled=True) }}
                        {{ form_group(seq_request_form.bioinformatician_email, class="col-6 col-xl-5", disabled=True) }}
                        {{ form_group(seq_request_form.bioinformatician_phone, class="col-6 col-xl-4", disabled=True) }}
                    </div>
                    {% endif %}
                
                    <br>
                    <h4>Billing Info</h4>
                    <div class="row">
                        {{ form_group(seq_request_form.billing_contact, class="col-6 col-xl-3", disabled=True) }}
                        {{ form_group(seq_request_form.billing_address, class="col-6 col-xl-5", disabled=True) }}
                        {{ form_group(seq_request_form.billing_code, class="col-6 col-xl-4", disabled=True) }}
                    </div>
                    <div class="row">
                        {{ form_group(seq_request_form.billing_email, class="col", disabled=True) }}
                        {{ form_group(seq_request_form.billing_phone, class="col", disabled=True) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="seq_request-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="">Edit Sequencing Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/seq_request/seq_request.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#seq_request-form" hx-target="#seq_request-form" hx-swap="outerHTML"
                        hx-post="{{ url_for('seq_requests_htmx.edit', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="">Add Library</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/select_library.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#select_library-form" hx-target="#select_library-form" hx-swap="outerHTML"
                    hx-post="{{ url_for('seq_requests_htmx.add_library', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}