{% from 'components/tooltip.jinja2' import tooltip %}
{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/form_group.jinja2' import form_group %}
{% extends "base.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>{{ seq_request.name }} ({{ seq_request.status_type.value.name }} {{ seq_request.status_type.value.description | safe }})</h2>
        </div>
        <div>
            {% if seq_request.status_type.value.name == "Draft" %}
            <span
            {% if not seq_request.is_submittable() %}
            {{ tooltip('You must add at least one library to submit the request.') }}
            {% endif %}>
                <button hx-get="{{ url_for('seq_requests_htmx.submit', seq_request_id=seq_request.id) }}" class="btn btn-success"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Submit request \'{{ seq_request.name }}\'',
                        showDenyButton: true,
                        text: 'You can no longer edit the sequencing request after it is submitted. Do you want to proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if not seq_request.is_submittable() %}disabled{% endif %}>
                    Submit Request
                </button>
            </span>
            <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#seq_request-form-popup">
                Edit Request
            </button>
            <button hx-get="{{ url_for('seq_requests_htmx.delete', seq_request_id=seq_request.id) }}" class="btn btn-danger"
                _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Delete request \'{{ seq_request.name }}\'',
                    showDenyButton: true,
                    text: 'Proceed?',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()">
                Delete Request
            </button>
            {% endif %}
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs" id="auth-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="request-samples-tab-btn" data-bs-toggle="tab"
                data-bs-target="#request-samples-tab" type="button" role="tab"
                aria-controls="request-samples-tab" aria-selected="true">Samples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="request-metadata-tab-btn" data-bs-toggle="tab"
                data-bs-target="#request-metadata-tab" type="button" role="tab"
                aria-controls="request-metadata-tab" aria-selected="true">Metadata</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="request-samples-tab" role="tabpanel" tabindex="0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Libraries</h2>
                    </div>
                    <div>
                        {% if seq_request.status_type.value.name == "Draft" %}
                        <button type="button" id="" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#add_library-form-popup">
                            Add Library
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% include "components/tables/seq_request-library.html" %}
            </div>
            <div class="tab-pane fade show" id="request-metadata-tab" role="tabpanel" tabindex="1">
                <h2>Metadata</h2>
                <div class="display-form">
                    <h4>Request Info</h4>
                    {{ metadata_group("Request Name", seq_request.name, class="col") }}
                    {{ metadata_group_textarea("Description", seq_request.description, class="col") }}
                    <br>

                    <h4>Requestor</h4>
                    <div class="row">
                        {{ metadata_group_link("Name", seq_request.requestor.first_name + " " + seq_request.requestor.last_name, url_for("users_page.user_page", user_id=seq_request.requestor.id), class="col") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.requestor.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            ) 
                        }}
                    </div>
                    <br>

                    <h4>Contact Person</h4>
                    <div class="row">
                        {{ 
                            metadata_group(
                                "Contact Person",
                                seq_request.contact_person.name,
                                class="col-6 col-xl-3"
                            ) 
                        }}
                        {{ 
                            metadata_group_email_link(
                                "Contact Person Email", seq_request.contact_person.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ 
                            metadata_group(
                                "Contact Person Phone",
                                seq_request.contact_person.phone,
                                class="col-6 col-xl-4",
                            ) 
                        }}
                    </div>
                    <div class="row">
                        {{ metadata_group("Organization", seq_request.organization_name, class="col-6") }}
                        {{ metadata_group("Organization Address", seq_request.organization_address, class="col-6") }}
                    </div>
                    
                    {% if seq_request.bioinformatician_contact_id %}
                    <br>
                    <h4>Bioinformatician Contact</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.bioinformatician_contact.name, class="col-6 col-xl-3") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.bioinformatician_contact.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.bioinformatician_contact.phone, class="col-6 col-xl-4") }}
                    </div>
                    {% endif %}

                    {% if seq_request.library_person_contact_id %}
                    <br>
                    <h4>Library Person Contact</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.library_person_contact.name, class="col-6 col-xl-3") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.library_person_contact.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.library_person_contact.phone, class="col-6 col-xl-4") }}
                    </div>
                    {% endif %}
                
                    <br>
                    <h4>Billing Info</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.billing_contact.name, class="col-6 col-xl-3") }}
                        {{ metadata_group("Address", seq_request.billing_contact.address, class="col-6 col-xl-5") }}
                        {{ metadata_group("Billing Code", seq_request.billing_contact.billing_code, class="col-6 col-xl-4") }}
                    </div>
                    <div class="row">
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.billing_contact.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.billing_contact.phone, class="col") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="seq_request-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="">Edit Sequencing Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/seq_request/seq_request.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#seq_request-form" hx-target="#seq_request-form" hx-swap="outerHTML"
                        hx-post="{{ url_for('seq_requests_htmx.edit', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="">Add Library</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/select_library.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#select_library-form" hx-target="#select_library-form" hx-swap="outerHTML"
                    hx-post="{{ url_for('seq_requests_htmx.add_library', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}