{% from 'components/tooltip.jinja2' import tooltip %}
{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/form_group.jinja2' import form_group %}
{% from "components/status_bar.jinja2" import seq_request_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "seq_requests-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>{{ seq_request.name }}</h1>
        </div>
        <div>
            {% if seq_request.status.value.name == "Draft" %}
            <span
            {% if not seq_request.is_submittable() %}
                {% if not seq_request.is_authorized() %}
                    {{ tooltip('You must add a sequencing authorization form to submit the request.', category='success') }}
                {% else %}
                    {{ tooltip('You must add at least one library to submit the request.', category='success') }}
                {% endif %}
            {% endif %}>
                <button hx-get="{{ url_for('seq_requests_htmx.submit', seq_request_id=seq_request.id) }}" class="btn btn-success"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Submit request \'{{ seq_request.name }}\'',
                        showDenyButton: true,
                        text: 'You can no longer edit the sequencing request after it is submitted. Do you want to proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if not seq_request.is_submittable() %}disabled{% endif %}>
                    Submit Request
                </button>
            </span>
            {% endif %}
            <span {% if seq_request.status.value.name != "Draft" %} {{ tooltip("You cannot edit request that is already submitted.") }} {% endif %}>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#seq_request-form-popup"
                    {% if seq_request.status.value.name != "Draft" %}disabled{% endif %}>
                    Edit Request
                </button>
            </span>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export_libraries', seq_request_id=seq_request.id) }}">
                        Libraries (.tsv)
                    </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('seq_requests_htmx.export', seq_request_id=seq_request.id) }}">Everything (.xlsx)</a></li>
                </ul>
            </div>
            <span {% if seq_request.status.value.name != "Draft" %} {{ tooltip("You cannot edit request that is already submitted.", category="error") }} {% endif %}>
                <button hx-get="{{ url_for('seq_requests_htmx.delete', seq_request_id=seq_request.id) }}" class="btn btn-danger"
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Delete request \'{{ seq_request.name }}\'',
                        showDenyButton: true,
                        text: 'Proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                    {% if seq_request.status.value.name != "Draft" %}disabled{% endif %}>
                    Delete Request
                </button>
            </span>
        </div>
    </div>

    <div class="status_bar">
        {{ seq_request_status_bar(seq_request) }}
    </div>

    <div>
        <ul class="nav nav-tabs" id="auth-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#request-libraries-tab" type="button" role="tab"
                aria-controls="request-libraries-tab" aria-selected="true">Libraries</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-samples-tab" type="button" role="tab"
                aria-controls="request-samples-tab" aria-selected="true">Samples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-metadata-tab" type="button" role="tab"
                aria-controls="request-metadata-tab" aria-selected="true">Metadata</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#request-seq_auth-tab" type="button" role="tab"
                aria-controls="request-seq_auth-tab" aria-selected="true">Sequencing Authorization</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="request-libraries-tab" role="tabpanel" tabindex="0">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Libraries <img {{ tooltip('Right click on a library name to remove.') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                    </div>
                    <div>
                        {% if seq_request.status.value.name == "Draft" %}
                        <button type="button"  class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#sample-table-form-popup">
                            Add Libraries
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% include "components/tables/seq_request-library.html" %}
            </div>
            <div class="tab-pane fade show" id="request-samples-tab" role="tabpanel" tabindex="1">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Samples</h2>
                    </div>
                </div>
                {% include "components/tables/seq_request-sample.html" %}
            </div>
            <div class="tab-pane fade show" id="request-metadata-tab" role="tabpanel" tabindex="2">
                <div class="display-form">
                    <h4>Request Info</h4>
                    {{ metadata_group("Request Name", seq_request.name, class="col") }}
                    {{ metadata_group_textarea("Description", seq_request.description, class="col") }}

                    <br>
                    <h4>Technical Requirements</h4>
                    <div class="row">
                        {{ metadata_group("Sequencing Technology", seq_request.technology, class="col-5")}}
                        {{ metadata_group("Sequencing Type (Single-end/Paired-end)", seq_request.sequencing_type.value, class="col-5") }}
                        {{ metadata_group("Read Length", seq_request.read_length, class="col-2") }}
                    </div>
                    <div class="row">
                        {{ metadata_group("Sequencer", seq_request.sequencer, class="col-5") }}
                        {{ metadata_group("Flowcell Type", seq_request.flowcell_type.value.name if seq_request.flowcell_type else None, class="col-5") }}
                        {{ metadata_group("# Lanes", seq_request.num_lanes, class="col-2") }}
                    </div>

                    <div class="row">
                        {{ metadata_group("R1 Cycles", seq_request.num_cycles_read_1, class="col") }}
                        {{ metadata_group("I1 Cycles", seq_request.num_cycles_index_1, class="col") }}
                        {{ metadata_group("I2 Cycles", seq_request.num_cycles_index_2, class="col") }}
                        {{ metadata_group("R2 Cycles", seq_request.num_cycles_read_2, class="col") }}
                    </div>
                    {{ metadata_group("Special Requirements", seq_request.special_requirements, class="col") }}

                    <br>
                    <h4>Requestor</h4>
                    <div class="row">
                        {{ metadata_group_link("Name", seq_request.requestor.first_name + " " + seq_request.requestor.last_name, url_for("users_page.user_page", user_id=seq_request.requestor.id), class="col") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.requestor.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            ) 
                        }}
                    </div>

                    <br>
                    <h4>Contact Person</h4>
                    <div class="row">
                        {{ 
                            metadata_group(
                                "Contact Person",
                                seq_request.contact_person.name,
                                class="col-6 col-xl-3"
                            ) 
                        }}
                        {{ 
                            metadata_group_email_link(
                                "Contact Person Email", seq_request.contact_person.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ 
                            metadata_group(
                                "Contact Person Phone",
                                seq_request.contact_person.phone,
                                class="col-6 col-xl-4",
                            ) 
                        }}
                    </div>
                    <div class="row">
                        {{ metadata_group("Organization", seq_request.organization_name, class="col-6") }}
                        {{ metadata_group("Organization Address", seq_request.organization_address, class="col-6") }}
                    </div>
                    
                    {% if seq_request.bioinformatician_contact_id %}
                    <br>
                    <h4>Bioinformatician Contact</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.bioinformatician_contact.name, class="col-6 col-xl-3") }}
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.bioinformatician_contact.email, class="col-6 col-xl-5",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.bioinformatician_contact.phone, class="col-6 col-xl-4") }}
                    </div>
                    {% endif %}
                
                    <br>
                    <h4>Billing Info</h4>
                    <div class="row">
                        {{ metadata_group("Name", seq_request.billing_contact.name, class="col-6 col-xl-3") }}
                        {{ metadata_group("Address", seq_request.billing_contact.address, class="col-6 col-xl-5") }}
                        {{ metadata_group("Billing Code", seq_request.billing_contact.billing_code, class="col-6 col-xl-4") }}
                    </div>
                    <div class="row">
                        {{ 
                            metadata_group_email_link(
                                "Email", seq_request.billing_contact.email, class="col",
                                subject="Sequencing request: " + seq_request.name + " (" + seq_request.id | string + ")"
                            )
                        }}
                        {{ metadata_group("Phone", seq_request.billing_contact.phone, class="col") }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="request-seq_auth-tab" role="tabpanel" tabindex="3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2>Sequencing Authorization</h2>
                    </div>
                    <div>
                        {% if seq_request.is_authorized() %}
                        <a type="button" class="btn btn-danger" hx-delete="{{ url_for('seq_requests_htmx.remove_auth_form', seq_request_id=seq_request.id) }}"
                        _="on htmx:confirm(issueRequest)
                        halt the event
                        call Swal.fire({
                            title: 'Remove authorization form from \'{{ seq_request.name }}\'',
                            showDenyButton: true,
                            text: 'Do you want to proceed?',
                            confirmButtonText: 'Yes',
                            denyButtonText: 'No'
                        })
                        if result.isConfirmed issueRequest()">
                            Remove Authorization Form
                        </a>
                        {% endif %}
                        <a type="button" class="btn btn-primary" href="{{ url_for('seq_request_form_htmx.download_seq_auth_form') }}">
                            Download Template
                        </a>
                    </div>
                </div>
                {% if not seq_request.is_authorized() and seq_request.status.value.name == "Draft" %}
                {% include "forms/seq_request/seq_auth.html" %}
                {% else %}
                <embed src="{{ url_for('auth_forms', uuid=seq_request.seq_auth_form_uuid) }}" width="100%" height="1000px">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="seq_request-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" >Edit Sequencing Request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/seq_request/seq_request.html" %}
                </div>
                <div class="modal-footer" id="popup-footer">
                    <button class="btn btn-primary" hx-include="#seq_request-form" hx-target="#seq_request-form" hx-swap="outerHTML"
                        hx-post="{{ url_for('seq_requests_htmx.edit', seq_request_id=seq_request.id) }}">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sample-table-form-popup" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            {% include "components/popups/seq_request/step-1.html" %}
        </div>
    </div>
</div>
{% endblock %}