{% from 'components/tooltip.jinja2' import tooltip %}

<div class="input-help">
    <h5>Columns</h5>
    <ul>
        <li>
            <b>Sample Name</b>:
            <ul>
                <li>Biological Sample, e.g. sample_KO, sample_WT, ...</li>
            </ul>
        </li>
        <li>
            <b>Library Name</b>:
            <ul>
                <li>Name of the library, e.g. sample_KO_GEX, sample_KO_CMO, etc...</li>
            </ul>
        </li>
        <li>
            <b>Library type:</b>
            <div>
                {% for library_type in LibraryType.as_list() %}
                <span {{ tooltip(library_type.name) }} style="cursor: help;" class="badge bg-cemm-blue">{{ library_type.abbreviation }}</span>
                {% endfor %}
            </div>
        </li>
        <li><b>Sequencing Depth</b> <span class="desc">10X: number of cells in thousands / Non-10X: number of reads in millions. Specify numbers only!</span></li>
        <li>
            <b>Genome</b> <span class="desc">Specifies the reference genome used in downstream</span>:
            <div>
                {% for genome_ref in GenomeRef.as_list() %}
                <span {{ tooltip(genome_ref.organism_latin_name) }} style="cursor: help;" class="badge bg-cemm-blue">
                    {{ genome_ref.display_name }}
                </span>
                {% endfor %}
            </div>
        </li>
    </ul>

    <h5>Important</h5>
    <ul>
        <li><b>'Sample Name'</b>-column denotes a biological sample or specimen that will be prepared into one or more libraries.</li>
        <li>Multiple rows can have same value in <b>'Sample Name'</b>-column if multiple libraries are created from a single biological sample.</li>
        <li>White-spaces in <b>'Sample Name'</b>-column will be replaced with '_' automatically. Also non-alphanumeric characters (except '_', '-', '.') will be filtered.</li>
        <li>In edge cases, please contact us at <a href="mailto:bsf@cemm.at">bsf@cemm.at</a></li>
    </ul>
</div>
<script>
    init_tooltips();
</script>