{% from "components/spinner.jinja2" import spinner %}
{% from "components/confirm.jinja2" import confirm_action_button %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div class="accordion p-1" id="sops-accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-1" aria-expanded="false" aria-controls="sops-accordiod-collapse-1">
                <b>{% if libraries_added %}✅{% else %}⚠️{% endif %} Add Libraries to the Prep</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-1" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#xl-modal"
                        hx-get="{{ url_for('library_prep_workflow.begin', lab_prep_id=lab_prep.id) }}"
                        hx-target="#xl-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Begin</button> 'Add Libraries' - Workflow
                    </li>
                    <li>Select libraries</li>
                    <li>Complete workflow</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-2" aria-expanded="false" aria-controls="sops-accordiod-collapse-2">
                <b>{% if mux_required %}{% if samples_pooled is none %}❗{% else %}🔘{% endif %}{% else %}🚫{% endif %} Specify how Samples are Multiplexed</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-2" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn"data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('mux_prep_workflow.sample_pooling', lab_prep_id=lab_prep.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal" hx-swap="innerHTML"
                        {% if not mux_required or lab_prep_completed %}disabled{% endif %}>Begin</button> 'Sample Multiplexing' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Required only when multiple samples are multiplexed into a library</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-3" aria-expanded="false" aria-controls="sops-accordiod-collapse-3">
                <b>{% if not oligo_mux_required %}🚫{% else %}{% if oligo_mux_annotated is none %}❗{% elif oligo_mux_annotated %}✅{% else %}⚠️{% endif %}{% endif %} Oligo Multiplexing Prep</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-3" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_OLIGO.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" {% if not oligo_mux_required or lab_prep_completed %}disabled{% endif %}>Begin</button> 'Oligo Multiplexing Prep' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Only required when Oligo multiplexing library is included in the prep.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-4" aria-expanded="false" aria-controls="sops-accordiod-collapse-4">
                <b>{% if not flex_mux_required %}🚫{% else %}{% if flex_mux_annotated is none %}❗{% elif flex_mux_annotated %}✅{% else %}⚠️{% endif %}{% endif %} Flex Multiplexing Prep</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-4" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_FLEX_PROBE.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" {% if not flex_mux_required or lab_prep_completed %}disabled{% endif %}>Begin</button> 'Flex Multiplexing Prep' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Only required when multiplexed Flex library is included in the prep.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-5" aria-expanded="false" aria-controls="sops-accordiod-collapse-5">
                <b>{% if not on_chip_mux_required %}🚫{% else %}{% if on_chip_mux_annotated is none %}❗{% elif on_chip_mux_annotated %}✅{% else %}⚠️{% endif %}{% endif %} On-Chip Multiplexing Prep</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-5" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('mux_prep_workflow.begin', lab_prep_id=lab_prep.id, mux_type_id=MUXType.TENX_ON_CHIP.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" {% if not on_chip_mux_required or lab_prep_completed %}disabled{% endif %}>Begin</button> 'On-Chip Multiplexing Prep' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Only required when On-Chip multiplexed library is included in the prep.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-6" aria-expanded="false" aria-controls="sops-accordiod-collapse-6">
                <b>{% if prep_table_submitted is none %}❗{% elif prep_table_submitted %}✅{% else %}⚠️{% endif %} Submit Prep-Table</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-6" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        Download 
                        <a class="btn btn-primary" href="{{ url_for('lab_preps_htmx.download_template', lab_prep_id=lab_prep.id, direction='rows') }}"
                        {% if lab_prep.libraries | length == 0 %}onclick="confirmation(event)"{% endif %}>Rows</a>
                        or
                        <a class="btn btn-primary" href="{{ url_for('lab_preps_htmx.download_template', lab_prep_id=lab_prep.id, direction='columns') }}"
                        {% if lab_prep.libraries | length == 0 %}onclick="confirmation(event)"{% endif %}>Columns</a>
                    </li>
                    <li>
                        Fill the template as required and <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('lab_preps_htmx.prep_table_upload_form', lab_prep_id=lab_prep.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Upload</button> the completed prep-table.
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-7" aria-expanded="false" aria-controls="sops-accordiod-collapse-7">
                <b>{% if protocols_selected is none %}❗{% elif protocols_selected %}✅{% else %}⚠️{% endif %} Select Library Protocols</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-7" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('select_library_protocols_workflow.begin', lab_prep_id=lab_prep.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Begin</button> 'Select Library Protocols' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>In prep-table, 'library_kits' should list of identifiers separated by ';'.</li>
                    <li>If possible, protocol will be automatically assigned based on the combination of 'library_kits'.</li>
                </ul>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <th scope="col" class="col-3">Library</th>
                            <th scope="col" class="col-3">Type</th>
                            <th scope="col" class="col-6">Protocol</th>
                        </thead>
                        <tbody>
                        {% for library in lab_prep.libraries %}
                            <tr>
                                <th scope="row">{{ library.name }}</th>
                                <td>{{ library.type.name }}</td>
                                <td>{% if library.protocol %}{{ library.protocol.name }}{% else %}<span class="text-muted">Not Selected</span>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-8" aria-expanded="false" aria-controls="sops-accordiod-collapse-8">
                <b>{% if library_fragment_sizes_measured is none %}❗{% elif library_fragment_sizes_measured %}✅{% else %}⚠️{% endif %} Measure Library Fragment Size (BA)</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-8" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#xl-modal"
                        hx-get="{{ url_for('ba_report_workflow.begin', lab_prep_id=lab_prep.id) }}"
                        hx-target="#xl-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Begin</button> 'Bio Analyzer' - Workflow
                    </li>
                </ol>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <th scope="col" class="col-2">Library</th>
                            <th class="col-2">Average Fragment Size</th>
                            <th class="col-8">Report</th>
                        </thead>
                        <tbody>
                            {% for library in lab_prep.libraries %}
                            <tr>
                                <th scope="row">{{ library.name }}</th>
                                <td>
                                    <div class="quantity-container">
                                        <div class="value">{{ library.avg_fragment_size }}</div>
                                        <div class="unit">bp</div>
                                    </div>
                                </td>
                                <td class="x-scroll-cell">
                                    <span class="scroll-container">{% if library.ba_report_id %}<span class="desc">{{ library.ba_report.timestamp | format_datetime }}</span> <a href="{{ url_for('pdf_file', file_id=library.ba_report_id) }}" target="_blank">{{ library.ba_report.name }}</a></span>{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-9" aria-expanded="false" aria-controls="sops-accordiod-collapse-9">
                <b>{% if libraries_indexed is none %}❗{% elif libraries_indexed %}✅{% else %}⚠️{% endif %} Index Libraries</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-9" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('reindex_workflow.begin', lab_prep_id=lab_prep.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Begin</button> 'Index Libraries' - Workflow
                    </li>
                </ol>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <th scope="col" class="col-3">Library</th>
                            <th scope="col" class="col-9">
                                Index
                                <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                                    <i class="bi bi-upc-scan"></i>
                                </a>
                                <span class="badge bg-cemm-green">Kit</span> <span class="badge bg-cemm-blue">Checked</span> <span class="badge bg-cemm-yellow">Forward (maybe)</span> <span class="badge bg-cemm-red">Unknown</span>
                            </th>
                        </thead>
                        <tbody>
                            {% for library in lab_prep.libraries %}
                            <tr>
                                <th scope="row">{{ library.name }}</th>
                                <td class="x-scroll-cell">
                                    {{ library_index_cell(library) }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-10" aria-expanded="false" aria-controls="sops-accordiod-collapse-10">
                <b>{% if libraries_pooled is none %}❗{% elif libraries_pooled %}✅{% else %}⚠️{% endif %} Pool Libraries</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-10" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        <button class="btn-primary btn" data-bs-toggle="modal" data-bs-target="#fullscreen-modal"
                        hx-get="{{ url_for('library_pooling_workflow.begin', lab_prep_id=lab_prep.id) }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML"{% if lab_prep_completed %} disabled{% endif %}>Begin</button> 'Pool Libraries' - Workflow
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>If you don't want to pool certain libraries (yet), mark their pool as <span class="code-highlight">skip</span> in the pooling workflow.</li>
                </ul>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <th scope="col" class="col-6">Library</th>
                            <th scope="col" class="col-6">pool</th>
                        </thead>
                        <tbody>
                            {% for library in lab_prep.libraries %}
                            <tr>
                                <th scope="row">{{ library.name }}</th>
                                <td>{% if library.pool_id %}<a href="{{ url_for('pools_page.pool', pool_id=library.pool_id, from='lab_prep@' + lab_prep.id | string)}}">{{ library.pool.name }}</a>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sops-accordiod-collapse-11" aria-expanded="false" aria-controls="sops-accordiod-collapse-11">
                <b>{% if lab_prep_completed is none %}❗{% elif lab_prep_completed %}✅{% else %}⚠️{% endif %} Complete Lab Prep</b>
            </button>
        </h2>
        <div id="sops-accordiod-collapse-11" class="accordion-collapse collapse collapsed" data-bs-parent="#sops-accordion">
            <div class="accordion-body">
                <b>Steps:</b>
                <ol>
                    <li>
                        {{
                            confirm_action_button(
                                text="Complete Prep",
                                title="Complete Library Prep?",
                                class="btn btn-success",
                                url=url_for('lab_preps_htmx.complete', lab_prep_id=lab_prep.id),
                                disabled=lab_prep_completed is not false,
                                method="hx-post",
                            )
                        }}
                    </li>
                </ol>
                <b>Notes:</b>
                <ul>
                    <li>Sets the status of all pools to "Stored".</li>
                    <li>Sets the status of the lab prep to "Completed".</li>
                    <li>Sets the status of sequencing requests to "Prepared" if all libraries in it are prepared.</li>
                </ul>
            </div>
        </div>
</div>
