$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

@import "../css/scrollbar.css";
@import "./navbar.scss";

body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.custom-tooltip {
  --bs-tooltip-bg: #222529;
  --bs-tooltip-color: #fff;
  .tooltip-row {
    display: flex;
    flex-direction: column;
    span {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        white-space: nowrap;
    }
  }
}

#main {
    margin-top: 60px;
    .container {
        padding-bottom: 50px;
    }
}

.pagination .page-item {
    cursor: pointer;
}

.modal-xl {
    min-width: 80vw;
    .modal-content {
        width: 100%;
    }
}

.modal-body {
    min-height: 70vh;
    max-height: 75vh;
    padding: 20px 30px 20px 30px;
    overflow-y: auto;

    .tab-content {
        height: 100%;
        .tab-pane {
            height: 100%;
        }
    }
}

.alert {
    position: fixed;
    width: 50%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    .alert-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            height: 100%;
            div {
                height: 100%;
            }
        }
    }
}

.alert {
    animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
    @keyframes movein {
        from { top: -200px; }
        to   { top: 80px; }
    }
    
    @keyframes moveout {
        from { top: 80px; }
        to   { top: -200px; }
    }
}
.table-cursor {
    thead {
        tr {
            th.sortable-col.inc { cursor: n-resize; }
            th.sortable-col.desc { cursor: s-resize; }
            th.sortable-col:hover { background-color: $gray-300; }
            th { cursor: default; }
        }
    }
    tbody {
        tr { cursor: pointer; }
    }
    
}

input.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    cursor: default;
}

input.disabled:focus {
    box-shadow: none;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.display-form {
    input.disabled {
        background-color: $white;
    }
}

.table-container {
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    table {
        width: 100%;
        * {
            margin: 0 !important;
        }

        tr {
            td, th {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                white-space: nowrap;
                overflow: hidden;
                height: 42px;
            }
        }
        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:empty + .comma:not(:empty):before {
            content : "";
        }

        .comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
            content : ",";
        }
        .adapter-col {
            display: flex;
            span {
                gap: 7px;
                display: flex;
                :nth-child(even) {
                    color: $gray-500;
                }
                :nth-child(odd) {
                    font-weight: 500;
                }
            }
        }
        .owner-col {
            display: flex;
            gap: 7px;
            :nth-child(2) {
                color: $gray-500;
            }
        }
        .library_type-col {
            display: flex;
        }
        .index-col {
            display: flex;
            gap: 7px;
            p {
                font-weight:600;
            }
            div {
                p {
                    font-size: x-small;
                    font-weight:normal;
                    color: $gray-500;
                }
            }
        }
        .organism-col {
            display: flex;
            gap: 7px;

            :nth-child(1) {
                font-style: italic;
            }

            :nth-child(2) {
                font-weight:600;
            }
            :nth-child(3) {
                color: $gray-500;
            }
        }
        tbody .disabled {
            cursor: not-allowed;
        }
        tbody .disabled td,

        tbody .disabled th {
            background-color: $gray-200;
            opacity: 0.7;
            border: 0;
        }
    }
}


.invalid-feedback-container {
    display: flex;
    height: 20px;
    p {
        width: 100%;
        height: 20px;
        color: $danger;
        font-size: 14px;
    }
}

.form-table-container {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    form table {
        width: 100%;
    }
}


.search-select {
    .input-group {
        display: flex;
        width: 100%;
        input:focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .search-select-results {
        display: none;
        z-index: 10;
        ul {
            position: absolute;
            max-height: 200px;
            width: 100%;
            overflow-y: auto;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            li {
                height: 40px;
            }
            .list-group-item:hover {
                background-color: $gray-100;
            }
            .list-group-item {
                height: 40px;
                white-space: nowrap;
                overflow: hidden;
                .search-select-name {
                    font-weight: 600;
                    min-width: 120px;
                }
                .search-select-desc {
                    color: $gray-500;
                    padding-left: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                }
                height: 40px;
                width: 100%;
                div {
                    display: flex;
                    align-items: center;
                }
            }
            .list-group-item:hover {
                cursor: pointer;
            }
            
        }
        width: 100%;
    }
}

.requirement-list {
    color: $danger;
    text-transform: capitalize;
    height: 12px;
    padding: 0;
}

.indices-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .form-group {
        flex: calc(50% - 10px);
    }
}