.btn-primary {
    background-color: $cemm-blue;
    color: $white;
    border: none;
}

.btn-primary:hover {
    background-color: $cemm-blue-darker;
}

.btn-primary:hover:active {
    background-color: $cemm-blue-dark;
}

.btn-primary:disabled {
    background-color: $cemm-blue;
    opacity: 0.7;
}

.btn-secondary {
    background-color: $cemm-secondary;
    border: none;
    color: $white;
}

.btn-secondary:hover {
    background-color: $cemm-secondary-darker;
}

.btn-secondary:hover:active {
    background-color: $cemm-secondary-dark;
}

.btn-secondary:disabled {
    background-color: $cemm-secondary;
    opacity: 0.7;
}

.btn-warning {
    background-color: $cemm-yellow;
    border: none;
}

.btn-warning:hover {
    background-color: $cemm-yellow-darker;
}

.btn-warning:hover:active {
    background-color: $cemm-yellow-dark;
}

.btn-warning:disabled {
    background-color: $cemm-yellow;
    opacity: 0.7;
}

.btn-danger {
    background-color: $cemm-red;
    border: none;
}

.btn-danger:hover {
    background-color: $cemm-red-darker;
}

.btn-danger:hover:active {
    background-color: $cemm-red-dark;
}

.btn-danger:disabled {
    background-color: $cemm-red;
    opacity: 0.7;
}

.btn-success {
    background-color: $cemm-green;
    border: none;
}

.btn-success:hover {
    background-color: $cemm-green-darker;
}

.btn-success:hover:active {
    background-color: $cemm-green-dark;
}

.btn-success:disabled {
    background-color: $cemm-green;
    opacity: 0.7;
}

$navbar-color: $cemm-blue;
$navbar-active-color: $cemm-blue-darker;
// $navbar-color: $dark;
// $navbar-active-color: $gray-800;

