<div class="modal-content" id="seq_request-form-container">
  <div class="modal-header">
    <h1 class="modal-title fs-5">
      {% if form.form_type == "create" %}Create{% elif form.form_type == "edit"
      %}Edit{% endif %} Sequencing Request
    </h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <div class="modal-body">
    <form id="seq_request-form" class="accordion" autocomplete="off">
      {{ form.csrf_token.render() }} {% for section_name, sub_form in
      form.ordered_sub_forms %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button{% if sub_form.has_errors %} text-danger bg-danger-subtle{% else %} text-success bg-success-subtle{% endif %}{% if sub_form.collapsed %} collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#section-{{ section_name }}"
            aria-expanded="{% if sub_form.has_errors or not sub_form.collapsed %}true{% else %}false{% endif %}"
            aria-controls="section-{{ section_name }}"
          >
            {% if sub_form.icon %}<i class="{{ sub_form.icon }} me-2"></i>{%
            endif %} {{ sub_form.title }}
          </button>
        </h2>
        <div
          id="section-{{ section_name }}"
          class="accordion-collapse collapse{% if sub_form.has_errors or not sub_form.collapsed %} show{% endif %}"
        >
          <div class="accordion-body">
            {% if section_name == "basic_info" %} {{ sub_form.name.render() }}
            {{ sub_form.description.render() }} {% elif section_name ==
            "technical_info" %}
            <div class="row">
              {{ sub_form.submission_type.render("col-md-3") }} {{
              sub_form.read_type.render("col-md-3") }} {{
              sub_form.num_lanes.render("col-md-3") }} {{
              sub_form.read_length.render("col-md-3") }}
            </div>
            <ol class="mt-2">
              {% for st in
              SubmissionType.as_list(include_unpooled_libraries=False) %}
              <li><b>{{ st.label }}</b>: <i>{{ st.description }}</i></li>
              {% endfor %}
            </ol>
            {{ sub_form.special_requirements.render() }} {{
            sub_form.data_delivery_mode.render() }} {% elif section_name ==
            "contact" %} {% if form.form_type == "create" %} {{
            sub_form.current_user_is_contact.render() }} {% endif %}
            <div class="row">
              {{ sub_form.contact_person_name.render("col-md-4") }} {{
              sub_form.contact_person_email.render("col-md-4") }} {{
              sub_form.contact_person_phone.render("col-md-4") }}
            </div>

            {% elif section_name == "bioinformatician" %}
            <div class="row">
              {{ sub_form.bioinformatician_name.render("col-md-4") }} {{
              sub_form.bioinformatician_email.render("col-md-4") }} {{
              sub_form.bioinformatician_phone.render("col-md-4") }}
            </div>

            {% elif section_name == "organization" %} {{
            sub_form.organization_name.render() }}
            <div class="row">
              {{ sub_form.organization_email.render("col-md-6") }} {{
              sub_form.organization_phone.render("col-md-6") }}
            </div>
            {{ sub_form.organization_address.render() }} {% elif section_name ==
            "billing" %}
            <div class="row">
              {{ sub_form.billing_contact_name.render("col-md-4") }} {{
              sub_form.billing_contact_email.render("col-md-4") }} {{
              sub_form.billing_contact_phone.render("col-md-4") }}
            </div>
            <div class="row">
              {{ sub_form.billing_code.render("col-md-6") }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %} {% if form.user_id %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#section-user-selection"
            aria-expanded="false"
            aria-controls="section-user-selection"
          >
            <i class="bi bi-person-plus me-2"></i>
            User Selection
          </button>
        </h2>
        <div id="section-user-selection" class="accordion-collapse collapse">
          <div class="accordion-body">{{ form.user_id.render() }}</div>
        </div>
      </div>
      {% endif %}
    </form>
  </div>

  <div class="modal-footer">
    <div class="footer-id"></div>
    <div class="footer-info"></div>
    <div class="footer-controls">
      {% if form.form_type == "edit" %}
      <button
        class="btn btn-success"
        hx-include="#seq_request-form"
        hx-target="#seq_request-form-container"
        hx-swap="outerHTML"
        hx-post="{{ url_for('edit_seq_request', seq_request_id=seq_request.id) }}"
      >
        Save
      </button>
      {% elif form.form_type == "create" %}
      <button
        class="btn btn-success"
        hx-include="#seq_request-form"
        hx-target="#seq_request-form-container"
        hx-swap="outerHTML"
        hx-post="{{ url_for('create_seq_request') }}"
      >
        Create
      </button>
      {% endif %}
    </div>
  </div>

  {% if form.form_type == "create" %}
  <script>
    function update_current_user_is_contact() {
      const checked = $("#contact_current_user_is_contact").is(":checked");
      if (checked) {
        $("#contact_contact_person_name").addClass("disabled");
        $("#contact_contact_person_name").prop("readonly", true);
        $("#contact_contact_person_name").val("{{ current_user.name }}");

        $("#contact_contact_person_email").addClass("disabled");
        $("#contact_contact_person_email").prop("readonly", true);
        $("#contact_contact_person_email").val("{{ current_user.email }}");
      } else {
        $("#contact_contact_person_name").removeClass("disabled");
        $("#contact_contact_person_name").prop("readonly", false);
        $("#contact_contact_person_name").val("");

        $("#contact_contact_person_email").removeClass("disabled");
        $("#contact_contact_person_email").prop("readonly", false);
        $("#contact_contact_person_email").val("");
      }
    }

    function update_contact_person(force = false) {
      if (force) {
        $("#contact_current_user_is_contact").prop("checked", true);
      }
      if ($("#contact_current_user_is_contact").is(":checked") || force) {
        var selected = $("#user_id-container")
          .find("li.selected-option")
          .first();
        if (selected.length > 0) {
          $("#contact_contact_person_email").val(selected.data("email"));
          $("#contact_contact_person_name").val(selected.data("name"));
        } else {
          $("#contact_contact_person_email").val("{{ current_user.email }}");
          $("#contact_contact_person_name").val("{{ current_user.name }}");
        }
      }
    }

    $(document).ready(function () {
      $("#contact_current_user_is_contact").on("click", function () {
        update_current_user_is_contact();
      });

      $("#user_id").on("change", function () {
        $("#contact_current_user_is_contact").prop("checked", true);
        update_contact_person();
      });
    });
  </script>
  {% endif %}
</div>
