{% from 'components/form_group.jinja2' import checkbox_input, datepicker, form_group %}

<div id="submit-seq_request-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Submit Sequencing Request for Validation</h1>
        <button type="button" class="btn-close" aria-label="Close" onclick=confirm_close_modal("#xl-modal")></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            {% if sample_submission_windows %}
            <p>Allowed Sample Submission Times:</p>
            <ul>
                {% for window in sample_submission_windows %}
                <li>
                    <span class="badge">{{ window.weekday }}</span> @ <span class="badge">
                    {{ window.start_time.strftime("%H:%M") }}</span> - <span class="badge">{{ window.end_time.strftime("%H:%M") }}
                    </span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div id="submit-seq_request-form">
            {{ submit_seq_request_form.csrf_token() }}
            {{ checkbox_input(submit_seq_request_form.samples_delivered_by_mail) }}
            {{ datepicker(submit_seq_request_form.sample_submission_time) }}
            {% if submit_seq_request_form.sample_submission_time.errors and not submit_seq_request_form.samples_delivered_by_mail.errors %}
            {{ checkbox_input(submit_seq_request_form.custom_sample_submission_time) }}
            {% endif %}
            {{ form_group(submit_seq_request_form.comment) }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-id">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
                hx-target="#submit-seq_request-form-container" hx-swap="outerHTML"
                hx-include="#submit-seq_request-form"
                hx-post="{{ url_for('seq_requests_htmx.submit_request', seq_request_id=seq_request.id) }}"
                _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Submit request \'{{ seq_request.name }}\'',
                        showDenyButton: true,
                        icon: 'warning',
                        text: 'You can no longer edit the sequencing request after it is submitted. Do you want to proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    }) if result.isConfirmed issueRequest()">
                Submit
            </button>
        </div>
    </div>
</div>