.file-browser {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding-bottom: 20px !important;
    height: 100%;
    table {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        thead {
            display: table;
            width: 100%;
            table-layout: fixed;
            position: sticky;
            top: 0;
            background-color: #f2f2f2;
            z-index: 1;
        }
        tbody {
            flex: 1;
            overflow-y: auto;
            width: 100%;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        }
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
    th {
        background-color: #f2f2f2;
    }
    a {
        text-decoration: none;
        color: #0066cc;
    }
    a:hover {
        text-decoration: underline;
    }
    .breadcrumb {
        margin-bottom: 20px;
    }
}