.modal-content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;

    .modal-header {
        height: 60px;
    }

    .modal-body {
        overflow-y: auto;
        flex: 1;
        padding: 5px 15px 5px 15px;
    }

    .modal-body.tab-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .nav-tabs {
            height: 42px;
            position: sticky;
            margin-bottom: 5px;
        }
        .tab-content {
            flex: 1;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            .tab-pane {
                height: 100%;
                flex: 1;
                overflow-y: auto;
            }
        }
    }

    .modal-footer {
        height: 60px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 10px;
        margin: 0;

        .footer-id {
            padding-left: 35px;
            background-color: transparent;
            width: 150px;
        }
        .footer-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .footer-controls {
            gap: 10px;
            overflow-x: visible;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.modal-lg, .modal-fullscreen-lg-down {
    .modal-content {
        width: 100%;
    }
    .modal-body {
        min-height: 500px;

        .tab-content {
            height: 100%;
            .tab-pane {
                height: 100%;
            }
        }
    }
}

.modal-xl, .modal-fullscreen-xl-down {
    .modal-content {
        width: 100%;
        .modal-header {
            height: 60px;
        }
        .modal-footer {
            height: 60px;
        }
        .modal-body {
            min-height: 70vh;
            max-height: calc(100vh - 180px);

            .tab-content {
                height: 100%;
            }
        }
    }
}

.modal-sm, .modal-fullscreen-sm-down {
    --bs-modal-max-width: 400px !important;
    .modal-content {
        .modal-header {
            height: 60px;
        }
        .modal-footer {
            height: 60px;
        }
    }
}