
@import "colors.scss";

$navbar-color: $cemm-blue;
$navbar-active-color: $cemm-blue-darker;

nav#navbar.admin {
    background-color: $cemm-red !important;
    .nav-item {
        a.active {
            background-color: $cemm-red-darker !important;
        }
        a:hover {
            transition: all 0.2s ease-in-out;
            background-color: $cemm-red-darker !important;
        }
    }
    .nav-item-dropdown {
        ul {
            li {
                background-color: $cemm-red !important;
            }
            li:hover {
                transition: all 0.2s ease-in-out;
                background-color: $cemm-red-darker !important;
            }
        }
        &:has(.active) {
            background-color: $cemm-red-darker !important;
        }
    }
    .login-btn {
        background-color: $cemm-red-dark !important;
    }
}

nav#navbar {
    width: 100vw;
    height: 60px;
    background-color: $navbar-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 15;

    a.user-btn p {
        cursor: pointer;
    }

    p:hover {
        cursor: default;
    }

    a#icon-banner {
        margin: auto 0 auto 0;
        padding: 0 10px 0 10px;
        font-size: 25px;
        color: $gray-100;
        text-decoration: none;
    }
    
    #navbar-container {
        width: 70vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        justify-self: center;
        .nav-item {
            width: 100%;
            height: 100%;
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light;
                text-decoration: none;
            }
            a.active {
                background-color: $navbar-active-color;
            }
            a:hover {
                transition: all 0.2s ease-in-out;
                background-color: $navbar-active-color;
            }
        }
        .nav-item-dropdown {
            color: $light;
            width: 100%;
            height: 100%;
            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
            }
            ul {
                display: none;
                background-color: $navbar-color;
                margin: 0;
                padding: 0;
                li {
                    height: 60px;
                    text-decoration: none;
                    list-style: none;
                    a {
                        color: $light;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;
                    }
                    a.active {
                        background-color: $navbar-active-color;
                    }
                }
                li:hover {
                    transition: all 0.2s ease-in-out;
                    background-color: $navbar-active-color;
                }
            }
        }
        .nav-item-dropdown:hover ul {
            display: block;
        }
        .nav-item-dropdown:has(.active) {
            background-color: $navbar-active-color;
        }
    }
    .nav-right {
        width: 15vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 15px;
        .login-btn {
            height: 40px;
            width: 100px;
            display: flex;
            align-content: center;
            justify-content: left;
            p {
                margin: auto;
                text-overflow: ".";
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
    .nav-left {
        width: 15vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 15px;
    }
}

#burger {
    cursor: pointer;
    display: none;
    div {
        width: 20px;
        height: 3px;
        background-color: white;
        border-radius: 1px;
        margin: 5px;
        transition: all 0.3s ease;
    }
}

#burger.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media screen and (max-width: 992px) {
    nav#navbar {
        #burger {
            display: block;
        }
        #navbar-container {
            position: absolute;
            left: 0px;
            height: calc(100vh - 60px);
            top: 60px;
            width: 100%;
            background-color: $dark;
            opacity: 0.95;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(-100%);
            transition: transform 0.5s ease-in;

            .nav-item-dropdown {
                color: $light;
                width: 100%;
        
                p {
                    display: none;
                }
                ul {
                    display: flex;
                    height: 60px;
                    justify-content: space-evenly;
                    background-color: $dark;
                    margin: 0;
                    padding: 0;
                    li {
                        width: 100%;
                        height: 60px;
                        text-decoration: none;
                        list-style: none;
                        a {
                            color: $light;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            padding: 0;
                        }
                        a.active {
                            background-color: $navbar-active-color;
                        }
                    }
                }
            }
        }
        
        #navbar-container.nav-active {
            transform: translateX(0%);
            .nav-item {
                opacity: 0;
            }
        }
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
