@import "colors.scss";
@import "scrollbar.css";
@import "theme.scss";
@import "navbar.scss";
@import "responsive.scss";
@import "tooltip.scss";
@import "table.scss";
@import "modal.scss";
@import "dashboard.scss";
@import "workflow.scss";
@import "multiselect.scss";
@import "plate.scss";
@import "calendar.scss";
@import "progress_bar.scss";
@import "banner.scss";
@import "form.scss";
@import "browser.scss";
@import "components.scss";

body.waiting,
body.waiting * {
    cursor: wait !important;
    button {
        cursor: wait !important;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

i {
    text-align: center;
}

.exception-container {
    font-family: monospace, monospace;
}

pre.code {
    background-color: #f4f4f4; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 5px 10px;
    margin: 10px 0;
    font-family: Consolas, Courier, monospace; 
    font-size: 14px; 
    color: #333;
}

.spreadsheet-grid {
    .jss_content {
        border: none !important;
        box-shadow: none !important;
    }
    tbody tr {
        td {
            font-family: monospace !important;
            text-align: right !important;
        }
        td:first-child {
            text-align: right !important;
        }
        td.jss_dropdown {
            text-align: left !important;
        }
    }
    thead td {
        font-weight: 600;
    }

    td.readonly {
        color: $cemm-blue-darker !important;
    }
}

.htmx-indicator {
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    height: 100% !important;
}

.htmx-request.htmx-indicator,
.htmx-request .htmx-indicator
 {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 100;
    height: 100% !important;
}

.traceback-modal {
    background: #1e1e1e !important;
    .traceback {
        font-family: monospace, monospace;
        background: #2d2d2d;
        border: 1px solid #444;
        padding: 1rem;
        margin-top: 1rem;
        overflow-x: auto;
        border-radius: 4px;
        color: #f8f8f2;
        white-space: pre-wrap;
        overflow-y: auto;
        max-height: 70vh;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 450px;
    z-index: 1055;
    .toast-header strong {
        color: $cemm-blue-darker;
    }

    .toast-body {
        font-size: 8;
    }
}

.print-only { display: none; }
.print-window .print-only { display: inline; }

@media print {
    .pagebreak { page-break-before: always; }
    .no-break { page-break-inside: avoid; }
}

.badge {
    background-color: $cemm-blue;
    a {
        color: $white !important;
        text-decoration: none;
    }
}

.badge.cm-callback:hover {
    cursor: pointer;
}

.badge.badge-success {
    background-color: $cemm-green;
}

.badge.badge-warning {
    background-color: $cemm-yellow;
}

.badge.badge-danger {
    background-color: $cemm-red;
}

.row {
    --bs-gutter-x: 0 !important;
}

body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.form-group{
    label {
        white-space: nowrap;
    }
}

.pool-lane-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    padding: 0 !important;
    span {
        flex-grow: 1;
        width: 100%;
    }
}

#right-click-bg {
    width: 100%; 
    height: 100%;
    display: none;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 16;
    .dropdown-item:hover {
        cursor: pointer;
    }
}

#main-container {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: hidden;
    overflow-y: hidden;
    ::-webkit-scrollbar-track {
        background-color: $gray-200;
    }
}


#main {
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    #left-margin, #right-margin {
        position: sticky;
        top: 0;
        padding: 5px;
        width: 120px;
        margin: 0;
        background-color: $gray-200;
    }

    #middle-container {
        margin: 0;
        width: calc(100vw - 240px);
        height: 100%;
        padding: 0 10px 0 10px;
        background-color: $gray-100;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .page-header-container {
            background-color: $gray-100;
            z-index: 10;
        }

        .page-content {
            margin: 0;
            flex: 1;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        
        .page-content:has(>.tab-content) {
            overflow: hidden;
            >.tab-content {
                height: 100%;
                overflow: hidden;
                >.tab-pane {
                    height: 100%;
                    overflow-y: auto;
                }
            }
        }

        .status_bar {
            padding-bottom: 5px;
        }
        .page-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            .page-title {
                overflow-x: hidden;
                padding-right: 15px;
                h1, h2 {
                    white-space: nowrap;
                    margin: 0;
                    padding: 0;
                    overflow-x: hidden;
                    sup {
                        color: $gray-500;
                    }
                }

                h1:hover, h2:hover {
                    cursor: default;
                }
            }
            .page-controls {
                flex-shrink: 0;
                button {
                    min-width: 60px;
                }
            }
            div {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
    #breadcrumb {
        ol {
            padding: 5px 0 0 5px;
            li.active {
                color: $cemm-blue-dark;
            }
            a {
                text-decoration: none;
                color: $cemm-blue;
            }
            list-style: none;
            li:not(:last-child):after {
                content: "/";
                padding: 0 5px 0 5px;
            }
        }
        word-wrap: break-word;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
    
    }
}

.file-list-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tab-content {
        flex: 1;
        .tab-pane {
            height: 100%;
            display: flex;
            flex-direction: column;
            .file-container {
                flex: 1;
                overflow: auto;
            }
        }
    }

    img {
        object-fit: fill;
    }
}

.pagination .page-item {
    cursor: pointer;
}

.share-email-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    .row {
        width: 100%;
        padding: 0 100px 0 100px;
        .remove-btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                margin-top: 6px;
            }
        }
    }
}

.spreadsheet-container {
    .invalid-feedback-container {
        display: flex;
        flex-direction: column;
        min-height: 0;
        max-height: 100px;
        overflow-y: auto;
        padding-top: 1px;
        width: 100%;
        overflow-x: auto;

        p {
            margin: 0;
            padding: 0;
            height: 25px;
            vertical-align: middle;
            width: 100%;
            white-space: nowrap;
            text-wrap: nowrap;
            color: $danger;
            font-size: 14px;
        }
    }

    .spreadsheet-grid {
        width: 100%;
        height: 100%;

        .jexcel_content {
            box-shadow: none !important;
            border: none !important;
            display: flex;
            justify-content: center;
        }
    }
}

.htmx-request:hover {
    cursor: wait;
}

.alert {
    position: fixed;
    width: 50%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    .alert-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            height: 100%;
            div {
                height: 100%;
            }
        }
    }
}

.alert {
    animation: movein 0.5s ease forwards, moveout 0.5s 5s ease forwards;
    @keyframes movein {
        from { top: -200px; }
        to   { top: 80px; }
    }
    
    @keyframes moveout {
        from { top: 80px; }
        to   { top: -200px; }
    }
}


input.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    cursor: default;
}

input.disabled:focus {
    box-shadow: none;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.display-form {
    input.disabled {
        background-color: $white;
    }
}

span.desc, span.id-desc {
    color: $gray-500;    
}
span.desc:before {
    content: "(";
}
span.desc::after {
    content: ")";
}
span.desc:empty:before, span.id-desc:empty:before {
    content: "";
}
span.desc:empty:after, span.id-desc:empty:after {
    content: "";
}
span.id-desc:before {
    content: "[";
}
span.id-desc::after {
    content: "]";
}


.metadata-group {
    padding-bottom: 15px;
    input:hover {
        cursor: default;
    }
}

.invalid-feedback-container {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    max-height: 100px;
    overflow-y: auto;
    padding-top: 1px;
    width: 100%;
    overflow-x: auto;

    p {
        margin: 0;
        padding: 0;
        height: 25px;
        vertical-align: middle;
        width: 100%;
        white-space: nowrap;
        text-wrap: nowrap;
        color: $danger;
        font-size: 14px;
    }
}


.requirement-list {
    color: $danger;
    text-transform: capitalize;
    height: 12px;
    padding: 0;
}

.barcodes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .form-group {
        flex: calc(50% - 10px);
    }
}

.code-highlight {
    font-family: monospace, monospace;
    background-color: $gray-200;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}

.input-help {
    padding-bottom: 10px;
}

.mapping-arrow {
    height: 100%;
    text-align: center;
    padding-top: 25px;
    svg {
        height: 20px;
        width: 20px;
    }
}

.mapping-or {
    height: 100%;
    text-align: center;
    padding-top: 25px;
    vertical-align: middle;
}

.print-window .copyable-input .clipboard-btn {
    display: none !important;
}

.h-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 5px;
    margin: 0;
    padding-left: 5px;
}

.flow-graph-container {
    .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
    }
    .link:hover {
        stroke-opacity: .5;
    }

    .node:hover {
        cursor: pointer;
    }
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .card {
        padding: 10px 20px 10px 20px;
        .text {
            margin: 0;
        }
        .comment-body {
            padding: 10px 0 10px 0;
        }
        .btn {
            border: none;
            background-color: inherit;
            margin: 0;
            padding: 0;
            font-size: 16px;
            cursor: pointer;
            display: inline-block;
        }
        .info {color: dodgerblue;}
    }

    .card:hover {
        cursor: default;
    }

    .comment-header {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 18px;
        }
    }
}

.color-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    .legend-unit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .color-square {
            height: 20px;
            width: 20px;
            border-radius: 3px;
        }
        .color-label {
            font-size: 15px;
            font-weight: 600;
        }
        .color-label:hover {
            cursor: default;
        }
    }
}



.input-with-unit {
    display: flex;
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        min-width: 70px;
    }
    .unit-container {
        min-width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        margin: 0;
    }

    input:focus {
        box-shadow: 0 0 3px rgba(13,110,253,.25);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    input:focus ~ .unit-container {
        box-shadow: 0 0 3px rgba(13,110,253,.25);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}