@import "colors.scss";

table {
    a.sort-btn,
    a.search-btn {
        color: #000;
        padding: 2px 6px 2px 6px;
        margin: 0;
    }
}

table .multi-select {
    position: static;

    button {
        height: 27px;
        width: 100%;
    }
}

table tbody tr td {
    a.visitable:visited { color: #551a8b !important; }
}

table input.table-query-input{
    height: 28px;
}

.table-container {
    width: 100%;

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    table {
        thead {
            tr {
                th {
                    cursor: default;
                    user-select: none;
                    -webkit-user-select: none; /* Safari */
                    -moz-user-select: none;    /* Firefox */
                    -ms-user-select: none;     /* IE/Edge */
                }
            }
        }
        tbody {
            tr { cursor: pointer; }
            tr.disabled { cursor: not-allowed; }
            tr .table-cell-tooltip { cursor: pointer; }
        }
        width: 100%;

        thead, tbody {
            width: 100%;
            tr {
                width: 100%;
            }
        }

        tbody td, tbody th {
            font-family: monospace;
        }

        .table-select-buttons {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        .table-btn {
            height: 25px;
        }
        .table-btn.disabled {
            cursor: not-allowed;
        }
        * {
            margin: 0 !important;
        }

        tr {
            th {
                .search-btn {
                    background-color: transparent;
                    border-radius: 5px;
                    border: none;
                    font-size: 14px;
                }
                .search-btn:hover {
                    background-color: $gray-300;
                }
                .sort-btn {
                    background-color: transparent;
                    border-radius: 5px;
                    border: none;
                    font-size: 16px;
                }
                .sort-btn:hover {
                    background-color: $gray-300;
                }
            }

            td a {
                display: block;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-right: 8px !important;
                padding-left: 8px !important;
            }

            td span a {
                padding-right: 0px !important;
                padding-left: 0px !important;
            }

            td:has(> a) {
                padding: 0 !important;
                margin: 0 !important;
            }

            td.x-scroll-cell {
                padding: 0 !important;
                overflow-y: hidden;
                
                .scroll-container {
                    overflow-y: hidden;
                    padding: 0 5px;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    height: 100%;
                    overflow-x: auto;
                    white-space: nowrap;

                    scrollbar-width: thin;
                    scrollbar-color: $gray-400 transparent;

                    &::-webkit-scrollbar {
                        height: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 0px;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 0px;
                        background-color: transparent;
                        border: none;
                    }
                }
            }

            td, th {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                white-space: nowrap;
                overflow: hidden;
                height: 42px;
                border: 1px solid $gray-200;
                max-width: 200px;
                min-width: 100px;
            }
            td a {
                color: $cemm-blue-darker;
                text-decoration: none;
            }
            td .h-list {
                padding-left: 10px;
            }
        }
        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:empty + .comma:not(:empty):before {
            content : "";
        }

        .comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
            content : ",";
        }
        .adapter-col {
            display: flex;
            span {
                gap: 7px;
                display: flex;
                :nth-child(1) {
                    font-weight:500;
                }
                :nth-child(2) {
                    color: $gray-500;
                }
                :nth-child(3) {
                    color: $gray-500;
                }
            }
        }
        .library_type-col {
            display: flex;
        }

        .organism-col {
            display: flex;
            gap: 7px;

            :nth-child(1) {
                font-style: italic;
            }

            :nth-child(2) {
                font-weight:600;
            }
            :nth-child(3) {
                color: $gray-500;
            }
        }
    }
}

table.barcode-clashes-table tbody td.index-cell {
    font-family: monospace;
}

.table tbody {
    td, th {
        vertical-align: middle;
    }

    td .badge {
        background-color: $cemm-blue;
    }

    td .badge.badge-success {
        background-color: $cemm-green;
    }

    td .badge.badge-warning {
        background-color: $cemm-yellow;
    }

    td .badge.badge-danger {
        background-color: $cemm-red;
    }

    tr:hover {
        td, th {
            background-color: $gray-200 !important;
        }
        td:hover {
            background-color: $gray-300 !important;
        }
        cursor: default;
        td:has(a:hover) {
            cursor: pointer !important;
        }
    }

    td .quantity-container {
        display: flex;
        gap: 5px;
        .value:empty + .unit {
            display: none;
        }
        .unit {
            color: $gray-500;
        }
    }
    
    .unselectable-row td, .unselectable-row th {
        background-color: $gray-100;
    }

    .unselectable-row:hover {
        cursor: not-allowed !important;
    }

    tr.selected {
        th, td {
            background-color: #EAFAF1;
        }
    }

    tr.removed {
        th, td {
            background-color: #f8d7da;
        }
    }

    .disabled td, .disabled th {
        background-color: $gray-200;
        opacity: 0.7;
        border: 0;
    }
}


@media screen and (max-width: 768px) {
    .table-container {
        overflow: auto;
    }
}