{% from 'components/form_group.jinja2' import form_group, checkbox_input, select_input %}
{% from "components/tooltip.jinja2" import tooltip %}

<div id="assay-form-submission-container" class="modal-content" style="height: 100%;">
    <div class="modal-header">
        <h1 class="modal-title fs-5">{% if seq_request.submission_type == SubmissionType.POOLED_LIBRARIES %}Select Assay{% else %}Select Services{% endif %}</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="form-tab-form-btn"
                data-bs-target="#form-tab-form" type="button" role="tab"
                aria-controls="form-tab-form" aria-selected="true">
                Form</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-form-help-btn"
                data-bs-target="#form-tab-form-help" type="button" role="tab"
                aria-controls="form-tab-form-help" aria-selected="false">
                Examples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-form-assay-btn"
                data-bs-target="#form-tab-form-assay" type="button" role="tab"
                aria-controls="form-tab-form-assay" aria-selected="true">
                Assay Types</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active form-container" id="form-tab-form" role="tabpanel" tabindex="0">
                {{ select_input(form.service_type) }}
                {{ form.csrf_token() }}
                {{ form.optional_assays.csrf_token() }}
                {{ form.additional_services.csrf_token() }}

                <h5>Additional Options for 10X</h5>
                <div class="d-flex justify-contents-evenly" style="gap: 20px;">
                    {{ checkbox_input(form.optional_assays.vdj_b, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_B.id | string) }}
                    {{ checkbox_input(form.optional_assays.vdj_t, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T.id | string) }}
                    {{ checkbox_input(form.optional_assays.vdj_t_gd, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_VDJ_T_GD.id | string) }}
                    {{ checkbox_input(form.optional_assays.crispr_screening, class="opt-checkbox opt-checkbox-" + LibraryType.TENX_CRISPR_SCREENING.id | string) }}
                </div>

                <div class="d-flex align-items-center">
                    <div class="col-8 d-flex" style="gap: 20px;">
                        {{ checkbox_input(form.optional_assays.antibody_capture, class="opt-checkbox opt-checkbox-{} opt-checkbox-{}".format(LibraryType.TENX_ANTIBODY_CAPTURE.id, LibraryType.TENX_SC_ABC_FLEX.id)) }}
                        {{ checkbox_input(form.optional_assays.antibody_multiplexing, class="opt-checkbox opt-checkbox-{} opt-checkbox-{}".format(LibraryType.TENX_ANTIBODY_CAPTURE.id, LibraryType.TENX_SC_ABC_FLEX.id)) }}
                    </div>
                    {{ form_group(form.optional_assays.antibody_capture_kit, class="col-4", placeholder="Kit Name", hide_label=true) }}
                </div>
                <div id="abc-mux-warning">
                    <p class="text-warning">
                        ⚠️ If selecting 'Cell Surface Protein Capture' + 'Antibody Multiplexing' we will perform cell surface protein capture and multiplexing in the same library instead of preparing two separate libraries for antibody capture and multiplexing.
                        If you only require multiplexing, please select Oligo-based multiplexing below. 👇
                    </p>
                </div>
                <div class="d-flex align-items-center">
                    {{ checkbox_input(form.additional_services.oligo_multiplexing, class="opt-checkbox col-8", disabled=true) }}
                    {{ form_group(form.additional_services.oligo_multiplexing_kit, class="col-4", placeholder="Kit Name", hide_label=true) }}
                </div>
                {% if seq_request.submission_type == SubmissionType.RAW_SAMPLES %}
                <div class="pb-3">
                    <div id="oligo-mux-warning">
                        <p class="text-warning">
                            ⚠️ When selecting oligo multiplexing, you will multiplex the samples using LMOs/CMOs/HTOs and we will prepare the libraries from multiplexed sample pools. If you are not able to multiplex the samples yourself, please contact us.
                        </p>
                    </div>
                    <div id="multiome-mux-warning">
                        <p class="text-warning">
                            ⚠️ 10X Multiome Oligo multiplexing is not officially supported by 10X Genomics.
                        </p>
                    </div>
                </div>

                {% endif %}
                {{ checkbox_input(form.additional_services.ocm_multiplexing, class="opt-checkbox pb-2") }}

                <h5>Additional Options for Parse Biosciences</h5>
                <div class="d-flex">
                    {{ select_input(form.optional_assays.parse_kit, class="col-6 opt-select opt-select-" + LibraryType.PARSE_SC_CRISPR.id | string) }}
                    {{ select_input(form.optional_assays.parse_chemistry, class="col-6 opt-select opt-select-" + LibraryType.PARSE_SC_CRISPR.id | string) }}
                </div>

                <div class="d-flex justify-contents-evenly" style="gap: 20px;">
                    {{ checkbox_input(form.optional_assays.parse_mux, class="opt-checkbox opt-checkbox-" + LibraryType.PARSE_SC_CRISPR.id | string) }}
                    {{ checkbox_input(form.optional_assays.parse_crispr, class="opt-checkbox opt-checkbox-" + LibraryType.PARSE_SC_CRISPR.id | string) }}
                    {{ checkbox_input(form.optional_assays.parse_tcr, class="opt-checkbox opt-checkbox-" + LibraryType.PARSE_EVERCODE_TCR.id | string) }}
                    {{ checkbox_input(form.optional_assays.parse_bcr, class="opt-checkbox opt-checkbox-" + LibraryType.PARSE_EVERCODE_BCR.id | string) }}
                </div>

                <h5>Additional Services</h5>
                {{ checkbox_input(form.additional_services.nuclei_isolation, class="pb-2") }}
                {{ form_group(form.additional_info) }}
            </div>
            <div class="tab-pane fade show" id="form-tab-form-help" role="tabpanel" tabindex="1">
                <ol>
                    <li>Select assay you want to request.</li>
                    <li>Select additional options related to the assay, if needed.</li>
                    <li>Specify additional requirements or relevant information.</li>
                    <li>10X Products: <a href="https://www.10xgenomics.com/products" target="_blank">10xgenomics.com/products</a></li>
                </ol>
                <div class="accordion p-1" id="help-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#help-accordion-collapse-1" aria-expanded="false" aria-controls="help-accordion-collapse-1">
                                <b>10X 5-prime Gene Expression + TCR + BCR + Sample Multiplexing</b>
                            </button>
                        </h2>
                        <div id="help-accordion-collapse-1" class="accordion-collapse collapse collapsed" data-bs-parent="#help-accordion">
                            <div class="accordion-body">
                                <img src="{{ url_for('static', filename='images/examples/products/gex+tcr+bcr+mux.png') }}" style="width: 100%; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#help-accordion-collapse-2" aria-expanded="false" aria-controls="help-accordion-collapse-2">
                                <b>10X 3-prime Gene Expression + ATAC + Sample Multiplexing</b>
                            </button>
                        </h2>
                        <div id="help-accordion-collapse-2" class="accordion-collapse collapse collapsed" data-bs-parent="#help-accordion">
                            <div class="accordion-body">
                                <img src="{{ url_for('static', filename='images/examples/products/gex+atac+mux.png') }}" style="width: 100%; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#help-accordion-collapse-3" aria-expanded="false" aria-controls="help-accordion-collapse-3">
                                <b>10X 3-prime Gene Expression + Cell Surface Protein Capture + Sample Multiplexing</b>
                            </button>
                        </h2>
                        <div id="help-accordion-collapse-3" class="accordion-collapse collapse collapsed" data-bs-parent="#help-accordion">
                            <div class="accordion-body">
                                <img src="{{ url_for('static', filename='images/examples/products/gex+abc+mux.png') }}" style="width: 100%; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#help-accordion-collapse-4" aria-expanded="false" aria-controls="help-accordion-collapse-4">
                                <b>10X 3-prime Gene Expression + Cell Surface Protein Capture <b>with</b> Sample Multiplexing <b>in same library</b></b>
                            </button>
                        </h2>
                        <div id="help-accordion-collapse-4" class="accordion-collapse collapse collapsed" data-bs-parent="#help-accordion">
                            <div class="accordion-body">
                                <img src="{{ url_for('static', filename='images/examples/products/gex+abc-mux.png') }}" style="width: 100%; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="form-tab-form-assay" role="tabpanel" tabindex="2">
                <ul>
                    {% for service_type in ServiceType.as_list() %}
                    <li><b>{{ service_type.label }}</b> {% if service_type.platform %}<span class="desc">{{ service_type.platform }}</span>{% endif %}</li>
                    Library Types:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in service_type.library_types %}
                        <li><span {{ tooltip(library_type.label) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% if service_type.optional_library_types | length %}
                    Optional Assays:
                    <ul class="h-list" style="width: 60%; padding-left: 15px;">
                        {% for library_type in service_type.optional_library_types %}
                        <li><span {{ tooltip(library_type.label) }} style="cursor: help;" class="text-muted">{{ library_type.abbreviation }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#assay-form-submission-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button type="button" class="btn btn-primary submit-form-btn"
            hx-target="#assay-form-submission-container" hx-swap="outerHTML" hx-include="#form-tab-form"
            hx-post="{{ url_for('library_annotation_workflow.parse_assay_form', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        var assays = {
            "-1": {
                optional_library_types: [],
                oligo_multiplexing: false,
                ocm_multiplexing: false
            },
            {% for service_type in ServiceType.as_list() %}
            {{ service_type.id }}: {
                optional_library_types: [
                    {% for library_type in service_type.optional_library_types %}
                    {{ library_type.id }},
                    {% endfor %}
                ],
                oligo_multiplexing: {% if service_type.oligo_multiplexing %}true{% else %}false{% endif %},
                ocm_multiplexing: {% if service_type.ocm_multiplexing %}true{% else %}false{% endif %}
            },
            {% endfor %}
        };

        function update_optional_assays() {
            const assay_id = $("#service_type").val();
            if (assay_id == -1 || assay_id == "-1") {
                return;
            }

            const optional_library_types = assays[assay_id].optional_library_types || assay_id == {{ ServiceType.CUSTOM.id }};
            const oligo_multiplexing = assays[assay_id].oligo_multiplexing || assay_id == {{ ServiceType.CUSTOM.id }};
            const ocm_multiplexing = assays[assay_id].ocm_multiplexing || assay_id == {{ ServiceType.CUSTOM.id }};
            const antibody_capture = assays[assay_id].optional_library_types.includes({{LibraryType.TENX_ANTIBODY_CAPTURE.id}}) || assays[assay_id].optional_library_types.includes({{LibraryType.TENX_SC_ABC_FLEX.id}}) || assay_id == {{ ServiceType.CUSTOM.id }};
        
            $(".opt-checkbox input").each(function() {
                $(this).addClass("disabled");
                $(this).prop("disabled", true);
                var is_in = false;

                optional_library_types.forEach(function(library_type_id) {
                    if ($(this).parent().hasClass(`opt-checkbox-${library_type_id}`)) {
                        is_in = true;
                    }
                }.bind(this));

                if (!is_in) {
                    $(this).prop("checked", false);
                }
            });

            $(".opt-select select").each(function() {
                $(this).addClass("disabled");
                $(this).prop("disabled", true);
            });

            if (antibody_capture) {
                $("#optional_assays-antibody_capture").removeClass("disabled");
                $("#optional_assays-antibody_capture").prop("disabled", false);
            } else {
                $("#optional_assays-antibody_capture").addClass("disabled");
                $("#optional_assays-antibody_capture").prop("disabled", true);
                $("#optional_assays-antibody_capture").prop("checked", false);
            }

            if (oligo_multiplexing) {
                $("#additional_services-oligo_multiplexing").removeClass("disabled");
                $("#additional_services-oligo_multiplexing").prop("disabled", false);
            } else {
                $("#additional_services-oligo_multiplexing").addClass("disabled");
                $("#additional_services-oligo_multiplexing").prop("disabled", true);
                $("#additional_services-oligo_multiplexing").prop("checked", false);
            }

            optional_library_types.forEach(function(library_type_id) {
                $(`.opt-checkbox-${library_type_id} input`).each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });
                $(`.opt-select-${library_type_id} select`).each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });
            });
            
            if (ocm_multiplexing) {
                $("#additional_services-ocm_multiplexing").removeClass("disabled");
                $("#additional_services-ocm_multiplexing").prop("disabled", false);
            } else {
                $("#additional_services-ocm_multiplexing").addClass("disabled");
                $("#additional_services-ocm_multiplexing").prop("disabled", true);
                $("#additional_services-ocm_multiplexing").prop("checked", false);
            }

            if (assay_id == {{ ServiceType.CUSTOM.id }}) {
                $(".opt-checkbox input").each(function() {
                    $(this).removeClass("disabled");
                    $(this).prop("disabled", false);
                });
                return;
            }
            update_antibody_kit_input();
        }


        function update_oligo_multiplexing_kit_input() {
            const assay_id = $("#service_type").val();
            if (assay_id === -1) {
                return;
            }
            const is_checked = $("#additional_services-oligo_multiplexing").is(":checked");
            if (is_checked) {
                $("#additional_services-oligo_multiplexing_kit").removeClass("disabled");
                $("#additional_services-oligo_multiplexing_kit").prop("disabled", false);
                $("#oligo-mux-warning").css("display", "block");
            } else {
                $("#additional_services-oligo_multiplexing_kit").addClass("disabled");
                $("#additional_services-oligo_multiplexing_kit").prop("disabled", true);
                $("#additional_services-oligo_multiplexing_kit").val("");
                $("#oligo-mux-warning").css("display", "none");
            }
        }

        function update_antibody_kit_input() {
            const assay_id = $("#service_type").val();
            if (assay_id === -1) {
                return;
            }
            const is_checked = $("#optional_assays-antibody_capture").is(":checked");
            if (is_checked) {
                $("#optional_assays-antibody_capture_kit").removeClass("disabled");
                $("#optional_assays-antibody_capture_kit").prop("disabled", false);
                $("#optional_assays-antibody_multiplexing").prop("disabled", false);
                $("#optional_assays-antibody_multiplexing").removeClass("disabled");
            } else {
                $("#optional_assays-antibody_capture_kit").addClass("disabled");
                $("#optional_assays-antibody_capture_kit").prop("disabled", true);
                $("#optional_assays-antibody_capture_kit").val("");
                $("#optional_assays-antibody_multiplexing").prop("checked", false);
                $("#optional_assays-antibody_multiplexing").addClass("disabled");
                $("#optional_assays-antibody_multiplexing").prop("disabled", true);
            }
        }

        function update_abc_mux_input() {
            const assay_id = $("#service_type").val();
            if (assay_id === -1) {
                return;
            }
            const is_checked = $("#optional_assays-antibody_multiplexing").is(":checked");

            if (is_checked) {
                $("#abc-mux-warning").css("display", "block");
            } else {
                $("#abc-mux-warning").css("display", "none");
            }
        }

        function update_multiome_mux_input() {
            const assay_id = $("#service_type").val();
            if (assay_id === -1) {
                return;
            }
            const is_checked = $("#additional_services-oligo_multiplexing").is(":checked");
            if (assay_id == {{ ServiceType.TENX_SC_MULTIOME.id }} && is_checked) {
                $("#multiome-mux-warning").css("display", "block");
            } else {
                $("#multiome-mux-warning").css("display", "none");
            }
        }

        $(document).ready(function() {
            update_optional_assays();
            update_oligo_multiplexing_kit_input();
            update_antibody_kit_input();
            update_abc_mux_input();
            update_multiome_mux_input();

            $("#optional_assays-antibody_multiplexing").on("change", update_abc_mux_input);
            $("#service_type").on("change", function() {
                update_multiome_mux_input();
                update_oligo_multiplexing_kit_input();
                update_optional_assays();

            });
            $("#optional_assays-antibody_capture").on("change", update_antibody_kit_input);
            $("#additional_services-oligo_multiplexing").on("change", function() {
                update_oligo_multiplexing_kit_input();
                update_multiome_mux_input();
            });
        });
    </script>
</div>
