{% from 'components/form_group.jinja2' import form_group %}
{% from "components/legends.jinja2" import spreadsheet_error_legend with context %}
{% from "components/spreadsheet.jinja2" import spreadsheet_input %}

<div id="sample_annotation_form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >11. Sample Annotation</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#spreadsheet-tab" type="button" role="tab"
                aria-controls="spreadsheet-tab" aria-selected="true">
                Spreadsheet</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link help-tab-btn" data-bs-toggle="tab"
                data-bs-target="#help-tab" type="button" role="tab"
                aria-controls="help-tab" aria-selected="false">
                Help</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                data-bs-target="#visium-1-example-tab" type="button" role="tab"
                aria-controls="visium-1-example-tab" aria-selected="true">
                Example 1.</button>
            </li>
        </ul>
        <div class="tab-content" id="sample_annotation_form">
            {{ form.csrf_token() }}

            <div class="tab-pane fade show active" id="spreadsheet-tab" role="tabpanel" tabindex="0">
                <p>
                    You can add new variable to the spreadsheet by right-clicking on the column header. You can change the name of the variable by right clicking on the column header and selecting "Rename this column".
                </p>
                <p>
                    <b>Please provide as many variables as possible/applicable as these are used in downstream analysis.</b>
                </p>
                {{ 
                    spreadsheet_input(
                        element=form.spreadsheet,
                        submit_btn_id="submit-spreadsheet-btn",
                        target_element_id="sample_annotation_form-container",
                    )
                }}
            </div>
            <div class="tab-pane fade" id="help-tab" role="tabpanel" tabindex="1">
                <div class="input-help">
                    <h5>How to?</h5>
                    <ul>
                        <li>Fill in the required columns in the spreadsheet.</li>
                    </ul>
                    <h5>Columns: </h5>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="visium-1-example-tab" role="tabpanel" tabindex="2">
                {% include "examples/sample_annotation.html" %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-info">
            {{ spreadsheet_error_legend() }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#sample_annotation_form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Next
            </button>
        </div>
    </div>
</div>