{% from 'components/tooltip.jinja2' import tooltip %}
{% from 'components/barcode_clashes_table.jinja2' import barcode_clashes_table with context %}

<div id="complete-sas-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >12. Complete Submission</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#overview-tab" type="button" role="tab"
                aria-controls="overview-tab" aria-selected="true">
                Overview</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#library-tab" type="button" role="tab"
                aria-controls="library-tab" aria-selected="false">
                Libraries ({{ library_table.shape[0] if library_table is not none else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#sample-tab" type="button" role="tab"
                aria-controls="sample-tab" aria-selected="false">
                Samples ({{ sample_table.shape[0] if sample_table is not none else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if pool_table is none %}disabled{% endif %}" data-bs-toggle="tab"
                data-bs-target="#pool-tab" type="button" role="tab"
                aria-controls="pool-tab" aria-selected="false">
                Pools ({{ pool_table.shape[0] if pool_table is not none else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation"
            {% if barcode_table is none %}{{ tooltip("Only available when submitting indexed libraries.", category="warning") }}{% endif %}>
                <button class="nav-link {% if barcode_table is none %}disabled{% else %}{% if barcode_table['error'].notna().any() %}text-danger{% endif %}{% endif %}" data-bs-toggle="tab"
                data-bs-target="#barcode-tab" type="button" role="tab"
                aria-controls="barcode-tab" aria-selected="true">
                Barcodes ({{ barcode_table.shape[0] if barcode_table is not none else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation"
            {% if feature_table is none %}{{ tooltip("No antibody feature libraries detected.", category="warning") }}{% endif %}>
                <button class="nav-link {% if feature_table is none %}disabled{% endif %}" data-bs-toggle="tab"
                data-bs-target="#feature-tab" type="button" role="tab"
                aria-controls="feature-tab" aria-selected="true">
                Features ({{ feature_table.groupby(["feature", "kit", "sequence", "pattern", "read"], dropna=False) | length if feature_table is not none else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation"
            {% if not mux_type %}{{ tooltip("No cell multiplexing libraries detected.", category="warning") }}{% endif %}>
                <button class="nav-link {% if not mux_type %}disabled{% endif %}" data-bs-toggle="tab"
                data-bs-target="#mux-tab" type="button" role="tab"
                aria-controls="mux-tab" aria-selected="true">
                Multiplexing ({{ sample_pooling_table.shape[0] if mux_type else "0" }})</button>
            </li>
            <li class="nav-item" role="presentation"
            {% if spatial_table is none %}{{ tooltip("No spatial libraries detected.", category="warning") }}{% endif %}>
                <button class="nav-link {% if spatial_table is none %}disabled{% endif %}" data-bs-toggle="tab"
                data-bs-target="#spatial-tab" type="button" role="tab"
                aria-controls="spatial-tab" aria-selected="true">
                Spatial ({{ spatial_table.shape[0] if spatial_table is not none else "0" }})</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="overview-tab" role="tabpanel" tabindex="0">
                <div class="flow-graph-container" id="submission-overview-graph" style="padding: 10px 10px 10px 10px;"></div>
            </div>
            <div class="tab-pane fade" id="library-tab" role="tabpanel" tabindex="1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Library Name</th>
                            <th scope="col" class="col-2">Library Type</th>
                            {% if "pool" in library_table.columns %}
                            <th scope="col" class="col-2">Pool</th>
                            {% endif %}
                            {% if barcode_table is not none %}
                            <th scope="col" class="col-6">
                                Barcode
                                <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                                    </svg>
                                </a>
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in library_table.iterrows() %}
                        <tr>
                            <th scope="row">{{ row["library_name"] }}</th>
                            <td>{{ row["library_type"] }}</td>
                            {% if "pool" in library_table %}<td>{{ row["pool"] }}</td>{% endif %}
                            {% if barcode_table is not none %}
                            <td class="barcode-cell">
                                {% for _, barcode_row in barcode_table[barcode_table["library_name"] == row["library_name"]].iterrows() %}
                                {% if notna(barcode_row["name_i7"]) %}
                                    {% if barcode_row["name_i7"] == barcode_row["name_i5"] or isna(barcode_row["name_i5"]) %}
                                    <span class="badge index-badge">{{ barcode_row["name_i7"] }}</span>
                                    {% else %}
                                    <span class="badge index-badge">{{ barcode_row["name_i7"] }}+{{ barcode_row["name_i5"] }}</span>
                                    {% endif %}
                                {% else %}
                                <span class="badge index-badge">{{ barcode_row["sequence_i7"] }}{% if barcode_row["sequence_i5"] %}+{{ barcode_row["sequence_i5"] }}{% endif %}</span>
                                {% endif %}
                                <span class="badge index-badge" style="display: none;">{{ barcode_row["sequence_i7"] }}{% if barcode_row["sequence_i5"] %}+{{ barcode_row["sequence_i5"] }}{% endif %}</span>
                                {% endfor %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="sample-tab" role="tabpanel" tabindex="2">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Sample Name</th>
                            <th scope="col" class="col-6">Libraries</th>
                            {% for col in sample_table.columns %}
                            {% if "_attr_" in col %}
                            <th scope="col" class="col-1">{{ col.removeprefix("_attr_").replace("_", " ").title() }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in sample_table.iterrows() %}
                        <tr>
                            <th scope="row">{{ row["sample_name"] }} <span class="desc">{% if isna(row["sample_id"])%}new{% else %}existing{% endif %}</span></th>
                            <td>
                                {% for library_name in sample_pooling_table[sample_pooling_table["sample_name"] == row["sample_name"]]["library_name"] %}
                                <span class="badge" >{{ library_table[library_table["library_name"] == library_name]["library_type"].values[0] }}</span>
                                {% endfor %}
                            </td>
                            {% for col in sample_table.columns %}
                            {% if "_attr_" in col %}
                            <td>{{ row[col] }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pool-tab" role="tabpanel" tabindex="3">
                {% if pool_table is not none %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-8">Name</th>
                            <th scope="col" class="col-2"># M. Reads Requested</th>
                            <th scope="col" class="col-2"># Libraries</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx, row in pool_table.iterrows() %}
                        <tr>
                            <th scope="row">{{ row["pool_name"] }}</th>
                            <td>{{ row["num_m_reads_requested"] }}</td>
                            <td>{{ library_table[library_table["pool"] == row["pool_label"]] | length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="barcode-tab" role="tabpanel" tabindex="4">
                {% if barcode_table is not none %}
                {{ barcode_clashes_table(barcode_table) }}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="feature-tab" role="tabpanel" tabindex="5">
                {% if feature_table is not none %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Feature</th>
                            <th scope="col" class="col-1">Kit</th>
                            <th scope="col" class="col-1">Sequence</th>
                            <th scope="col" class="col-1">Pattern</th>
                            <th scope="col" class="col-1">Read</th>
                            <th scope="col" class="col-6">Libraries</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for (feature, kit, sequence, pattern, read), df in feature_table.groupby(["feature", "kit", "sequence", "pattern", "read"], dropna=False) %}
                        <tr>
                            <th scope="row">{{ feature }}</th>
                            <td>{{ kit if kit == kit }}</td>
                            <td>{{ sequence }}</td>
                            <td>{{ pattern }}</td>
                            <td>{{ read }}</td>
                            <td>
                                {% for _, row in df.iterrows() %}
                                {% if isna(row["library_name"]) %}
                                {% for library in form.abc_libraries %}
                                <span class="badge" >{{ library }}</span>
                                {% endfor %}
                                {% else %}
                                <span class="badge" >{{ row["library_name"] }}</span>
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="mux-tab" role="tabpanel" tabindex="6">
                {% if mux_type %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Sample Name</th>
                            <th scope="col" class="col-2">Library Name</th>
                            <th scope="col" class="col-2">Sample Pool</th>
                            {% if mux_type == MUXType.TENX_OLIGO %}
                            <th scope="col" class="col-2">Kit</th>
                            <th scope="col" class="col-2">Feature</th>
                            <th scope="col" class="col-1">Sequence</th>
                            <th scope="col" class="col-1">Pattern</th>
                            <th scope="col" class="col-1">Read</th>
                            {% elif mux_type == MUXType.TENX_ON_CHIP %}
                            <th scope="col" class="col-2">Barcode ID</th>
                            {% elif mux_type == MUXType.TENX_FLEX_PROBE %}
                            <th scope="col" class="col-2">Barcode ID</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in sample_pooling_table.iterrows() %}
                        <tr>
                            <th scope="row">{{ row["sample_name"] }}</th>
                            <td>{{ row["library_name"] }}</td>
                            <td>{{ row["sample_pool"] }}</td>
                            {% if mux_type == MUXType.TENX_OLIGO %}
                            <td>{{ row["kit"] if row["kit"] }}</td>
                            <td>{{ row["feature"] if row["feature"] }}</td>
                            <td>{{ row["mux_barcode"] }}</td>
                            <td>{{ row["mux_pattern"] }}</td>
                            <td>{{ row["mux_read"] }}</td>
                            {% elif mux_type == MUXType.TENX_ON_CHIP %}
                            <td>{{ row["mux_barcode"] }}</td>
                            {% elif mux_type == MUXType.TENX_FLEX_PROBE %}
                            <td>{{ row["mux_barcode"] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="spatial-tab" role="tabpanel" tabindex="7">
                {% if spatial_table is not none %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">Sample Name</th>
                            <th scope="col" class="col-3">Library Name</th>
                            <th scope="col" class="col-2">Image</th>
                            {% if "slide" in spatial_table.columns %}
                            <th scope="col" class="col-2">Slide</th>
                            {% endif %}
                            {% if "area" in spatial_table.columns %}
                            <th scope="col" class="col-2">Area</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in spatial_table.iterrows() %}
                        <tr>
                            <th scope="row">{{ row["sample_name"] }}</th>
                            <th scope="row">{{ row["library_name"] }}</th>
                            <td>{{ row["image"] }}</td>
                            {% if "slide" in spatial_table.columns %}
                            <td>{{ row["slide"] }}</td>
                            {% endif %}
                            {% if "area" in spatial_table.columns %}
                            <td>{{ row["area"] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id" id="complete-sas-form">
            {{ form.uuid }}
            {{ form.csrf_token() }}
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#complete-sas-form-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button class="btn btn-success" type="button" id="submit-spreadsheet-btn"
                hx-include="#complete-sas-form" hx-target="#complete-sas-form-container" hx-swap="outerHTML"
                hx-post="{{ url_for('library_annotation_workflow.complete', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Complete
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();
            $("#submit-spreadsheet-btn").on("click", function() {
                window.onbeforeunload = null;
            });

            $.getScript("https://d3js.org/d3.v4.min.js", function() {
                $.getScript("https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js", function() {
                    const nodes = {{ nodes | tojson }};
                    const links = {{ links | tojson }};

                    const _h = nodes.length * 50;
                    const _w = $("#submission-overview-graph").width();

                    var margin = {top: 50, right: 10, bottom: 10, left: 10};
                    var width =  _w - margin.left - margin.right;
                    var height = _h - margin.top - margin.bottom;

                    // append the svg object to the body of the page
                    var svg = d3.select("#submission-overview-graph").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    const columns = {% if "pool" in library_table.columns %}3{% else %}2{% endif %};
                    const dx = width / columns;

                    svg.append("text")
                        .attr("x", 30)
                        .attr("y", -margin.top * 0.5)
                        .attr("text-anchor", "middle")
                        .style("font-size", "22px")
                        .text("Project");

                    svg.append("text")
                        .attr("x", dx * 1)
                        .attr("y", -margin.top * 0.5)
                        .attr("text-anchor", "middle")
                        .style("font-size", "22px")
                        .text("Sample");

                    svg.append("text")
                        .attr("x", dx * 2 {%- if "pool" not in library_table.columns -%} -30 {%- endif -%})
                        .attr("y", -margin.top * 0.5)
                        .attr("text-anchor", "middle")
                        .style("font-size", "22px")
                        .text("Library");

                    {% if "pool" in library_table.columns %}
                    svg.append("text")
                        .attr("x", dx * 3 - 50)
                        .attr("y", -margin.top * 0.5)
                        .attr("text-anchor", "middle")
                        .style("font-size", "22px")
                        .text("Pool");
                    {% endif %}

                    // Color scale used
                    var color = d3.scaleOrdinal(d3.schemeCategory20);

                    // Set the sankey diagram properties
                    var sankey = d3.sankey().nodeWidth(25).nodePadding(15).size([width, height]);

                    sankey.nodes(nodes).links(links).layout(20);

                        // add in the links
                    var link = svg.append("g")
                        .selectAll(".link")
                        .data(links)
                        .enter()
                        .append("path")
                        .attr("class", "link")
                        .attr("d", sankey.link() )
                        .style("stroke-width", function(d) { return Math.max(1, d.dy); })
                        .sort(function(a, b) { return b.dy - a.dy; });

                    
                    // add in the nodes
                    var node = svg.append("g")
                        .selectAll(".node")
                        .data(nodes)
                        .enter().append("g")
                        .attr("class", "node")
                        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
                        .call(d3.drag()
                            .subject(function(d) { return d; })
                            .on("start", function() { this.parentNode.appendChild(this); })
                            .on("drag", dragmove));

                    // add the rectangles for the nodes
                    node
                        .append("rect")
                        .attr("height", function(d) { return d.dy; })
                        .attr("width", sankey.nodeWidth())
                        .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
                        .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
                        // Add hover text
                        .append("title")
                        .text(function(d) { return d.name + "\n" + "There is " + d.value + " stuff in this node"; });

                    // add in the title for the nodes
                        node
                        .append("text")
                            .attr("x", -6)
                            .attr("y", function(d) { return d.dy / 2; })
                            .attr("dy", ".35em")
                            .attr("text-anchor", "end")
                            .attr("transform", null)
                            .text(function(d) { return d.name; })
                        .filter(function(d) { return d.x < width / 2; })
                            .attr("x", 6 + sankey.nodeWidth())
                            .attr("text-anchor", "start");

                    // the function for moving the nodes
                    function dragmove(d) {
                        d3.select(this)
                        .attr("transform",
                                "translate("
                                + d.x + ","
                                + (d.y = Math.max(
                                    0, Math.min(height - d.dy, d3.event.y))
                                    ) + ")");
                        sankey.relayout();
                        link.attr("d", sankey.link() );
                    }
                });
            });
        });
    </script>
</div>