{% from "components/search_select.jinja2" import search_select_field %}
{% from 'components/form_group.jinja2' import form_group %}

<div id="project-select-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">1. Select Project</h1>
        <button type="button" class="btn-close" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <h5>Instructions</h5>
            <ul>
                <li>Select an existing project or create a new project.</li>
                <li>Samples associated to a same project are processed together.</li>
                <li>Samples from different sequencing requests can be associated to a same project.</li>
                {% if seq_request.group_id %}
                <li>Only showing projects from group: '{{ seq_request.group.name }}'. <span class="desc">Since request is associated with it. You can change it in 'Manage' -> 'Edit' -> 'Group' on the request's page.</span></li>
                {% endif %}
            </ul>
        </div>
        <div id="project-select-form">
            <div class="row">
                {{ 
                    search_select_field(
                        form.existing_project,
                        url_for('projects_htmx.query', group_id=seq_request.group_id),
                        class="col-5"
                    )
                }}
                <div class="col-2 mapping-or">
                    or
                </div>
                {{ form_group(form.new_project, class="col-5", autocomplete="off") }}
            </div>
            {{ form_group(form.project_description, placeholder="Describe the project with a few sentences. What samples are in the project? What is the hypothesis? What are the goals of the project?") }}
            {{ form.csrf_token() }}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary"
                hx-target="#project-select-form-container" hx-swap="outerHTML"
                hx-include="#project-select-form"
                hx-post="{{ url_for('library_annotation_workflow.select_project', seq_request_id=seq_request.id, workflow_type=workflow_type) }}">
                Next
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();

            $("#{{ form.new_project.title }}").on("input", function() {
                $("#{{ form.existing_project.title }}-search").val(null);
                $("#{{ form.existing_project.title }}").val(null);
            });
            $("#{{ form.existing_project.title }}").on("change", function() {
                $("#{{ form.new_project.title }}").val(null);
            });
        });
    </script>
</div>