<div id="pool-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Specify Pools</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body" id="pool-definition-form">
        {{ form.csrf_token.render() }}
        <h4>Contact Info</h4>
        <p>Who can we contact regarding the wet-lab work?</p>
        <div class="row">
            {{ form.contact_name.render("col-4") }}
            {{ form.contact_email.render("col-4") }}
            {{ form.contact_phone.render("col-4") }}
        </div>
        <hr>
        <h4>How many reads per pool is required?</h4>
        {% for sub_form in form.pool_forms %}
        <div>
            <div class="row">
                {{ sub_form.raw_label.render("col-2") }}
                {{ sub_form.new_pool_name.render("col-5") }}
                {{ sub_form.num_m_reads_requested.render("col-5") }}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <div class="footer-id">
            {{ form.workflow.uuid }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#pool-mapping-container" hx-swap="outerHTML"
            hx-get="{{ form.previous_url }}">
                Back
            </button>
            <button type="button" class="btn btn-primary"
                hx-target="#pool-mapping-container" hx-swap="outerHTML"
                hx-include="#pool-definition-form" id="submit-pool-definition-form-btn"
                hx-post="{{ form.post_url }}">
                Next
            </button>
        </div>
    </div>
</div>