{% from "components/form_group.jinja2" import form_group, readonly_field %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/search_select.jinja2' import search_select_field %}


<div id="pool-mapping-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">1.2 Specify Pools</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body" id="pool-definition-form">
        {{ form.csrf_token() }}
        <h4>Contact Info</h4>
        <p>Who pooled the libraries?</p>
        <div class="row">
            {{ form_group(form.contact_name, class="col-4") }}
            {{ form_group(form.contact_email, class="col-4") }}
            {{ form_group(form.contact_phone, class="col-4") }}
        </div>
        <hr>
        <h4>How many reads per pool is required?</h4>
        {% for sub_form in form.pool_forms %}
        <div>
            {{ sub_form.csrf_token() }}
            <div class="row">
                {{ readonly_field(sub_form.raw_label, class="col-2") }}
                {{ form_group(sub_form.new_pool_name, class="col-5") }}
                {{ form_group(sub_form.num_m_reads_requested, class="col-5") }}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
            hx-target="#pool-mapping-container" hx-swap="outerHTML"
            hx-get="{{ url_for('library_annotation_workflow.previous', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Back
            </button>
            <button type="button" class="btn btn-primary"
                hx-target="#pool-mapping-container" hx-swap="outerHTML"
                hx-include="#pool-definition-form" id="submit-pool-definition-form-btn"
                hx-post="{{ url_for('library_annotation_workflow.define_pools', seq_request_id=seq_request.id, uuid=form.uuid) }}">
                Next
            </button>
        </div>
    </div>
</div>