<div style="text-align: left;">
    <p>
        Your sequencing request has been submitted successfully and is now pending review. If any further information is required, we will reach out to you.
    </p>
    <b>What's Next?</b>
    <p>
        Our team will review your submission to ensure everything is in order.
        Once approved, you can bring us the samples at the scheduled submission time or send them by mail if you selected that option, unless otherwise agreed with us.
    </p>
    <b>Data Delivery</b>
    <p>
        After sequencing is complete and the data is processed and ready, we will notify the contact person ({{ email }}) with instructions on how to access and download the data.
        You can add additional email recipients in "Share"-tab of the sequencing request.
    </p>
</div>