{% from "components/tooltip.jinja2" import tooltip %}

{% macro barcode_clashes_table(df) %}
{% set uuid = uuid4() %}
<table class="table barcode-clashes-table">
    <thead>
        <tr>
            <th scope="col" class="col-1">Library ID</th>
            <th scope="col" class="col-3">Name</th>
            {% if "pool" in df.columns %}
            <th scope="col" class="col-2">Pool</th>
            {% endif %}
            <th scope="col" class="col-3">Combined Index <span class="desc">i7 + i5</span></th>
            <th scope="col" class="col-1"><span {{ tooltip("Smallest pair-wise Hamming distance between concatenated barcode sequences (I1 + I2) in the pool") }}>Hamming Dist.</span></th>
            <th scope="col" class="col-2">
                Index
                <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                    <i class="bi bi-upc-scan"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for _, row in df.iterrows() %}
        {% if row["error"] %}
        <tr {{ tooltip(row["error"], category="error") }}>
        {% elif row["warning"] %}
        <tr {{ tooltip(row["warning"], category="warning") }}>
        {% else %}
        <tr>
        {% endif %}
            <th scope="row">{% if row["error"] %}❌{% elif row["warning"] %}⚠️{% else %}✅{% endif %} {{ row["library_id"] if "library_id" in row else "" }}</th>
            <td>{{ row["library_name"] }}</td>
            {% if "pool" in df.columns %}
            <td>{{ row["pool"] }}</td>
            {% endif %}
            <td class="index-cell">{{ row["combined_index"] }}</td>
            <td {% if row["min_hamming_bases"] < 1 %}
            class="cemm-red"
            {% elif row["min_hamming_bases"] < 2 %}
            class="cemm-yellow"
            {% else %}
            class="cemm-green"
            {% endif %}>{{ row["min_hamming_bases"] }} bp</td>
            <td class="barcode-cell">
                {% if "name_i7" in df.columns and "name_i5" in df.columns %}
                {% if row["name_i7"] == row["name_i5"] and row["name_i7"] %}
                <span class="badge index-badge index-badges-{{ uuid }}" >{{ row["name_i7"] }}</span>
                {% else %}
                {% if row["name_i7"] %}
                <span class="badge index-badge index-badges-{{ uuid }}">{{ row["name_i7"] }}{% if row["name_i5"] %}+{{ row["name_i5"] }}{% endif %}</span>
                {% else %}
                <span class="badge index-badge index-badges-{{ uuid }}">{{ row["sequence_i7"] }}{% if row["sequence_i5"] %}+{{ row["sequence_i5"] }}{% endif %}</span>
                {% endif %}
                {% endif %}
                <span class="badge index-badge index-badges-{{ uuid }}" style="display: none;">{{ row["sequence_i7"] }}{% if row["sequence_i5"] %}+{{ row["sequence_i5"] }}{% endif %}</span>
                {% else %}
                <span class="badge index-badge index-badges-{{ uuid }}">{{ row["sequence_i7"] }}{% if row["sequence_i5"] %}+{{ row["sequence_i5"] }}{% endif %}</span>
                <span class="badge index-badge index-badges-{{ uuid }}" style="display: none;">{{ row["sequence_i7"] }}{% if row["sequence_i5"] %}+{{ row["sequence_i5"] }}{% endif %}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}