{% from 'components/tooltip.jinja2' import tooltip %}

{% macro form_group(field, class="", id=none, disabled=false, trigger_dest_id=none, readonly=false, autocomplete="on", unit=none, placeholder=none, hide_label=false) -%}
<div class="{{class}} form-group">
    {% if not hide_label %}
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    {% endif %}
    {% if unit %}
    <div class="input-with-unit">
    {% endif %}
    {{ 
        field(
            class="form-control" + (" disabled" if disabled else "") + (" is-invalid" if (field.errors and not disabled) else "") + (" readonly" if readonly else ""), 
            placeholder="" if placeholder == false else (((placeholder if placeholder else "") if disabled else (placeholder if placeholder else ("Required" if field.flags.required else "Optional")))),
            readonly=readonly or disabled, value=field.data if field.data else "",
            onchange="htmx.trigger('#" + trigger_dest_id + "', 'change');" if trigger_dest_id else "",
            id=(id if id else field.name), autocomplete=autocomplete,
        ) 
    }}
    {% if unit %}
    <span class="input-group-text unit-container">{{unit}}</span>
    </div>
    {% endif %}
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro switch_input(field, class='', disabled=false, collapse_element_id=none) -%}
<div class="form-group form-check form-switch {{ class }}">
    {% if collapse_element_id %}
        {% if field.data == True %}
        <input type="checkbox" id="{{ field.id }}" checked name="{{ field.name }}" class="form-check-input" data-bs-toggle="collapse" data-bs-target="#{{collapse_element_id}}" aria-expanded="{{ 'true' if field.data else 'false' }}" aria-controls="{{collapse_element_id}}">
        {% else %}
        <input type="checkbox" id="{{ field.id }}" name="{{ field.name }}" class="form-check-input collapsed" data-bs-toggle="collapse" data-bs-target="#{{collapse_element_id}}" aria-expanded="{{ 'true' if field.data else 'false' }}" aria-controls="{{collapse_element_id}}">
        {% endif %}
    {% else %}
        {{ field(class="form-check-input") }}
    {% endif %}
    {{ field.label(class="form-check-label") }}
</div>
{%- endmacro %}


{% macro checkbox_input(field, class='', disabled=false) -%}
<div class="form-group form-check {{ class }}">
    {{ field(class="form-check-input") }}
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
    {{ field.label(class="form-check-label") }}
    </a>
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro select_input(field, class='', disabled=false) -%}
<div class="{{class}} form-group">
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    <div class="select-container">
        <select class="form-control select-field {% if field.errors %}is-invalid{% endif %} {{ 'disabled' if disabled else '' }}" 
        {% if disabled %}disabled{% endif %}
        name="{{ field.name }}" id="{{ field.id }}">
            {% for choice in field.iter_choices() %}
            <option value="{{ choice[0] }}"
            {% if choice[2] %}
            selected
            {% endif %}>
                {{ choice[1] }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro readonly_field(field, class='') %}
{% macro random_string(len) -%}{% for i in range(0,len) -%}{{ [0,1,2,3,4,5,6,7,8,9,"a","b","c","d","e","f"]|random }}{% endfor %}{%- endmacro -%}
{% macro random_guid() -%} {{ random_string(8) + "-" + random_string(4) + "-" + random_string(4) + "-" + random_string(4) + "-" + random_string(12) }}{%- endmacro -%}
{% set guid = random_guid() %}
<div class="{{class}} form-group" id="{{guid}}">
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    <div class="copyable-input">
        {{ 
            field(
                class="form-control" + (" is-invalid" if (field.errors and not disabled) else ""), 
                readonly=true, value=field.data if field.data else "",
                id=field.name
            ) 
        }}
        <a type="button" class="clipboard-btn" {{ tooltip("Click to copy.", position="top") }}
        onclick="copy_value_to_clipboard('{{guid}}')">
            <i class="bi bi-clipboard not-copied-icon"></i>
            <i class="bi bi-clipboard-check copied-icon" style="display: none;"></i>
        </a>
    </div>
</div>
{%- endmacro %}


{% macro form_cell(field, class='', input_class='', unit=none) %}
<div class="{{ class }} form-group {% if unit != '' %}input-with-unit{% endif %}">
    {{ 
        field(
            class="form-control " + input_class + (" is-invalid" if (field.errors) else ""), 
            placeholder=(field.errors | first) if field.errors else field.label.text,
            value=field.data if field.data else "",
            id=field.name, autocomplete="off",
        )
    }}
    {% if unit %}
    <span class="input-group-text unit-container">{{ unit }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro datepicker(field, class='', disabled=false) %}
    <a {% if field.description %}{{ tooltip(field.description, "top") }}{% endif %}>
        {{ field.label }}
    </a>
    <div>
        {{ 
            field(
                class="form-control" + (" is-invalid" if (field.errors and not disabled) else ""), 
                value=field.data if field.data else "", id=field.name
            ) 
        }}
    </div>
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro radio_input(field, class='', disabled=false) %}
<div class="{{ class }} form-group">
    <span class="form-check">
        <label><b>{{ field.label }}</b></label>
        {% for subfield in field %}
        <div class="form-check {{ 'disabled' if disabled else '' }}">
        {{ subfield(class="form-check-input", id=subfield.id, disabled=disabled) }}
        <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
        </div>
        {% endfor %}
    </span>
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endmacro %}

