{% from "components/tooltip.jinja2" import tooltip %}

{% macro library_type_badge_list(library_types, mux_types=none) %}
<div class="scroll-container">
    {% for library_type in library_types %}
    <span class="badge" {{ tooltip(library_type.label) }}>{{ library_type.identifier }}</span>
    {% endfor %}
    {% if mux_types %}
    <sup class="mux-type">{% for mux_type in mux_types %}{{ mux_type.abbreviation }}{% endfor %}</sup>
    {% endif %}
</div>
{% endmacro %}