{% from 'components/tooltip.jinja2' import tooltip %}

{% macro random_string(len) -%}{% for i in range(0,len) -%}{{ [0,1,2,3,4,5,6,7,8,9,"a","b","c","d","e","f"]|random }}{% endfor %}{%- endmacro -%}
{% macro random_guid() -%} {{ random_string(8) + "-" + random_string(4) + "-" + random_string(4) + "-" + random_string(4) + "-" + random_string(12) }}{%- endmacro -%}

{% macro metadata_group(label, value, class="", input_id=none, unit=none) -%}
{% set guid = random_guid() %}
<div class="{{class}} form-group metadata-group" id="{{guid}}">
    <label>{{ label }}</label>
    <div class="copyable-input {% if unit %}input-with-unit{% endif %}">
        <input class="form-control" type="text" value="{{ value if value else '' }}" {% if input_id %}id="{{input_id}}"{% endif %} readonly>
        <a type="button" class="clipboard-btn" {{ tooltip("Click to copy.", position="top") }}
        onclick="copy_value_to_clipboard('{{guid}}')">
            <i class="bi bi-clipboard not-copied-icon"></i>
            <i class="bi bi-clipboard-check copied-icon" style="display: none;"></i>
        </a>
        {% if unit %}
        <span class="input-group-text unit-container">{{unit}}</span>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro metadata_quantity(label, quantity, class="", input_id=none, compact=true, decimals=2) -%}
{% set guid = random_guid() %}
{% if compact %}
{% set quantity = quantity.compact() %}
{% endif %}
<div class="{{class}} form-group metadata-group" id="{{guid}}">
    <label>{{ label }}</label>
    <div class="copyable-input {% if quantity.unit.symbol %}input-with-unit{% endif %}">
        <input class="form-control" type="text" value="{{ quantity.value_to_str() if quantity else '' }}" {% if input_id %}id="{{input_id}}"{% endif %} readonly>
        <a type="button" class="clipboard-btn" {{ tooltip("Click to copy.", position="top") }}
        onclick="copy_value_to_clipboard('{{guid}}')">
            <i class="bi bi-clipboard not-copied-icon"></i>
            <i class="bi bi-clipboard-check copied-icon" style="display: none;"></i>
        </a>
        {% if quantity.unit.symbol %}
        <span class="input-group-text unit-container">{{ quantity.unit.symbol }}</span>
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro metadata_group_select(label, value, options, class="") -%}
<div class="{{class}} form-group metadata-group">
    <label>{{ label }}</label>
    <select class="form-control" readonly>
        {% for option in options %}
        <option {% if option == value %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

{% macro metadata_group_textarea(label, value, class="") -%}
<div class="{{class}} form-group metadata-group">
    <label>{{ label }}</label>
    <textarea class="form-control" readonly>{{ value }}</textarea>
</div>
{%- endmacro %}

{% macro metadata_group_link(label, value, url, class="") -%}
{% set guid = random_guid() %}
<div class="{{class}} form-group metadata-group" id="{{guid}}">
    <label>{{ label }}</label>
    <div class="copyable-input">
        <a href="{{ url }}" style="text-decoration: none; width: 100%;">
            <input class="form-control" style="cursor: pointer; color: #0d6efd;" readonly type="text" value="{{ value }}">
        </a>
        <a type="button" class="clipboard-btn" {{ tooltip("Click to copy.", position="top") }}
        onclick="copy_value_to_clipboard('{{guid}}')">
            <i class="bi bi-clipboard not-copied-icon"></i>
            <i class="bi bi-clipboard-check copied-icon" style="display: none;"></i>
        </a>
    </div>
</div>
{%- endmacro %}

{% macro metadata_group_email_link(label, email, class="", subject="") -%}
{% set guid = random_guid() %}
<div class="{{class}} form-group metadata-group" id="{{guid}}">
    <label>{{ label }}</label>
    <div class="copyable-input">
        <a style="text-decoration: none; width: 100%;"
        onclick="Swal.fire({
            title: 'Send email to {{ email }}',
            showDenyButton: true,
            icon: 'question',
            text: 'Open default email app?',
            confirmButtonText: 'Yes',
            denyButtonText: 'No'
        }).then(function(e) {
            if (e.isConfirmed) {
                window.location.href = 'mailto:{{ email }}?subject={{ subject }}';
            }
        });">
            <input class="form-control" style="cursor: pointer; color: #0d6efd;" readonly type="text" value="{{ email }}">
        </a>
        <a type="button" class="clipboard-btn" {{ tooltip("Click to copy.", position="top") }} onclick="copy_value_to_clipboard('{{guid}}')">
            <i class="bi bi-clipboard not-copied-icon"></i>
            <i class="bi bi-clipboard-check copied-icon" style="display: none;"></i>
        </a>
    </div>
</div>
{%- endmacro %}
