{% from "components/tooltip.jinja2" import tooltip %}

{% macro multi_select(choices, field_name, url, table_container_id, selected=none, placeholder="Select...") %}
{% if selected %}
{% set ns = namespace(names=[]) %}
{% for t in selected %}
  {% set _ = ns.names.append("[" + t.id | string + "] " + t.display_name) %}
{% endfor %}
{% endif %}
<div class="dropdown multi-select" field="{{ field_name }}" {% if selected %}{{ tooltip('<br>'.join(ns.names), position="left") }}{% endif %}>
    <button class="dropdown-toggle multi-select-toggle-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" placeholder="{{ placeholder }}">
        {% if selected %}
            {% for choice in selected %}
                {{ choice.select_name }}
            {% endfor %}
        {% else %}
            {{ placeholder }}
        {% endif %}
    </button>
    <ul class="dropdown-menu">
        {% for status in choices %}
        <li>
            <input type="checkbox" class="multi-select-check btn-check" id="{{table_container_id}}-{{ field_name }}-select-{{ status.id }}"
            autocomplete="off" icon="{{ status.select_name }}" value="{{ status.id }}" field="{{ field_name }}"
            onclick="table_filter('{{ url }}', '{{ table_container_id }}');"
            {% if selected and status in selected %}checked{% endif %}>
            <label class="btn" for="{{table_container_id}}-{{ field_name }}-select-{{ status.id }}">{{ status.name }} <span class="desc">{{ status.select_name }}</span></label>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}