{% from 'components/tooltip.jinja2' import tooltip %}

{% macro search_select_field(field, query_url, class="") -%}
<div class="form-group search-select {{ class }}">
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label.text }}
    </a>
    <div class="input-group">
        <input class="input-group-text searchbar-data"
        type="number" value="{{ field.selected.data if field.selected.data }}"
        id="{{ field.name }}" name="{{ field.name }}-selected" readonly>
        <input type="search" autocomplete="off"
        class="form-control searchbar-input search-component {% if field.selected.errors %} is-invalid {% endif %}"
        value="{{ field.search_bar.data if field.search_bar.data else '' }}"
        name="{{ field.name }}-search" id="{{ field.name }}-search"
        hx-include="#{{ field.name }}-search" hx-target="#{{ field.name }}-results"
        hx-trigger="keyup changed delay:500ms, {{ field.name }}, change{% if not results %}, load{% endif %}" 
        hx-post="{{ query_url}}"
        hx-swap="innerHTML"
        placeholder="Search">
    </div>
    <div class="search-select-results-container">
        <div id="{{ field.name }}-results" class="search-select-results" style="display: none; width: 100%; z-index: 100;">
            {% include "components/search_select_results.html" %}
        </div>
    </div>
    <div class="invalid-feedback-container" id="{{ field.name }}-invalid-container">
        {% if field.errors %}
            {% for error in field.selected.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {{ field.csrf_token() }}
</div>
<script>
    init_tooltips();
    // Shows search results when user focuses on search component
    $("#{{ field.name }}-search:not(.disabled)").on("focus", function() {
        $("#{{ field.name }}-results").css("display", "block");
        this.select();
        $(this).parent().addClass("active");
    });

    $("#{{ field.name }}-search:not(.disabled)").on("focusout", function() {
        $(this).parent().removeClass("active");
    });

    $("#{{ field.name }}-search").on("change", function() {
        if ($(this).val() === "") {
            $("#{{ field.name }}").val("");
        }
    });
</script>
{%- endmacro %}
