{% macro spreadsheet(id="spreadsheet-grid", errors=none, height=none) -%}
<div class="spreadsheet-container" {% if height %}style="height: {{ height }};"{% endif %}>
    <div class="invalid-feedback-container">
        {% if errors %}
        <p>Errors:</p>
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <div id="{{ id }}" class="spreadsheet-grid"></div>
</div>
{%- endmacro %}

{% macro static_spreadsheet(element) -%}
<div class="spreadsheet-container" {% if height %}style="height: {{ height }};"{% endif %}>
    <div id="{{ element._id }}" class="spreadsheet-grid">
    </div>
</div>
<script>
    const spreadsheet = jspreadsheet(document.getElementById("{{ element._id }}"), {
        data: {{ element._data }},
        columns: [
            {% for col in element.columns %}
            {%- if col.type == "text" or col.type == "numeric" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
            {%- elif col["type"] == "dropdown" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
            {%- endif -%}
            {% endfor %}
        ],
        allowInsertRow: false,
        allowManualInsertRow: false,
        allowDeleteRow: false,
        allowDeleteColumn: false,
        allowInsertColumn: false,
        allowRenameColumn: false,
        editable: false,
        tableOverflow: true,
        tableWidth: "100%",
        tableHeight: "100%",
        style: {{ element.style | tojson }},
    });
</script>
{%- endmacro %}

{% macro spreadsheet_input(element, target_element_id=none, submit_btn_id=none, height=none, post_request_kwargs={}) -%}
<div class="spreadsheet-container" {% if height %}style="height: {{ height }};"{% endif %}>
    <div class="invalid-feedback-container">
        {% if element._errors %}
        <p>Errors:</p>
        {% for error in element._errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <div id="{{ element.id }}" class="spreadsheet-grid"></div>
</div>
<script>
    var spread_sheet = jspreadsheet(document.getElementById("{{ element.id }}"), {
        data: {{ element.raw_data if element.raw_data else "[[null]]" }},
        columns: [
            {% for col in element.columns.values() %}
            {%- if col.type == "text" or col.type == "numeric" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} {% if col.read_only %},  readOnly: true {% endif %} },
            {%- elif col["type"] == "dropdown" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } {% if col.read_only %},  readOnly: true {% endif %} },
            {%- endif -%}
            {% endfor %}
        ],
        minSpareRows: {{ element.min_spare_rows }},
        allowInsertColumn: {{ element.allow_new_cols }},
        allowDeleteColumn: {{ element.allow_new_cols }},
        allowManualInsertRow: {{ element.allow_new_rows }},
        allowInsertRow: {{ element.allow_new_rows }},
        allowDeleteRow: {{ element.allow_new_rows }},
        allowRenameColumn: {{ element.allow_col_rename }},
        tableOverflow: true,
        tableWidth: "100%",
        tableHeight: "100%",
        style: {{ element.style | tojson if element.style else "{}" }},
    });

    {% if submit_btn_id %}
    $("#{{ submit_btn_id }}").on("click", function() {
        var data = spread_sheet.getData();

        htmx.ajax("POST", "{{ element.post_url | safe }}", {
            "target": "#{{ target_element_id }}",
            "swap": "outerHTML",
            "values": {
                "spreadsheet": JSON.stringify(data),
                "csrf_token": "{{ element.csrf_token }}",
                "columns": JSON.stringify(spread_sheet.getHeaders()),
                {% for key, val in post_request_kwargs.items() %}
                "{{ key }}": "{{ val }}"
                {% endfor %}
            },
        });

        disable_button($("#{{ submit_btn_id }}"));
    });
    {% endif %}
    
</script>
{%- endmacro %}


{% macro spreadsheet_file(element, class="", id=none, disabled=false) %}
<div class="{{class}} form-group">
    <a {% if element.file.description %}
    {{ tooltip(element.file.description, "top") }}
    {% endif %}>
        {{ element.file.label }}
    </a>
    {{ 
        element.file(
            class="form-control" + (" disabled" if disabled else "") + (" is-invalid" if (element.file.errors and not disabled) else ""), 
            readonly=disabled,
            id=(id if id else element.file.name),
        ) 
    }}
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in element.file.errors %}
            <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% if element._data %}
<div class="spreadsheet-container" style="width: 100%;">
    <div id="{{ element.file.id }}-spreadsheet" class="spreadsheet-grid">
    </div>
</div>
<script>
    jspreadsheet(document.getElementById("{{ element.file.id }}-spreadsheet"), {
        data: {{ element._data }},
        columns: [
            {% for label in element.cell_errors.keys() %}
            {% set col = element.columns[label] %}
            {%- if col.type == "text" or col.type == "numeric" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
            {%- elif col["type"] == "dropdown" -%}
            { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
            {%- endif -%}
            {% endfor %}
        ],
        allowInsertRow: true,
        allowManualInsertRow: false,
        allowDeleteRow: false,
        allowDeleteColumn: false,
        allowInsertColumn: true,
        allowRenameColumn: false,
        editable: false,
        tableOverflow: true,
        tableWidth: "100%",
        tableHeight: "100%",
        style: {{ element.style | tojson }},
    });
</script>
{% endif %}
{% endmacro %}
