{% from "components/tooltip.jinja2" import tooltip %}

{% macro seq_request_status_bar(seq_request) -%}
{% if seq_request.status == SeqRequestStatus.DRAFT %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(SeqRequestStatus.DRAFT.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-transparent text-muted" style="width: 100%">
        {{ SeqRequestStatus.DRAFT.name }} {{ SeqRequestStatus.DRAFT.icon | safe }}
    </div>
</div>
{% elif seq_request.status == SeqRequestStatus.ARCHIVED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(SeqRequestStatus.DRAFT.description, position='top', category='warning') }}>
<div class="progress-bar progress-bar-striped bg-info text-dark" style="width: 100%">
        {{ SeqRequestStatus.ARCHIVED.name }} {{ SeqRequestStatus.ARCHIVED.icon | safe }}
    </div>
</div>
{% elif seq_request.status == SeqRequestStatus.FAILED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(SeqRequestStatus.FAILED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-danger" style="width: 100%">
        {{ SeqRequestStatus.FAILED.name }} {{ SeqRequestStatus.FAILED.icon | safe }}
    </div>
</div>
{% else %}
<div class="progress-stacked">
    {% set fill_pct = (100 / SeqRequestStatus.FINISHED.id + 1) %}
    {% for status_id in range(1, SeqRequestStatus.FINISHED.id + 1) %}
    {% set status = SeqRequestStatus.get(status_id) %}
    <div class="progress" role="progressbar" aria-valuenow="{{ fill_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fill_pct }}%"
    {{ tooltip(status.description, position='top', category='warning') }}>
        {% if seq_request.status >= status %}
        <div class="progress-bar bg-tab-10-{{ status_id }}">
        {% else %}
        <div class="progress-bar progress-bar-striped text-muted  bg-transparent">
        {% endif %}
        {{ status.name }} {{ status.icon | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{%- endmacro %}

{% macro experiment_status_bar(experiment) -%}
{% if experiment.status == ExperimentStatus.ARCHIVED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(ExperimentStatus.ARCHIVED.description, position='top', category='warning') }}>
<div class="progress-bar progress-bar-striped bg-info text-dark" style="width: 100%">
        {{ ExperimentStatus.ARCHIVED.name }} {{ ExperimentStatus.ARCHIVED.icon | safe }}
    </div>
</div>
{% elif experiment.status == ExperimentStatus.FAILED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(ExperimentStatus.FAILED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-danger" style="width: 100%">
        {{ ExperimentStatus.FAILED.name }} {{ ExperimentStatus.FAILED.icon | safe }}
    </div>
</div>
{% else %}
<div class="progress-stacked">
    {% set fill_pct = (100 / ExperimentStatus.DEMULTIPLEXED.id + 1) %}
    {% for status_id in range(0, ExperimentStatus.DEMULTIPLEXED.id + 1) %}
    {% set status = ExperimentStatus.get(status_id) %}
    <div class="progress" role="progressbar" aria-valuenow="{{ fill_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fill_pct }}%"
    {{ tooltip(status.description, position='top', category='warning') }}>
        {% if experiment.status.id >= status_id %}
        <div class="progress-bar bg-tab-10-{{status_id + 1}}">
        {% else %}
        <div class="progress-bar progress-bar-striped text-muted  bg-transparent">
        {% endif %}
        {{ status.name }} {{ status.icon | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{%- endmacro %}

{% macro library_status_bar(library) -%}
{% if library.status == LibraryStatus.DRAFT %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(LibraryStatus.DRAFT.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-transparent text-muted" style="width: 100%">
        {{ LibraryStatus.DRAFT.name }} {{ LibraryStatus.DRAFT.icon | safe }}
    </div>
</div>
{% elif library.status == LibraryStatus.FAILED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(LibraryStatus.FAILED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-danger" style="width: 100%">
        {{ LibraryStatus.FAILED.name }} {{ LibraryStatus.FAILED.icon | safe }}
    </div>
</div>
{% else %}
<div class="progress-stacked">
    {% set fill_pct = (100 / LibraryStatus.SEQUENCED.id + 1) %}
    {% for status_id in range(1, LibraryStatus.SEQUENCED.id + 1) %}
    {% set status = LibraryStatus.get(status_id) %}
    <div class="progress" role="progressbar" aria-valuenow="{{ fill_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fill_pct }}%"
    {{ tooltip(status.description, position='top', category='warning') }}>
        {% if library.status >= status %}
        <div class="progress-bar bg-tab-10-{{status_id}}">
        {% else %}
        <div class="progress-bar progress-bar-striped text-muted bg-transparent">
        {% endif %}
        {{ status.name }} {{ status.icon | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{%- endmacro %}

{% macro pool_status_bar(pool) %}
{% if pool.status == PoolStatus.DRAFT %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(PoolStatus.DRAFT.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-transparent text-muted" style="width: 100%">
        {{ PoolStatus.DRAFT.name }} {{ PoolStatus.DRAFT.icon | safe }}
    </div>
</div>
{% elif pool.status == PoolStatus.REJECTED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(PoolStatus.FAILED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-danger" style="width: 100%">
        {{ PoolStatus.REJECTED.name }} {{ PoolStatus.REJECTED.icon | safe }}
    </div>
</div>
{% elif pool.status == PoolStatus.ARCHIVED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(PoolStatus.ARCHIVED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-info text-dark" style="width: 100%">
        {{ PoolStatus.ARCHIVED.name }} {{ PoolStatus.ARCHIVED.icon | safe }}
    </div>
</div>
{% else %}
<div class="progress-stacked">
    {% set fill_pct = (100 / PoolStatus.SEQUENCED.id + 1) %}
    {% for status_id in range(1, PoolStatus.SEQUENCED.id + 1) %}
    {% set status = PoolStatus.get(status_id) %}
    <div class="progress" role="progressbar" aria-valuenow="{{ fill_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fill_pct }}%"
    {{ tooltip(status.description, position='top', category='warning') }}>
        {% if pool.status >= status %}
        <div class="progress-bar bg-tab-10-{{status_id}}">
        {% else %}
        <div class="progress-bar progress-bar-striped text-muted bg-transparent">
        {% endif %}
        {{ status.name }} {{ status.icon | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}


{% macro project_status_bar(project) %}
{% if project.status == ProjectStatus.DRAFT %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(ProjectStatus.DRAFT.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-transparent text-muted" style="width: 100%">
        {{ ProjectStatus.DRAFT.name }} {{ ProjectStatus.DRAFT.icon | safe }}
    </div>
</div>
{% elif project.status == ProjectStatus.ARCHIVED %}
<div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" {{ tooltip(ProjectStatus.ARCHIVED.description, position='top', category='warning') }}>
    <div class="progress-bar progress-bar-striped bg-info text-dark" style="width: 100%">
        {{ ProjectStatus.ARCHIVED.name }} {{ ProjectStatus.ARCHIVED.icon | safe }}
    </div>
</div>
{% else %}
<div class="progress-stacked">
    {% set fill_pct = (100 / ProjectStatus.DELIVERED.id + 1) %}
    {% for status_id in range(1, ProjectStatus.DELIVERED.id + 1) %}
    {% set status = ProjectStatus.get(status_id) %}
    <div class="progress" role="progressbar" aria-valuenow="{{ fill_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fill_pct }}%"
    {{ tooltip(status.description, position='top', category='warning') }}>
        {% if project.status >= status %}
        <div class="progress-bar bg-tab-10-{{status_id}}">
        {% else %}
        <div class="progress-bar progress-bar-striped text-muted bg-transparent">
        {% endif %}
        {{ status.name }} {{ status.icon | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}