<div class="example-table" id="feature-2-example">
    <div class="input-help">
        <ul>
            <li>If using <b>all features</b> from a predefined <a href="{{ url_for('kits_page.feature_kits') }}" target="_blank">feature-kit</a>: specify columns <b>Library Name, Kit</b></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('feature-2-example'), {
            data: [
                ["ABC_LIBRARY_1", "TotalSeqA Antibody", "", "", "", ""],
                ["ABC_LIBRARY_2", "TotalSeqB Antibody", "", "", "", ""],
                ["ABC_LIBRARY_3", "TotalSeqA Antibody", "", "", "", ""],
            ],
            columns: [
                {% for col in form.spreadsheet.columns.values() %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                {%- endif -%}
                {% endfor %}
            ],
        });
    });
</script>