<div class="example-table" id="cmo-1-example">
    <div class="input-help">
        <ul>
            <li>Demux Name <span class="desc">Demultiplexed sample name</span></li>
            <li>Sample Name <span class="desc">The sample from annotation sheet that this CMO belongs to, must mach one and only one value from 'Sample Name'-column from sample annotation sheet</span></li>
            <li>Feature <span class="desc">Name of the CMO feature. If using predefined kit, must match the 'Name'-column of the Feature in one of the feature kits from <a href="{{ url_for('kits_page.feature_kits') }}" target="_blank">Feature Kits</a> page</span></li>
            <li>Kit <span class="desc">name of a predefined feature kit, one found in <a href="{{ url_for('kits_page.feature_kits') }}">Feature Kits</a> page</span></li>
            <li>Sequence <span class="desc">e.g. 'TGAGTACAGGCTCCCAAG'</span></li>
            <li>Pattern <span class="desc">e.g. '^NNNNNNNNNNNNNNNNNNNNNN(BC)'</span></li>
            <li>Read <span class="desc">e.g. 'R2'</span></li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function() {
        jspreadsheet(document.getElementById('cmo-1-example'), {
            data: [
                "lung_sample_A", "cmo_sample_A", "", "", "ATGAGGAATTCCTGC", "5P(BC)", "R2"
                "heart_sample_A", "cmo_sample_A", "", "", "CATGCCAATAGAGCG", "5P(BC)", "R2"
                "kidney_sample_A", "cmo_sample_A", "", "", "CCGTCGTCCAAGCAT", "5P(BC)", "R2"
                "lung_sample_B", "cmo_sample_B", "", "", "AACGTTAATCACTCA", "5P(BC)", "R2"
                "heart_sample_B", "cmo_sample_B", "", "", "CGCGATATGGTCGGA", "5P(BC)", "R2"
                "kidney_sample_B", "cmo_sample_B", "", "", "AAGATGAGGTCTGTG", "5P(BC)", "R2"
                "lung_sample_C", "cmo_sample_C", "", "", "AAGCTCGTTGGAAGA", "5P(BC)", "R2"
                "heart_sample_C", "cmo_sample_C", "", "", "CGGATTCCACATCAT", "5P(BC)", "R2"
                "kidney_sample_C", "cmo_sample_C", "", "", "GTTGATCTATAACAG", "5P(BC)", "R2"
            ],
            columns: [
                {% for col in form.spreadsheet.columns.values() %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} {% if col.read_only %},  readOnly: true {% endif %} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } {% if col.read_only %},  readOnly: true {% endif %} },
                {%- endif -%}
                {% endfor %}
            ],
            minSpareRows: 10,
        });
    });
</script>