$progress-height: 1.3rem !default;

@import "colors.scss";
@import "scrollbar.css";
@import "theme.scss";
@import "navbar.scss";
@import "responsive.scss";
@import "colors.scss";
@import "tooltip.scss";


body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .seq_request-banner {
        border: 1px solid #ccc;
        border-radius: 5px;

        a {
            color: $black;
            text-decoration: none;
            padding: 0;
        }
        .banner-title {
            padding-left: 5px;
            padding-right: 5px;
            div {
                text-align: center;
                vertical-align: middle;
                font-size: 1rem;
                padding-bottom: 3px;
            }
            div:first-child {
                text-align: start;
            }
            div:last-child {
                text-align: end;
            }
        }
    }

    .seq_request-banner:hover {
        background-color: $gray-300;
    }
}

#right-click-bg {
    width: 100%; 
    height: 100%;
    display: none;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 16;
    .dropdown-item:hover {
        cursor: pointer;
    }
}

#main-container {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

#main {
    width: 100%;
    padding: 0;
    display: flex;
    width: calc(100vw - 10px);
    overflow-x: hidden;
    background-color: $gray-200;

    #left-margin, #right-margin {
        position: sticky;
        padding: 5px;
        width: 150px;
        margin: 0;
    }

    #middle-container {
        min-height: calc(100vh - 60px);
        width: 100%;
        padding-top: 5px;
        padding-bottom: 10px;
        background-color: $gray-100;
        .container {
            min-width: 100%;
            .status_bar {
                padding-bottom: 5px;
            }
            .page-header {
                padding-bottom: 5px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                h1, h2 {
                    margin: 0;
                    padding: 0;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
    }
    #breadcrumb {
        ol {
            padding: 5px 0 0 5px;
            li.active {
                color: $cemm-blue-dark;
            }
            a {
                text-decoration: none;
                color: $cemm-blue;
            }
            list-style: none;
            li:not(:last-child):after {
                content: "/";
                padding: 0 5px 0 5px;
            }
        }
        word-wrap: break-word;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
    
    }
}

.pagination .page-item {
    cursor: pointer;
}

.modal-xl {
    min-width: 80vw;
    .modal-content {
        width: 100%;
    }
    .modal-body {
        min-height: 70vh;
        max-height: 75vh;
        padding: 20px 30px 20px 30px;
        overflow-y: auto;

        .tab-content {
            height: 100%;
            .tab-pane {
                height: 100%;
            }
        }
    }
}

.modal-l {
    min-width: 60vw;
    .modal-content {
        width: 100%;
    }
    .modal-body {
        height: 50vh;
        padding: 20px 30px 20px 30px;
        overflow-y: auto;

        .tab-content {
            height: 100%;
            .tab-pane {
                height: 100%;
            }
        }
    }
}


.htmx-request:hover {
    cursor: wait;
}

.alert {
    position: fixed;
    width: 50%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
    .alert-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            height: 100%;
            div {
                height: 100%;
            }
        }
    }
}

.alert {
    animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
    @keyframes movein {
        from { top: -200px; }
        to   { top: 80px; }
    }
    
    @keyframes moveout {
        from { top: 80px; }
        to   { top: -200px; }
    }
}
.table-cursor {
    thead {
        tr {
            th.sortable-col.asc { cursor: n-resize; }
            th.sortable-col.desc { cursor: s-resize; }
            th.sortable-col:hover { background-color: $gray-300; }
            th { cursor: default; }
        }
    }
    tbody {
        tr { cursor: pointer; }
        tr.disabled { cursor: not-allowed; }
        tr .table-cell-tooltip { cursor: pointer; }
    }
}

.table tbody {
    .disabled td, .disabled th {
        background-color: $gray-200;
        opacity: 0.7;
        border: 0;
    }
}


input.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    cursor: default;
}

input.disabled:focus {
    box-shadow: none;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.display-form {
    input.disabled {
        background-color: $white;
    }
}

.table-container {
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    table {
        .table-select-buttons {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
        .table-btn {
            height: 25px;
            padding: 0px 8px 0px 8px;
        }
        width: 100%;
        * {
            margin: 0 !important;
        }

        tr {
            td, th {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
                white-space: nowrap;
                overflow: hidden;
                height: 42px;
            }
        }
        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:empty + .comma:not(:empty):before {
            content : "";
        }

        .comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
            content : ",";
        }
        .adapter-col {
            display: flex;
            span {
                gap: 7px;
                display: flex;
                :nth-child(1) {
                    font-weight:500;
                }
                :nth-child(2) {
                    color: $gray-500;
                }
                :nth-child(3) {
                    color: $gray-500;
                }
            }
        }
        .library_type-col {
            display: flex;
        }

        .organism-col {
            display: flex;
            gap: 7px;

            :nth-child(1) {
                font-style: italic;
            }

            :nth-child(2) {
                font-weight:600;
            }
            :nth-child(3) {
                color: $gray-500;
            }
        }
    }
}

span.desc {
    color: $gray-500;    
}
span.desc:before {
    content: "(";
}
span.desc::after {
    content: ")";
}
span.desc:empty:before {
    content: "";
}
span.desc:empty:after {
    content: "";
}

.invalid-feedback-container {
    display: flex;
    flex-direction: column;
    min-height: 20px;

    p {
        height: 8px;
        width: 100%;
        color: $danger;
        font-size: 14px;
    }
}

.form-table-container {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    form table {
        width: 100%;
    }
}


.search-select {
    position: relative;

    .active {
        .searchbar-data {
            border-bottom-left-radius: 0;
        }
        .searchbar-input {
            border-bottom-right-radius: 0;
            box-shadow: none !important;
        }
        box-shadow: 0 .125rem .25rem rgba($black, .075);
    }

    .input-group {
        display: flex;

        .searchbar-data {
            width: 20%;
        }
        .searchbar-input {
            flex-grow: 1;
        }
    }

    .search-select-results-container {
        position: relative;
        padding: 0;
    }

    .search-select-results {
        position: absolute;
        width: 100%;

        ul {
            list-style: none;
            li {
                height: 40px;
                text-decoration: none;
            }
            li:hover {
                background-color: $gray-400 !important;
                cursor: pointer;
            }
            li.last {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

select {
    .search-select-value {
        font-weight: 600;
    }
    .search-select-desc {
        color: $gray-500;
        white-space: nowrap;
        overflow: hidden;
    }
}

.requirement-list {
    color: $danger;
    text-transform: capitalize;
    height: 12px;
    padding: 0;
}

.barcodes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .form-group {
        flex: calc(50% - 10px);
    }
}

.input-help {
    padding-bottom: 10px;
}

.form-group {
    padding-bottom: 10px;
}

.mapping-arrow {
    height: 100%;
    text-align: center;
    padding-top: 25px;
    svg {
        height: 20px;
        width: 20px;
    }
}

.mapping-or {
    height: 100%;
    text-align: center;
    padding-top: 25px;
    vertical-align: middle;
}

.copyable-input {
    display: flex;
    position: relative;
    .clipboard-btn {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

.h-list {
    display: flex;
    gap: 25px;
    margin: 0;
    padding-left: 5px;
}