{% from "components/categorical_mapping.jinja2" import categorical_mapping %}

<div id="index_kit-mapping-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Map Index Kits</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form id="index_kit-mapping-form">
            {{    
                categorical_mapping(
                    form=index_kit_mapping_form,
                    categories=categories,
                    url=url_for('barcodes_htmx.query_index_kits'),
                    selected=selected,
                )
            }}
            {{ index_kit_mapping_form.file_uuid(class="form-control", hidden=True, readonly=True) }}
            {{ index_kit_mapping_form.csrf_token() }}
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            hx-target="#index_kit-mapping-form-container" hx-swap="outerHTML"
            hx-include="#index_kit-mapping-form"
            hx-post="{{ url_for('seq_requests_htmx.map_index_kits', seq_request_id=seq_request.id) }}"{% if experiment %}"?experiment_id={{experiment.id}}"{% endif %}>
            Map Index Kits
        </button>
        
        <a class="btn btn-danger" type="button"
            {% if experiment %}
                href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}"
            {% else %}
                href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}"
            {% endif %}>
            Cancel
        </a>
    </div>
</div>