{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="feature_kit-table" class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='feature_kit-table', column_name='ID', column_var='id',
                        sort_url='feature_kits_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='feature_kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='kit-table', column_name='Identifier', column_var='identifier',
                        sort_url='kits_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='feature_kit-table', column_name='Name', column_var='name',
                        sort_url='feature_kits_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='feature_kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=6
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-table', column_name='Type', column_var='type_id',
                        sort_url='libraries_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order, col_size=3,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for feature_kit in feature_kits %}
            <tr>
                <th scope="row">{{ feature_kit.id }}</th>
                <td>{{ feature_kit.identifier }}</td>
                <td><a href="{{ url_for('kits_page.feature_kit_page', feature_kit_id=feature_kit.id) }}">{{ feature_kit.name }}</a></td>
                <td>{{ feature_kit.type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("feature_kit-table-spinner") }}
    {{ pagination("feature_kit-table", "feature_kits_htmx.get", n_pages, active_page) }}
</div>
