{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="group-user-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='ID', column_var='id',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order
                    )
                }}
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Name', column_var='name',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=3,
                    )
                }}
                
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Email', column_var='email',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=3
                    )
                
                }}
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Affiliation Type', column_var='affiliation_type_id',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for affiliation in affiliations %}
            <tr onclick="redirect('{{ url_for('users_page.user_page', user_id=affiliation.user.id, from='group@' + group.id | string) }}');">
                <th scope="row">{{ affiliation.user.id }}</th>
                <td>{{ affiliation.user.name }}</td>
                <td>{{ affiliation.user.email }}</td>
                <td>{{ affiliation.affiliation_type.name }} {{ affiliation.affiliation_type.icon }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("group-user-table-spinner") }}
    {{ pagination("group-user-table", "groups_htmx.get_users", n_pages, active_page, context={"group_id": group.id}) }}
</div>