{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/table_col.jinja2" import table_col %}

<div id="lab_prep-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='lab_prep-table', column_name='ID', column_var='id',
                        sort_url='lab_preps_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=1, query_url='lab_preps_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number"
                    )
                }}
                {{
                    table_col(
                        table_container_id='lab_prep-table', column_name='Name', column_var='name',
                        sort_url='lab_preps_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=4, query_url='lab_preps_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text"
                    )
                }}
                {{
                    table_col(
                        table_container_id='lab_prep-table', column_name='Protocol', column_var='protocol_id',
                        sort_url='lab_preps_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=2, multiselect_choices=LabProtocol.as_list(), multiselect_selected=protocol_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='lab_prep-table', column_name='Status', column_var='status_id',
                        sort_url='lab_preps_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=2, multiselect_choices=PrepStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='lab_prep-table', column_name='Creator', column_var='creator_id',
                        sort_url='lab_preps_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=2, query_url='lab_preps_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text"
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for lab_prep in lab_preps %}
            <tr>
                <th scope="row">{{ lab_prep.id }}</th>
                <td><a href="{{ url_for('lab_preps_page.lab_prep_page', lab_prep_id=lab_prep.id) }}">{{ lab_prep.display_name }}</a></td>
                <td>{{ lab_prep.protocol.name }}</td>
                <td>{{ lab_prep.status.name }} {{ lab_prep.status.icon }}</td>
                <td><a href="{{ url_for('users_page.user_page', user_id=lab_prep.creator_id) }}">{{ lab_prep.creator.name }} <span class="desc">{{ "me" if current_user.id == lab_prep.creator_id }}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("lab_prep-table-spinner") }}
    {{ pagination("lab_prep-table", "lab_preps_htmx.get", n_pages, active_page) }}
</div>