{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}

<div id="library-feature-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-2">Name</th>
                <th scope="col" class="col-2">Target Name</th>
                <th scope="col" class="col-2">Target ID</th>
                <th scope="col" class="col-2">Sequence</th>
                <th scope="col" class="col-1">Pattern</th>
                <th scope="col" class="col-1">Read</th>
                <th scope="col" class="col-1">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features %}
            <tr>
                <th scope="row">{{ feature.id }}</th>
                <td>{{ feature.name }}</td>
                <td>{{ feature.target_name if feature_target_name }}</td>
                <td>{{ feature.target_id if feature.target_id }}</td>
                <td>{{ feature.sequence }}</td>
                <td>{{ feature.pattern }}</td>
                <td>{{ feature.read }}</td>
                <td>{{ feature.type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("library-feature-table") }}
    {{ pagination("library-feature-table", "features_htmx.get", n_pages, active_page, context={"library_id": library.id}) }}
</div>
