{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}

<div id="pool-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='pool-table', column_name='ID', column_var='id',
                        sort_url='pools_htmx.get', sort_url_args={},
                        current_sort=pools_current_sort, current_sort_order=pools_current_sort_order,
                        query_url=url_for('pools_htmx.table_query'), current_query=libraries_current_query,
                        field_name=field_name, query_type="number"
                    )
                }}
                {{
                    table_col(
                        target_id='pool-table', column_name='Pool Name', column_var='name',
                        sort_url='pools_htmx.get', sort_url_args={},
                        current_sort=pools_current_sort, current_sort_order=pools_current_sort_order,
                        query_url=url_for('pools_htmx.table_query'), current_query=libraries_current_query,
                        field_name=field_name, col_size=2
                    )
                }}
                {{
                    table_col(
                        target_id='pool-table', column_name='Owner', column_var='owner_id',
                        sort_url='pools_htmx.get', sort_url_args={},
                        current_sort=pools_current_sort, current_sort_order=pools_current_sort_order,
                        col_size=2,
                    )
                }}
                {{
                    table_col(
                        target_id='pool-table', column_name='# Libraries', column_var='num_libraries',
                        sort_url='pools_htmx.get', sort_url_args={},
                        current_sort=pools_current_sort, current_sort_order=pools_current_sort_order,
                        col_size=2,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr class="table-url-row" dest="{{ url_for('pools_page.pool_page', pool_id=pool.id) }}">
                <th scope="row">{{ pool.id }}</th>
                <td class="pool-name-cell" id="pool-name-cell-{{ pool.id }}">{{ pool.name }}</td>
                <td>{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></td>
                <td>{{ pool.num_libraries }}</td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("pool-table", "pools_htmx.get", pools_n_pages, pools_active_page, url_args={"sort_by": pools_current_sort, "order": pools_current_sort_order}) }}
    <script>
        let selected_pool_id = null;
        
        function copy_name() {
            copy_to_clipboard($("#pool-name-cell-" + selected_pool_id).text());
        }
        
        $(document).ready(function() {
            $(".table-url-row").click(function(e) {
                if (!$(e.target).is("button")) {
                    redirect($(this).attr("dest"));
                }
            });

            $(document).off("contextmenu", ".pool-name-cell").on("contextmenu", ".pool-name-cell", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_pool_id = e.target.id.split("-")[3];
                $("#copy-edit-menu").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    `<li><a class='dropdown-item' onclick='copy_name()'>Copy</a></li>`
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
        
    </script>
</div>
