{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="project-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='project-table', column_name='ID', column_var='id',
                        sort_url='projects_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='projects_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number",
                    )
                }}
                {{
                    table_col(
                        table_container_id='project-table', column_name='Name', column_var='name',
                        sort_url='projects_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='projects_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=4
                    )
                }}
                {{
                    table_col(
                        table_container_id='project-table', column_name='Status', column_var='status_id',
                        sort_url='projects_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=ProjectStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='project-table', column_name='Group', column_var='group_id',
                        sort_url='projects_htmx.get', context={}, sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        table_container_id='project-table', column_name='Owner', column_var='owner_id',
                        sort_url='projects_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='project-table', column_name='# Samples', column_var='num_samples',
                        sort_url='projects_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order, col_size=1
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row">{{ project.id }}</th>
                <td><a href="{{ url_for('projects_page.project_page', project_id=project.id) }}">{{ project.name }}</a></td>
                <td>{{ project.status.name }} {{ project.status.icon }}</td>
                <td>{% if project.group_id %}{{ project.group.name }} {{ project.group.type.icon }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user_page', user_id=project.owner_id) }}">{{ project.owner.name }} <span class="desc">{{ "me" if current_user.id == project.owner_id }}</span></a></td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("project-table-spinner") }}
    {{ pagination("project-table", "projects_htmx.get", n_pages, active_page) }}
</div>