{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="sample-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='sample-table', column_name='ID', column_var='id',
                        sort_url='samples_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='samples_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number",
                    )
                }}
                {{
                    table_col(
                        table_container_id='sample-table', column_name='Name', column_var='name',
                        sort_url='samples_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='samples_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, col_size=5
                    )
                }}
                {{
                    table_col(
                        table_container_id='sample-table', column_name='Owner', column_var='owner_id',
                        sort_url='samples_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=3
                    )
                }}
                {{
                    table_col(
                        table_container_id='sample-table', column_name='# Libraries', column_var='num_libraries',
                        sort_url='samples_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=3
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="redirect('{{ url_for('samples_page.sample_page', sample_id=sample.id) }}');">
                <th scope="row">{{ sample.id }}</th>
                <td class="sample-name-cell" id="sample-name-cell-{{sample.id}}">{{ sample.name }}</td>
                <td>{{ sample.owner.name }} <span class="desc">{{ "me" if current_user.id == sample.owner_id }}</span></td>
                <td>{{ sample.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("sample-table-spinner") }}
    {{ pagination("sample-table", "samples_htmx.get", n_pages, active_page) }}
</div>

<script>
    var selected_sample_id = null;

    function copy_sample_name_to_clipboard() {
        const content = $("#sample-name-cell-" + selected_sample_id).text().trim();
        navigator.clipboard.writeText(content);
    }

    $(document).off("contextmenu", ".sample-name-cell").on("contextmenu", ".sample-name-cell", function(e) {
        e.preventDefault();
        const x = e.pageX;
        const y = e.pageY;
        selected_sample_id = e.target.id.split("-")[3];
        $("#copy-edit-menu").css({
            display: "block",
            left: x + 8, top: y + 8
        }).empty().append([
            `<li><a class='dropdown-item' onclick='copy_sample_name_to_clipboard()'>Copy</a></li>`,
        ]);

        $("#right-click-bg").css({
            display: "block"
        });
    });
</script>