{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-lanes-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-lanes-table', column_name='Experiment', column_var='experiment_id',
                        sort_url='lanes_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=4,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-lanes-table', column_name='Lane', column_var='number',
                        sort_url='lanes_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                {% if workflow == "qubit_measure" %}
                <th class="col-2" scope="col">Qubit Conc.</th>
                {% elif workflow == "ba_report" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for lane in lanes %}
            <tr id="lane-row-{{ lane.id }}" data-id="{{ lane.id }}" class="lane-row">
                <th scope="row">{{ lane.experiment.name }}</th>
                <th>{{ lane.number }}</th>
                {% if workflow == "qubit_measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ lane.original_qubit_concentration if lane.original_qubit_concentration }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif workflow == "ba_report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ lane.avg_fragment_size if lane.avg_fragment_size }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-lanes-table-spinner") }}
    {{ pagination("select-lanes-table", "lanes_htmx.browse", n_pages, active_page, context=context) }}

    <script>
        $(document).ready(function() {
            init_tooltips();

            function add_lane(lane_id) {
                selected_lanes.push(lane_id);
                $(`#lane-row-${lane_id}`).addClass("selected");

                const cloned = $(`#lane-row-${lane_id}`).clone();
                cloned.attr("id", `selected-lane-row-${lane_id}`);
                cloned.on("click", function() {
                    remove_lane(lane_id);
                });
                $("#selected-lanes-table-container").append(cloned);
                num_selected_lanes += 1;
                $("#selected-lanes-tab-btn").text(`Selected Lanes (${num_selected_lanes})`);
            }

            function remove_lane(lane_id) {
                selected_lanes = selected_lanes.filter(function(value, index, arr) {
                    return value != lane_id;
                });
                $(`#lane-row-${lane_id}`).removeClass("selected");
                $(`#selected-lane-row-${lane_id}`).remove();
                num_selected_lanes -= 1;
                $("#selected-lanes-tab-btn").text(`Selected Lanes (${num_selected_lanes})`);
            }

            function toggle_lane(lane_id) {
                lane_id = parseInt(lane_id);
                if (selected_lanes.includes(lane_id)) {
                    remove_lane(lane_id);
                } else {
                    add_lane(lane_id);
                }
            }

            $(".lane-row").mousedown(function(e) {
                e.preventDefault();
                is_mouse_down = true;
                start_row = $(this);
                toggle_lane($(this).data("id"));
            });

            function update_lanes() {
                $(".lane-row").each(function() {
                    const lane_id = parseInt($(this).data("id"));
                    if (selected_lanes.includes(lane_id)) {
                        $(this).addClass("selected");
                    }
                });
            }
            update_lanes();
        });
    </script>
</div>
