{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-samples-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-samples-table', column_name='ID', column_var='id',
                        sort_url='samples_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='samples_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-samples-table', column_name='Name', column_var='name',
                        sort_url='samples_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='samples_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-samples-table', column_name='Status', column_var='status_id',
                        sort_url='samples_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=SampleStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-samples-table', column_name='Owner', column_var='owner_id',
                        sort_url='samples_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=2,
                    )
                }}
                {% if workflow == "qubit_measure" %}
                <th class="col-2" scope="col">Qubit Conc.</th>
                {% elif workflow == "ba_report" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr id="sample-row-{{ sample.id }}"
            class="sample-row">
                <th scope="row">{{ sample.id }}</th>
                <td>{{ sample.name }}</td>
                <td>{{ sample.status.name }} {{ sample.status.icon }}</td>
                <td>{{ sample.owner.name }} <span class="desc">{{ "me" if current_user.id == sample.owner_id }}</span></td>
                {% if workflow == "qubit_measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ sample.qubit_concentration if sample.original_qubit_concentration }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif workflow == "ba_report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ sample.avg_fragment_size if sample.avg_fragment_size }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-samples-table-spinner") }}
    {{ pagination("select-samples-table", "samples_htmx.browse", n_pages, active_page, context=context) }}
    <script>
        $(document).ready(function() {
            init_tooltips();
            update_samples();

            let is_mouse_down = false;
            let start_row = null;
            let dragging = false;
            let hovered_sample = null;

            $(".sample-row").mousedown(function(e) {
                e.preventDefault();
                is_mouse_down = true;
                start_row = $(this);
                toggle_sample($(this).attr("id").split("-")[2]);
                hovered_sample = $(this).attr("id").split("-")[2];
            });

            $(".sample-row").mousemove(function(e) {
                if (is_mouse_down) {
                    dragging = true;
                    if (hovered_sample != $(this).attr("id").split("-")[2]) {
                        hovered_sample = $(this).attr("id").split("-")[2];
                        toggle_sample($(this).attr("id").split("-")[2]);
                    }
                }
            });

            $(".sample-row").mouseup(function(e) {
                is_mouse_down = false;
                if (dragging) {
                    dragging = false;
                    start_row = null;
                }
            });

            $(document).keydown(function(e) {
                if (e.metaKey && e.key === "a") {
                    e.preventDefault();
                    $(".sample-row").each(function() {
                        if ($(this).is(":visible")) {
                            if (!$(this).hasClass("selected")) {
                                add_sample($(this).attr("id").split("-")[2]);
                            }
                        }
                    });
                    $("#selected-samples-tab-btn").text(`Selected Samples (${num_selected_samples})`);
                }
            });
        });
    </script>
</div>
