{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-libraries-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='ID', column_var='id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="libraries_htmx.browse_query", current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Name', column_var='name',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="libraries_htmx.browse_query", current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Type', column_var='type_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=LibraryType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Status', column_var='status_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=LibraryStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Owner', column_var='owner_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=2,
                    )
                }}
                {% if workflow == "qubit_measure_workflow" %}
                <th class="col-2" scope="col" {{ tooltip("Diluted concentration of the pool") }}>Qubit Conc.</th>
                {% elif workflow == "ba_report_workflow" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% elif workflow == "library_pooling_workflow" %}
                {{
                    table_col(
                        table_container_id='experiment-library-table', column_name='Pool', column_var='pool_id',
                        sort_url="libraries_htmx.browse", context={"experiment_id": experiment.id} if experiment_id else {},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr onclick="toggle_library({{ library.id }});" id="library-row-{{ library.id }}"
            class="library-row {% if library.pool_id is not none %}pooled{% endif %}">
                <th scope="row">{{ library.id }}</th>
                <td>{{ library.name }}</td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}
                    </span>
                </td>
                <td>{{ library.status.name }} {{ library.status.icon }}</td>
                <td>{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></td>
                {% if workflow == "qubit_measure_workflow" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.qubit_concentration_str }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif workflow == "ba_report_workflow" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.avg_fragment_size if library.avg_fragment_size }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% elif workflow == "library_pooling_workflow" %}
                <td>{{ library.pool.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-libraries-table-spinner") }}
    {{ pagination("select-libraries-table", "libraries_htmx.browse", n_pages, active_page, context=context) }}
    <script>
        $(document).ready(function() {
            init_tooltips();
            update_libraries();
        });
    </script>
</div>
