{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}

<div id="seq_request-sample-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_request-sample-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get_samples', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-sample-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get_samples', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        active_query_field=active_query_field, query_type="string", col_size=3
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-samples-table', column_name='Status', column_var='status_id',
                        sort_url='seq_requests_htmx.get_samples', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=SampleStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                <th scope="col" class="col-6">Library Types</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr onclick="redirect('{{ url_for('samples_page.sample_page', sample_id=sample.id, from='seq_request@' + seq_request.id | string) }}');">
                <th scope="row">{{ sample.id }}</th>
                <td>{{ sample.name }}</td>
                <td>{% if sample.status %}{{ sample.status.name }} {{ sample.status.icon }}{% endif %}</td>
                {% set cmo_index = "" %}
                <td>
                    {% for library_link in sample.library_links %}
                    {% set library = library_link.library %}
                    {% if seq_request.id == library.seq_request_id %}
                    <span class="badge">{{ library.type.abbreviation }}</span>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-sample-table-spinner") }}
    {{ pagination("seq_request-sample-table", "seq_requests_htmx.get_samples", n_pages, active_page, context={"seq_request_id": seq_request.id}) }}
</div>