{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}

<div id="seq_request-library-table" class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.query_libraries', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.query_libraries', current_query=current_query,
                        active_query_field=active_query_field, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Pool', column_var='pool_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Type', column_var='type_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=LibraryType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Status', column_var='status_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=LibraryStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                <th scope="col" class="col-4">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr class="library-row" id="library-row-{{library.id}}">
                <th scope="row">{{ library.id }}</th>
                <td><a href="{{ url_for('libraries_page.library_page', library_id=library.id, from='seq_request@' + seq_request.id | string) }}">{{ library.name }}</a></td>
                <td>
                {% if library.pool_id %}
                    <a href="{{ url_for('pools_page.pool_page', pool_id=library.pool_id, from='seq_request@' + seq_request.id | string)}}">{{ library.pool.name }}</a>
                {% endif %}
                </td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}
                    </span>
                </td>
                <td>
                    {{ library.status.icon }} {{ library.status.name }}
                </td>
                <td class="barcode-cell">
                    {% for index in library.indices %}
                    {% if index.name_i7 %}
                        {% if index.name_i7 == index.name_i5 %}
                        <span class="badge index-badges" >{{ index.name_i7 }}</span>
                        {% else %}
                        <span class="badge index-badges">{{ index.name_i7 }}{% if index.name_i5 %}+{{ index.name_i5 }}{% endif %}</span>
                        {% endif %}
                    {% else %}
                    <span class="badge index-badges">{{ index.sequence_i7 }}{% if index.sequence_i5 %}+{{ index.sequence_i5 }}{% endif %}</span>
                    {% endif %}
                    <span class="badge index-badges" style="display: none;">{{ index.sequence_i7 }}{% if index.sequence_i5 %}+{{ index.sequence_i5 }}{% endif %}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-library-table-spinner") }}
    {{ pagination("seq_request-library-table", "seq_requests_htmx.get_libraries", n_pages, active_page, context={"seq_request_id": seq_request.id}) }}
    <script>
        var selected_library_id = null;

        function remove_library() {
            Swal.fire({
                title: `Remove library (id=${selected_library_id}) from '{{seq_request.name}}'-request ?`,
                showDenyButton: true,
                text: 'Are you sure?',
                confirmButtonText: 'Yes',
                icon: 'question',
                denyButtonText: 'No'
            }).then(function(e) {
                if (e.isConfirmed) {
                    htmx.ajax(
                    "DELETE", "{{ url_for('seq_requests_htmx.remove_library', seq_request_id=seq_request.id) }}?library_id=" + selected_library_id,
                    null, {
                        target: "#seq_request-seq_request-library-table",
                        swapStyle: "outerHTML"
                    });
                }
            });
        }

        $(document).ready(function() {
            init_tooltips();

            $(document).off("contextmenu", ".library-row").on("contextmenu", ".library-row", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_library_id = $(this).closest("tr").attr("id").split("-")[2];
                $("#copy-edit-menu").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    {% if seq_request.status.name == "Draft" %}
                    `<li><a class='dropdown-item' onclick='remove_library()'>Remove</a></li>`
                    {% else %}
                    `<li><a class='dropdown-item disabled' disabled>Remove</a></li>`
                    {% endif %}
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
    </script>
</div>
