{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}

<div id="seq_run-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_run-table', column_name='ID', column_var='id',
                        sort_url='seq_runs_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_run-table', column_name='Experiment Name', column_var='experiment_name',
                        sort_url='seq_runs_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=3,
                        query_url="seq_runs_htmx.table_query", current_query=current_query,
                        active_query_field=active_query_field, query_type="text",
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_run-table', column_name='Status', column_var='status_id',
                        sort_url='seq_runs_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=RunStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                <th scope="col" class="col-1">Cycles</th>
                <th scope="col" class="col-2">Flowcell ID</th>
                <th scope="col" class="col-3">Run Folder</th>
            </tr>
        </thead>
        <tbody>
            {% for seq_run in seq_runs %}
            <tr>
                <th scope="row">{{ seq_run.id }}</th>
                <td><a href="{{ url_for('seq_runs_page.seq_run_page', seq_run_id=seq_run.id) }}">{{ seq_run.experiment_name }}</a></td>
                <td>{{ seq_run.status.name }} {{ seq_run.status.icon }}</td>
                <td>{{ seq_run.cycles_str }}</td>
                <td>{{ seq_run.flowcell_id }}</td>
                <td>{{ seq_run.run_folder }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_run-table-spinner") }}
    {{ pagination("seq_run-table", "seq_runs_htmx.get", n_pages, active_page) }}
</div>
<script>
    init_tooltips();
</script>
