{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}

<div id="seq_request-library-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='ID', column_var='id',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url=url_for('libraries_htmx.table_query', seq_request_id=seq_request.id), current_query=current_query,
                        field_name=field_name, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='Name', column_var='name',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url=url_for('libraries_htmx.table_query', seq_request_id=seq_request.id), current_query=current_query,
                        field_name=field_name, col_size=2
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='Pool', column_var='pool_id',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=2
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='Type', column_var='type_id',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=1
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='Owner', column_var='owner_id',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=2
                    )
                }}
                {{
                    table_col(
                        target_id='seq_request-library-table', column_name='Adapter', column_var='adapter',
                        sort_url='libraries_htmx.get', sort_url_args={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        col_size=1
                    )
                }}
                <th scope="col" class="col-1">
                    Index 1 <span class="desc">i7</span>
                </th>
                <th scope="col" class="col-1">
                    Index 2 <span class="desc">i5</span>
                </th>
                <th scope="col" class="col-1">
                    Index 3
                </th>
                <th scope="col" class="col-1">
                    Index 4
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr onclick="window.location.href='{{ url_for('libraries_page.library_page', library_id=library.id, from='seq_request@' + seq_request.id | string) }}';">
                <th scope="row">{{ library.id }}</th>
                <td class="library-name-cell" id="library-name-cell-{{library.id}}">{{ library.name }}</td>
                <td>
                {% if library.pool_id %}
                    {{ library.pool.name }} <b>[{{ library.pool_id }}]</b>
                {% endif %}
                </td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}
                    </span>
                </td>
                <td>{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></td>
                <td class="adapter-cell" id="library-{{library.id}}-adapter-cell">{{ library.adapter if library.adapter }}</td>
                <td class="barcode-cell" id="library-{{library.id}}-index-cell-1">{{ library.index_1_sequence if library.index_1_sequence }}</td>
                <td class="barcode-cell" id="library-{{library.id}}-index-cell-2">{{ library.index_2_sequence if library.index_2_sequence }}</td>
                <td class="barcode-cell" id="library-{{library.id}}-index-cell-3">{{ library.index_3_sequence if library.index_3_sequence }}</td>
                <td class="barcode-cell" id="library-{{library.id}}-index-cell-4">{{ library.index_4_sequence if library.index_4_sequence }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-library-table-spinner") }}
    {{ pagination("seq_request-library-table", "libraries_htmx.get", n_pages, active_page, url_args={"sort_by": sort_by, "sort_order": sort_order, "seq_request_id": seq_request.id}) }}
    <script>
        var selected_library_id = null;
        var selected_index_element_id = null;
        var selected_adapter_element_id = null;

        function remove_library() {
            Swal.fire({
                title: `Remove library (id='${selected_library_id}') from '{{seq_request.name}}'-request ?`,
                showDenyButton: true,
                text: 'Are you sure?',
                confirmButtonText: 'Yes',
                icon: 'question',
                denyButtonText: 'No'
            }).then(function(e) {
                if (e.isConfirmed) {
                    htmx.ajax(
                    "DELETE", "{{ url_for('seq_requests_htmx.remove_library', seq_request_id=seq_request.id) }}?library_id=" + selected_library_id,
                    null, {
                        target: "#seq_request-seq_request-library-table",
                        swapStyle: "outerHTML"
                    });
                }
            });
        }

        function copy_sequence_to_clipboard() {
            const library_id = selected_index_element_id.split("-")[1];
            const index_id = selected_index_element_id.split("-")[4];
            const content = $("#library-" + library_id + "-index-cell-" + index_id).text().trim();
            navigator.clipboard.writeText(content);
        }

        function copy_adapter_to_clipboard() {
            const library_id = selected_adapter_element_id.split("-")[1];
            const content = $("#library-" + library_id + "-adapter-cell").text().trim();
            navigator.clipboard.writeText(content);
        }

        $(document).off("contextmenu", ".index-cell").on("contextmenu", ".index-cell", function(e) {
            e.preventDefault();
            const x = e.pageX;
            const y = e.pageY;
            selected_index_element_id = e.target.id;
            $("#copy-edit-menu").css({
                display: "block",
                left: x + 8, top: y + 8
            }).empty().append([
                `<li><a class='dropdown-item' onclick='copy_sequence_to_clipboard()'>Copy Sequence</a></li>`,
            ]);

            $("#right-click-bg").css({
                display: "block"
            });
        });

        $(document).off("contextmenu", ".adapter-cell").on("contextmenu", ".adapter-cell", function(e) {
            e.preventDefault();
            const x = e.pageX;
            const y = e.pageY;
            selected_adapter_element_id = e.target.id;
            $("#copy-edit-menu").css({
                display: "block",
                left: x + 8, top: y + 8
            }).empty().append([
                `<li><a class='dropdown-item' onclick='copy_adapter_to_clipboard()'>Copy Adapter</a></li>`,
            ]);

            $("#right-click-bg").css({
                display: "block"
            });
        });

        
        function copy_sample_name_to_clipboard() {
            const content = $("#sample-name-cell-" + selected_sample_id).text().trim();
            navigator.clipboard.writeText(content);
        }

        $(document).off("contextmenu", ".library-name-cell").on("contextmenu", ".library-name-cell", function(e) {
            e.preventDefault();
            const x = e.pageX;
            const y = e.pageY;
            selected_library_id = e.target.id.split("-")[3];
            $("#copy-edit-menu").css({
                display: "block",
                left: x + 8, top: y + 8
            }).empty().append([
                {% if seq_request.status.name == "Draft" %}
                `<li><a class='dropdown-item' onclick='remove_library()'>Remove</a></li>`
                {% else %}
                `<li><a class='dropdown-item disabled' disabled>Remove</a></li>`
                {% endif %}
            ]);

            $("#right-click-bg").css({
                display: "block"
            });
        });
    </script>
</div>
