{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}

<div id="sequencer-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th scope="col-1">ID</th>
                <th scope="col-3">name</th>
                <th scope="col-3">ip</th>
            </tr>
        </thead>
        <tbody>
            {% for sequencer in sequencers %}
            <tr onclick="redirect(`{{ url_for('devices_page.sequencer_page', sequencer_id=sequencer.id) }}`);">
                <th scope="row">{{ sequencer.id }}</th>
                <td>{{ sequencer.name }}</td>
                <td>{{ sequencer.ip if sequencer.ip }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("sequencer-table-spinner") }}
    {{ pagination("sequencer-table", "sequencers_htmx.get", n_pages, active_page) }}
</div>