{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="user-seq_request-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='user-seq_request-table', column_name='ID', column_var='id',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='users_htmx.query_seq_requests', current_query=current_query,
                        active_query_field=active_query_field, query_type="number",
                    )
                }}
                {{
                    table_col(
                        table_container_id='user-seq_request-table', column_name='Name', column_var='name',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='users_htmx.query_seq_requests', current_query=current_query,
                        active_query_field=active_query_field, col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='user-seq_request-table', column_name='Status', column_var='status_id',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        table_container_id='user-seq_request-table', column_name='Requestor', column_var='requestor_id',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                {{
                    table_col(
                        table_container_id='user-seq_request-table', column_name='Submitted', column_var='submitted_time',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='# Libraries', column_var='num_libraries',
                        sort_url='users_htmx.get_seq_requests', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=1,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr onclick="redirect('{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id, from='user@' + user.id | string) }}');">
                <th scope="row">{{ seq_request.id }}</th>
                <td>{{ seq_request.name }}</td>
                <td>{{ seq_request.status.name }} {{ seq_request.status.icon | safe }}</td>
                <td {{ tooltip("email: " + seq_request.requestor.email) }}>{{ seq_request.requestor.name }}</td>
                <td>{{ seq_request.timestamp_submitted_str() }}</td>
                <td>{{ seq_request.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("user-seq_request-table-spinner") }}
    {{ pagination("user-seq_request-table", "users_htmx.get_seq_requests", n_pages, active_page) }}
</div>