{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}

<div id="index-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                {{ table_col('index-table', 'ID', 'id', 'barcodes_htmx.get', sort_by, sort_order) }}
                {{ table_col('index-table', 'Sequence', 'sequence', 'barcodes_htmx.get', sort_by, sort_order) }}
                {{ table_col('index-table', 'Type', 'sequence', 'barcodes_htmx.get', sort_by, sort_order) }}
                <th scope="col">Type</th>
                <th scope="col">Adapter</th>
            </tr>
        </thead>
        <tbody>
            {% for index in barcodes %}
            <tr>
                <th scope="row">{{ index.id }}</th>
                <td>{{ index.sequence }}</td>
                <td>{{ index.type }}</td>
                <td>{{ index.adapter.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("index-table-spinner") }}
    {{ pagination("index-table", "barcodes_htmx.get", n_pages, active_page) }}
</div>
