{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
<div id="select-libraries-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("select-libraries-table", table, "id") }}
                {{ table_col("select-libraries-table", table, "name") }}
                {{ table_col("select-libraries-table", table, "type") }}
                {{ table_col("select-libraries-table", table, "status") }}
                {{ table_col("select-libraries-table", table, "owner") }}
                {% if browse_context == "qubit_measure" %}
                <th class="col-2" scope="col">Qubit Conc.</th>
                {% elif browse_context == "ba_report" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr id="library-row-{{ library.id }}" data-id="{{ library.id }}" class="library-row">
                <th scope="row">{{ library.id }}</th>
                <td>{{ library.name }}</td>
                <td>
                    <span {{ tooltip(library.type.label) }}>
                        {{ library.type.abbreviation }}
                    </span>
                </td>
                <td>{% if library.status %}{{ library.status.label }} {{ library.status.icon }}{% endif %}</td>
                <td>{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></td>
                {% if browse_context == "qubit_measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.qubit_concentration or "" }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif browse_context == "ba_report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.avg_fragment_size or "" }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("select-libraries-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#select-libraries-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>