{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}
<div id="select-pools-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("select-pools-table", table, "id") }}
                {{ table_col("select-pools-table", table, "name") }}
                {{ table_col("select-pools-table", table, "library_types") }}
                {{ table_col("select-pools-table", table, "status") }}
                {% if browse_context == "qubit-measure" %}
                <th class="col-2" scope="col">Qubit Conc.</th>
                {% elif browse_context == "ba-report" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr id="pool-row-{{ pool.id }}" data-id="{{ pool.id }}" class="pool-row">
                <th scope="row">{{ pool.id }}</th>
                <td>{{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}</td>
                <td class="x-scroll-cell">{{ library_type_badge_list(pool.library_types) }}</td>
                <td>{{ pool.status.icon }} {{ pool.status.label }}</td>
                {% if browse_context == "qubit-measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.qubit_concentration or '' }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif browse_context == "ba-report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.avg_fragment_size or '' }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("select-pools-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#select-pools-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>