{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}

<div id="feature_kit-feature-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("feature_kit-table", table, "id") }}
                {{ table_col("feature_kit-table", table, "name") }}
                {{ table_col("feature_kit-table", table, "identifier") }}
                {{ table_col("feature_kit-table", table, "target_name") }}
                {{ table_col("feature_kit-table", table, "target_id") }}
                {{ table_col("feature_kit-table", table, "sequence") }}
                {{ table_col("feature_kit-table", table, "pattern") }}
                {{ table_col("feature_kit-table", table, "read") }}
                {{ table_col("feature_kit-table", table, "type") }}
            </tr>
        </thead>
        <tbody>
            {% for feature in features %}
            <tr>
                <th scope="row">{{ feature.id }}</th>
                <td>{{ feature.name }}</td>
                <td>{{ feature.identifier or '' }}</td>
                <td>{{ feature.target_name or '' }}</td>
                <td>{{ feature.target_id or '' }}</td>
                <td>{{ feature.sequence }}</td>
                <td>{{ feature.pattern }}</td>
                <td>{{ feature.read }}</td>
                <td>{{ feature.type.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("feature_kit-feature-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#feature_kit-feature-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>
