{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="feature_kit-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("feature_kit-table", table, "id") }}
                {{ table_col2("feature_kit-table", table, "identifier") }}
                {{ table_col2("feature_kit-table", table, "name") }}
                {{ table_col2("feature_kit-table", table, "type") }}
            </tr>
        </thead>
        <tbody>
            {% for feature_kit in feature_kits %}
            <tr>
                <th scope="row">{{ feature_kit.id }}</th>
                <td>{{ feature_kit.identifier }}</td>
                <td><a href="{{ url_for('kits_page.feature_kit', feature_kit_id=feature_kit.id) }}">{{ feature_kit.name }}</a></td>
                <td>{{ feature_kit.type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("feature_kit-table-spinner") }}
    {{ pagination2("feature_kit-table", table) }}
</div>
