{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}

<div id="feature_kit-feature-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-2">Name</th>
                <th scope="col" class="col-2">Identifier</th>
                <th scope="col" class="col-2">Target Name</th>
                <th scope="col" class="col-2">Target ID</th>
                <th scope="col" class="col-2">Sequence</th>
                <th scope="col" class="col-1">Pattern</th>
                <th scope="col" class="col-1">Read</th>
                <th scope="col" class="col-1">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for feature in features %}
            <tr>
                <th scope="row">{{ feature.id }}</th>
                <td>{{ feature.name }}</td>
                <td>{{ feature.identifier or '' }}</td>
                <td>{{ feature.target_name if feature.target_name }}</td>
                <td>{{ feature.target_id if feature.target_id }}</td>
                <td>{{ feature.sequence }}</td>
                <td>{{ feature.pattern }}</td>
                <td>{{ feature.read }}</td>
                <td>{{ feature.type.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("feature_kit-feature-table-spinner") }}
    {{ pagination("feature_kit-feature-table", "feature_kits_htmx.get_features", n_pages, active_page, context={"feature_kit_id": feature_kit.id}) }}
</div>
