{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/spinner.jinja2" import spinner %}

<div id="group-user-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("group-user-table", table, "id") }}
                {{ table_col2("group-user-table", table, "user_name") }}
                {{ table_col2("group-user-table", table, "email") }}
                <th scope="col" class="col-2">Affiliation</th>
            </tr>
        </thead>
        <tbody>
            {% for affiliation in affiliations %}
            <tr>
                <th scope="row">{{ affiliation.user.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "hxdelete", "label": "Remove User", "disabled": false if can_add_users else true, "config": {
                            "url": url_for('groups_htmx.remove_user', group_id=group.id, user_id=affiliation.user.id),
                            "target": "#group-user-table",
                            "title": "Remove user '{user}' from group '{group}'?".format(user=affiliation.user.name, group=group.name)
                        },},
                        {"type": "hxpost", "label": "Make Owner", "disabled": false if can_add_users else true, "config": {
                            "url": url_for('groups_htmx.make_owner', group_id=group.id, user_id=affiliation.user.id),
                            "target": "#group-user-table",
                            "title": "Make user '{user}' an owner of group '{group}'?".format(user=affiliation.user.name, group=group.name)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('users_page.user', user_id=affiliation.user.id, from='group@' + group.id | string) }}">{{ affiliation.user.name }}{% if affiliation.user_id == current_user.id %} <span class="desc">me</span></a>{% endif %}
                </td>
                <td>{{ affiliation.user.email }}</td>
                <td>{{ affiliation.affiliation_type.icon }} {{ affiliation.affiliation_type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("group-user-table-spinner") }}
    {{ pagination2("group-user-table", table) }}
</div>