{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}
{% from "components/spinner.jinja2" import spinner %}

<div id="group-seq_request-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("group-seq_request-table", table, "id") }}
                {{ table_col2("group-seq_request-table", table, "name") }}
                {{ table_col2("group-seq_request-table", table, "requestor") }}
                {{ table_col2("group-seq_request-table", table, "status") }}
                {{ table_col2("group-seq_request-table", table, "library_types") }}
                {{ table_col2("group-seq_request-table", table, "submission_type") }}
                {{ table_col2("group-seq_request-table", table, "timestamp_submitted") }}
                {{ table_col2("group-seq_request-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr>
                <th scope="row">{{ seq_request.id }}</th>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=seq_request.id, from='group@' + group.id | string) }}">{{ seq_request.name }}</a></td>
                <td><a href="{{ url_for('users_page.user', user_id=seq_request.requestor_id, from='group@' + group.id | string) }}">{{ seq_request.requestor.name }} <span class="desc">{{ "me" if current_user.id == seq_request.requestor_id }}</span></a></td>
                <td>{{ seq_request.status.name }} {{ seq_request.status.icon | safe }}</td>
                <td class="x-scroll-cell">{{ library_type_badge_list(seq_request.library_types) }}</td>
                <td>{{ seq_request.submission_type.abbreviation }}</td>
                <td>{{ seq_request.timestamp_submitted_str() }}</td>
                <td>{{ seq_request.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("group-seq_request-table-spinner") }}
    {{ pagination2("group-seq_request-table", table) }}
</div>