{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="group-project-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("group-project-table", table, "id") }}
                {{ table_col2("group-project-table", table, "identifier") }}
                {{ table_col2("group-project-table", table, "title") }}
                {{ table_col2("group-project-table", table, "status") }}
                {{ table_col2("group-project-table", table, "owner_name") }}
                {{ table_col2("group-project-table", table, "num_samples") }}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row">{{ project.id }}</th>
                <td><a href="{{ url_for('projects_page.project', project_id=project.id, from='group@' + group.id | string) }}">{{ project.identifier or "" }}</a></td>
                <td><a href="{{ url_for('projects_page.project', project_id=project.id, from='group@' + group.id | string) }}">{{ project.title }}</a></td>
                <td>{{ project.status.name }} {{ project.status.icon | safe }}</td>
                <td><a href="{{ url_for('users_page.user', user_id=project.owner_id, from='group@' + group.id | string) }}">{{ project.owner.name }} <span class="desc">{{ "me" if current_user.id == project.owner_id }}</span></a></td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("group-project-table-spinner") }}
    {{ pagination2("group-project-table", table) }}
</div>