{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/spinner.jinja2" import spinner %}

<div id="group-user-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='ID', column_var='id',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order
                    )
                }}
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Name', column_var='name',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=4,
                    )
                }}
                
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Email', column_var='email',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=4
                    )
                
                }}
                {{
                    table_col(
                        table_container_id='group-user-table', column_name='Affiliation Type', column_var='affiliation_type_id',
                        sort_url='groups_htmx.get_users', context={"group_id": group.id}, sort_by=sort_by, sort_order=sort_order, col_size=3,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for affiliation in affiliations %}
            <tr>
                <th scope="row">{{ affiliation.user.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "hxdelete", "label": "Remove User", "disabled": false if can_add_users else true, "config": {
                            "url": url_for('groups_htmx.remove_user', group_id=group.id, user_id=affiliation.user.id),
                            "target": "#group-user-table",
                            "title": "Remove user '{user}' from group '{group}'?".format(user=affiliation.user.name, group=group.name)
                        },},
                        {"type": "hxpost", "label": "Make Owner", "disabled": false if can_add_users else true, "config": {
                            "url": url_for('groups_htmx.make_owner', group_id=group.id, user_id=affiliation.user.id),
                            "target": "#group-user-table",
                            "title": "Make user '{user}' an owner of group '{group}'?".format(user=affiliation.user.name, group=group.name)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('users_page.user', user_id=affiliation.user.id, from='group@' + group.id | string) }}">{{ affiliation.user.name }}{% if affiliation.user_id == current_user.id %} <span class="desc">me</span></a>{% endif %}
                </td>
                <td>{{ affiliation.user.email }}</td>
                <td>{{ affiliation.affiliation_type.icon }} {{ affiliation.affiliation_type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("group-user-table-spinner") }}
    {{ pagination("group-user-table", "groups_htmx.get_users", n_pages, active_page, context={"group_id": group.id}) }}
</div>