{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="index_kit-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='index_kit-table', column_name='ID', column_var='id',
                        sort_url='index_kits_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='index_kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='index_kit-table', column_name='Identifier', column_var='identifier',
                        sort_url='index_kits_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='index_kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='index_kit-table', column_name='Name', column_var='name',
                        sort_url='index_kits_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='index_kits_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=6
                    )
                }}
                {{
                    table_col(
                        table_container_id='index_kit-table', column_name='Type', column_var='type_id',
                        sort_url='index_kits_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=IndexType.as_list(), multiselect_selected=type_in
                    )
                }}
                <th scope="col" class="col-2">Protocols</th>
            </tr>
        </thead>
        <tbody>
            {% for index_kit in index_kits %}
            <tr>
                <th scope="row">{{ index_kit.id }}</th>
                <td  class="cm-callback" {{ context_menu([{"type": "copy", "value": index_kit.identifier, "label": "Copy Identifier",}]) }}><a href="{{ url_for('kits_page.index_kit', index_kit_id=index_kit.id) }}">{{ index_kit.identifier }}</a></td>
                <td  class="cm-callback" {{ context_menu([{"type": "copy", "value": index_kit.name, "label": "Copy Name",}]) }}><a href="{{ url_for('kits_page.index_kit', index_kit_id=index_kit.id) }}">{{ index_kit.name }}</a></td>
                <td>{{ index_kit.type.name }}</td>
                <td>
                    {% for protocol in index_kit.supported_protocols %}
                    <span class="badge" {{ tooltip(protocol.name) }}>{{ protocol.abbreviation }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("index_kit-table-spinner") }}
    {{ pagination("index_kit-table", "index_kits_htmx.get", n_pages, active_page) }}
</div>

