{% from "components/pagination.jinja2" import pagination %}
{% from "components/spinner.jinja2" import spinner %}

<div id="index_kit-barcode-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-2">Adapter</th>
                <th scope="col" class="col-1">Well</th>
                {% if index_kit.type == IndexType.SINGLE_INDEX %}
                <th scope="col" class="col-2">Index i7</th>
                {% elif index_kit.type == IndexType.DUAL_INDEX %}
                <th scope="col" class="col-2">Index i7</th>
                <th scope="col" class="col-2">Index i5</th>
                {% elif index_kit.type == IndexType.TENX_ATAC_INDEX %}
                <th scope="col" class="col-2">Index 1</th>
                <th scope="col" class="col-2">Index 2</th>
                <th scope="col" class="col-2">Index 3</th>
                <th scope="col" class="col-2">Index 4</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for barcode in barcodes %}
            <tr>
                <th scope="row">{{ adapter.id }}</th>
                <td>{{ adapter.name }}</td>
                <td>{{ adapter.plate_well }}</td>
                {% if index_kit.type == IndexType.SINGLE_INDEX %}
                <td>{{ adapter.barcodes_i7[0].sequence }}</td>
                {% elif index_kit.type == IndexType.DUAL_INDEX %}
                <td>{{ adapter.barcodes_i7[0].sequence }}</td>
                <td>{{ adapter.barcodes_i5[0].sequence }}</td>
                {% elif index_kit.type == IndexType.TENX_ATAC_INDEX %}
                <td>{{ adapter.barcodes_i7[0].sequence }}</td>
                <td>{{ adapter.barcodes_i7[1].sequence }}</td>
                <td>{{ adapter.barcodes_i7[2].sequence }}</td>
                <td>{{ adapter.barcodes_i7[3].sequence }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("index_kit-barcode-table-spinner") }}
    {{ pagination("index_kit-barcode-table", "index_kits_htmx.get_barcodes", n_pages, active_page, context={"index_kit_id": index_kit.id}) }}
</div>
