{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/spinner.jinja2" import spinner %}

<div id="kit-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("kit-table", table, "id") }}
                {{ table_col2("kit-table", table, "identifier") }}
                {{ table_col2("kit-table", table, "name") }}
                {{ table_col2("kit-table", table, "type") }}
            </tr>
        </thead>
        <tbody>
            {% for kit in kits %}
            <tr>
                <th scope="row">{{ kit.id }}</th>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": kit.identifier, "label": "Copy Identifier"},
                    ])
                }}><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.identifier }}</a>
                </td>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": kit.name, "label": "Copy Name"},
                    ])
                }}><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.name }}</a>
                </td>
                <td>{{ kit.kit_type.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("kit-table-spinner") }}
    {{ pagination2("kit-table", table) }}
</div>
