{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}


<div id="lab_prep-pool-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("lab_prep-pool-table", table, "id") }}
                {{ table_col2("lab_prep-pool-table", table, "name") }}
                {{ table_col2("lab_prep-pool-table", table, "library_types") }}
                {{ table_col2("lab_prep-pool-table", table, "status") }}
                {{ table_col2("lab_prep-pool-table", table, "owner") }}
                {{ table_col2("lab_prep-pool-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <th scope="row">{{ pool.id }}</th>
                <td class="pool-name-cell" id="pool-name-cell-{{ pool.id }}">
                    <a href="{{ url_for('pools_page.pool', pool_id=pool.id, from='lab_prep@' + lab_prep.id | string) }}">
                        {{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td class="x-scroll-cell">{{ library_type_badge_list(pool.library_types) }}</td>
                <td>{{ pool.status.icon }} {{ pool.status.name }}</td>
                <td>{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></td>
                <td>{{ pool.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("lab_prep-pool-table-spinner") }}
    {{ pagination2("lab_prep-pool-table", table) }}
</div>
