{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="library-sample-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("library-sample-table", table, "id") }}
                {{ table_col2("library-sample-table", table, "name") }}
                {{ table_col2("library-sample-table", table, "status") }}
                {{ table_col2("library-sample-table", table, "owner") }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr class="sample-row" data-id="{{ sample.id }}" data-name="{{ library.name }}">
                <th scope="row">{{ sample.id }}</th>
                <td><a href="{{ url_for('samples_page.sample', sample_id=sample.id, from='library@' + library.id | string) }}">{{ sample.name }}</a></td>
                <td>{% if sample.status %}{{ sample.status.label }} {{ sample.status.icon }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=sample.owner_id, from='library@' + library.id | string) }}">{{ sample.owner.name }}{% if current_user.id == sample.owner_id %} <span class="desc">me</span>{% endif %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("library-sample-table-spinner") }}
    {{ pagination2("library-sample-table", table) }}
    <script>
        let selected_sample_id = null;
        let selected_sample_name = null;

        function remove_sample() {
            Swal.fire({
                title: `Remove sample '${selected_sample_name}' [${selected_sample_id}] from '{{library.name}}'-library ?`,
                showDenyButton: true,
                text: 'Are you sure?',
                confirmButtonText: 'Yes',
                icon: 'question',
                denyButtonText: 'No'
            }).then(function(e) {
                if (e.isConfirmed) {
                    htmx.ajax(
                    "DELETE", "{{ url_for('libraries_htmx.remove_sample', library_id=library.id) }}?sample_id=" + selected_sample_id,
                    null, {
                        target: "#library-sample-table",
                        swapStyle: "outerHTML"
                    });
                }
            });
        }

        $(document).ready(function() {
            $(document).off("contextmenu", ".sample-row").on("contextmenu", ".sample-row", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_sample_id = parseInt($(this).data("id"));
                selected_sample_name = $(this).data("name");
                $("#context-menu-container").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    {% if library.status == LibraryStatus.DRAFT or current_user.is_insider() %}
                    `<li><a class='dropdown-item' onclick='remove_sample()'>Remove</a></li>`
                    {% else %}
                    `<li><a class='dropdown-item disabled' disabled>Remove</a></li>`
                    {% endif %}
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
    </script>
</div>
