{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='library-table', column_name='ID', column_var='id',
                        sort_url='libraries_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='libraries_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-table', column_name='Name', column_var='name',
                        sort_url='libraries_htmx.get', sort_by=sort_by, sort_order=sort_order,
                        query_url='libraries_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-table', column_name='Type', column_var='type_id',
                        sort_url='libraries_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=LibraryType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-table', column_name='Status', column_var='status_id',
                        sort_url='libraries_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=LibraryStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-table', column_name='Request', column_var='seq_request_id',
                        sort_url='libraries_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                <th scope="col" class="col-4">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <i class="bi bi-upc-scan"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr>
                <th scope="row">{{ library.id }}</th>
                <td>
                    <a href="{{ url_for('libraries_page.library', library_id=library.id) }}">
                        {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.identifier }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td>{{ library.status.icon }} {{ library.status.name }}</td>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=library.seq_request_id) }}">{{ library.seq_request.name }}</a></td>
                <td class="barcode-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("library-table-spinner") }}
    {{ pagination("library-table", "libraries_htmx.get", n_pages, active_page) }}
</div>
<script>
    init_tooltips();
</script>
