{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

{% if not active_page %}
{% set active_page = 0 %}
{% endif %}
<div id="library-sample-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='library-sample-table', column_name='ID', column_var='id',
                        sort_url='libraries_htmx.get_samples', context={'library_id': library.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='libraries_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number",
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-sample-table', column_name='Name', column_var='name',
                        sort_url='libraries_htmx.get_samples', context={'library_id': library.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='libraries_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, col_size=5
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-samples-table', column_name='Status', column_var='status_id',
                        sort_url='libraries_htmx.get_samples', context={'library_id': library.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=3,
                        multiselect_choices=SampleStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='library-sample-table', column_name='Owner', column_var='owner_id',
                        sort_url='libraries_htmx.get_samples', context={'library_id': library.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=3
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr class="sample-row" data-id="{{ sample.id }}" data-name="{{ library.name }}">
                <th scope="row">{{ sample.id }}</th>
                <td><a href="{{ url_for('samples_page.sample', sample_id=sample.id, from='library@' + library.id | string) }}">{{ sample.name }}</a></td>
                <td>{% if sample.status %}{{ sample.status.name }} {{ sample.status.icon }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=sample.owner_id, from='library@' + library.id | string) }}">{{ sample.owner.name }}{% if current_user.id == sample.owner_id %} <span class="desc">me</span>{% endif %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("library-sample-table-spinner") }}
    {{ pagination("library-sample-table", "libraries_htmx.get_samples", n_pages, active_page, context={ "library_id":library.id }) }}
    <script>
        let selected_sample_id = null;
        let selected_sample_name = null;

        function remove_sample() {
            Swal.fire({
                title: `Remove sample '${selected_sample_name}' [${selected_sample_id}] from '{{library.name}}'-library ?`,
                showDenyButton: true,
                text: 'Are you sure?',
                confirmButtonText: 'Yes',
                icon: 'question',
                denyButtonText: 'No'
            }).then(function(e) {
                if (e.isConfirmed) {
                    htmx.ajax(
                    "DELETE", "{{ url_for('libraries_htmx.remove_sample', library_id=library.id) }}?sample_id=" + selected_sample_id,
                    null, {
                        target: "#library-sample-table",
                        swapStyle: "outerHTML"
                    });
                }
            });
        }

        $(document).ready(function() {
            init_tooltips();

            $(document).off("contextmenu", ".sample-row").on("contextmenu", ".sample-row", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_sample_id = parseInt($(this).data("id"));
                selected_sample_name = $(this).data("name");
                $("#copy-edit-menu").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    {% if library.status == LibraryStatus.DRAFT or current_user.is_insider() %}
                    `<li><a class='dropdown-item' onclick='remove_sample()'>Remove</a></li>`
                    {% else %}
                    `<li><a class='dropdown-item disabled' disabled>Remove</a></li>`
                    {% endif %}
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
    </script>
</div>
