{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="pool-dilution-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("pool-dilution-table", table, "identifier") }}
                {{ table_col("pool-dilution-table", table, "operator_id") }}
                {{ table_col("pool-dilution-table", table, "timestamp_utc") }}
                {{ table_col("pool-dilution-table", table, "qubit_concentration") }}
                {{ table_col("pool-dilution-table", table, "molarity") }}
                {{ table_col("pool-dilution-table", table, "volume_ul") }}
            </tr>
        </thead>
        <tbody>
            {% for dilution in dilutions %}
            <tr>
                <th scope="row">{{ dilution.identifier }}</th>
                <td>{{ dilution.operator.name }}</td>
                <td>{{ dilution.timestamp_str() }}</td>
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ dilution.qubit_concentration }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                <td>
                    <div class="quantity-container {{ dilution.molarity_color_class(pool) }}">
                        <div class="value">{{ dilution.molarity_str(pool) }}</div>
                        <div class="unit">nM</div>
                    </div>
                </td>
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ dilution.volume_ul or '' }}</div>
                        <div class="unit">μL</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("pool-dilution-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#pool-dilution-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>
