{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="pool-library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("pool-library-table", table, "id") }}
                {{ table_col2("pool-library-table", table, "name") }}
                {{ table_col2("pool-library-table", table, "type") }}
                {{ table_col2("pool-library-table", table, "seq_request") }}
                <th scope="col" class="col-4">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <i class="bi bi-upc-scan"></i>
                    </a>
                    <span class="badge bg-cemm-green">Kit</span> <span class="badge bg-cemm-blue">Checked</span> <span class="badge bg-cemm-yellow">Forward (maybe)</span> <span class="badge bg-cemm-red">Unknown</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr>
                <th scope="row">{{ library.id }}</th>
                <td  class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": library.name, "label": "Copy Name"},
                        {"type": "hxdelete", "label": "Remove Library", "disabled": false if current_user.is_admin() or (pool.status < PoolStatus.SEQUENCED and current_user.is_insider())  else true, "config": {
                            "url": url_for('pools_htmx.remove_library', library_id=library.id, **table.get_state()),
                            "target": "#pool-library-table",
                            "title": "Remove {library.name} from {pool.name}?".format(library=library, pool=pool)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('libraries_page.library', library_id=library.id, from='pool@' + pool.id | string) }}">
                        {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td>
                    <span {{ tooltip(library.type.label) }}>
                        {{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=library.seq_request_id, from='pool@' + pool.id | string) }}">{{ library.seq_request.name }}</a></td>
                <td class="x-scroll-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("pool-library-table-spinner") }}
    {{ pagination2("pool-library-table", table) }}
</div>
