{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}

<div id="pool-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("pool-table", table, "id") }}
                {{ table_col2("pool-table", table, "name") }}
                {{ table_col2("pool-table", table, "library_types") }}
                {{ table_col2("pool-table", table, "status") }}
                {{ table_col2("pool-table", table, "type") }}
                {{ table_col2("pool-table", table, "owner") }}
                {{ table_col2("pool-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <th scope="row">{{ pool.id }}</th>
                <td class="pool-name-cell" id="pool-name-cell-{{ pool.id }}" data-id="{{ pool.id }}">
                    <a href="{{ url_for('pools_page.pool', pool_id=pool.id) }}">
                        {{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td class="x-scroll-cell">{{ library_type_badge_list(pool.library_types) }}</td>
                <td>{{ pool.status.icon }} {{ pool.status.label }}</td>
                <td>{{ pool.type.display_name }}</td>
                <td><a href="{{ url_for('users_page.user', user_id=pool.owner_id) }}">{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></a></td>
                <td>{{ pool.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("pool-table-spinner") }}
    {{ pagination2("pool-table", table) }}
    <script>
        var selected_pool_id = null;
        
        function copy_name() {
            copy_to_clipboard($("#pool-name-cell-" + selected_pool_id).text());
        }
        
        $(document).ready(function() {
            $(document).off("contextmenu", ".pool-name-cell").on("contextmenu", ".pool-name-cell", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_pool_id = $(this).data("id");
                $("#context-menu-container").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    `<li><a class='dropdown-item' onclick='copy_name()'>Copy</a></li>`
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
        
    </script>
</div>
