{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="pool-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='pool-table', column_name='ID', column_var='id',
                        sort_url='pools_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='pools_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='pool-table', column_name='Pool Name', column_var='name',
                        sort_url='pools_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='pools_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, col_size=4
                    )
                }}
                {{
                    table_col(
                        table_container_id='pool-table', column_name='Status', column_var='status_id',
                        sort_url='pools_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=PoolStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='pool-table', column_name='Type', column_var='type_id',
                        sort_url='pools_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=PoolType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='pool-table', column_name='Owner', column_var='owner_id',
                        sort_url='pools_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='pool-table', column_name='# Libraries', column_var='num_libraries',
                        sort_url='pools_htmx.get', sort_by=sort_by, sort_order=sort_order, col_size=1,
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <th scope="row">{{ pool.id }}</th>
                <td class="pool-name-cell" id="pool-name-cell-{{ pool.id }}" data-id="{{ pool.id }}">
                    <a href="{{ url_for('pools_page.pool', pool_id=pool.id) }}">
                        {{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td>{{ pool.status.icon }} {{ pool.status.name }}</td>
                <td>{{ pool.type.display_name }}</td>
                <td><a href="{{ url_for('users_page.user', user_id=pool.owner_id) }}">{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></a></td>
                <td>{{ pool.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("pool-table-spinner") }}
    {{ pagination("pool-table", "pools_htmx.get", n_pages, active_page) }}
    <script>
        var selected_pool_id = null;
        
        function copy_name() {
            copy_to_clipboard($("#pool-name-cell-" + selected_pool_id).text());
        }
        
        $(document).ready(function() {
            $(document).off("contextmenu", ".pool-name-cell").on("contextmenu", ".pool-name-cell", function(e) {
                e.preventDefault();
                const x = e.pageX;
                const y = e.pageY;
                selected_pool_id = $(this).data("id");
                $("#context-menu-container").css({
                    display: "block",
                    left: x + 8, top: y + 8
                }).empty().append([
                    `<li><a class='dropdown-item' onclick='copy_name()'>Copy</a></li>`
                ]);

                $("#right-click-bg").css({
                    display: "block"
                });
            });
        });
        
    </script>
</div>
