{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="pool-library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id="pool-library-table", column_name="ID", column_var="id",
                        sort_url="pools_htmx.get_libraries", context={"pool_id": pool.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="pools_htmx.query_libraries", current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id="pool-library-table", column_name="Library Name", column_var="name",
                        sort_url="pools_htmx.get_libraries", context={"pool_id": pool.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="pools_htmx.query_libraries", current_query=current_query,
                        active_query_field=active_query_field, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id="pool-library-table", column_name="Type", column_var="type_id",
                        sort_url="pools_htmx.get_libraries", context={"pool_id": pool.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id="pool-library-table", column_name="Owner", column_var="owner_id",
                        sort_url="pools_htmx.get_libraries", context={"pool_id": pool.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                <th scope="col" class="col-4">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display('pool-library')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr>
                <th scope="row">{{ library.id }}</th>
                <td class="library-name-cell" id="library-name-cell-{{library.id}}"><a href="{{ url_for('libraries_page.library_page', library_id=library.id, from='pool@' + pool.id | string) }}">{{ library.name }}</a></td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}
                    </span>
                </td>
                <td><a href="{{ url_for('users_page.user_page', library_id=library.owner_id, from='pool@' + pool.id | string) }}">{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></a></td>
                <td class="barcode-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("pool-library-table-spinner") }}
    {{ pagination("pool-library-table", "pools_htmx.get_libraries", n_pages, active_page, context={"pool_id": pool.id}) }}
    <script>
        init_tooltips();

        function remove_library() {
            Swal.fire({
                title: `Remove library id='${selected_library_id}' from '{{pool.name}}'-request ?`,
                showDenyButton: true,
                text: 'Are you sure?',
                confirmButtonText: 'Yes',
                icon: 'question',
                denyButtonText: 'No'
            }).then(function(e) {
                if (e.isConfirmed) {
                    htmx.ajax(
                        "DELETE", "{{ url_for('pools_htmx.remove_library', pool_id=pool.id) }}?library_id=" + selected_library_id, null,
                        { target: "#seq_request-seq_request-library-table", swapStyle: "outerHTML" }
                    );
                }
            });
        }

        $(document).off("contextmenu", ".library-name-cell").on("contextmenu", ".library-name-cell", function(e) {
            e.preventDefault();
            const x = e.pageX;
            const y = e.pageY;
            selected_library_id = e.target.id.split("-")[3];
            $("#copy-edit-menu").css({
                display: "block",
                left: x + 8, top: y + 8
            }).empty().append([
                `<li><a class="dropdown-item" onclick="remove_library()">Remove Library</a></li>`,
            ]);

            $("#right-click-bg").css({
                display: "block"
            });
        })
    </script>
</div>
