{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/spinner.jinja2" import spinner %}

<div id="project-sample-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("project-sample-table", table, "id") }}
                {{ table_col2("project-sample-table", table, "name") }}
                {{ table_col2("project-sample-table", table, "library_types") }}
                {{ table_col2("project-sample-table", table, "status") }}
                {{ table_col2("project-sample-table", table, "owner") }}
                {{ table_col2("project-sample-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <th scope="row">{{ sample.id }}</th>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": sample.name, "label": "Copy Name"},
                    ])
                }}><a href="{{ url_for('samples_page.sample', sample_id=sample.id, from='project@' + project.id | string) }}">{{ sample.name }}</a></td>
                <td class="x-scroll-cell">
                    <div class="scroll-container">
                        {% for library_link in sample.library_links %}
                        {% set library = library_link.library %}
                        <span class="badge"><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=library.seq_request_id, from='project@' + project.id | string) }}">{{ library.type.abbreviation }}</a></span>
                        {% endfor %}
                    </div>
                </td>
                <td>{% if sample.status %}{{ sample.status.label }} {{ sample.status.icon }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=sample.owner_id, from='project@' + project.id | string) }}">{{ sample.owner.name }}{% if current_user.id == sample.owner_id %} <span class="desc">me</span>{% endif %}</a></td>
                <td>{{ sample.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("project-sample-table-spinner") }}
    {{ pagination2("project-sample-table", table) }}
</div>
