<div class="table-container">
    <table class="table">
        <thead>
            <th scope="col" class="col-4">Request</th>
            <th scope="col" class="col-4">Email</th>
            <th scope="col" class="col-4">Status</th>
        </thead>
        <tbody>
            {% for link in project.share_email_links %}
            <tr>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=link.seq_request.id, from='project@' + project.id | string) }}">{{ link.seq_request.name }}</a></td>
                <td>{{ link.email }}</td>
                <td>
                    {{ link.status.icon }} {{ link.status.label }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>