{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col, table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/assignee_list.jinja2" import assignee_list %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}

<div id="project-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("project-table", table, "id") }}
                {{ table_col2("project-table", table, "identifier") }}
                {{ table_col2("project-table", table, "title") }}
                {{ table_col2("project-table", table, "library_types") }}
                {{ table_col2("project-table", table, "status") }}
                {{ table_col2("project-table", table, "group") }}
                {{ table_col2("project-table", table, "owner_name") }}
                {{ table_col2("project-table", table, "num_samples") }}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row">
                    <span class="x-scroll">
                        {{ project.id }}
                        <span class="scroll-container">
                            {{ assignee_list(project.assignees, current_user=current_user) }}
                        </span>
                    </span>
                </th>
                <td class="cm-callback" {{ 
                    context_menu([
                        {"type": "copy", "value": project.identifier, "label": "Copy Identifier"},
                    ])
                }}><a href="{{ url_for('projects_page.project', project_id=project.id) }}">{{ project.identifier or "" }}</a></td>
                <td class="x-scroll-cell cm-callback" {{ 
                    context_menu([
                        {"type": "copy", "value": project.title, "label": "Copy Title"},
                    ])
                }}><a class="scroll-container" href="{{ url_for('projects_page.project', project_id=project.id) }}">{{ project.title }}</a></td>
                <td class="x-scroll-cell">{{ library_type_badge_list(project.library_types) }}</td>
                <td>{{ project.status.icon }} {{ project.status.name }}</td>
                <td>{% if project.group_id %}{{ project.group.name }} {{ project.group.type.icon }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=project.owner_id) }}">{{ project.owner.name }} <span class="desc">{{ "me" if current_user.id == project.owner_id }}</span></a></td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("project-table-spinner") }}
    {{ pagination2("project-table", table) }}
</div>