{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}
{% from "components/assignee_list.jinja2" import assignee_list %}
{% from "components/spinner.jinja2" import spinner %}

<div id="project-seq_request-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("project-seq_request-table", table, "id") }}
                {{ table_col2("project-seq_request-table", table, "name") }}
                {{ table_col2("project-seq_request-table", table, "status") }}
                {{ table_col2("project-seq_request-table", table, "timestamp_submitted") }}
                {{ table_col2("project-seq_request-table", table, "library_types") }}
                {{ table_col2("project-seq_request-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr>
                <th scope="row">
                    <span class="x-scroll">
                        {{ seq_request.id }}
                        <span class="scroll-container">
                            {{ assignee_list(seq_request.assignees, current_user=current_user) }}
                        </span>
                    </span>
                </th>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=seq_request.id, from='project@' + project.id | string) }}">{{ seq_request.name }}</a></td>
                <td>{{ seq_request.status.icon }} {{ seq_request.status.label }}</td>
                <td>{{ seq_request.timestamp_submitted_str() }}</td>
                <td class="x-scroll-cell">{{ library_type_badge_list(seq_request.library_types) }}</td>
                <td>{{ seq_request.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("project-seq_request-table-spinner") }}
    {{ pagination2("project-seq_request-table", table) }}
</div>