{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="project-assignee-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("project-assignee-table", table, "id") }}
                {{ table_col("project-assignee-table", table, "name") }}
                {{ table_col("project-assignee-table", table, "email") }}
                {{ table_col("project-assignee-table", table, "role") }}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td class="user-cell cm-callback" id="user-cell-{{ user.id }}" data-id="{{ user.id }}"
                {{
                    context_menu([
                        {"type": "hxdelete", "label": "Remove Assignee", "disabled": false if current_user.is_insider else true, "config": {
                            "url": url_for('remove_project_assignee', project_id=project.id, assignee_id=user.id).__str__(),
                            "target": "#project-assignee-table",
                            "title": "Remove assignee {user.name}?".format(user=user)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('user_page', user_id=user.id, from='project@' + project.id | string) }}">{{ user.name }}{% if user.id == current_user.id %} <span class="desc">me</span>{% endif %}</a>
                </td>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": user.email, "label": "Copy Email Address"},
                        {"type": "mailto", "label": "Send Email", "config": {
                            "subject": project.identifier or "PID_%04d: Inquiry" % project.id, 
                            "recipient": user.email,
                        },},
                    ])
                }}>{{ user.email }}</td>
                <td>{{ user.role.icon }} {{ user.role.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("project-assignee-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#project-assignee-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>
