{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="protocol-kit-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("protocol-kit-table", table, "id") }}
                {{ table_col2("protocol-kit-table", table, "identifier") }}
                {{ table_col2("protocol-kit-table", table, "name") }}
                <th scope="col" class="col-2">Combinations</th>
                {{ table_col2("protocol-kit-table", table, "type") }}
            </tr>
        </thead>
        <tbody>
            {% for kit in kits %}
            <tr>
                <th scope="row">{{ kit.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": kit.identifier, "label": "Copy Identifier"},
                        {"type": "hxdelete", "label": "Remove Kit", "disabled": false if current_user.is_insider() else true, "config": {
                            "url": url_for('protocols_htmx.remove_kit', kit_id=kit.id, **table.get_state()),
                            "target": "#protocol-kit-table",
                            "title": "Remove '{kit.name}' from '{protocol.name}'?".format(kit=kit, protocol=protocol),
                            "text": "This will remove all combinations associated with this kit. Do you want to proceed?"
                        },},
                    ])
                }}><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.identifier }}</a>
                </td>
                <td class="cm-callback"
                {{
                    context_menu([{"type": "copy", "value": kit.name, "label": "Copy Name"}])
                }}><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.name }}</a>
                </td>
                <td>
                    {% for link in kit.protocol_links %}
                    {% if link.protocol_id == protocol.id %}
                    <span class="badge cm-callback" {{
                        context_menu([
                            {"type": "hxdelete", "label": "Remove Combination", "disabled": false if current_user.is_insider() else true, "config": {
                                "url": url_for('protocols_htmx.remove_kit_combination', kit_id=kit.id, combination_num=link.combination_num, **table.get_state()),
                                "target": "#protocol-kit-table",
                                "title": "Remove combination '{link.combination_num}' ({kit.name}) from {protocol.name}?".format(link=link, kit=kit, protocol=protocol)
                            },},
                        ])
                    }}>{{ link.combination_num }}</span>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{ kit.kit_type.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
