{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="protocol-kit-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='protocol-kit-table', column_name='ID', column_var='id',
                        sort_url='protocols_htmx.get_kits', sort_by=sort_by, sort_order=sort_order,
                        query_url='protocols_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1, context={'protocol_id': protocol.id}
                    )
                }}
                {{
                    table_col(
                        table_container_id='protocol-kit-table', column_name='Identifier', column_var='identifier',
                        sort_url='protocols_htmx.get_kits', sort_by=sort_by, sort_order=sort_order,
                        query_url='protocols_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=2, context={'protocol_id': protocol.id}
                    )
                }}
                {{
                    table_col(
                        table_container_id='protocol-kit-table', column_name='Name', column_var='name',
                        sort_url='protocols_htmx.get_kits', sort_by=sort_by, sort_order=sort_order,
                        query_url='protocols_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=7, context={'protocol_id': protocol.id}
                    )
                }}
                {{
                    table_col(
                        table_container_id='protocol-kit-table', column_name='Type', column_var='kit_type_id',
                        sort_url='protocols_htmx.get_kits', sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=KitType.as_list(), multiselect_selected=type_in, context={'protocol_id': protocol.id}
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for kit in kits %}
            <tr>
                <th scope="row">{{ kit.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": kit.identifier, "label": "Copy Identifier"},
                        {"type": "hxdelete", "label": "Remove Kit", "disabled": false if current_user.is_insider() else true, "config": {
                            "url": url_for('protocols_htmx.remove_kit', protocol_id=protocol.id, kit_id=kit.id, sort_by=sort_by, sort_order=sort_order),
                            "target": "#protocol-kit-table",
                            "title": "Remove {kit.name} from {protocol.name}?".format(kit=kit, protocol=protocol)
                        },},
                    ])
                }}><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.identifier }}</a>
                </td>
                <td><a 
                    {% if kit.kit_type == KitType.INDEX_KIT %}
                    href="{{ url_for('kits_page.index_kit', index_kit_id=kit.id) }}"
                    {% elif kit.kit_type == KitType.FEATURE_KIT %}
                    href="{{ url_for('kits_page.feature_kit', feature_kit_id=kit.id) }}"
                    {% else %}
                    href="{{ url_for('kits_page.kit', kit_id=kit.id) }}"
                    {% endif %}>{{ kit.name }}</a>
                </td>
                <td>{{ kit.kit_type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
