{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="protocol-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col("protocol-table", table, "id") }}
                {{ table_col("protocol-table", table, "name") }}
                {{ table_col("protocol-table", table, "service_type") }}
                {{ table_col("protocol-table", table, "read_structure") }}
            </tr>
        </thead>
        <tbody>
            {% for protocol in protocols %}
            <tr>
                <th scope="row">{{ protocol.id }}</th>
                <td class="cm-callback" {{
                    context_menu([{"type": "copy", "value": protocol.name, "label": "Copy Name"}])
                }}>
                    <a href="{{ url_for('protocols_page.protocol', protocol_id=protocol.id) }}">
                        {{ protocol.name }}
                    </a>
                </td>
                <td>{{ protocol.service_type.label }}</td>
                <td>{{ protocol.read_structure or "" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination2("protocol-table", table) }}
    <script>
        $(document).ready(function() {
            const table = new HTMXTable("#protocol-table", "{{ table.url }}", { state: {{ table.get_state() | tojson }} });
        });
    </script>
</div>
