{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="sample-library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("sample-library-table", table, "id") }}
                {{ table_col2("sample-library-table", table, "name") }}
                {{ table_col2("sample-library-table", table, "type") }}
                {{ table_col2("sample-library-table", table, "status") }}
                {{ table_col2("sample-library-table", table, "request") }}
                <th scope="col" class="col-2">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                        </svg>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr>
                <th scope="row">{{ library.id }}</th>
                <td><a href="{{ url_for('libraries_page.library', library_id=library.id, from='sample@' + sample.id | string) }}">
                    {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                </a></td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td>{{ library.status.icon }} {{ library.status.name }}</td>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=library.seq_request_id, from='sample@' + sample.id | string) }}">{{ library.seq_request.name }}</a></td>
                <td class="x-scroll-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("sample-library-table-spinner") }}
    {{ pagination2("sample-library-table", table) }}
</div>

