{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="sample-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("sample-table", table, "id") }}
                {{ table_col2("sample-table", table, "name") }}
                {{ table_col2("sample-table", table, "status") }}
                {{ table_col2("sample-table", table, "owner") }}
                {{ table_col2("sample-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <th scope="row">{{ sample.id }}</th>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": sample.name, "label": "Copy Name"},
                    ])
                }}><a href="{{ url_for('samples_page.sample', sample_id=sample.id) }}">{{ sample.name }}</a></td>
                <td>{% if sample.status %}{{ sample.status.icon }} {{ sample.status.name }}{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=sample.owner_id) }}">{{ sample.owner.name }} {% if current_user.id == sample.owner_id %} <span class="desc">me</span>{% endif %}</a></td>
                <td>{{ sample.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("sample-table-spinner") }}
    {{ pagination2("sample-table", table) }}
</div>