{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-kits-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-kits-table', column_name='ID', column_var='id',
                        sort_url='kits_htmx.browse', sort_by=sort_by, sort_order=sort_order,
                        query_url='kits_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1, context=context
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-kits-table', column_name='Identifier', column_var='identifier',
                        sort_url='kits_htmx.browse', sort_by=sort_by, sort_order=sort_order,
                        query_url='kits_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=2, context=context
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-kits-table', column_name='Name', column_var='name',
                        sort_url='kits_htmx.browse', sort_by=sort_by, sort_order=sort_order,
                        query_url='kits_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=7, context=context
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-kits-table', column_name='Type', column_var='kit_type_id',
                        sort_url='kits_htmx.browse', sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=KitType.as_list(), multiselect_selected=type_in, context=context
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for kit in kits %}
            <tr id="kit-row-{{ kit.id }}" data-id="{{ kit.id }}" class="kit-row">
                <th scope="row">{{ kit.id }}</th>
                <td>{{ kit.identifier }}</td>
                <td>{{ kit.name }}</td>
                </td>
                <td>{{ kit.kit_type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-kits-table-spinner") }}
    {{ pagination("select-kits-table", "kits_htmx.browse", n_pages, active_page, context=context) }}
    <script>
        $(document).ready(function() {
            let is_mouse_down = false;
            let start_row = null;
            let dragging = false;
            let hovered_kit = null;

            function add_kit(kit_id) {
                selected_kits.push(kit_id);
                $(`#kit-row-${kit_id}`).addClass("selected");
                const cloned = $(`#kit-row-${kit_id}`).clone();
                cloned.attr("id", `selected-kit-row-${kit_id}`);
                cloned.on("click", function() {
                    remove_kit(kit_id);
                });
                $("#selected-kits-table-container").append(cloned);
                num_selected_kits += 1;
                $("#selected-kits-tab-btn").text(`Selected kits (${num_selected_kits})`);
            }

            function remove_kit(kit_id) {
                selected_kits = selected_kits.filter(function(value, index, arr) {
                    return value != kit_id;
                });
                $(`#kit-row-${kit_id}`).removeClass("selected");
                $(`#selected-kit-row-${kit_id}`).remove();
                num_selected_kits -= 1;
                $("#selected-kits-tab-btn").text(`Selected kits (${num_selected_kits})`);
            }

            function toggle_kit(kit_id) {
                kit_id = parseInt(kit_id);
                if (selected_kits.includes(kit_id)) {
                    remove_kit(kit_id);
                } else {
                    add_kit(kit_id);
                }
            }

            function update_kits() {
                $(".kit-row").each(function() {
                    const kit_id = parseInt($(this).data("id"));
                    if (selected_kits.includes(kit_id)) {
                        $(this).addClass("selected");
                    } else {
                        $(this).removeClass("selected");
                    }
                });
            }

            $(".kit-row").mousedown(function(e) {
                e.preventDefault();
                is_mouse_down = true;
                start_row = $(this);
                toggle_kit($(this).data("id"));
                hovered_kit = $(this).data("id");
            });

            $(".kit-row").mousemove(function(e) {
                if (is_mouse_down) {
                    dragging = true;
                    if (hovered_kit != $(this).data("id")) {
                        hovered_kit = $(this).data("id");
                        toggle_kit($(this).data("id"));
                    }
                }
            });

            $(".kit-row").mouseup(function(e) {
                is_mouse_down = false;
                if (dragging) {
                    dragging = false;
                    start_row = null;
                }
            });

            $(document).keydown(function(e) {
                if (e.metaKey && e.key === "a") {
                    e.preventDefault();
                    $(".kit-row").each(function() {
                        if ($(this).is(":visible")) {
                            if (!$(this).hasClass("selected")) {
                                add_kit($(this).data("id"));
                            }
                        }
                    });
                }
            });
            update_kits();
        });
    </script>
</div>
