{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-libraries-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='ID', column_var='id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="libraries_htmx.browse_query", current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Name', column_var='name',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order,
                        query_url="libraries_htmx.browse_query", current_query=current_query,
                        active_query_field=active_query_field, query_type="text", col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Type', column_var='type_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=LibraryType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Status', column_var='status_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=LibraryStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-libraries-table', column_name='Owner', column_var='owner_id',
                        sort_url="libraries_htmx.browse", context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        query_url='libraries_htmx.browse_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="text"
                    )
                }}
                {% if workflow == "qubit_measure" %}
                <th class="col-2" scope="col" {{ tooltip("Diluted concentration of the pool") }}>Qubit Conc.</th>
                {% elif workflow == "ba_report" %}
                <th class="col-2" scope="col">Avg. Fragment Size</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr id="library-row-{{ library.id }}" data-id="{{ library.id }}" class="library-row {% if library.pool_id is not none %}pooled{% endif %}">
                <th scope="row">{{ library.id }}</th>
                <td>
                    {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                </td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td>{{ library.status.name }} {{ library.status.icon }}</td>
                <td>{{ library.owner.name }} <span class="desc">{{ "me" if current_user.id == library.owner_id }}</span></td>
                {% if workflow == "qubit_measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.qubit_concentration_str }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif workflow == "ba_report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ library.avg_fragment_size if library.avg_fragment_size }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-libraries-table-spinner") }}
    {{ pagination("select-libraries-table", "libraries_htmx.browse", n_pages, active_page, context=context) }}
    <script>
        $(document).ready(function() {
            init_tooltips();

            let is_mouse_down = false;
            let start_row = null;
            let dragging = false;
            let hovered_library = null;

            function remove_library(library_id) {
                library_id = parseInt(library_id);
                selected_libraries = selected_libraries.filter(function(value, index, arr) {
                    return value != library_id;
                });
                $(`#library-row-${library_id}`).removeClass("selected");
                $(`#selected-library-row-${library_id}`).remove();
                num_selected_libraries -= 1;
                $("#selected-libraries-tab-btn").text(`Selected Libraries (${num_selected_libraries})`);
            }

            function add_library(library_id) {
                library_id = parseInt(library_id);
                selected_libraries.push(library_id);
                $(`#library-row-${library_id}`).addClass("selected");
                const cloned = $(`#library-row-${library_id}`).clone();
                cloned.attr("id", `selected-library-row-${library_id}`);
                cloned.on("click", function() {
                    remove_library(library_id);
                });
                $("#selected-libraries-table-container").append(cloned);
                num_selected_libraries += 1;
                $("#selected-libraries-tab-btn").text(`Selected Libraries (${num_selected_libraries})`);
            }

            function toggle_library(library_id) {
                library_id = parseInt(library_id);
                if (selected_libraries.includes(library_id)) {
                    remove_library(library_id);
                } else {
                    add_library(library_id);
                }
            }

            function update_libraries() {
                $(".library-row").each(function() {
                    const library_id = parseInt($(this).data("id"));
                    if (selected_libraries.includes(library_id)) {
                        $(this).addClass("selected");
                    }
                });
            }

            $(".library-row").mousedown(function(e) {
                e.preventDefault();
                is_mouse_down = true;
                start_row = $(this);
                toggle_library($(this).data("id"));
                hovered_library = $(this).data("id");
            });

            $(".library-row").mousemove(function(e) {
                if (is_mouse_down) {
                    dragging = true;
                    if (hovered_library != $(this).data("id")) {
                        hovered_library = $(this).data("id");
                        toggle_library($(this).data("id"));
                    }
                }
            });

            $(".library-row").mouseup(function(e) {
                is_mouse_down = false;
                if (dragging) {
                    dragging = false;
                    start_row = null;
                }
            });

            $(document).keydown(function(e) {
                if (e.ctrlKey && e.key === "a") {
                    e.preventDefault();
                    $(".library-row").each(function() {
                        if ($(this).is(":visible")) {
                            if (!$(this).hasClass("selected")) {
                                add_library($(this).data("id"));
                            }
                        }
                    });
                }
            });
            update_libraries();
            
            {% if select_all_libraries %}
            $("#select-all-libraries-btn").on("click", function() {
                var state = get_table_state("select-libraries-table");

                htmx.ajax("GET", "{{ url_for('libraries_htmx.select_all', **url_context) | safe }}", {
                    target: "#select_samples-form-container",
                    swap: "outerHTML",
                    values: state
                });
            });
            {% endif %}
        });
    </script>
</div>
