{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="select-pools-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='select-pools-table', column_name='ID', column_var='id',
                        sort_url='pools_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, query_url='pools_htmx.browse_query',
                        current_query=current_query, active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-pools-table', column_name='Name', column_var='name',
                        sort_url='pools_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, query_url='pools_htmx.browse_query',
                        current_query=current_query, active_query_field=active_query_field, query_type="text", col_size=3,
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-pools-table', column_name='Status', column_var='status_id',
                        sort_url='pools_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=PoolStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='select-pools-table', column_name='Owner', column_var='owner_id',
                        sort_url='pools_htmx.browse', context=context,
                        sort_by=sort_by, sort_order=sort_order, col_size=3,
                    )
                }}
                {% if workflow == "qubit_measure" %}
                <th class="col-3" scope="col" {{ tooltip("Diluted concentration of the pool") }}>Qubit Conc.</th>
                {% elif workflow == "ba_report" %}
                <th class="col-3" scope="col">Avg. Fragment Size</th>
                {% elif workflow == "select_experiment_pools" %}
                <th class="col-3" scope="col"># Reads Requested</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr id="pool-row-{{ pool.id }}" data-id="{{ pool.id }}" class="pool-row">
                <th scope="row">{{ pool.id }}</th>
                <td>{{ pool.name }}</td>
                <td>{{ pool.status.name }} {{ pool.status.icon }}</td>
                <td>{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></td>
                {% if workflow == "qubit_measure" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.qubit_concentration_str }}</div>
                        <div class="unit">ng/μL</div>
                    </div>
                </td>
                {% elif workflow == "ba_report" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.avg_fragment_size if pool.avg_fragment_size }}</div>
                        <div class="unit">bp</div>
                    </div>
                </td>
                {% elif workflow == "select_experiment_pools" %}
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.num_m_reads_requested if pool.num_m_reads_requested }}</div>
                        <div class="unit">M</div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("select-pools-table-spinner") }}
    {{ pagination("select-pools-table", "pools_htmx.browse", n_pages, active_page, context=context) }}
    <script>
        $(document).ready(function() {
            init_tooltips();

            let is_mouse_down = false;
            let start_row = null;
            let dragging = false;
            let hovered_pool = null;

            function add_pool(pool_id) {
                selected_pools.push(pool_id);
                console.log(pool_id);
                $(`#pool-row-${pool_id}`).addClass("selected");
                const cloned = $(`#pool-row-${pool_id}`).clone();
                cloned.attr("id", `selected-pool-row-${pool_id}`);
                cloned.on("click", function() {
                    remove_pool(pool_id);
                });
                $("#selected-pools-table-container").append(cloned);
                num_selected_pools += 1;
                $("#selected-pools-tab-btn").text(`Selected Pools (${num_selected_pools})`);
            }

            function remove_pool(pool_id) {
                console.log('pool_id:');
                selected_pools = selected_pools.filter(function(value, index, arr) {
                    return value != pool_id;
                });
                $(`#pool-row-${pool_id}`).removeClass("selected");
                $(`#selected-pool-row-${pool_id}`).remove();
                num_selected_pools -= 1;
                $("#selected-pools-tab-btn").text(`Selected Pools (${num_selected_pools})`);
            }

            function toggle_pool(pool_id) {
                pool_id = parseInt(pool_id);
                if (selected_pools.includes(pool_id)) {
                    remove_pool(pool_id);
                } else {
                    add_pool(pool_id);
                }
            }

            function update_pools() {
                $(".pool-row").each(function() {
                    const pool_id = parseInt($(this).data("id"));
                    if (selected_pools.includes(pool_id)) {
                        $(this).addClass("selected");
                    } else {
                        $(this).removeClass("selected");
                    }
                });
            }

            $(".pool-row").mousedown(function(e) {
                e.preventDefault();
                is_mouse_down = true;
                start_row = $(this);
                toggle_pool($(this).data("id"));
                hovered_pool = $(this).data("id");
            });

            $(".pool-row").mousemove(function(e) {
                if (is_mouse_down) {
                    dragging = true;
                    if (hovered_pool != $(this).data("id")) {
                        hovered_pool = $(this).data("id");
                        toggle_pool($(this).data("id"));
                    }
                }
            });

            $(".pool-row").mouseup(function(e) {
                is_mouse_down = false;
                if (dragging) {
                    dragging = false;
                    start_row = null;
                }
            });

            $(document).keydown(function(e) {
                if (e.metaKey && e.key === "a") {
                    e.preventDefault();
                    $(".pool-row").each(function() {
                        if ($(this).is(":visible")) {
                            if (!$(this).hasClass("selected")) {
                                add_pool($(this).data("id"));
                            }
                        }
                    });
                }
            });
            update_pools();
        });
    </script>
</div>
