{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}

<div id="seq_request-pool-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("seq_request-pool-table", table, "id") }}
                {{ table_col2("seq_request-pool-table", table, "name") }}
                {{ table_col2("seq_request-pool-table", table, "library_types") }}
                {{ table_col2("seq_request-pool-table", table, "status") }}
                {{ table_col2("seq_request-pool-table", table, "owner") }}
                {{ table_col2("seq_request-pool-table", table, "num_libraries") }}
                <th class="col-1" scope="col"># Reads Requested</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in pools %}
            <tr>
                <th scope="row">{{ pool.id }}</th>
                <td class="pool-name-cell" id="pool-name-cell-{{ pool.id }}">
                    <a href="{{ url_for('pools_page.pool', pool_id=pool.id, from='seq_request@' + seq_request.id | string) }}">
                        {{ pool.name }}{% if pool.clone_number > 0 %}<sup class="clone-number">(re:{{ pool.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td class="x-scroll-cell">{{ library_type_badge_list(pool.library_types) }}</td>
                <td>{{ pool.status.icon }} {{ pool.status.name }}</td>
                <td>{{ pool.owner.name }} <span class="desc">{{ "me" if current_user.id == pool.owner_id }}</span></td>
                <td>{{ pool.num_libraries }}</td>
                <td>
                    <div class="quantity-container">
                        <div class="value">{{ pool.num_m_reads_requested | int if pool.num_m_reads_requested }}</div>
                        <div class="unit">M</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-pool-table-spinner") }}
    {{ pagination("seq_request-pool-table", "pools_htmx.get", n_pages, active_page, context={"seq_request_id": seq_request.id}) }}
</div>
