{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="seq_request-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1,
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get', context={},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.table_query', current_query=current_query,
                        active_query_field=active_query_field, col_size=5,
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='Status', column_var='status_id',
                        sort_url='seq_requests_htmx.get', context={}, multiselect_choices=SeqRequestStatus.as_list(),
                        sort_by=sort_by, sort_order=sort_order, col_size=1, multiselect_selected=status_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='Type', column_var='submission_type_id',
                        sort_url='seq_requests_htmx.get', context={}, multiselect_choices=SubmissionType.as_list(),
                        sort_by=sort_by, sort_order=sort_order, col_size=1, multiselect_selected=submission_type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='Group', column_var='group_id',
                        sort_url='seq_requests_htmx.get', context={}, sort_by=sort_by, sort_order=sort_order, col_size=2,
                        query_url='seq_requests_htmx.table_query', current_query=current_query, active_query_field=active_query_field
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-table', column_name='Requestor', column_var='requestor_id',
                        sort_url='seq_requests_htmx.get', context={}, sort_by=sort_by, sort_order=sort_order, col_size=2,
                        query_url='seq_requests_htmx.table_query', current_query=current_query, active_query_field=active_query_field
                    )
                }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr>
                <th scope="row">{{ seq_request.id }}</th>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=seq_request.id) }}">{{ seq_request.name }}</a></td>
                <td>{{ seq_request.status.icon }} {{ seq_request.status.name }}</td>
                <td>{{ seq_request.submission_type.abbreviation }} {{ seq_request.submission_type.icon | safe }}</td>
                <td>{% if seq_request.group_id %}<a href="{{ url_for('groups_page.group', group_id=seq_request.group_id) }}">{{ seq_request.group.name }} {{ seq_request.group.type.icon }}</a>{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=seq_request.requestor_id) }}">{{ seq_request.requestor.name }} <span class="desc">{{ "me" if current_user.id == seq_request.requestor_id }}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-table-spinner") }}
    {{ pagination("seq_request-table", "seq_requests_htmx.get", n_pages, active_page) }}
</div>
<script>
    $(document).ready(function() {
        init_tooltips();
    });
</script>