{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="seq_request-sample-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_request-sample-table', column_name='ID', column_var='id',
                        sort_url='samples_htmx.get', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-sample-table', column_name='Name', column_var='name',
                        sort_url='samples_htmx.get', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        active_query_field=active_query_field, query_type="string", col_size=3
                    )
                }}
                {% if seq_request.submission_type == SubmissionType.RAW_SAMPLES %}
                {{
                    table_col(
                        table_container_id='seq_request-samples-table', column_name='Status', column_var='status_id',
                        sort_url='samples_htmx.get', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=SampleStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                {% endif %}
                {{
                    table_col(
                        table_container_id='seq_request-samples-table', column_name='Project', column_var='project_id',
                        sort_url='samples_htmx.get', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                    )
                }}
                <th scope="col" class="col-4">Library Types</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <th scope="row">{{ sample.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": sample.name, "label": "Copy Name"},
                        {"type": "hxdelete", "label": "Remove Sample", "disabled": false if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_admin() else true, "config": {
                            "url": url_for("seq_requests_htmx.remove_sample", seq_request_id=seq_request.id, sample_id=sample.id, page=active_page, sort_by=sort_by, sort_order=sort_order),
                            "target": "#seq_request-sample-table",
                            "text": "This will remove all libraries associated with the sample. If sample is multiplexed, all other multiplexed samples in the associated libraries will be removed. Are you sure?",
                            "title": "Remove {sample.name} from {seq_request.name}?".format(sample=sample, seq_request=seq_request)
                        },}
                    ])
                }}>
                    <a href="{{ url_for('samples_page.sample', sample_id=sample.id, from='seq_request@' + seq_request.id | string) }}">{{ sample.name }}</a>
                </td>
                {% if seq_request.submission_type == SubmissionType.RAW_SAMPLES %}
                <td>{% if sample.status %}{{ sample.status.name }} {{ sample.status.icon }}{% endif %}</td>
                {% endif %}
                <td><a href="{{ url_for('projects_page.project', project_id=sample.project_id, from='seq_request@' + seq_request.id | string) }}">{{ sample.project.title }}</a></td>
                <td class="x-scroll-cell">
                    <div class="scroll-container">
                        {% for library_link in sample.library_links %}
                        {% set library = library_link.library %}
                        {% if seq_request.id == library.seq_request_id %}
                        <span class="badge"><a href="{{ url_for('libraries_page.library', library_id=library.id, from='seq_request@' + seq_request.id | string) }}">{{ library.type.abbreviation }}</a></span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-sample-table-spinner") }}
    {{ pagination("seq_request-sample-table", "samples_htmx.get", n_pages, active_page, context={"seq_request_id": seq_request.id}) }}
</div>