{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}

<div id="seq_request-assignee-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-4">Name</th>
                <th scope="col" class="col-4">Email</th>
                <th scope="col" class="col-3">Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in assignees %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td class="user-cell cm-callback" id="user-cell-{{ user.id }}" data-id="{{ user.id }}"
                {{
                    context_menu([
                        {"type": "hxdelete", "label": "Remove Assignee", "disabled": false if current_user.is_insider() else true, "config": {
                            "url": url_for('seq_requests_htmx.remove_assignee', seq_request_id=seq_request.id, assignee_id=user.id),
                            "target": "#seq_request-assignee-table",
                            "title": "Remove {user.name} from {seq_request.name}?".format(user=user, seq_request=seq_request)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('users_page.user', user_id=user.id, from='seq_request@' + seq_request.id | string) }}">{{ user.name }}{% if user.id == current_user.id %} <span class="desc">me</span></a>{% endif %}
                </td>
                <td class="cm-callback" {{
                    context_menu([
                        {"type": "copy", "value": user.email, "label": "Copy Email Address"},
                        {"type": "mailto", "label": "Send Email", "config": {
                            "subject": "BSR_%04d: Inquiry" % seq_request.id,
                            "recipient": user.email,
                        },},
                    ])
                }}>{{ user.email }}</td>
                <td>{{ user.role.icon }} {{ user.role.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>