{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="seq_request-library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='ID', column_var='id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.query_libraries', current_query=current_query,
                        active_query_field=active_query_field, query_type="number", col_size=1
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Name', column_var='name',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order,
                        query_url='seq_requests_htmx.query_libraries', current_query=current_query,
                        active_query_field=active_query_field, col_size=3
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Pool', column_var='pool_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Type', column_var='type_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=2,
                        multiselect_choices=LibraryType.as_list(), multiselect_selected=type_in
                    )
                }}
                {{
                    table_col(
                        table_container_id='seq_request-library-table', column_name='Status', column_var='status_id',
                        sort_url='seq_requests_htmx.get_libraries', context={"seq_request_id": seq_request.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=1,
                        multiselect_choices=LibraryStatus.as_list(), multiselect_selected=status_in
                    )
                }}
                <th scope="col" class="col-3">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <i class="bi bi-upc-scan"></i>
                    </a>
                    <span class="badge bg-cemm-green">Kit</span> <span class="badge bg-cemm-blue">Checked</span> <span class="badge bg-cemm-yellow">Forward (maybe)</span> <span class="badge bg-cemm-red">Unknown</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr class="library-row" data-id="{{ library.id }}" data-name="{{ library.name }}">
                <th scope="row">{{ library.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": library.name, "label": "Copy Name"},
                        {"type": "hxdelete", "label": "Remove Library", "disabled": false if seq_request.status == SeqRequestStatus.DRAFT or current_user.is_admin() else true, "config": {
                            "url": url_for('seq_requests_htmx.remove_library', seq_request_id=seq_request.id, library_id=library.id, page=active_page, sort_by=sort_by, sort_order=sort_order),
                            "target": "#seq_request-library-table",
                            "title": "Remove {library.name} from {seq_request.name}?".format(library=library, seq_request=seq_request)
                        },}
                    ])
                }}>
                    <a href="{{ url_for('libraries_page.library', library_id=library.id, from='seq_request@' + seq_request.id | string) }}">
                        {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td>
                {% if library.pool_id %}
                    <a href="{{ url_for('pools_page.pool', pool_id=library.pool_id, from='seq_request@' + seq_request.id | string)}}">{{ library.pool.name }}</a>
                {% endif %}
                </td>
                <td>
                    <span {{ tooltip(library.type.name) }}>
                        {{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td>
                    {{ library.status.icon }} {{ library.status.name }}
                </td>
                <td class="x-scroll-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-library-table-spinner") }}
    {{ pagination("seq_request-library-table", "seq_requests_htmx.get_libraries", n_pages, active_page, context={"seq_request_id": seq_request.id}) }}
</div>
