{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/contextmenu.jinja2" import context_menu %}
{% from "components/library_index_cell.jinja2" import library_index_cell with context %}

<div id="seq_request-library-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("seq_request-library-table", table, "id") }}
                {{ table_col2("seq_request-library-table", table, "name") }}
                {{ table_col2("seq_request-library-table", table, "pool_name") }}
                {{ table_col2("seq_request-library-table", table, "type") }}
                {{ table_col2("seq_request-library-table", table, "status") }}
                <th scope="col" class="col-3">
                    Index
                    <a type="button" role="button" class="sort-btn" onclick="toggle_index_display()">
                        <i class="bi bi-upc-scan"></i>
                    </a>
                    <span class="badge bg-cemm-green">Kit</span> <span class="badge bg-cemm-blue">Checked</span> <span class="badge bg-cemm-yellow">Forward (maybe)</span> <span class="badge bg-cemm-red">Unknown</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for library in libraries %}
            <tr class="library-row" data-id="{{ library.id }}" data-name="{{ library.name }}">
                <th scope="row">{{ library.id }}</th>
                <td class="cm-callback"
                {{
                    context_menu([
                        {"type": "copy", "value": library.name, "label": "Copy Name"},
                        {"type": "hxdelete", "label": "Remove Library", "disabled": false if current_user.is_admin() or seq_request.status == SeqRequestStatus.DRAFT or (library.status < LibraryStatus.SEQUENCED and current_user.is_insider())  else true, "config": {
                            "url": url_for('seq_requests_htmx.remove_library', library_id=library.id, **table.get_state()),
                            "target": "#seq_request-library-table",
                            "title": "Remove {library.name} from {seq_request.name}?".format(library=library, seq_request=seq_request)
                        },},
                        {"type": "hxpost", "label": "Re-Sequence Library", "disabled": false if current_user.is_insider() else true, "config": {
                            "url": url_for('seq_requests_htmx.reseq_library', library_id=library.id, **table.get_state()),
                            "target": "#seq_request-library-table",
                            "title": "Re-Sequence {library.name} in {seq_request.name}?".format(library=library, seq_request=seq_request)
                        },},
                    ])
                }}>
                    <a href="{{ url_for('libraries_page.library', library_id=library.id, from='seq_request@' + seq_request.id | string) }}">
                        {{ library.name }}{% if library.clone_number > 0 %}<sup class="clone-number">(re:{{ library.clone_number }})</sup>{% endif %}
                    </a>
                </td>
                <td>
                {% if library.pool_id %}
                    <a href="{{ url_for('pools_page.pool', pool_id=library.pool_id, from='seq_request@' + seq_request.id | string)}}">{{ library.pool.name }}</a>
                {% endif %}
                </td>
                <td>
                    <span {{ tooltip(library.type.label) }}>
                        {{ library.type.abbreviation }}{% if library.mux_type %}<sup class="mux-type">[{{ library.mux_type.abbreviation }}]</sup>{% endif %}{% if library.nuclei_isolation %}<sup class="cell-type">[ncl]</sup>{% endif %}
                    </span>
                </td>
                <td>
                    {{ library.status.icon }} {{ library.status.label }}
                </td>
                <td class="x-scroll-cell">
                    {{ library_index_cell(library) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-library-table-spinner") }}
    {{ pagination2("seq_request-library-table", table) }}
</div>
