{% from "components/pagination.jinja2" import pagination %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}
{% from "components/assignee_list.jinja2" import assignee_list %}
{% from "components/library_type_badge_list.jinja2" import library_type_badge_list %}

<div id="seq_request-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("seq_request-table", table, "id") }}
                {{ table_col2("seq_request-table", table, "name") }}
                {{ table_col2("seq_request-table", table, "library_types") }}
                {{ table_col2("seq_request-table", table, "status") }}
                {{ table_col2("seq_request-table", table, "submission_type") }}
                {{ table_col2("seq_request-table", table, "group") }}
                {{ table_col2("seq_request-table", table, "requestor") }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr>
                <th scope="row">
                    <span class="x-scroll">
                        {{ seq_request.id }}
                        <span class="scroll-container">
                            {{ assignee_list(seq_request.assignees, current_user=current_user) }}
                        </span>
                    </span>
                </th>
                <td class="x-scroll-cell"><a class="scroll-container" href="{{ url_for('seq_requests_page.seq_request', seq_request_id=seq_request.id) }}">{{ seq_request.name }}</a></td>
                <td class="x-scroll-cell">{{ library_type_badge_list(seq_request.library_types) }}</td>
                <td>{{ seq_request.status.icon }} {{ seq_request.status.name }}</td>
                <td>{{ seq_request.submission_type.abbreviation }}</td>
                <td>{% if seq_request.group_id %}<a href="{{ url_for('groups_page.group', group_id=seq_request.group_id) }}">{{ seq_request.group.type.icon }} {{ seq_request.group.name }}</a>{% endif %}</td>
                <td><a href="{{ url_for('users_page.user', user_id=seq_request.requestor_id) }}">{{ seq_request.requestor.name }} <span class="desc">{{ "me" if current_user.id == seq_request.requestor_id }}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("seq_request-table-spinner") }}
    {{ pagination("seq_request-table", "seq_requests_htmx.get", n_pages, active_page) }}
</div>