{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="sequencer-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("sequencer-table", table, "id") }}
                {{ table_col2("sequencer-table", table, "name") }}
                {{ table_col2("sequencer-table", table, "model") }}
            </tr>
        </thead>
        <tbody>
            {% for sequencer in sequencers %}
            <tr>
                <th scope="row">{{ sequencer.id }}</th>
                <td><a href="{{ url_for('devices_page.sequencer', sequencer_id=sequencer.id) }}">{{ sequencer.name }}</a></td>
                <td>{{ sequencer.model.display_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("sequencer-table-spinner") }}
    {{ pagination2("sequencer-table", table) }}
</div>