{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="user-project-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("user-project-table", table, "id") }}
                {{ table_col2("user-project-table", table, "identifier") }}
                {{ table_col2("user-project-table", table, "title") }}
                {{ table_col2("user-project-table", table, "status") }}
                {{ table_col2("user-project-table", table, "num_samples") }}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row">{{ project.id }}</th>
                <td><a href="{{ url_for('projects_page.project', project_id=project.id, from='user@' + user.id | string) }}">{{ project.identifier or "" }}</a></td>
                <td><a href="{{ url_for('projects_page.project', project_id=project.id, from='user@' + user.id | string) }}">{{ project.title }}</a></td>
                <td>{{ project.status.icon }} {{ project.status.name }}</td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("user-project-table-spinner") }}
    {{ pagination("user-project-table", "projects_htmx.get", n_pages, active_page, context={"user_id": user.id}) }}
</div>