{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="user-affiliation-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("user-affiliation-table", table, "id") }}
                {{ table_col2("user-affiliation-table", table, "group_name") }}
                {{ table_col2("user-affiliation-table", table, "email") }}
            </tr>
        </thead>
        <tbody>
            {% for affiliation in affiliations %}
            <tr>
                <th scope="row">{{ affiliation.group_id }}</th>
                <td><a href="{{ url_for('groups_page.group', group_id=affiliation.group_id, from='user@' + user.id | string) }}">{{ affiliation.group.name }}</a></td>
                <td>{{ affiliation.affiliation_type.icon }} {{ affiliation.affiliation_type.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("user-affiliation-table-spinner") }}
    {{ pagination2("user-affiliation-table", table) }}
</div>