{% from "components/pagination.jinja2" import pagination2 %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/table_col.jinja2" import table_col2 %}
{% from "components/spinner.jinja2" import spinner %}

<div id="user-seq_request-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{ table_col2("user-seq_request-table", table, "id") }}
                {{ table_col2("user-seq_request-table", table, "name") }}
                {{ table_col2("user-seq_request-table", table, "status") }}
                {{ table_col2("user-seq_request-table", table, "timestamp_submitted") }}
                {{ table_col2("user-seq_request-table", table, "num_libraries") }}
            </tr>
        </thead>
        <tbody>
            {% for seq_request in seq_requests %}
            <tr>
                <th scope="row">{{ seq_request.id }}</th>
                <td><a href="{{ url_for('seq_requests_page.seq_request', seq_request_id=seq_request.id, from='user@' + user.id | string) }}">{{ seq_request.name }}</a></td>
                <td>{{ seq_request.status.icon }} {{ seq_request.status.label }}</td>
                <td>{{ seq_request.timestamp_submitted_str() }}</td>
                <td>{{ seq_request.num_libraries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("user-seq_request-table-spinner") }}
    {{ pagination2("user-seq_request-table", table) }}
</div>