{% from "components/pagination.jinja2" import pagination %}
{% from "components/table_col.jinja2" import table_col %}
{% from "components/spinner.jinja2" import spinner %}

<div id="user-project-table" class="table-container">
    <table class="table">
        <thead>
            <tr>
                {{
                    table_col(
                        table_container_id='user-project-table', column_name='ID', column_var='id',
                        sort_url='users_htmx.get_projects', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order,
                    )
                }}
                {{
                    table_col(
                        table_container_id='user-project-table', column_name='Name', column_var='name',
                        sort_url='users_htmx.get_projects', context={'user_id': user.id},
                        sort_by=sort_by, sort_order=sort_order, col_size=9
                    )
                }}
                <th scope="col col-2"># Samples</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row">{{ project.id }}</th>
                <td><a href="{{ url_for('projects_page.project_page', project_id=project.id, from='user@' + user.id | string) }}">{{ project.name }}</a></td>
                <td>{{ project.num_samples }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ spinner("user-project-table-spinner") }}
    {{ pagination("user-project-table", "users_htmx.get_projects", n_pages, active_page, context={"user_id": user.id}) }}
</div>