{% from "components/status_bar.jinja2" import pool_status_bar with context %}

<div class="banner-container">
{% for pool in pools %}
    <a class="element-banner" href="{{ url_for('pools_page.pool', pool_id=pool.id) }}">
        <div class="row">
            <div class="title col-3">{{ pool.name }}</div>
            <div class="col-2">BA: {% if pool.avg_fragment_size %}✅{% else %}⚠️{% endif %}</div>
            <div class="col-2">Qubit: {% if pool.qubit_concentration %}✅{% else %}⚠️{% endif %}</div>
            <div class="col-2">E: {% if pool.experiment_id %}{{ pool.experiment.name }}{% else %}⚠️{% endif %}</div>
            <div class="description col-3">{{ pool.owner.name }}</div>
        </div>
        {{ pool_status_bar(pool) }}
    </a>
{% endfor %}
</div>

<script>init_tooltips();</script>