{% from 'components/form_group.jinja2' import form_group %}

<div class="modal-content" id="change-password-form">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            {{ form.csrf_token() }}
            {{ form_group(form.current_password) }}
            <div class="row">
                {{ form_group(form.new_password, class="col-6") }}
                {{ form_group(form.confirm_password, class="col-6") }}
            </div>
        </form>
    </div>
    <div class="modal-footer" id="popup-footer">
        <button type="button" class="btn btn-success"
        hx-include="#change-password-form" hx-target="#change-password-form" hx-swap="outerHTML"
        hx-post="{{ url_for('auth_htmx.change_password', user_id=user.id) }}">Submit</button>
    </div>
</div>
