{% from 'components/form_group.jinja2' import form_group %}
{% from 'components/metadata_group.jinja2' import metadata_group %}
<form id="reset_password-form">
    {{ form.csrf_token() }}
    {{ form_group(form.email, autocomplete="username", readonly=true, placeholder="Invalid Token") }}

    <div class="row">
        {{ form_group(form.password, class="col", autocomplete="new-password") }}
        {{ form_group(form.confirm, class="col", autocomplete="new-password") }}
    </div>
    <button type="button" class="btn btn-success"
    hx-include="#reset_password-form" hx-target="#reset_password-form" hx-swap="outerHTML"
    hx-post="{{ url_for('auth_htmx.reset_password', token=form.token) }}">Submit</button>
</form>
