{% from 'components/form_group.jinja2' import form_group, select_input %}
{% from 'components/search_select.jinja2' import search_select_field %}
{% from 'components/barcode_clashes_table.jinja2' import barcode_clashes_table with context %}
{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}

<div id="merge_pools-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Pool Form</h1>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body tab-body">
        <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                id="form-tab-btn"
                data-bs-target="#form-tab" type="button" role="tab"
                aria-controls="form-tab" aria-selected="true">
                Form</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                id="form-tab-libraries-btn"
                data-bs-target="#form-tab-libraries" type="button" role="tab"
                aria-controls="form-tab-libraries" aria-selected="false">
                Libraries ({{ library_table | length }})</button>
            </li>
            {% for pool in pools %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#pool-{{ pool.id }}-libraries" type="button" role="tab"
                aria-controls="pool-{{ pool.id }}-libraries" aria-selected="false">
                {{ pool.name }}</button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="form-tab" role="tabpanel" tabindex="0">
                <div id="merge_pools-form">
                    {{ form.csrf_token() }}
                    <div class="row">
                        {{ form_group(form.pool_type, class="col-3") }}
                        {{ form_group(form.name, class="col-3") }}
                        {{ form_group(form.num_m_reads_requested, class="col-3") }}
                        {{ select_input(form.status, class="col-3") }}
                    </div>
                    <div class="row">
                        {% if current_user.is_insider() %}
                        {{
                            search_select_field(
                                form.contact,
                                query_url=url_for('users_htmx.query', only_insiders=True),
                                class="col-4"
                            )
                        }}
                        {{ form_group(form.contact_name, class="col-2") }}
                        {{ form_group(form.contact_email, class="col-3") }}
                        {{ form_group(form.contact_phone, class="col-3") }}
                        {% else %}
                        {{ form.contact.csrf_token() }}
                        {{ form_group(form.contact_name, class="col-4") }}
                        {{ form_group(form.contact_email, class="col-4") }}
                        {{ form_group(form.contact_phone, class="col-4") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="form-tab-libraries" role="tabpanel" tabindex="1">
                {{ barcode_clashes_table(barcode_table) }}
            </div>
            {% for pool in pools %}
            <div class="tab-pane fade" id="pool-{{ pool.id }}-libraries" role="tabpanel" tabindex="{{ loop.index + 1 }}">
                <div class="row">
                    {{ metadata_group("Name", pool.name, class="col-3") }}
                    {{ metadata_group("Type", pool.type, class="col-3") }}
                    {% if pool.seq_request_id %}
                    {{                     
                        metadata_group_link(
                            "Request", pool.seq_request.name,
                            url_for("seq_requests_page.seq_request", seq_request_id=pool.seq_request_id, from='pool@' + pool.id | string),
                            class="col-3"
                        )
                    }}
                    {% else %}
                    {{ metadata_group("Request", "", class="col-3") }}
                    {% endif %}
                    {% if pool.lab_prep_id %}
                    {{ 
                        metadata_group_link(
                            "Lab Prep", pool.lab_prep.display_name,
                            url_for("lab_preps_page.lab_prep", lab_prep_id=pool.lab_prep_id, from='pool@' + pool.id | string),
                            class="col-3"
                        )
                    }}
                    {% else %}
                    {{ metadata_group("Lab Prep", "", class="col-3") }}
                    {% endif %}
                </div>
                <div class="row">
                    {{
                        metadata_group_link(
                            "Owner", pool.owner.name,
                            url_for("users_page.user", user_id=pool.owner.id, from='pool@' + pool.id | string),
                            class="col-2"
                        )
                    }}
                    {{ 
                        metadata_group_email_link("Owner Email", pool.owner.email, class="col-3")
                    }}
                    {{ metadata_group("Contact Name", pool.contact.name, class="col-2") }}
                    {{ metadata_group_email_link("Contact Email", pool.contact.email, class="col-3") }}
                    {{ metadata_group("Contact Phone", pool.contact.phone, class="col-2") }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
                hx-target="#merge_pools-form-container" hx-swap="outerHTML"
                hx-include="#merge_pools-form"
                hx-post="{{ form.post_url }}">
                Submit
            </button>
        </div>
    </div>
</div>

