{% from "components/status_bar.jinja2" import seq_request_status_bar with context %}

{% for seq_request in seq_requests %}
<a class="element-banner" href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}">
    <div class="row">
        <div class="title col-5">{{ seq_request.name }}</div>
        <div class="col-2">{{ seq_request.timestamp_submitted_str("%-d. %b.") }}</div>
        <div class="title col-5"><span class="badge">{{ seq_request.submission_type.name }}</span></div>
    </div>
    <div class="row">
        <div class="description col-6">{{ seq_request.requestor.name }}</div>
        <div class="title col-6"><span class="badge">Libraries: {{ seq_request.num_libraries }}</span></div>
    </div>
    {{ seq_request_status_bar(seq_request) }}
</a>
{% endfor %}