{% extends "base.html" %}
{% set active_page = "devices-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>Sequencers</h1>
        </div>
        <div class="page-controls">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sequencer-form-popup">
                New Sequencer
            </button>
        </div>
    </div>
</div>

<div class="page-content">
    <div hx-get="{{ url_for('sequencers_htmx.get') }}" hx-trigger="load" hx-swap="outerHTML">
        {{ spinner() }}
    </div>

    <div class="modal fade" id="sequencer-form-popup" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Add New Sequencer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "forms/sequencer.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" hx-include="#sequencer-form" hx-target="#sequencer-form"
                    hx-swap="outerHTML" hx-post="{{ url_for('sequencers_htmx.create') }}">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}