{% extends "base.html" %}
{% set active_page = "feature_kits-page" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>{{ feature_kit.name }}</h1>
        </div>
        <div>
            <a type="button" class="btn btn-primary" href="{{ url_for('kits_page.export_features', feature_kit_id=feature_kit.id) }}">Export</a>
        </div>
    </div>
    <div hx-get="{{ url_for('feature_kits_htmx.get_features', feature_kit_id=feature_kit.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
        {{ spinner() }}
    </div>
</div>
{% endblock content %}