{% from "components/tooltip.jinja2" import tooltip %}

{% extends "base.html" %}
{% set active_page = "groups-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div>
            <h1>{{ group.name }} <span {{ tooltip(group.type.name, position="right") }}>{{ group.type.icon }}</span></h1>
        </div>
        <div>
            {% if can_add_users %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal"
                hx-get="{{ url_for('groups_htmx.add_user', group_id=group.id) }}"
                hx-swap="innerHTML" hx-target="#xl-modal-content">
                Add Member
            </button>
            {% endif %}
            {% if can_edit %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#group-form-popup">
                Edit Group
            </button>
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-tabs" id="auth-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#group-members-tab" type="button" role="tab"
            aria-controls="group-members-tab" aria-selected="true">Members</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#group-requests-tab"
                type="button" role="tab" aria-controls="group-requests-tab" aria-selected="false">
                Requests
            </button>
        </li>
    </ul>
</div>

<div class="container">
    <div class="tab-content pt-1">
        <div class="tab-pane fade show active" id="group-members-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Members {% if can_add_users %}<img {{ tooltip('Right click on a user\'s name to remove.', 'right') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;">{% endif %}</h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('groups_htmx.get_users', group_id=group.id) }}" hx-trigger="load" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="group-requests-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2>Requests</h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('groups_htmx.get_seq_requests', group_id=group.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>

{% if can_edit %}
<div class="modal fade" id="group-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" >Edit Group</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include group_form._template_path %}
        </div>
        <div class="modal-footer" id="popup-footer">
            <div class="text-nowrap text-muted footer-id">
            </div>
            <div class="footer-info">
            </div>
            <div class="footer-controls">
                <button id="submit-group-btn" class="btn btn-success"
                hx-include="#group-form" hx-target="#group-form" hx-swap="outerHTML"
                hx-post="{{ url_for('groups_htmx.edit', group_id=group.id) }}">Submit</button>
            </div>
        </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    init_tooltips();
</script>
{% endblock %}
