{% from 'components/tooltip.jinja2' import tooltip %}

{% extends "base.html" %}
{% set active_page = "barcodes-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1><b>[{{ index_kit.identifier }}]</b> {{ index_kit.name }} <span class="desc">{{ index_kit.type.name }}</span></h1>
        </div>
        <div class="page-controls">
            {% if current_user.is_insider() %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manage
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="button" class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#xl-modal" 
                            hx-get="{{ url_for('index_kits_htmx.get_form', form_type='edit', index_kit_id=index_kit.id) }}"
                            hx-target="#xl-modal-content" data-bs-toggle="modal"
                            hx-swap="innerHTML">
                            Edit
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#fullscreen-modal" 
                            hx-get="{{ url_for('index_kits_htmx.edit_barcodes', index_kit_id=index_kit.id) }}"
                            hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                            hx-swap="innerHTML">
                            Edit Barcodes
                        </button>
                    </li>
                    <li>
                        <span {% if not current_user.is_admin() %} {{ tooltip("Only admin can delete kit.", "left", "warning") }} {% endif %}>
                            <button type="button" class="dropdown-item"
                                {% if current_user.is_admin() %}
                                hx-delete="{{ url_for('index_kits_htmx.delete', index_kit_id=index_kit.id) }}"
                                _="on htmx:confirm(issueRequest)
                                halt the event
                                call Swal.fire({
                                    title: 'Delete Kit \'{{ index_kit.identifier }}\'',
                                    icon: 'warning',
                                    showDenyButton: true,
                                    text: 'Proceed?',
                                    confirmButtonText: 'Yes',
                                    denyButtonText: 'No'
                                })
                                if result.isConfirmed issueRequest()"
                                {% else %}disabled{%endif%}>
                                Delete
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#barcodes-tab" type="button" role="tab"
            aria-controls="barcodes-tab" aria-selected="true">
            Barcodes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#table-tab" type="button" role="tab"
            aria-controls="table-tab" aria-selected="true">
            Table</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="barcodes-tab" role="tabpanel" tabindex="0">
            <div hx-get="{{ url_for('index_kits_htmx.get_adapters', index_kit_id=index_kit.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="table-tab" role="tabpanel" tabindex="0">
            <div hx-get="{{ url_for('index_kits_htmx.render_table', index_kit_id=index_kit.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}