{% from "components/status_bar.jinja2" import seq_request_status_bar, experiment_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>Dashboard</h1>
        </div>
        <div>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#requests-tab" type="button" role="tab"
            aria-controls="requests-tab" aria-selected="true">
            Requests</button>
        </li>
        {% if current_user.is_insider() %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#experiments-tab" type="button" role="tab"
            aria-controls="experiments-tab" aria-selected="false">
            Experiments</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#workflows-tab" type="button" role="tab"
            aria-controls="workflows-tab" aria-selected="false">
            Workflows</button>
        </li>
    </ul>

    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="requests-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Recent Sequencing Requests</h3>
                </div>
            </div>
            <div class="banner-container">
            {% for seq_request in recent_seq_requests %}
                <div class="p-2 seq_request-banner">
                    <a href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}">
                        <div class="row banner-title">
                            <div class="title col-4">{{ seq_request.id }}. {{ seq_request.name }}</div>
                            <div class="description col-4"> {{ seq_request.requestor.name }} {{ seq_request.requestor.email }}</div>
                            <div class="submitted-time col-4">{{ seq_request.submitted_time_to_str() }} </div>
                        </div>
                        {{ seq_request_status_bar(seq_request) }}
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% if current_user.is_insider() %}
        <div class="tab-pane fade" id="experiments-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Recent Experiments</h3>
                </div>
            </div>
            <div class="banner-container">
            {% for experiment in recent_experiments %}
                <div class="p-2 seq_request-banner">
                    <a href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}">
                        <div class="row banner-title">
                            <div class="title col-4">{{ experiment.id }}. {{ experiment.name }}</div>
                            <div class="description col-4"> {{ experiment.operator.name }}</div>
                            <div class="submitted-time col-4">{{ experiment.timestamp_to_str() }} </div>
                        </div>
                        {{ experiment_status_bar(experiment) }}
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="tab-pane fade" id="workflows-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Workflows</h3>
                </div>
            </div>
            <div class="workflow-container">
                <div class="card" style="width: 250px;">
                    <div class="card-icon">
                        <img src="{{ url_for('static', filename='images/new_file.svg') }}" width="60px">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Create Sequencing Request</h5>
                        <p class="card-text">Create a new sequencing request.</p>
                        <a href="{{ url_for('seq_requests_page.seq_requests_page', open_form=1) }}" class="btn btn-primary begin-workflow-btn">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}