
{% from "components/spinner.jinja2" import spinner %}
{% from "components/legends.jinja2" import color_legend %}
{% from "components/status_bar.jinja2" import seq_request_status_bar, experiment_status_bar with context %}

{% extends "base.html" %}
{% set active_page = "" %}
{% block content %}
<div class="container">
    <div class="dash">
        <div class="dash-left">
            <div class="dash-top">
                <div class="dash-component-header">
                    <h4>Recent Sequencing Requests</h4>
                </div>
                <div class="banner-container">
                {% for seq_request in recent_seq_requests %}
                    <div class="p-2 element-banner">
                        <a href="{{ url_for('seq_requests_page.seq_request_page', seq_request_id=seq_request.id) }}">
                            <div class="row banner-title">
                                <div class="title col-4">{{ seq_request.name }} <span class="id-desc">{{ seq_request.id }}</span></div>
                                <div class="description col-4"> {{ seq_request.requestor.name }}</div>
                                <div class="submitted-time col-4">{{ seq_request.timestamp_submitted_str() }} </div>
                            </div>
                            {{ seq_request_status_bar(seq_request) }}
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% if current_user.is_insider() %}
            <div class="dash-bottom">
                <div class="dash-component-header">
                    <h4>Recent Experiments</h4>
                </div>
                <div class="banner-container">
                {% for experiment in recent_experiments %}
                    <div class="p-2 element-banner">
                        <a href="{{ url_for('experiments_page.experiment_page', experiment_id=experiment.id) }}">
                            <div class="row banner-title">
                                <div class="title col-4">{{ experiment.name }} <span class="id-desc">{{ experiment.id }}</span></div>
                                <div class="description col-4"> {{ experiment.operator.name }}</div>
                                <div class="submitted-time col-4">{{ experiment.timestamp_created_str() }} </div>
                            </div>
                            {{ experiment_status_bar(experiment) }}
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="dash-right">
            {% if current_user.is_insider() %}
            <div class="dash-top">
                <div class="dash-component-header">
                    <h4>Calendar</h4>
                    <div style="width: 100%;" class="d-flex justify-content-center">
                        {{ color_legend(EventType.to_color_legend()) }}
                    </div>
                </div>
                <div hx-get="{{ url_for('events_htmx.render_calendar_month') }}" hx-trigger="intersect once" hx-swap="outerHTML">
                    {{ spinner() }}
                </div>
            </div>
            {% endif %}
            <div class="dash-bottom">
                <div class="dash-component-header">
                    <h4>Workflows</h4>
                </div>
                <div class="workflow-container">
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('seq_requests_htmx.get_form', form_type='create') }}"
                        hx-target="#xl-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/select.svg') }}" width="90px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Create Sequencing Request</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Create a new sequencing request.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if current_user.is_insider() %}
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('lab_preps_htmx.get_form', form_type='create') }}"
                        hx-target="#xl-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/prepare.svg') }}" width="120px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Prepare Libraries</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Prepare libraries in the pool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#fullscreen-modal" 
                        hx-get="{{ url_for('store_samples_workflow.begin') }}"
                        hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/store.svg') }}" width="90px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Store Samples</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Store samples received from customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('pools_htmx.get_form', form_type='create') }}"
                        hx-target="#xl-modal-content"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/pool.svg') }}" width="90px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Create Pool</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Create pool from libraries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('experiments_htmx.get_form', form_type='create') }}"
                        hx-target="#xl-modal-content"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/sequencer.svg') }}" width="90px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Create Experiment</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Create a new sequencing experiment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('qubit_measure_workflow.begin') }}"
                        hx-target="#xl-modal-content"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/fluorometer.svg') }}" width="55px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Qubit Concentration</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Measure samples' concentration with Qubit fluorometer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card card"
                        data-bs-toggle="modal" data-bs-target="#xl-modal" 
                        hx-get="{{ url_for('ba_report_workflow.begin') }}"
                        hx-target="#xl-modal-content"
                        hx-swap="innerHTML" hx-trigger="click">
                        <div class="flip-card-container">
                            <div class="card-front">
                                <div class="card-icon">
                                    <img src="{{ url_for('static', filename='images/licensed/analyzer.svg') }}" width="80px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Bio Analyzer Report</h5>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="text-container">
                                    <p class="card-text">Upload results form Bio Analyzer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}