{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}
{% extends "base.html" %}
{% set active_page = "libraries-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Library: {{ library.name }} <span class="desc">{{ library.type.description }}</span></h1>
        </div>
        <div>
            <span {% if library.submitted and not current_user.is_insider() %} {{ tooltip("You cannot edit library that is already submitted.") }} {% endif %}>
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#library-form-popup"
                {% if library.submitted and not current_user.is_insider() %}disabled{% endif %}>
                    Edit Library
                </button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-barcodes-tab" type="button" role="tab"
            aria-controls="library-barcodes-tab" aria-selected="true">
            Barcodes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-wetlab-tab" type="button" role="tab"
            aria-controls="library-wetlab-tab" aria-selected="true">
            Wet-lab</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-metadata-tab" type="button" role="tab"
            aria-controls="library-metadata-tab" aria-selected="true">
            Metadata</button>
        </li>
        {% if library.type.description == "VISIUM" %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-visium-tab" type="button" role="tab"
            aria-controls="library-visium-tab" aria-selected="true">
            Visium</button>
        </li>
        {% elif library.type.description == "ABC" %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-abc-tab" type="button" role="tab"
            aria-controls="library-abc-tab" aria-selected="true">
            Feature Capture
            </button>
        {% endif %}
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-barcodes-tab" role="tabpanel" tabindex="0">
            <div class="row">
            {{
                metadata_group(
                    "Adapter",
                    library.index_1_adapter if library.index_1_adapter else "",
                    class="col-2"
                )
            }}
            {{
                metadata_group(
                    "Index 1 (i7)",
                    library.index_1_sequence if library.index_1_sequence else "",
                    class="col-2"
                )
            }}
            {{
                metadata_group(
                    "Index 2 (i5)",
                    library.index_2_sequence if library.index_2_sequence else "",
                    class="col-2"
                )
            }}
            {{
                metadata_group(
                    "Index 3",
                    library.index_3_sequence if library.index_3_sequence else "",
                    class="col-2"
                )
            }}
            {{
                metadata_group(
                    "Index 4",
                    library.index_4_sequence if library.index_4_sequence else "",
                    class="col-2"
                )
            }}
            </div>
        </div>
        <div class="tab-pane fade show" id="library-wetlab-tab" role="tabpanel" tabindex="1">
            <div class="row">
                    {{ metadata_group("Volume (uL)", library.volume, class="col-4") }}
                    {{ metadata_group("DNA Concentration (nM)", library.dna_concentration, class="col-4") }}
                    {{ metadata_group("Total Size (bp)", library.total_size, class="col-4") }}
            </div>
        </div>
        <div class="tab-pane fade show" id="library-metadata-tab" role="tabpanel" tabindex="2">
            <div class="row">
                {{ metadata_group("Type", library.type.value, class="col") }}
            </div>
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        library.owner.name,
                        url_for("users_page.user_page", user_id=library.owner.id),
                        class="col"
                    )
                }}
                {{
                    metadata_group_email_link(
                        "Owner Email", library.owner.email, class="col",
                        subject="BSF Library: " + library.name + " " + library.type.description + " " + " (" + library.id | string + ")"
                    )
                }}
            </div>
        </div>
        {% if library.type.description == "VISIUM" %}
        <div class="tab-pane fade show" id="library-visium-tab" role="tabpanel" tabindex="3">
            <div class="row">
                {{ metadata_group("Image", library.visium_annotation.image, class="col-4") }}
                {{ metadata_group("Slide", library.visium_annotation.slide, class="col-4") }}
                {{ metadata_group("Area", library.visium_annotation.area, class="col-4") }}
            </div>
        </div>
        {% elif library.type.description == "ABC" %}
        <div class="tab-pane fade show" id="library-abc-tab" role="tabpanel" tabindex="4">
            {% include "components/tables/library-feature.html" %}
        </div>
        {% endif %}
    </div>

    <div class="modal fade" id="library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" >Edit Library</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include library_form._template_path %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary"
                hx-include="#edit-library-form" hx-target="#edit-library-form" hx-swap="outerHTML"
                hx-post="{{ url_for('libraries_htmx.edit', library_id=library.id) }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock content %}