{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/spinner.jinja2' import spinner %}
{% from 'components/tooltip.jinja2' import tooltip %}
{% from "components/status_bar.jinja2" import library_status_bar with context %}


{% extends "base.html" %}
{% set active_page = "libraries-page" %}
{% block content %}

<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>Library: {{ library.name }} <span class="desc">{{ library.type.abbreviation }}</span></h1>
        </div>
        <div class="page-controls">
            <span {% if not library.is_editable() and not current_user.is_insider() %} {{ tooltip("You cannot edit library that is already submitted.") }} {% endif %}>
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#library-form-popup"
                {% if not library.is_editable() and not current_user.is_insider() %}disabled{% endif %}>
                    Edit Library
                </button>
            </span>
        </div>
    </div>

    <div class="status_bar">
        {{ library_status_bar(library) }}
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-main-tab" type="button" role="tab"
            aria-controls="library-main-tab" aria-selected="true">
            Library</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-wetlab-tab" type="button" role="tab"
            aria-controls="library-wetlab-tab" aria-selected="true">
            Wet-lab</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-metadata-tab" type="button" role="tab"
            aria-controls="library-metadata-tab" aria-selected="true">
            Metadata</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-samples-tab" type="button" role="tab"
            aria-controls="library-samples-tab" aria-selected="true">
            Samples</button>
        </li>
        {% if library.type in [LibraryType.TENX_VISIUM_HD, LibraryType.TENX_VISIUM_FFPE, LibraryType.TENX_VISIUM] %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-visium-tab" type="button" role="tab"
            aria-controls="library-visium-tab" aria-selected="true">
            Visium</button>
        </li>
        {% elif library.type == LibraryType.TENX_ANTIBODY_CAPTURE %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-abc-tab" type="button" role="tab"
            aria-controls="library-abc-tab" aria-selected="true">
            Feature Capture
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#library-abc-table-tab" type="button" role="tab"
            aria-controls="library-abc-table-tab" aria-selected="true">
            Feature Table
            </button>
        </li>
        {% endif %}
        {% if library.ba_report_id and current_user.is_insider() %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#ba_report-tab" type="button" role="tab"
            aria-controls="ba_report-tab" aria-selected="true">
            BA Report</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#reads-tab" type="button" role="tab"
            aria-controls="reads-tab" aria-selected="true" >
            Read Quality</button>
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-main-tab" role="tabpanel" tabindex="0">
            <div class="row">
                {% if library.seq_request_id %}
                {{ 
                    metadata_group_link(
                        "Request", library.seq_request.name,
                        url_for("seq_requests_page.seq_request_page", seq_request_id=library.seq_request_id, from="library@" + library.id | string),
                        class="col-4"
                    )
                }}
                {% else %}
                {{ metadata_group("Request", "", class="col-4") }}
                {% endif %}
                {% if library.lab_prep_id %}
                {{ 
                    metadata_group_link(
                        "Prep", library.lab_prep.name,
                        url_for("lab_preps_page.lab_prep_page", lab_prep_id=library.lab_prep_id, from="library@" + library.id | string),
                        class="col-4"
                    )
                }}
                {% else %}
                {{ metadata_group("Prep", "", class="col-4") }}
                {% endif %}
                {% if library.pool_id %}
                {{ 
                    metadata_group_link(
                        "Pool", library.pool.name,
                        url_for("pools_page.pool_page", pool_id=library.pool.id, from="library@" + library.id | string),
                        class="col-4"
                    )
                }}
                {% else %}
                {{ metadata_group("Pool", "", class="col-4") }}
                {% endif %}
            </div>
            <h4>Barcodes</h4>
            <div class="row">
                {{
                    metadata_group(
                        "Adapter",
                        library.index_1_adapter if library.index_1_adapter else "",
                        class="col-2"
                    )
                }}
                {{
                    metadata_group(
                        "Index 1 (i7)",
                        library.index_1_sequence if library.index_1_sequence else "",
                        class="col-2"
                    )
                }}
                {{
                    metadata_group(
                        "Index 2 (i5)",
                        library.index_2_sequence if library.index_2_sequence else "",
                        class="col-2"
                    )
                }}
                {{
                    metadata_group(
                        "Index 3",
                        library.index_3_sequence if library.index_3_sequence else "",
                        class="col-2"
                    )
                }}
                {{
                    metadata_group(
                        "Index 4",
                        library.index_4_sequence if library.index_4_sequence else "",
                        class="col-2"
                    )
                }}
            </div>
        </div>
        <div class="tab-pane fade" id="library-wetlab-tab" role="tabpanel" tabindex="1">
            <div class="row">
                {{ metadata_group("Volume", library.volume, class="col-3", unit="μL") }}
                {{ metadata_group("Avg. Fragment Size", library.avg_fragment_size, class="col-3", unit="bp") }}
                {{ metadata_group("Qubit Concentration", library.qubit_concentration_str, class="col-3", unit="ng/μL") }}
                {{ metadata_group("Molarity", library.molarity_str, class="col-3", unit="nM") }}
            </div>
            <div class="row">
                {{ metadata_group("Sequencing Depth (reads)", library.seq_depth_requested, class="col-3", unit="M") }}
            </div>
        </div>
        <div class="tab-pane fade" id="library-metadata-tab" role="tabpanel" tabindex="2">
            <div class="row">
                {{ metadata_group("Type", library.type, class="col-4") }}
                {{ metadata_group("Sample Name", library.sample_name, class="col-4") }}
                {{ metadata_group("Genome Reference", library.genome_ref, class="col-4") }}
            </div>
            <div class="row">
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        library.owner.name,
                        url_for("users_page.user_page", user_id=library.owner.id),
                        class="col"
                    )
                }}
                {{
                    metadata_group_email_link(
                        "Owner Email", library.owner.email, class="col",
                        subject="BSF Library: " + library.name + " " + library.type.abbreviation + " " + " (" + library.id | string + ")"
                    )
                }}
            </div>
        </div>
        <div class="tab-pane fade" id="library-samples-tab" role="tabpanel" tabindex="3">
            <div hx-get="{{ url_for('libraries_htmx.get_samples', library_id=library.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        {% if library.type in [LibraryType.TENX_VISIUM_HD, LibraryType.TENX_VISIUM_FFPE, LibraryType.TENX_VISIUM] %}
        <div class="tab-pane fade" id="library-visium-tab" role="tabpanel" tabindex="4">
            <div hx-get="{{ url_for('libraries_htmx.get_visium_annotation', library_id=library.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        {% elif library.type == LibraryType.TENX_ANTIBODY_CAPTURE %}
        <div class="tab-pane fade" id="library-abc-tab" role="tabpanel" tabindex="5">
            <div hx-get="{{ url_for('libraries_htmx.get_features', library_id=library.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="library-abc-table-tab" role="tabpanel" tabindex="6">
            <div hx-get="{{ url_for('libraries_htmx.render_feature_table', library_id=library.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        {% endif %}
        {% if library.ba_report_id and current_user.is_insider() %}
        <div class="tab-pane fade" id="ba_report-tab" role="tabpanel" tabindex="7">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-1">
                <div class="row">
                    {{ metadata_group("Filename", library.ba_report.name + library.ba_report.extension, class="col-3") }}
                    {{ metadata_group_link("Uploader", library.ba_report.uploader.name, url_for('users_page.user_page', user_id=library.ba_report.uploader_id), class="col-3") }}
                    {{ metadata_group("Size", library.ba_report.size_str(), class="col-3") }}
                    {{ metadata_group("Time", library.ba_report.timestamp_str(), class="col-3") }}
                </div>
            </div>
            <div class="d-flex justify-content-center" style="width: 100%; overflow-y: hidden;" id="ba_report-spinner">
                <div class="spinner-border cemm-blue" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <embed src="{{ url_for('pdf_file', file_id=library.ba_report_id) }}" type="application/pdf" width="100%" height="1000px" onload="remove_spinner()">
        </div>
        {% endif %}
        <div class="tab-pane fade" id="reads-tab" role="tabpanel" tabindex="8">
            <div hx-get="{{ url_for('libraries_htmx.reads_tab', library_id=library.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="library-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" >Edit Library</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include library_form._template_path %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary"
                hx-include="#edit-library-form" hx-target="#edit-library-form" hx-swap="outerHTML"
                hx-post="{{ url_for('libraries_htmx.edit', library_id=library.id) }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function remove_spinner() {
        $("#ba_report-spinner").remove();
    }
</script>
{% endblock content %}