{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}

{% extends "base.html" %}
{% set active_page = "pools-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div>
            <h1>{{ pool.name }} <span class="desc">{{ pool.status.name }} {{ pool.status.icon }}</span></h1>
        </div>
        <div>
            <span {% if not is_editable %}
            {{ tooltip("You can no longer edit pool after it is submitted.") }}
            {% endif %}>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#xl-modal"
                hx-get="{{ url_for('pools_htmx.get_form', form_type='edit', pool_id=pool.id)}}"
                hx-target="#xl-modal-content" hx-swap="innerHTML" hx-trigger="click" {% if not is_editable and not current_user.is_insider() %}disabled{% endif %}>
                    Edit Pool
                </button>
            </span>
            <span {% if not is_editable %} {{ tooltip("You can only edit draft pools.", "left", "warning") }} {% endif %}>
                <button type="button" class="btn btn-danger"
                hx-delete="{{ url_for('pools_htmx.remove_libraries', pool_id=pool.id) }}"
                _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Remove all libraries from pool \'{{ pool.name }}\'',
                    showDenyButton: true,
                    text: 'Proceed?',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()"
                {% if not is_editable %}disabled{% endif %}>Remove Libraries</button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#library-tab" type="button" role="tab"
            aria-controls="library-tab" aria-selected="true">
            Libraries</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#workflow-tab" type="button" role="tab"
            aria-controls="workflow-tab" aria-selected="false">
            Workflows</button>
        </li>
        {% if current_user.is_insider() %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#plate-tab" type="button" role="tab"
            aria-controls="plate-tab" aria-selected="false">
            Plate</button>
        </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#wetlab-tab" type="button" role="tab"
            aria-controls="wetlab-tab" aria-selected="false">
            Wet-Lab</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#metadata-tab" type="button" role="tab"
            aria-controls="metadata-tab" aria-selected="false">
            Metadata</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#ba_report-tab" type="button" role="tab"
            aria-controls="ba_report-tab" aria-selected="false"
            {% if not pool.ba_report_id %}disabled{% endif %}>
            BA Report</button>
        </li>
    </ul>
    
</div>

<div class="container">
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="library-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Libraries</h2>
                </div>
                <div>
                </div>
            </div>
            <div hx-get="{{ url_for('pools_htmx.get_libraries', pool_id=pool.id) }}" hx-trigger="intersect once" hx-swap="outerHMTL">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="workflow-tab" role="tabpanel" tabindex="1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h3>Workflows</h3>
                </div>
            </div>
            <div class="workflow-container">
            </div>
        </div>
        {% if current_user.is_insider() %}
        <div class="tab-pane fade" id="plate-tab" role="tabpanel" tabindex="2">
            {% if pool.plate_id %}
            <div hx-get="{{ url_for('plates_htmx.plate_tab', plate_id=pool.plate_id) }}" hx-trigger="intersect once" hx-swap="outerHMTL">
                {{ spinner() }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="tab-pane fade" id="wetlab-tab" role="tabpanel" tabindex="3">
            <div class="row">
                {{ metadata_group("Avg. Fragment Size", pool.avg_fragment_size if pool.avg_fragment_size, class="col-3", unit="bp") }}
                {{ metadata_group("Qubit Concentration", pool.qubit_concentration_str, class="col-3", unit="ng/μL") }}
                {{ metadata_group("Molarity", pool.molarity_str, class="col-3", unit="nM") }}
                {{ metadata_group("# Reads Requested", pool.num_m_reads_requested, class="col-3", unit="M") }}
            </div>
            <div class="row">
                {{ metadata_group("# Libraries", pool.num_libraries, class="col-2") }}
                {{ metadata_group("Time Stored", pool.timestamp_stored_str, class="col-5") }}
                {{ metadata_group("Pool Type", pool.type.display_name, class="col-5") }}
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Dilutions</h2>
                </div>
            </div>
            <div hx-get="{{ url_for('pools_htmx.get_dilutions', pool_id=pool.id) }}" hx-trigger="intersect once" hx-swap="outerHMTL">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="metadata-tab" role="tabpanel" tabindex="4">
            <div class="row">
                {{ metadata_group("Name", pool.name, class="col-3") }}
                {{ metadata_group("Type", pool.type, class="col-3") }}
                {{
                    metadata_group_link(
                        "Owner", pool.owner.name,
                        url_for("users_page.user_page", user_id=pool.owner.id, from='pool@' + pool.id | string),
                        class="col-3"
                    )
                }}
                {{ 
                    metadata_group_email_link("Owner Email", pool.owner.email, class="col-3")
                }}
            </div>
            <div class="row">
                {% if pool.seq_request_id %}
                {{                     
                    metadata_group_link(
                        "Request", pool.seq_request.name,
                        url_for("seq_requests_page.seq_request_page", seq_request_id=pool.seq_request_id, from='pool@' + pool.id | string),
                        class="col-3"
                    )
                }}
                {% else %}
                {{ metadata_group("Request", "", class="col-3") }}
                {% endif %}
                {{ metadata_group("Contact Name", pool.contact.name, class="col-3") }}
                {{ metadata_group_email_link("Contact Email", pool.contact.email, class="col-3") }}
                {{ metadata_group("Contact Phone", pool.contact.phone, class="col-3") }}
            </div>
        </div>
        <div class="tab-pane fade" id="ba_report-tab" role="tabpanel" tabindex="5">
            {% if pool.ba_report_id %}
            <div class="d-flex justify-content-between align-items-center pt-3 pb-1">
                <div class="row">
                    {{ metadata_group_link("File 💾", pool.ba_report.name + pool.ba_report.extension, url_for('download_file', file_id=pool.ba_report_id), class="col-3") }}
                    {{ metadata_group_link("Uploader", pool.ba_report.uploader.name, url_for('users_page.user_page', user_id=pool.ba_report.uploader_id), class="col-3") }}
                    {{ metadata_group("Size", pool.ba_report.size_str(), class="col-3") }}
                    {{ metadata_group("Time", pool.ba_report.timestamp_str(), class="col-3") }}
                </div>
            </div>
            <div class="d-flex justify-content-center" style="width: 100%; overflow-y: hidden;" id="ba_report-spinner">
                <div class="spinner-border cemm-blue" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <embed src="{{ url_for('pdf_file', file_id=pool.ba_report_id) }}" width="100%" height="1000px" onload="remove_spinner()">
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    function remove_spinner() {
        $("#ba_report-spinner").remove();
    }
</script>
{% endblock content %}