{% from "components/spinner.jinja2" import spinner %}

{% extends "base.html" %}
{% set active_page = "pools-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Pools</h1>
        </div>
        <div>
            <button type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#fullscreen-modal" 
            hx-get="{{ url_for('library_pooling_workflow.begin') }}"
            hx-target="#fullscreen-modal-content" data-bs-toggle="modal"
            hx-swap="innerHTML" hx-trigger="click">
                New Pool
            </button>
        </div>
    </div>

    {% include "components/tables/pool.html" %}
</div>
{% endblock content %}