{% extends "base.html" %}
{% set active_page = "projects-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Projects</h1>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-popup">
                New Project
            </button>
        </div>
    </div>

    <div hx-get="{{ url_for('projects_htmx.get') }}" hx-trigger="load" hx-swap="outerHMTL">
        {{ spinner() }}
    </div>

    <div class="modal fade" id="form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" >New Project</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include project_form._template_path %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button id="submit-project-btn" class="btn btn-primary"
                hx-include="#project-form" hx-target="#project-form" hx-swap="outerHTML"
                hx-post="{{ url_for('projects_htmx.create') }}">Submit</button>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>
{% endblock content %}