{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_textarea, metadata_group_link, metadata_group_email_link %}
{% from 'components/tooltip.jinja2' import tooltip %}

{% extends "base.html" %}
{% set active_page = "samples-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>Sample: {{ sample.name }} <span class="desc">{{ sample.status.name }} {{ sample.status.icon }}</span></h1>
        </div>
        <div>
            <span
            {% if not is_editable and not current_user.is_insider() %}
            {{ tooltip('Sample is not editable after one of its libraries is submitted.') }}
            {% endif %}>
                <button type="button"  class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#sample-form-popup"
                    {% if not is_editable and not current_user.is_insider() %}disabled{% endif %}>
                    Edit Sample
                </button>
            </span>
            <span
            {% if not is_editable %}
            {{ tooltip('Sample is not editable after it is added to library.', category='danger') }}
            {% endif %}>
                <button class="btn btn-danger"
                {% if is_editable %}
                hx-delete="{{ url_for('samples_htmx.delete', sample_id=sample.id) }}" 
                    _="on htmx:confirm(issueRequest)
                    halt the event
                    call Swal.fire({
                        title: 'Delete sample \'{{ sample.name }}\'',
                        showDenyButton: true,
                        text: 'Proceed?',
                        confirmButtonText: 'Yes',
                        denyButtonText: 'No'
                    })
                    if result.isConfirmed issueRequest()"
                {% endif %}
                {% if not is_editable %}disabled{% endif %}>
                    Delete Sample
                </button>
            </span>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab"
            data-bs-target="#sample-libraries-tab" type="button" role="tab"
            aria-controls="sample-libraries-tab" aria-selected="true">
            Libraries</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#sample-metadata-tab" type="button" role="tab"
            aria-controls="sample-metadata-tab" aria-selected="false">
            Metadata</button>
        </li>
        {% if current_user.is_insider() %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if not sample.plate_id %}disabled{% endif %}" data-bs-toggle="tab"
            data-bs-target="#sample-plate-tab" type="button" role="tab"
            aria-controls="sample-plate-tab" aria-selected="false"
            {% if not sample.plate_id %}disabled{% endif %}>
            Plate</button>
        </li>
        {% if sample.ba_report_id %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab"
            data-bs-target="#ba_report-tab" type="button" role="tab"
            aria-controls="ba_report-tab" aria-selected="true">
            BA Report</button>
        </li>
        {% endif %}
        {% endif %}
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="sample-libraries-tab" role="tabpanel" tabindex="0">
            <div class="d-flex justify-content-between">
                <div>
                    <h2>Libraries <img {{ tooltip('Right click sample name to remove. Right click adapter to edit. ') }} src="{{ url_for('static', filename='images/info.svg' )}}" style="width: 20px;"></h2>
                </div>
            </div>
            <div hx-get="{{ url_for('samples_htmx.get_libraries', sample_id=sample.id) }}" hx-trigger="intersect once" hx-swap="outerHTML">
                {{ spinner() }}
            </div>
        </div>
        <div class="tab-pane fade" id="sample-metadata-tab" role="tabpanel" tabindex="1">
            <div class="row">
                {{ metadata_group("Name", sample.name, class="col-3") }}
                {{
                    metadata_group_link(
                        "Project", sample.project.name,
                        url_for("projects_page.project_page", project_id=sample.project_id),
                        class="col-3"
                    )
                }}
                {{ 
                    metadata_group_link(
                        "Owner Name",
                        sample.owner.first_name + " " + sample.owner.last_name,
                        url_for("users_page.user_page", user_id=sample.owner_id),
                        class="col-3"
                    )
                }}
                {{
                    metadata_group_email_link(
                        "Owner Email", sample.owner.email, class="col-3",
                        subject="BSF Sample: " + sample.name + " (" + sample.id | string + ")"
                    )
                }}
            </div>
            <div class="row">
                {% for attribute in sample.attributes %}
                    {{ metadata_group(attribute.name, attribute.value, class="col-3") }}
                {% endfor %}
            </div>
            {{ metadata_group("Time Stored", sample.timestamp_stored_str, class="col-3") }}
        </div>
        {% if current_user.is_insider() %}
        <div class="tab-pane fade" id="sample-plate-tab" role="tabpanel" tabindex="2">
        </div>
        {% if sample.ba_report_id %}
        <div class="tab-pane fade" id="ba_report-tab" role="tabpanel" tabindex="3">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-1">
                <div class="row">
                    {{ metadata_group("Filename", sample.ba_report.name + sample.ba_report.extension, class="col-3") }}
                    {{ metadata_group_link("Uploader", sample.ba_report.uploader.name, url_for('users_page.user_page', user_id=sample.ba_report.uploader_id), class="col-3") }}
                    {{ metadata_group("Size", sample.ba_report.size_str(), class="col-3") }}
                    {{ metadata_group("Time", sample.ba_report.timestamp_str(), class="col-3") }}
                </div>
            </div>
            <div class="d-flex justify-content-center" style="width: 100%; overflow-y: hidden;" id="ba_report-spinner">
                <div class="spinner-border cemm-blue" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <embed src="{{ url_for('pdf_file', file_id=sample.ba_report_id) }}" type="application/pdf" width="100%" height="1000px" onload="remove_spinner()">
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="modal fade" id="sample-form-popup" aria-hidden="true" aria-labelledby="" tabindex="-1">
    <div class="modal-dialog modal-xl modal-fullscreen-xl-down modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" >Edit Sample</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include sample_form._template_path %}
            </div>
            <div class="modal-footer" id="popup-footer">
                <button class="btn btn-primary" hx-include="#sample-form" hx-target="#sample-form" hx-swap="outerHTML"
                    hx-post="{{ url_for('samples_htmx.edit', sample_id=sample.id) }}">Submit</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function remove_spinner() {
        $("#ba_report-spinner").remove();
    }
</script>
{% endblock content %}