{% from "components/spinner.jinja2" import spinner %}

{% extends "base.html" %}
{% set active_page = "seq_run-page" %}
{% block content %}
<div class="page-header-container">
    <div class="page-header">
        <div class="page-title">
            <h1>Runs</h1>
        </div>
        <div class="page-controls">
        </div>
    </div>
</div>
    
<div class="page-content">
    <div hx-get="{{ url_for('seq_runs_htmx.get') }}" hx-trigger="load" hx-swap="outerHTML">
        {{ spinner() }}
    </div>
</div>
{% endblock content %}