{% from 'components/metadata_group.jinja2' import metadata_group, metadata_group_email_link %}
{% extends "base.html" %}
{% set active_page = "users-page" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div>
            <h1>{{ user.role.icon }} {{ user.email }} <span class="desc">{{ user.role.name }}</span></h1>
        </div>
        <div>
            {% if current_user.id == user.id or current_user.role.name == "Admin" %}
            <button id="reset-btn" class="btn btn-warning"
            hx-get="{{ url_for('auth_htmx.reset_password_email', user_id=user.id) }}"
            _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Send Reset Password Email to \'{{ user.email }}\'?',
                    showDenyButton: true,
                    text: 'Proceed?',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()">
                Change Password
            </button>
            {% endif %}
            {% if current_user.id == user.id %}
            <button id="logout-btn" class="btn btn-danger"
            hx-get="{{ url_for('auth_htmx.logout') }}"
            _="on htmx:confirm(issueRequest)
                halt the event
                call Swal.fire({
                    title: 'Logout',
                    showDenyButton: true,
                    icon: 'question',
                    text: 'Proceed?',
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No'
                })
                if result.isConfirmed issueRequest()">
                Logout
            </button>
            {% endif %}
        </div>
    </div>
    
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab"
                data-bs-target="#user-data-tab" type="button" role="tab"
                aria-controls="user-data-tab" aria-selected="true">
                User Data</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#user-projects-tab" type="button" role="tab"
                aria-controls="user-projects-tab" aria-selected="false">
                Projects</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab"
                data-bs-target="#user-requests-tab" type="button" role="tab"
                aria-controls="user-requests-tab" aria-selected="false">
                Requests</button>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="user-data-tab" role="tabpanel" tabindex="0">
                <div class="row">
                    {{ metadata_group("First Name", user.first_name, class="col") }}
                    {{ metadata_group("Last Name", user.last_name, class="col") }}
                </div>
                {{ metadata_group_email_link("Email", user.email) }}
            </div>
            <div class="tab-pane fade show" id="user-projects-tab" role="tabpanel" tabindex="1">
                <div hx-get="{{ url_for('users_htmx.get_projects', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHMTL">
                    {{ spinner() }}
                </div>
            </div>
            <div class="tab-pane fade show" id="user-requests-tab" role="tabpanel" tabindex="2">
                <div hx-get="{{ url_for('users_htmx.get_seq_requests', user_id=user.id) }}" hx-trigger="intersect once" hx-swap="outerHMTL">
                    {{ spinner() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
