{% from "components/form_group.jinja2" import form_group %}
{% from "components/tooltip.jinja2" import tooltip %}
{% from "components/categorical_mapping.jinja2" import raw_label_mapping %}
{% from "components/barcode_clashes_table.jinja2" import barcode_clashes_table with context %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Check Barcode Clashes</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body" id="library_pooling-form">
        {{ form.csrf_token() }}
        <ul class="nav nav-tabs" role="tablist">
            {% for group, _df in form.barcode_table.groupby("pool") %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.index0 == 0%}active{% endif %} {% if _df['error'].notna().any() %}cemm-red{% elif _df['warning'].notna().any() %}cemm-yellow{% else %}cemm-green{% endif %}" data-bs-toggle="tab"
                id="spreadsheet-tab-btn"
                data-bs-target="#group-{{ loop.index }}-tab" type="button" role="tab"
                aria-controls="group-{{ loop.index }}-tab" aria-selected="true">{{ group }}
                </button>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for group, _df in form.barcode_table.groupby("pool") %}
            <div class="tab-pane fade {% if loop.index0 == 0%}show active{% endif %}" id="group-{{ loop.index }}-tab" role="tabpanel" tabindex="{{ loop.index }}">
                {{ barcode_clashes_table(_df) }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ form.uuid }}
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-warning submit-form-btn"
                hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                hx-get="{{ url_for('library_pooling_workflow.previous', lab_prep_id=lab_prep.id, uuid=form.uuid) }}">
                Back
            </button>
            <button type="button" class="btn btn-success"
                hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                hx-include="#library_pooling-form"
                hx-post="{{ url_for('library_pooling_workflow.complete_pooling', lab_prep_id=lab_prep.id, uuid=form.uuid) }}" id="submit-library_pooling-form-btn">
                Complete
            </button>
        </div>
    </div>
    <script>
        $("#submit-library_pooling-form-btn").click(function() {
            window.onbeforeunload = null;
        });
    </script>
</div>