{% from 'components/form_group.jinja2' import form_group, form_cell %}
{% from "components/legends.jinja2" import color_legend %}

<div class="modal-content" id="rna_prep-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5">RNA Library Preparation</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body" id="rna_prep-form" style="height: 100%; overflow-y: hidden;">
        <div id="spreadsheet-grid" class="spreadsheet-grid">
            <div class="invalid-feedback-container">
                {% if not disabled %}
                {% for error in form.spreadsheet_dummy.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ pool.name }}
        </div>
        <div class="footer-info">
            {{ color_legend(colors) }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary" id="update-rna_prep-form-btn" hx-include="#rna_prep-form" hx-target="#rna_prep-form-container" hx-swap="outerHTML">
                Update
            </button>
            <button class="btn btn-success" id="submit-rna_prep-form-btn" hx-include="#rna_prep-form" hx-target="#rna_prep-form-container" hx-swap="outerHTML">
                Save
            </button>
        </div>
    </div>
</div>
<script>
    var data = {{ spreadsheet_data | tojson if spreadsheet_data is defined else "[[null]]" }};
    var csrf_token = "{{ form.csrf_token._value() }}";

    window.onbeforeunload = function() {
        return "Unsaved data will be lost if you leave the page, are you sure?";
    };

    $("#submit-rna_prep-form-btn").on("click", function() {
        window.onbeforeunload = null;
    });

    $(document).ready(function() {
        init_tooltips();
        var spread_sheet = jspreadsheet(document.getElementById("spreadsheet-grid"), {
            data: data,
            columns: [
                {% for col in columns %}
                {%- if col.type == "text" or col.type == "numeric" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                {%- elif col["type"] == "dropdown" -%}
                { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                {%- endif -%}
                {% endfor %}
            ],
            allowInsertRow: false,
            allowManualInsertRow: false,
            allowDeleteRow: false,
            allowDeleteColumn: false,
            allowInsertColumn: false,
            style: {{ spreadsheet_style | tojson if spreadsheet_style is defined else "{}" }},
        });

        $("#submit-rna_prep-form-btn").on("click", function() {
            window.onbeforeunload = null;
            var data = spread_sheet.getData();

            htmx.ajax("POST", "{{ url_for('library_prep_workflow.save', pool_id=pool.id) }}", {
                "target": "#rna_prep-form-container",
                "swap": "outerHTML",
                "values": {
                    "spreadsheet": JSON.stringify(data),
                    "csrf_token": csrf_token,
                }
            });
        });

        $("#update-rna_prep-form-btn").on("click", function() {
            var data = spread_sheet.getData();

            htmx.ajax("POST", "{{ url_for('library_prep_workflow.update', pool_id=pool.id) }}", {
                "target": "#rna_prep-form-container",
                "swap": "outerHTML",
                "values": {
                    "spreadsheet": JSON.stringify(data),
                    "csrf_token": csrf_token,
                }
            });
        });
    });
</script>