{% from "components/pagination.jinja2" import pagination %}
<div id="index_kit-table" class="table-container">
    <table class="table table-hover table-cursor">
        <thead>
            <tr>
                <th scope="col" class="col-1">ID</th>
                <th scope="col" class="col-11">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for index_kit in index_kits %}
            <tr onclick="window.location.href='{{ url_for('index_kits_page.index_kit_page', index_kit_id=index_kit.id) }}';">
                <th scope="row">{{ index_kit.id }}</th>
                <td scope="row">{{ index_kit.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination("index_kit-table", "barcodes_htmx.get", barcodes_n_pages, barcodes_active_page, url_args={"sort_by": barcodes_current_sort, "order": barcodes_current_sort_order}) }}
</div>
