{% from "components/tooltip.jinja2" import tooltip %}
<div id="index-check-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Confirm Samples</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> 
    <div class="modal-body">
        <div class="input-help">
            <p>Hover row to see additional info</p>
        </div>
        <form id="index-check-form">
            {{ barcode_check_form.csrf_token() }}
            {{ barcode_check_form.raw_data(hidden=True, readonly=True) }}
            <table class="table table-hover table-cursor">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Status</th>
                        <th scope="col" class="col-2">Name</th>
                        <th scope="col" class="col-2">Library Type</th>
                        <th scope="col" class="col-1">Adapter 1</th>
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_1(class="form-check-input reverse-complement",) }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 1
                        </th>
                        {% if show_index_2 %}
                        <th scope="col" class="col-1">Adapter 2</th>
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_2(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 2
                        </th>
                        {% endif %}
                        {% if show_index_3 %}
                        <th scope="col" class="col-1">Adapter 3</th>
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_3(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 3
                        </th>
                        {% endif %}
                        {% if show_index_4 %}
                        <th scope="col" class="col-1">Adapter 4</th>
                        <th scope="col" class="col-1">
                            <div class="form-check form-switch">
                                {{ barcode_check_form.reverse_complement_index_4(class="form-check-input reverse-complement") }}
                                <label class="form-check-label">RC</label>
                            </div>
                            Index 4
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sample_data in samples_data %}
                    {% set sample_id = sample_data["id"] %}
                    {% if sample_data["error"] %}
                    <tr {{ tooltip(sample_data["error"], category="error") }}>
                    {% elif sample_data["warning"] %}
                    <tr {{ tooltip(sample_data["warning"], category="warning") }}>
                    {% elif sample_data["info"] %}
                    <tr {{ tooltip(sample_data["info"]) }}>
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            {% if sample_data["warning"] %}
                            ⚠️
                            {% else %}
                            ✅
                            {% endif %}
                        </td>
                        <td>{{ sample_data["name"] }}</td>
                        <td>{{ sample_data["library_type"] }}</td>
                        <td>{{ sample_data["adapter_1"] if sample_data["adapter_1"] }}</td>
                        <td class="index-cell-1">{{ sample_data["index_1"] }}</td>
                        {% if show_index_2 %}
                        <td>{{ sample_data["adapter_2"] if sample_data["adapter_2"] }}</td>
                        <td class="index-cell-2">{{ sample_data["index_2"] if sample_data["index_2"] }}</td>
                        {% endif %}
                        {% if show_index_3 %}
                        <td>{{ sample_data["adapter_3"] if sample_data["adapter_3"] }}</td>
                        <td class="index-cell-3">{{ sample_data["index_3"] if sample_data["index_3"] }}</td>
                        {% endif %}
                        {% if show_index_4 %}
                        <td>{{ sample_data["adapter_4"] if sample_data["adapter_4"] }}</td>
                        <td class="index-cell-4">{{ sample_data["index_4"] if sample_data["index_4"] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" hx-target="#index-check-container" hx-swap="outerHTML"
            hx-include="#index-check-form" id="index-check-form-btn"
            hx-post="{{ url_for('seq_request_form_htmx.check_barcodes', seq_request_id=seq_request.id) }}">
            Submit
        </button>

        <button type="button" class="btn btn-danger" hx-target="#index-check-container" hx-swap="outerHTML"
            hx-get="{{ url_for('seq_request_form_htmx.restart_form', seq_request_id=seq_request.id) }}">
            Cancel
        </button>
    </div>
</div>
<script>
    init_tooltips();

    $(".reverse-complement").on("change", function(e) {
        const splitted = e.target.id.split("_");
        var index = splitted[splitted.length - 1];
        $(`.index-cell-${index}`).each(function() {
            $(this).text(reverse_complement($(this).text()));
        });
    });
</script>