{% from "components/table_input.jinja2" import table_input %}
<div id="sample-table-submission-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Add Samples from Table</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="input-help">
            <p>
                Upload a file containing a table.
                Supported file types are .csv (separated by ','), .tsv (separated by '\t').
                <br>
                Spaces in 'Sample Name' will be replaced with '_' and non-alphanumeric characters (except '_', '-', '.') will be filtered.
                <br>
                <a href="{{ url_for('seq_request_form_htmx.download_template') }}">
                    Download template sample annotation sheet from here.
                </a>
            </p>
            <p><b>Required columns: <i>Sample Name</i> and <i>Sample Organism</i></b></p>
        </div>
        {{ table_input(table_form, id="sample-table-input-form") }}
    </div>
    <div class="modal-footer">
        <button type="button" id="parse-table-btn" class="btn btn-primary" hx-target="#sample-table-submission-container"
            hx-swap="outerHTML" hx-include="#sample-table-input-form" hx-encoding="multipart/form-data"
            hx-post="{{ url_for('seq_request_form_htmx.parse_table', seq_request_id=seq_request.id) }}">
            Parse Table
        </button>

        <button type="button" id="clear-table-btn" class="btn btn-danger disabled" style="display: none;">Clear
            Table</button>
    </div>
</div>