{% macro form_group(field, class='', disabled=false) -%}
<div class="{{class}} form-group">
    <a data-bs-toggle="{{ 'tooltip' if field.description else '' }}"
    data-bs-title="{{ field.description if field.description }}"
    data-bs-custom-class="custom-tooltip">
        {{ field.label }}
    </a>
    {{ 
        field(
            class="form-control" + (" disabled" if disabled else "") + (" is-invalid" if (field.errors and not disabled) else ""), 
            placeholder=("" if disabled else ("Required" if field.flags.required else "Optional")),
            readonly=disabled
        ) 
    }}
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p class="">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endmacro %}