{% from 'components/tooltip.jinja2' import tooltip %}

{% macro form_group(field, class='', id=none, disabled=false, trigger_dest_id=none) -%}
<div class="{{class}} form-group pb-1">
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    {{ 
        field(
            class="form-control" + (" disabled" if disabled else "") + (" is-invalid" if (field.errors and not disabled) else ""), 
            placeholder=("" if disabled else ("Required" if field.flags.required else "Optional")),
            readonly=disabled, value=field.data if field.data else "",
            onchange="htmx.trigger('#" + trigger_dest_id + "', 'change');" if trigger_dest_id else "",
            id=(id if id else field.name)
        ) 
    }}
    <div class="invalid-feedback-container">
        {% if not disabled %}
        {% for error in field.errors %}
            <p class="">{{ error }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro switch_input(field, class='', disabled=false, collapse_element_id=none) -%}
<div class="form-check form-switch {{ class }}">
    {% if collapse_element_id %}
        {% if field.data == True %}
        <input type="checkbox" id="{{ field.id }}" checked name="{{ field.name }}" class="form-check-input" data-bs-toggle="collapse" data-bs-target="#{{collapse_element_id}}" aria-expanded="{{ 'true' if field.data else 'false' }}" aria-controls="{{collapse_element_id}}">
        {% else %}
        <input type="checkbox" id="{{ field.id }}" name="{{ field.name }}" class="form-check-input collapsed" data-bs-toggle="collapse" data-bs-target="#{{collapse_element_id}}" aria-expanded="{{ 'true' if field.data else 'false' }}" aria-controls="{{collapse_element_id}}">
        {% endif %}
    {% else %}
        {{ field(class="form-check-input") }}
    {% endif %}
    {{ field.label(class="form-check-label") }}
</div>
{%- endmacro %}

{% macro select_input(field, class='', disabled=false) -%}
<div class="{{class}} form-group">
    <a {% if field.description %}
    {{ tooltip(field.description, "top") }}
    {% endif %}>
        {{ field.label }}
    </a>
    <select class="form-control select-field" name="{{ field.name }}" id="{{ field.id }}">
        {% for choice in field.iter_choices() %}
        <option value="{{ choice[0] }}"
        {% if field.data == choice[0] %}
        selected
        {% endif %}>
            {{ choice[1] }}
        </option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}
