{% macro search_select_field(field, url, results, selected, id) -%}
{% if id is defined %}
    {% set field_name = id %}
{% else %}
    {% set field_name = field.name %}
{% endif %}
<div id="{{field_name}}-select" class="search-select form-group">
    <label for="{{field_name}}">{{ field.label }}</label>
    <div class="input-group">
        <span class="input-group-text selected-label"
        id="{{field_name}}-selected-label">{{ selected }}</span>
        <input type="search"
        class="{{'form-control is-invalid search-component' if field.errors else 'form-control search-component'}}"
        autocomplete="off"
        name="{{field_name}}"
        id="{{field_name}}"
        hx-get="{{ url }}"
        hx-target="#{{field_name}}-results"
        hx-trigger="keyup changed delay:500ms, {{field_name}}"
        hx-swap="innerHTML"
        placeholder="Search">
        <div id="{{field_name}}-results" class="search-results-container">
            {% include "components/search_select_results.html" %}
        </div>
    </div>
    {% if field.errors %}
        <div class="invalid-feedback-container" id="{{field_name}}-invalid-container">
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
<script>
    function select_option(name, id, search_field_id) {
        const value_field_id = search_field_id.replace(/_search$/, '');

        $(`#${value_field_id}-results`).css("display", "none");
        $(`#${value_field_id}`).val(id);
        $(`#${search_field_id}-selected-label`).text(name);
        $(`#${search_field_id}`).val("");

        if ($(`#${search_field_id}`).hasClass("is-invalid")){
            $(`#${search_field_id}`).removeClass("is-invalid");
        }
        $(`#${value_field_id}-invalid-container`).empty();
        
        $(`#${search_field_id}-results`).css("display", "none");
        htmx.trigger(`#${value_field_id}`, "change");
    }

    $("#{{field_name}}").on("focus", function(event) {
        $("#{{field_name}}-results").css("display", "block");
        $("#{{field_name}}-invalid-container").empty();
    });

    $(document).on("click", function(event) {
        if (!event.target.classList.contains("search-component")) {
            $("#{{field_name}}-results").css("display", "none");
        }
    });

</script>
{%- endmacro %}
