{% macro search_select_field(field, url, results, selected, id) -%}
{% if id is defined %}
    {% set field_name = id %}
{% else %}
    {% set field_name = field.name %}
{% endif %}
<div id="{{field_name}}-select" class="search-select form-group">
    <label for="{{field_name}}_search">{{ field.label }}</label>
    <div class="input-group">
        <span class="input-group-text selected-label"
        id="{{field_name}}-selected-label">{{ selected }}</span>
        <input type="search"
        class="{{'form-control is-invalid search-component' if field.errors else 'form-control search-component'}}"
        autocomplete="off"
        name="{{field_name}}_search"
        id="{{field_name}}_search"
        hx-get="{{ url }}"
        hx-target="#{{field_name}}-results"
        hx-trigger="keyup changed delay:500ms, {{field_name}}"
        hx-swap="innerHTML"
        placeholder="Search">
        <div id="{{field_name}}-results" class="search-results-container">
            {% include "components/search_select_results.html" %}
        </div>
    </div>
    <div class="invalid-feedback-container" id="{{field_name}}-invalid-container">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
</div>
<script>
    function select_option(name, id, field_name) {
        console.log(field_name);
        console.log(name);
        console.log(id);
        $(`#${field_name}-results`).css("display", "none");
        $(`#${field_name}`).val(id);
        $(`#${field_name}-selected-label`).text(name);
        $(`#${field_name}_search`).val("");

        if ($(`#${field_name}_search`).hasClass("is-invalid")){
            $(`#${field_name}_search`).removeClass("is-invalid");
        }
        $(`#${field_name}-invalid-container`).empty();
        htmx.trigger(`#${field_name}`, "change");
    }

    $("#{{field_name}}_search").on("focus", function(event) {
        $("#{{field_name}}-results").css("display", "block");
        $("#{{field_name}}-invalid-container").empty();
    });

    $(document).on("click", function(event) {
        if (!event.target.classList.contains("search-component")) {
            $("#{{field_name}}-results").css("display", "none");
        }
    });

</script>
{%- endmacro %}
