$rainbow-1: #e81416;
$rainbow-2: #ffa500;
$rainbow-3: #faeb36;
$rainbow-4: #79c314;
$rainbow-5: #00ff00;
$rainbow-6: #487de7;
$rainbow-7: #70369d;

$tab-10-1: #1f77b4;
$tab-10-2: #ff7f0e;
$tab-10-3: #2ca02c;
$tab-10-4: #d62728;
$tab-10-5: #9467bd;
$tab-10-6: #8c564b;
$tab-10-7: #e377c2;
$tab-10-8: #7f7f7f;
$tab-10-9: #bcbd22;
$tab-10-10: #17becf;

.bg-rainbow-1 {
    background-color: $rainbow-1;
}

.bg-rainbow-2 {
    background-color: $rainbow-2;
}

.bg-rainbow-3 {
    background-color: $rainbow-3;
}

.bg-rainbow-4 {
    background-color: $rainbow-4;
}

.bg-rainbow-5 {
    background-color: $rainbow-5;
}

.bg-rainbow-6 {
    background-color: $rainbow-6;
}

.bg-rainbow-7 {
    background-color: $rainbow-7;
}

.bg-tab-10-1 {
    background-color: $tab-10-1;
}

.bg-tab-10-2 {
    background-color: $tab-10-2;
}

.bg-tab-10-3 {
    background-color: $tab-10-3;
}

.bg-tab-10-4 {
    background-color: $tab-10-4;
}

.bg-tab-10-5 {
    background-color: $tab-10-5;
}

.bg-tab-10-6 {
    background-color: $tab-10-6;
}

.bg-tab-10-7 {
    background-color: $tab-10-7;
}

.bg-tab-10-8 {
    background-color: $tab-10-8;
}

.bg-tab-10-9 {
    background-color: $tab-10-9;
}

.bg-tab-10-10 {
    background-color: $tab-10-10;
}