<div class="modal-content" id="plate-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Create Plate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="plate-form">
            {{ form.csrf_token.render() }}
            <div class="row">
                {{ form.name.render("col") }}
                {{ form.num_cols.render("col") }}
                {{ form.num_rows.render("col") }}
                {{ form.orientation.render("col") }}
            </div>
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button id="submit-plate-btn" class="btn btn-success"
            hx-include="#plate-form" hx-target="#plate-form-container" hx-swap="outerHTML"
            hx-post="{{ form.post_url }}">Create</button>
        </div>
    </div>
</div>

