<div class="modal-content" id="pool-design-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >{% if form.pool_design %}Edit{% else %}Create{% endif %} Pool Design</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div id="pool-design-form">
            {{ form.csrf_token.render() }}
            <div class="row">
                {{ form.pool_design_name.render("col-6") }}
                {{ form.num_m_requested_reads.render("col-6") }}
            </div>
            <div class="row">
                {{ form.r1_cycles.render("col-3") }}
                {{ form.i1_cycles.render("col-3") }}
                {{ form.i2_cycles.render("col-3") }}
                {{ form.r2_cycles.render("col-3") }}
            </div>
            {{ form.pool_id.render() }}
        </div>
    </div>
    <div class="modal-footer" id="popup-footer">
        <div class="footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-success"
            hx-post="{% if form.pool_design %}{{ url_for('PoolDesignForm.Edit', pool_design_id=form.pool_design.id) }}{% else %}{{ url_for('PoolDesignForm.Create') }}{% endif %}"
            hx-include="#pool-design-form"
            hx-target="#pool-design-form-container"
            hx-swap="outerHTML">Add</button>
        </div>
    </div>
</div>