{% from 'components/form_group.jinja2' import form_group, form_cell %}
{% from 'components/metadata_group.jinja2' import metadata_group %}
{% from 'components/spinner.jinja2' import spinner %}

<div id="ba_report-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5">1. Select Samples</h1>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="tab-body">
            <ul class="nav nav-tabs" id="auth-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#available-samples-tab"
                        type="button" role="tab" aria-controls="available-samples-tab" aria-selected="true">
                        Samples
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="selected-samples-tab-btn" data-bs-toggle="tab" data-bs-target="#selected-samples-tab"
                        type="button" role="tab" aria-controls="selected-samples-tab" aria-selected="false">
                        Selected Samples ({{ selected_samples | length }})
                    </button>
                </li>
            </ul>
            <div class="tab-content ba">
                <div class="invalid-feedback-container">
                    {% for error in plate_samples_form.error_dummy.errors %}
                        <p class="">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="tab-pane fade show active" id="available-samples-tab" role="tabpanel" tabindex="1">
                    <div hx-trigger="intersect once" hx-get="{% if seq_request %}{{ url_for('plate_samples_workflow.get_samples', seq_request_id=seq_request.id) }}
                        {% else %}{{ url_for('plate_samples_workflow.get_samples') }}{% endif %}">
                        {{ spinner() }}
                    </div>
                </div>
                <div class="tab-pane fade" id="selected-samples-tab" role="tabpanel" tabindex="4">
                    <table class="table table-hover table-cursor">
                        <thead>
                            <tr>
                                <th scope="col" class="col-1">ID</th>
                                <th scope="col" class="col-4">Name</th>
                                <th scope="col" class="col-3">Owner</th>
                            </tr>
                        </thead>
                        <tbody id="selected-samples-table-container">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
        </div>
        <div class="footer-controls">
            <button type="button" class="btn btn-primary" id="submit-plate_samples-form-btn">
                Next
            </button>
        </div>
    </div>
    <script>
        var selected_samples = {{ selected_samples | tojson if selected_samples else [] }};
        var num_selected_samples = selected_samples.length;

        init_tooltips();

        function select_sample(sample_id) {
            if (selected_samples.includes(sample_id)) {
                selected_samples = selected_samples.filter(function(value, index, arr) {
                    return value != sample_id;
                });

                $(`#sample-row-${sample_id}`).removeClass("selected");
                $(`#selected-sample-row-${sample_id}`).remove();
                num_selected_samples -= 1;
            } else {
                selected_samples.push(sample_id);
                $(`#sample-row-${sample_id}`).addClass("selected");

                const cloned = $(`#sample-row-${sample_id}`).clone();
                cloned.attr("id", `selected-sample-row-${sample_id}`);
                $("#selected-samples-table-container").append(cloned);
                num_selected_samples += 1;
            }
            $("#selected-samples-tab-btn").text(`Selected Samples (${num_selected_samples})`);
        }
        function update_samples() {
            $(".sample-row").each(function() {
                const sample_id = parseInt($(this).attr("id").split("-").pop());
                if (selected_samples.includes(sample_id)) {
                    $(this).addClass("selected");
                }
            });
        }


        $("#submit-plate_samples-form-btn").click(function() {
            if (num_selected_samples == 0) {
                $(".invalid-feedback-container").html("<p>Select at least one sample.</p>");
                return false;
            }

            htmx.ajax("POST", "{{ url_for('plate_samples_workflow.select',  **url_context) }}", {
                target: "#ba_report-form-container",
                swap: "outerHTML",
                values: {
                    csrf_token: "{{ plate_samples_form.csrf_token._value() }}",
                    selected_sample_ids: JSON.stringify(selected_samples),
                },
            });

        });
    </script>
</div>
