@import "./colors.css";

.banner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5px;
    height: 100%;
    overflow-y: auto;    
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    & .element-banner:hover {
        cursor: default;
    }

    & a.element-banner {
        color: black;
        text-decoration: none;
    }

    & .element-banner a {
        font-weight: 600;
        color: var(--color-cemm-blue);
        text-decoration: none;
        border-radius: 5px;
        padding: 0;

        &:hover {
            background-color: var(--color-gray-200);
        }
    }

    & .element-banner button {
        color: var(--color-cemm-green-darker);
        padding: 0 2px;

        &:hover {
            cursor: pointer;
            background-color: var(--color-gray-200);
        }
    }

    & a .progress-bar:hover {
        cursor: pointer;
    }

    & .element-banner {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0;
        padding: 7px;
        flex-shrink: 0;
        width: 100% !important;
        max-width: 100% !important;
        overflow-x: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & .badge {
            font-size: 13px;
        }

        & .qc-container {
            display: flex;
            gap: 20px;
            justify-content: flex-start;
            align-items: center;
        }
        
        & .row div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:first-child {
                text-align: start;
            }

            &:last-child {
                text-align: end;
            }
        }

        & .title {
            font-weight: 600;
        }

        & .row {
            width: 100% !important;
            max-width: 100% !important;
            overflow-x: hidden;
            text-align: center;
            vertical-align: middle;
            font-size: 1rem;
        }
    }
}