@import "./colors.css";

.dash-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.dash {
    .assignee-badge {
        font-size: 12px !important;
        padding: 3px 6px 3px 6px !important;
    }
    display: flex;
    height: 100%;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    padding: 0;
    gap: 10px;

    .dash-left,
    .dash-right {
        width: 50%;
        height: 100%;
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        gap: 10px;

        .dash-component-title-container {
            white-space: nowrap;
            overflow: hidden;
        }

        .dash-component-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            overflow: hidden;

            .dash-component-header {
                height: 50px !important;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: var(--color-gray-200);
                border-bottom: solid var(--bs-border-color);
                justify-content: space-between;

                h4 {
                    color: var(--color-gray-600);
                    margin: 0;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: default;
                    }
                }
            }

            .dash-component-content {
                flex: 1;
                overflow: hidden;
                padding: 5px 0px 5px 0px;
                margin: 0;
                height: 100%;
                width: 100% !important;
                max-width: 100% !important;
                overflow-x: hidden;

                .tab-pane {
                    height: 100%;
                    overflow: hidden;

                    .workflow-container {
                        height: 100%;
                        margin-right: 5px;
                        padding: 0 5px 0px 15px;
                        justify-content: space-evenly;
                        align-content: flex-start;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .page-content {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .dash {
        overflow-y: auto;
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;

        .dash-component-container {
            min-height: calc(100vh - 60px);
        }
        .dash-left, .dash-right {
            width: 100%;
            height: auto;
        }
    }
}
