body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 16px;
}
body a {
    text-decoration: none;
    color: #00aecc;
}
.header {
    color: #00aecc;
    padding: 10px 5vw 0 5vw;
}
.body {
    padding: 5px 5vw;
}
.footer {
    color: #00aecc;
    padding: 5px 5vw;
}
.footer pre {
    font-family: Arial, sans-serif;
}
ul.contents li {
    margin-bottom: 10px;
}
span.desc {
    color: #6c757d;
}
span.path {
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
    background-color: #dee2e6;
    font-family: monospace;
    font-style: italic;
}
div.code {
    background-color: #e7e7e7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 10px 0;
    font-family: Consolas, Courier, monospace;
    font-size: 14px;
    color: #333;
}
