@import "./colors.css";

.form-check:has(.disabled) {
    label:hover, input:hover {
        cursor: not-allowed !important;
    }
}

.invalid-feedback-container {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    max-height: 100px;
    overflow-y: auto;
    padding-top: 1px;
    width: 100%;
    overflow-x: auto;

    p {
        margin: 0;
        padding: 0;
        height: 25px;
        vertical-align: middle;
        width: 100%;
        white-space: nowrap;
        text-wrap: nowrap;
        color: var(--color-danger);
        font-size: 14px;
    }
}

input.disabled,
textarea.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    cursor: not-allowed;
}

input.disabled:focus,
textarea.disabled:focus {
    box-shadow: none;
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.display-form {
    input.disabled {
        background-color: var(--color-white);
    }
}

.form-group {
    padding: 0 5px 0 5px;
    margin: 0;
    .form-control.readonly {
        background-color: var(--color-gray-100) !important;
        cursor: not-allowed !important;
    }
}

.form-check:has(input.disabled) {
    label {
        color: var(--color-gray-500) !important;
    }
}

.form-group {
    a.clipboard-btn {
        .not-copied-icon {
            color: var(--color-cemm-blue-darker);
        }
        .copied-icon {
            color: var(--color-cemm-green-darker);
        }
    }
    a.clipboard-btn:hover {
        cursor: pointer;
    }

    .copyable-input {
        display: flex;
        align-items: center;
        align-content: center;
        position: relative;
        .clipboard-btn {
            position: absolute;
            right: 10px;
        }
    }

    .copyable-input.input-with-unit {
        .clipboard-btn {
            right: 80px;
        }
    }
}

.form-check {
    padding: 0 0 0 5px;
    margin: 0;
    white-space: nowrap;

    label:hover, input:hover {
        cursor: pointer;
    }

    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    .form-check-input {
        margin-left: 0;
    }
    .form-check-label {
        padding-left: 10px;
    }
}