@import "./colors.css";

.multi-select {
    button {
        background-color: var(--color-white);
        border: 0.1rem solid var(--color-cemm-blue);
        min-width: 120px;
        padding: 0.375rem 0.75rem;
        border-radius: 0.375rem;
        height: 40px;
        display: flex;
        align-items: center;
        color: var(--color-gray-600);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    button.populated {
        color: var(--color-dark);
    }
    ul.dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
        li {
            width: 100%;
            label {
                width: 100%;
                border: none;
            }
        }
        li:has(input:checked) {
            background-color: #eafcc3;
        }
    }

    .dropdown-toggle::after {
        color: var(--color-cemm-blue);
        display: inline-block;
        vertical-align: .255em;
        content: "";
        margin-left: auto;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
}