@import "./colors.css";

.plating-container {
    width: 100%;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        .btn {
            width: 150px;
        }
        height: 50px;
    }
    .body {
        height: calc(100% - 50px);
        padding: 10px;
        display: flex;
        gap: 20px;

        .standy-list {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 10px 10px 10px 0;
            overflow-y: auto;
            overflow-x: hidden;
            width: 200px;
            gap: 5px;
            .selectable-element {
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-light);
                border: 1px solid var(--color-gray-400);
            }
            .selectable-element.selected {
                background-color: var(--color-cemm-yellow);
                color: white;
            }
        }
    }
}

.plate-container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: monospace;
    .plate {
        width: 100%;
        height: 100%;
        display: flex;
        border: 2px solid var(--color-gray-400);
        border-radius: 5px;
        padding: 10px;
        overflow-y: auto;
        overflow-x: auto;
        flex-direction: column;
        background-color: white;
        gap: 5px;
        .plate-row {
            gap: 5px;
            display: flex;
            justify-content: space-evenly;
        }
        .plate-header, .plate-index {
            cursor: default;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-gray-700);
            font-weight: 600;
        }
        .plate-header {
            width: 100%;
            height: 40px;
        }
        .plate-index {
            width: 50%;
        }
        a {
            text-decoration: none;
        }
        .plate-cell {
            height: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            font-size: clamp(0.5rem, 1vw, 1rem);
            border: 1px solid var(--color-gray-400);
            background-color: var(--color-light);
            border-radius: 5px;
            color: var(--color-gray-400);
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            text-align: center;
        }

        .plate-cell.filled {
            background-color: #eaf9ea;
            color: var(--color-dark);
        }
        .plate-cell.empty {
            cursor: default;
        }

        .plate-cell.filled.selected {
            background-color: var(--color-cemm-blue);
            color: white;
        }
    }
}