#main {
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    #left-margin, #right-margin {
        position: sticky;
        top: 0;
        padding: 5px;
        width: max(10%, 120px);
        margin: 0;
        background-color: var(--color-gray-200);
    }

    #middle-container {
        margin: 0;
        width: calc(100vw - max(10%, 120px) * 2);
        height: 100%;
        padding: 0 10px 0 10px;
        background-color: var(--color-gray-100);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .page-header-container {
            background-color: var(--color-gray-100);
            z-index: 10;
        }

        .page-content {
            margin: 0;
            flex: 1;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
        
        .page-content:has(>.tab-content) {
            overflow: hidden;
            >.tab-content {
                height: 100%;
                overflow: hidden;
                >.tab-pane {
                    height: 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1440px) {
    #left-margin, #right-margin {
        width: 5% !important;
    }

    #main {
        width: 100vw;
        padding: 0;
        margin: 0;
        #middle-container {
            width: calc(100vw - 10%) !important;
            padding: 0 5px !important;
            margin: 0 !important;
        }

    }
    #breadcrumb {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .clipboard-btn {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #left-margin, #right-margin {
        display: none;
        width: 0 !important;
    }

    #main {
        width: 100vw;
        padding: 0;
        margin: 0;
        #middle-container {
            width: 100vw !important;
            padding: 0 5px !important;
            margin: 0 !important;
        }
    }
}
