{% from 'components/spreadsheet.jinja2' import spreadsheet_input %}
{% from 'components/form_group.jinja2' import switch_input %}
{% from 'components/legends.jinja2' import color_legend %}
{% from "components/legends.jinja2" import spreadsheet_error_legend with context %}

<div class="modal-content" id="library-protocols-form-container">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Select Library Protocols</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="library-protocols-form">
        {{ 
            spreadsheet_input(
                element=form.spreadsheet,
                submit_btn_id="submit-spreadsheet-btn",
                target_element_id="library-protocols-form-container",
            )
        }}
    </div>
    
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
            {{ lab_prep.name }}
        </div>
        <div class="footer-info">
            {{ spreadsheet_error_legend() }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-success submit-form-btn" type="button" id="submit-spreadsheet-btn">
                Save
            </button>
        </div>
    </div>
</div>