rclone copy --http-url {{ url_for("file_share.rclone", token=token, _external=True) }} :http: {% if outdir is defined %}{{ outdir }}{% else %}output{% endif %} -v --stats-log-level NOTICE --stats 500ms --progress