{% from 'components/form_group.jinja2' import form_group, select_input, switch_input %}
{% from "components/table_input.jinja2" import table_input %}
{% from "components/legends.jinja2" import color_legend %}
{% from "components/search_select.jinja2" import search_select_field %}

<div id="library_pooling-form-container" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" >Specify Barcodes</h1>
        <button type="button" class="btn-close modal-close-btn-confirm" aria-label="Close" onclick=confirm_close_modal("#fullscreen-modal")></button>
    </div>
    <div class="modal-body">
        <div class="tab-body">
            <ul class="nav nav-tabs" role="tablist" style="height: 42px;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link help-tab-btn{% if active_tab == 'help' %} active{% endif %}" data-bs-toggle="tab"
                    data-bs-target="#help-tab" type="button" role="tab"
                    aria-controls="help-tab" aria-selected="false">
                    Help</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link help-tab-btn{% if active_tab == 'plate' %} active{% endif %}{% if not pool.plate_id %}disabled{% endif %}" data-bs-toggle="tab"
                    id="plate-form-tab-btn"
                    data-bs-target="#plate-form-tab" type="button" role="tab"
                    aria-controls="plate-form-tab" aria-selected="false"
                    {% if not pool.plate_id %}disabled{% endif %}>
                    Plate</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if active_tab == 'spreadsheet' %} active{% endif %}" data-bs-toggle="tab"
                    id="spreadsheet-tab-btn"
                    data-bs-target="#spreadsheet-tab" type="button" role="tab"
                    aria-controls="spreadsheet-tab" aria-selected="true">
                    Spreadsheet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if active_tab == 'file' %} active{% endif %}" data-bs-toggle="tab"
                    id="file-tab-btn"
                    data-bs-target="#file-tab" type="button" role="tab"
                    aria-controls="file-tab" aria-selected="true">
                    File</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link example-tab-btn" data-bs-toggle="tab"
                    data-bs-target="#index-1-example-tab" type="button" role="tab"
                    aria-controls="index-1-example-tab" aria-selected="true">
                    Example 1.</button>
                </li>
            </ul>
            <div class="tab-content" id="library_pooling-form" enctype="multipart/form-data">
                {{ pool_indexing_form.csrf_token() }}
                <div class="tab-pane fade{% if active_tab == 'help' %} show active{% endif %}" id="help-tab" role="tabpanel" tabindex="0">
                    <div class="input-help">
                        <h5>How to?</h5>
                        <ul>
                            <li>Specify columns '<b>Index Kit</b>' + '<b>Adapter</b>' or '<b>Index 1/2/3/4</b>'</li>
                            <li><b>Do not</b> reverse complement any barcodes!</li>
                        </ul>

                        <h5>Columns</h5>
                        <ul>
                            <li><b>ID</b> <span class="desc">Do not modify</span></li>
                            <li><b>Library Name</b> <span class="desc">Do not modify</span></li>
                            <li><b>Index Kit</b> <span class="desc">Name of the barcode kit from <a href="{{ url_for('index_kits_page.index_kits_page') }}" target="_blank">'Index Kits'</a>-page</span></li>
                            <li><b>Adapter</b> <span class="desc">Index adapter, e.g. 'SI-TT-A1'</span></li>
                            <li><b>Index 1</b> <span class="desc">Index 1 (i7) sequence, e.g. 'GTAACATGCG'</span></li>
                            <li><b>Index 2</b> <span class="desc">Index 2 (i5) sequence, e.g. 'AGTGTTACCT'</span></li>
                            <li><b>Index 3</b> <span class="desc">Index 3 sequence, used e.g. for 10x ATAC-seq</span></li>
                            <li><b>Index 4</b> <span class="desc">Index 4 sequence, used e.g. for 10x ATAC-seq</span></li>
                        </ul>
                    </div>
                </div>
                {% if pool.plate_id %}
                <div class="tab-pane fade{% if active_tab == 'plate' %} show active{% endif %}" id="plate-form-tab" role="tabpanel" tabindex="1">
                    {{ pool_indexing_form.plate_form.csrf_token() }}
                    <div class="row">
                        {{ search_select_field(pool_indexing_form.plate_form.index_kit, query_url=url_for("barcodes_htmx.query_index_kits"), class="col-6") }}
                        {{ select_input(pool_indexing_form.plate_form.starting_index, class="col-6") }}
                    </div>
                    {{ switch_input(pool_indexing_form.plate_form.flipped) }}
                    <div id="plate-container" class="plate-container">
                        <div class="plate">
                            {% for row in range(-1, pool.plate.num_rows) %}
                            <div class="plate-row" id="plate-row-{{row}}">
                            {% for col in range(-1, pool.plate.num_cols) %}
                                {% if row == -1 or col == -1 %}
                                <div class="plate-header">
                                    {% if row == col %}
                                    {% elif col == -1 %}
                                    {{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[row] }}
                                    {% else %}
                                    {{ col + 1 }}
                                    {% endif %}
                                </div>
                                {% else %}
                                {% set well_sample = pool.plate.get_sample_xy(row, col) %}
                                <div class="plate-cell {% if well_sample %}filled{% else %}empty{% endif %}" id="plate-cell-{{row}}-{{col}}" col="{{col}}" row="{{row}}">
                                    {% if well_sample %}{{ well_sample.name }} [{{ well_sample.id }}]{% endif %}</span>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="tab-pane fade{% if active_tab == 'spreadsheet' %} show active{% endif %}" id="spreadsheet-tab" role="tabpanel" tabindex="2">
                    <div id="spreadsheet-grid" class="spreadsheet-grid">
                        <div class="invalid-feedback-container">
                            {% if not disabled %}
                            {% for error in pool_indexing_form.spreadsheet_dummy.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if active_tab == 'file' %} show active{% endif %}" id="file-tab" role="tabpanel" tabindex="3">
                    <div class="input-help">
                        <a type="button" class="btn btn-primary" href="{{ url_for('pool_indexing_workflow.download_barcode_table_template', pool_id=pool.id) }}" target="_blank">Download Template</a>
                        <h5>Columns:</h5>
                        <ul>
                            <li><b>ID</b> <span class="desc">Do not modify</span></li>
                            <li><b>Library Name</b> <span class="desc">Do not modify</span></li>
                            <li><b>Index Kit</b> <span class="desc">Name of the barcode kit from <a href="{{ url_for('index_kits_page.index_kits_page') }}" target="_blank">'Index Kits'</a>-page</span></li>
                            <li><b>Adapter</b> <span class="desc">Index adapter, e.g. 'SI-TT-A1'</span></li>
                            <li><b>Index 1</b> <span class="desc">Index 1 (i7) sequence, e.g. 'GTAACATGCG'</span></li>
                            <li><b>Index 2</b> <span class="desc">Index 2 (i5) sequence, e.g. 'AGTGTTACCT'</span></li>
                            <li><b>Index 3</b> <span class="desc">Index 3 sequence, used e.g. for 10x ATAC-seq</span></li>
                            <li><b>Index 4</b> <span class="desc">Index 4 sequence, used e.g. for 10x ATAC-seq</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        {{ form_group(pool_indexing_form.separator, class="col-2") }}
                        {{ form_group(pool_indexing_form.file, class="col-10") }}
                    </div>
                </div>
                <div class="tab-pane fade" id="index-1-example-tab" role="tabpanel" tabindex="4">
                    {% include "components/examples/pool-indexing-1.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-nowrap text-muted footer-id">
        </div>
        <div class="footer-info">
            {{ color_legend(colors) }}
        </div>
        <div class="footer-controls">
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-plate-form-btn"
                hx-include="#library_pooling-form" hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                {% if active_tab != "plate" %}style="display: none;"{% endif %}
                hx-post="{{ url_for('pool_indexing_workflow.parse_barcodes', pool_id=pool.id, input_type='plate') }}">
                Plate
            </button>
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-file-form-btn"
                hx-include="#library_pooling-form" hx-target="#library_pooling-form-container" hx-swap="outerHTML"
                hx-encoding="multipart/form-data" {% if active_tab != "file" %}style="display: none;"{% endif %}
                hx-post="{{ url_for('pool_indexing_workflow.parse_barcodes', pool_id=pool.id, input_type='file') }}">
                File
            </button>
            <button class="btn btn-primary submit-form-btn" type="button" id="submit-spreadsheet-btn" {% if active_tab != "spreadsheet" %}style="display: none;"{% endif %}>
                Spreadsheet
            </button>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init_tooltips();

            $(".example-tab-btn, .help-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
            });
            $("#file-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-file-form-btn").show();
            });
            $("#spreadsheet-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-spreadsheet-btn").show();
            });
            $("#plate-form-tab-btn").on("click", function() {
                $(".submit-form-btn").hide();
                $("#submit-plate-form-btn").show();
            });

            var data = {{ spreadsheet_data | tojson if spreadsheet_data is defined else "[[null]]" }};
            const csrf_token = "{{ pool_indexing_form.csrf_token._value() }}";

            var spread_sheet = jspreadsheet(document.getElementById("spreadsheet-grid"), {
                data: data,
                columns: [
                    {% for col in columns %}
                    {%- if col.type == "text" or col.type == "numeric" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }} },
                    {%- elif col["type"] == "dropdown" -%}
                    { type: "{{col.type}}", title: "{{col.name}}", width: {{ col.width }}, source: {{ col.source | tojson }}, autocomplete: true, options: { newOptions: true } },
                    {%- endif -%}
                    {% endfor %}
                ],
                allowInsertColumn: false,
                allowManualInsertRow: false,
                allowDeleteRow: false,
                allowDeleteColumn: false,
                allowInsertColumn: false,
                style: {{ spreadsheet_style | tojson if spreadsheet_style is defined else "{}" }},
            });

            $("#submit-spreadsheet-btn").on("click", function() {
                var data = spread_sheet.getData();

                htmx.ajax("POST", "{{ url_for('pool_indexing_workflow.parse_barcodes', pool_id=pool.id, input_type='spreadsheet') }}", {
                    "target": "#library_pooling-form-container",
                    "swap": "outerHTML",
                    "values": {
                        "spreadsheet": JSON.stringify(data),
                        "csrf_token": csrf_token,
                    },
                });
            });
        });
    </script>
</div>